- var page = "stAccount";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    .vntHeader__left
                        h2.heading2.vntHeading Thông tin tài khoản
                    include jades/includes/_vntHeader__account
                section.vntContent.accountInfo
                    .accountInfo__row
                        .accountInfo__left
                            ul.stTab
                                li
                                    a.btn.btn_outline.btn_lg(href='personalInfo.html') Thông tin cá nhân
                                li.active
                                    a.btn.btn_outline.btn_lg(href='businessPolicy.html') Chính sách công tác
                                li
                                    a.btn.btn_outline.btn_lg(href='businessApproval.html') Chính sách phê duyệt
                                li
                                    a.btn.btn_outline.btn_lg(href='changePass.html') Cài đặt mật khẩu
                        .accountInfo__right
                            .businessPolicy
                                .vntBox
                                    p.vntBox__title Khách sạn nội địa
                                    .vntBox__table
                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Khu vực
                                            .d-right
                                                .flexGroup
                                                    p.p1 Toàn quốc
                                                    p.p1 500.000đ


                                                .flexGroup
                                                    p.p1 Hà Nội, Nha Trang, Mộc châu
                                                    p.p1 500.000đ


                                                .flexGroup
                                                    p.p1 Sài gòn
                                                    p.p1 500.000đ


                                                .flexGroup
                                                    p.p1 Đà nẵng
                                                    p.p1 500.000đ


                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Theo tháng/năm
                                            .d-right
                                                .flexGroup
                                                    p.p3 Chưa cài đặt
                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Theo thời gian lưu trú
                                            .d-right
                                                .flexGroup
                                                    p.p1 4 - 6 ngày
                                                    p.p1 1.500.000đ


                                                .flexGroup
                                                    p.p1 6 - 15 ngày
                                                    p.p1 2.500.000đ


                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Hạn mức cố định
                                            .d-right
                                                .flexGroup
                                                    p.p1 Tổng hạn mức cố định
                                                    p.p1 1.500.000đ


                                .vntBox
                                    p.vntBox__title Khách sạn quốc tế
                                    .levelNoti
                                        p
                                            | Bạn không thể đặt đơn hàng
                                            strong &nbsp;khách sạn quốc tế&nbsp;
                                            | do hạn mức chưa cài đặt
                                .vntBox
                                    p.vntBox__title Chuyến bay nội địa
                                    .vntBox__table
                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Khu vực
                                            .d-right
                                                .flexGroup
                                                    p.p1 Toàn quốc
                                                    p.p1 500.000đ


                                                .flexGroup
                                                    p.p1 Hà Nội, Nha Trang, Mộc châu
                                                    p.p1 500.000đ


                                                .flexGroup
                                                    p.p1 Sài gòn
                                                    p.p1 500.000đ


                                                .flexGroup
                                                    p.p1 Đà nẵng
                                                    p.p1 500.000đ


                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Theo tháng/năm
                                            .d-right
                                                .flexGroup
                                                    p.p3 Chưa cài đặt
                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Theo thời gian lưu trú
                                            .d-right
                                                .flexGroup
                                                    p.p1 4 - 6 ngày
                                                    p.p1 1.500.000đ


                                                .flexGroup
                                                    p.p1 6 - 15 ngày
                                                    p.p1 2.500.000đ


                                        .d-row
                                            .d-left
                                                .flexGroup
                                                    p Hạn mức cố định
                                            .d-right
                                                .flexGroup
                                                    p.p1 Tổng hạn mức cố định
                                                    p.p1 1.500.000đ


                                .vntBox
                                    p.vntBox__title Chuyến bay quốc tế
                                    .levelNoti
                                        p
                                            | Thành viên thuộc cài đặt này
                                            strong &nbsp;không bị giới hạn hạn mức&nbsp;
                                            | khi đặt vé cho&nbsp;
                                            strong chuyến bay quốc tế
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });






