- var page = "error404";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent
                    .error(style='background-image: url("https://statics.vntrip.vn/images/eror-image.png");')
                        .error__text
                            svg(width='103', height='71', viewBox='0 0 103 71', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M29.2385 1.94992V46.4388H32.9573V56.0833H29.2385V69.7721H19.5833V56.0833H0V47.5104L16.9222 1.94992H29.2385ZM9.51871 46.4388H19.5833V17.6092L9.51871 46.4388Z', fill='#2E3A59')
                                path(d='M66.6992 56.6018C66.6992 66.0964 62.0707 70.8438 52.8135 70.8438C43.5791 70.8438 38.9619 66.0964 38.9619 56.6018V15.1203C38.9619 5.6026 43.5791 0.84375 52.8135 0.84375C62.0707 0.84375 66.6992 5.6026 66.6992 15.1203V56.6018ZM57.0441 15.1203C57.0441 12.0553 55.6452 10.5228 52.8476 10.5228H52.7794C50.0045 10.5228 48.6171 12.0553 48.6171 15.1203V56.6018C48.6171 59.6668 50.0159 61.1993 52.8135 61.1993C55.6339 61.1993 57.0441 59.6668 57.0441 56.6018V15.1203Z', fill='#2E3A59')
                                path(d='M93.3448 15.1203C93.3448 12.0783 91.946 10.5458 89.1484 10.5228H89.0802C86.3053 10.5228 84.9179 12.0553 84.9179 15.1203V24.2117H75.2627V15.1203C75.2627 5.62564 79.8799 0.878318 89.1143 0.878318C98.3714 0.878318 103 5.62564 103 15.1203V26.9079C103 31.3557 101.237 34.5014 97.7118 36.345C101.237 38.1886 103 41.3343 103 45.782V56.6018C103 66.0964 98.3714 70.8438 89.1143 70.8438C79.8799 70.8438 75.2627 66.0964 75.2627 56.6018V47.5104H84.9179V56.6018C84.9179 59.6668 86.3053 61.1993 89.0802 61.1993H89.1484C91.946 61.1763 93.3448 59.6437 93.3448 56.6018V45.782C93.3448 43.3162 92.8331 41.8528 91.8095 41.3919C91.2637 41.1614 90.4221 41.0462 89.2849 41.0462H86.112V31.4018H90.0354C90.9452 31.4018 91.6276 31.2635 92.0825 30.987C92.924 30.503 93.3448 29.1203 93.3448 26.8388V15.1203Z', fill='#2E3A59')

                            p.p1 Bạn không có quyền truy cập chức năng này
                            p.p2 Có vẻ bạn chưa được cấp quyền để truy cập chức năng này. Vui lòng liên hệ Admin để biết thêm chi tiết
                            a.btn.btn_lg(href='#') Trang chủ

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });





