- var page = "error404";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent
                    .error(style='background-image: url("https://statics.vntrip.vn/images/eror-image.png");')
                        .error__text
                            svg(width='102', height='71', viewBox='0 0 102 71', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M18.8369 36.9375C18.8369 34.5677 18.3356 33.1663 17.333 32.7334C16.7861 32.4827 15.9089 32.3574 14.7012 32.3574C14.4049 32.3574 14.0973 32.3688 13.7783 32.3916C11.8187 32.4827 10.7249 33.36 10.4971 35.0234L10.3945 37.7236H0.72168L2.15723 1.9375H28.5098V11.4736H11.4541L10.7705 25.8975C12.4111 24.0062 14.6442 23.0605 17.4697 23.0605C17.8571 23.0605 18.2559 23.0833 18.666 23.1289C22.0384 23.4251 24.6019 24.7809 26.3564 27.1963C27.792 29.1559 28.5098 32.403 28.5098 36.9375V55.9756C28.5098 65.3636 23.8727 70.0576 14.5986 70.0576C5.34733 70.0576 0.72168 65.3636 0.72168 55.9756V48.0459H10.3945V55.9756C10.3945 59.0062 11.7845 60.5215 14.5645 60.5215H14.6328C17.4355 60.4987 18.8369 58.9834 18.8369 55.9756V36.9375Z', fill='#2E3A59')
                                path(d='M64.877 55.9756C64.877 65.3636 60.2399 70.0576 50.9658 70.0576C41.7145 70.0576 37.0889 65.3636 37.0889 55.9756V14.96C37.0889 5.54915 41.7145 0.84375 50.9658 0.84375C60.2399 0.84375 64.877 5.54915 64.877 14.96V55.9756ZM55.2041 14.96C55.2041 11.9294 53.8027 10.4141 51 10.4141H50.9316C48.1517 10.4141 46.7617 11.9294 46.7617 14.96V55.9756C46.7617 59.0062 48.1631 60.5215 50.9658 60.5215C53.7913 60.5215 55.2041 59.0062 55.2041 55.9756V14.96Z', fill='#2E3A59')
                                path(d='M91.5713 36.9375C91.5713 34.5677 91.07 33.1663 90.0674 32.7334C89.5205 32.4827 88.6432 32.3574 87.4355 32.3574C87.1393 32.3574 86.8317 32.3688 86.5127 32.3916C84.5531 32.4827 83.4593 33.36 83.2314 35.0234L83.1289 37.7236H73.4561L74.8916 1.9375H101.244V11.4736H84.1885L83.5049 25.8975C85.1455 24.0062 87.3786 23.0605 90.2041 23.0605C90.5915 23.0605 90.9902 23.0833 91.4004 23.1289C94.7728 23.4251 97.3363 24.7809 99.0908 27.1963C100.526 29.1559 101.244 32.403 101.244 36.9375V55.9756C101.244 65.3636 96.6071 70.0576 87.333 70.0576C78.0817 70.0576 73.4561 65.3636 73.4561 55.9756V48.0459H83.1289V55.9756C83.1289 59.0062 84.5189 60.5215 87.2988 60.5215H87.3672C90.1699 60.4987 91.5713 58.9834 91.5713 55.9756V36.9375Z', fill='#2E3A59')

                            p.p1 Hệ thống đang bận, vui lòng thử lại sau...
                            p.p2 Bạn đang mất kết nói tới hệ thống, hãy kiểm tra lại đường truyền mạng của mình. Xin cảm ơn quý khách.
                            a.btn.btn_lg(href='#') Trang chủ

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });





