- var page = "flightCheckout2";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.flightCheckout
                    .vntStep
                        .vntStep__item.visited
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt vé
                        .vntStep__item.active
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất
                    .vntCheckout
                        .vntCheckout__left
                            h2.heading2 Chọn hình thức thanh toán
                            .vntCheckout__box
                                .payments
                                    .payments__item
                                        .radio.radio_lg
                                            input(type='radio' id='pm1' name='payments')
                                            label(for='pm1')
                                                p.p1 Thanh toán công nợ
                                                p.p2 Mô tả thanh toán công nợ sẽ đc ghi ở đây
                                    .payments__item
                                        .radio.radio_lg
                                            input(type='radio' id='pm2' name='payments')
                                            label(for='pm2')
                                                p.p1 Thanh toán trực tiếp
                                                p.p2 Bằng các phương thức chuyển khoản, ví điện tử Momo, ví điện tử AirPay
                                        ul.payments__child
                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc1' name='paymentsChild')
                                                    label(for='pmc1')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-airpay.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng ví Airpay
                                                            p.p2 Quý khách vui lòng cài app AirPay trước khi chọn hình thức này để thuận tiện cho việc thanh toán.

                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc2' name='paymentsChild')
                                                    label(for='pmc2')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-zalopay.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng ví ZaloPay
                                                            p.p2 Quý khách vui lòng cài app Zalopay trước khi chọn hình thức thanh toán này để thuận lợi việc thanh toán

                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc3' name='paymentsChild')
                                                    label(for='pmc3')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-momo.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng ví MoMo
                                                            p.p2 Mô tả phương thức thanh toán

                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc4' name='paymentsChild')
                                                    label(for='pmc4')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-domestic.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng thẻ ATM nội địa
                                                            p.p2 Quý khách vui lòng cài app MoMo trước khi chọn hình thức này để thuận tiện cho việc thanh toán.

                        .vntCheckout__right
                            .flightInfo
                                .flightInfo__main
                                    .flightInfo__item
                                        .flightInfo__title
                                            p.medium Thông tin chuyến bay
                                            button.btnLink(type='button' data-toggle="modal" data-target="#detailFlight")
                                                span Xem chi tiết
                                        .flightInfo__cont
                                            .flightInfo__ticket
                                                p
                                                    span Chiều đi:&nbsp;
                                                    span.medium Thứ 4, 25/04/2020
                                                .d-flex
                                                    .flightInfo__logo
                                                        img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png', alt='logoFlight')
                                                    .flightTrip
                                                        .d-block
                                                            p.p1 10:20
                                                            p.p2 TP HCM (SGN)
                                                        .d-svg
                                                            p 2h10m
                                                            svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                                circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                        .d-block
                                                            p.p1 12:20
                                                            p.p2 Hà Nội (HAN)

                                            .flightInfo__ticket
                                                p
                                                    span Chiều về:&nbsp;
                                                    span.medium Thứ 4, 25/04/2020
                                                .d-flex
                                                    .flightInfo__logo
                                                        img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png', alt='logoFlight')
                                                    .flightTrip
                                                        .d-block
                                                            p.p1 10:20
                                                            p.p2 TP HCM (SGN)
                                                        .d-svg
                                                            p 2h10m
                                                            svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                                circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                        .d-block
                                                            p.p1 12:20
                                                            p.p2 Hà Nội (HAN)

                                    .flightInfo__item
                                        .flightInfo__title
                                            p.medium Thành tiền
                                        .flightInfo__cont
                                            .flightInfo__price
                                                p.medium Chiều đi (HAN - SGN)
                                                ul
                                                    li
                                                        span.span1 Giá vé:
                                                        span.span2 6 x 1.200.000 ₫
                                                    li
                                                        span.span1 Hành lý:
                                                        span.span2 400.000 ₫
                                                    li
                                                        span.span1 Thuế & phí:
                                                        span.span2
                                                            | 600.000 ₫
                                                            .tooltip
                                                                svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 10.3594C3.59297 10.3594 1.64062 8.40703 1.64062 6C1.64062 3.59297 3.59297 1.64062 6 1.64062C8.40703 1.64062 10.3594 3.59297 10.3594 6C10.3594 8.40703 8.40703 10.3594 6 10.3594Z', fill='#595959')
                                                                    path(d='M7.30781 3.71133C6.95625 3.40313 6.49219 3.23438 6 3.23438C5.50781 3.23438 5.04375 3.4043 4.69219 3.71133C4.32656 4.03125 4.125 4.46133 4.125 4.92188V5.01094C4.125 5.0625 4.16719 5.10469 4.21875 5.10469H4.78125C4.83281 5.10469 4.875 5.0625 4.875 5.01094V4.92188C4.875 4.40508 5.38008 3.98438 6 3.98438C6.61992 3.98438 7.125 4.40508 7.125 4.92188C7.125 5.28633 6.86719 5.62031 6.46758 5.77383C6.21914 5.86875 6.0082 6.03516 5.85703 6.25312C5.70352 6.47578 5.62383 6.74297 5.62383 7.01367V7.26562C5.62383 7.31719 5.66602 7.35938 5.71758 7.35938H6.28008C6.33164 7.35938 6.37383 7.31719 6.37383 7.26562V6.99961C6.37443 6.88585 6.40931 6.7749 6.4739 6.68125C6.53849 6.5876 6.62981 6.51559 6.73594 6.47461C7.42734 6.20859 7.87383 5.59922 7.87383 4.92188C7.875 4.46133 7.67344 4.03125 7.30781 3.71133ZM5.53125 8.57812C5.53125 8.70245 5.58064 8.82167 5.66854 8.90958C5.75645 8.99749 5.87568 9.04688 6 9.04688C6.12432 9.04688 6.24355 8.99749 6.33146 8.90958C6.41936 8.82167 6.46875 8.70245 6.46875 8.57812C6.46875 8.4538 6.41936 8.33458 6.33146 8.24667C6.24355 8.15876 6.12432 8.10938 6 8.10938C5.87568 8.10938 5.75645 8.15876 5.66854 8.24667C5.58064 8.33458 5.53125 8.4538 5.53125 8.57812Z', fill='#595959')
                                                                .tooltip__cont
                                                                    p
                                                                        span Thuế:
                                                                        span 100.000 ₫
                                                                    p
                                                                        span Phí:
                                                                        span 100.000 ₫
                                                                    p
                                                                        span Phí xuất vé:
                                                                        span 100.000 ₫
                                            .flightInfo__price
                                                p.medium Chiều về (SGN - HAN)
                                                ul
                                                    li
                                                        span.span1 Giá vé:
                                                        span.span2 6 x 1.200.000 ₫
                                                    li
                                                        span.span1 Hành lý:
                                                        span.span2 400.000 ₫
                                                    li
                                                        span.span1 Thuế & phí:
                                                        span.span2
                                                            | 600.000 ₫
                                                            .tooltip
                                                                svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 10.3594C3.59297 10.3594 1.64062 8.40703 1.64062 6C1.64062 3.59297 3.59297 1.64062 6 1.64062C8.40703 1.64062 10.3594 3.59297 10.3594 6C10.3594 8.40703 8.40703 10.3594 6 10.3594Z', fill='#595959')
                                                                    path(d='M7.30781 3.71133C6.95625 3.40313 6.49219 3.23438 6 3.23438C5.50781 3.23438 5.04375 3.4043 4.69219 3.71133C4.32656 4.03125 4.125 4.46133 4.125 4.92188V5.01094C4.125 5.0625 4.16719 5.10469 4.21875 5.10469H4.78125C4.83281 5.10469 4.875 5.0625 4.875 5.01094V4.92188C4.875 4.40508 5.38008 3.98438 6 3.98438C6.61992 3.98438 7.125 4.40508 7.125 4.92188C7.125 5.28633 6.86719 5.62031 6.46758 5.77383C6.21914 5.86875 6.0082 6.03516 5.85703 6.25312C5.70352 6.47578 5.62383 6.74297 5.62383 7.01367V7.26562C5.62383 7.31719 5.66602 7.35938 5.71758 7.35938H6.28008C6.33164 7.35938 6.37383 7.31719 6.37383 7.26562V6.99961C6.37443 6.88585 6.40931 6.7749 6.4739 6.68125C6.53849 6.5876 6.62981 6.51559 6.73594 6.47461C7.42734 6.20859 7.87383 5.59922 7.87383 4.92188C7.875 4.46133 7.67344 4.03125 7.30781 3.71133ZM5.53125 8.57812C5.53125 8.70245 5.58064 8.82167 5.66854 8.90958C5.75645 8.99749 5.87568 9.04688 6 9.04688C6.12432 9.04688 6.24355 8.99749 6.33146 8.90958C6.41936 8.82167 6.46875 8.70245 6.46875 8.57812C6.46875 8.4538 6.41936 8.33458 6.33146 8.24667C6.24355 8.15876 6.12432 8.10938 6 8.10938C5.87568 8.10938 5.75645 8.15876 5.66854 8.24667C5.58064 8.33458 5.53125 8.4538 5.53125 8.57812Z', fill='#595959')
                                                                .tooltip__cont
                                                                    p
                                                                        span Thuế:
                                                                        span 100.000 ₫
                                                                    p
                                                                        span Phí:
                                                                        span 100.000 ₫
                                                                    p
                                                                        span Phí xuất vé:
                                                                        span 100.000 ₫
                                            .flightInfo__total
                                                .d-flex
                                                    p.p1 Tổng cộng
                                                    p.p2 401.822.404 ₫
                                                .levelTotal
                                                    p
                                                        | Tổng hạn mức còn lại:
                                                        span 8.041.401đ
                                                    .tooltip
                                                        svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6.375 8.53125C6.375 8.58281 6.33281 8.625 6.28125 8.625H5.71875C5.66719 8.625 5.625 8.58281 5.625 8.53125V5.34375C5.625 5.29219 5.66719 5.25 5.71875 5.25H6.28125C6.33281 5.25 6.375 5.29219 6.375 5.34375V8.53125ZM6 4.5C5.8528 4.497 5.71265 4.43641 5.60961 4.33125C5.50658 4.22609 5.44887 4.08473 5.44887 3.9375C5.44887 3.79027 5.50658 3.64891 5.60961 3.54375C5.71265 3.43859 5.8528 3.378 6 3.375C6.1472 3.378 6.28735 3.43859 6.39039 3.54375C6.49342 3.64891 6.55113 3.79027 6.55113 3.9375C6.55113 4.08473 6.49342 4.22609 6.39039 4.33125C6.28735 4.43641 6.1472 4.497 6 4.5Z', fill='#595959')
                                                        .tooltip__cont
                                                            | abcd 1234
                                                p.red-1.size-12 Bạn đã vượt quá hạn mức cho phép, vui lòng liên hệ quản lý
                                .flightInfo__btn
                                    button.btn(type='button' onclick="location.href='flightCheckout2.html';") Tiếp tục

                #detailFlight.modal.fade(role='dialog')
                    .modal-dialog.modal-detailFlight
                        .modal-content
                            .modal-header
                                h5.modal-title Chi tiết chuyến bay
                                button.modal-close(data-dismiss='modal')
                                    svg(width='10', height='12', viewBox='0 0 10 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.8095 6L9.91106 1.11094C9.97981 1.02969 9.922 0.90625 9.81575 0.90625H8.56888C8.49544 0.90625 8.42512 0.939062 8.37669 0.995312L4.99388 5.02813L1.61106 0.995312C1.56419 0.939062 1.49388 0.90625 1.41888 0.90625H0.172C0.0657503 0.90625 0.00793765 1.02969 0.0766877 1.11094L4.17825 6L0.0766877 10.8891C0.061287 10.9072 0.0514069 10.9293 0.04822 10.9529C0.0450331 10.9764 0.0486732 11.0004 0.0587085 11.022C0.0687439 11.0435 0.0847529 11.0617 0.104835 11.0745C0.124916 11.0872 0.148227 11.0939 0.172 11.0938H1.41888C1.49231 11.0938 1.56263 11.0609 1.61106 11.0047L4.99388 6.97188L8.37669 11.0047C8.42356 11.0609 8.49388 11.0938 8.56888 11.0938H9.81575C9.922 11.0938 9.97981 10.9703 9.91106 10.8891L5.8095 6Z', fill='#262626')

                            .modal-body
                                .modal-detailFlight__item
                                    p Chiều đi ( 1 điểm dừng)
                                    .flightTicket__trip
                                        .flightTrip.flightTrip_lg
                                            .d-block
                                                p.p1 Hà Nội (HAN)
                                                p.p2 21:20 - 14/01/2020
                                            .d-svg
                                                p 2h10m
                                                svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                    circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                p Bay thẳng
                                            .d-block
                                                p.p1 TP Hồ Chí Minh (SNG)
                                                p.p2 21:20 - 14/01/2020

                                        .flightAirline
                                            .flightAirline__logo
                                                img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                            .flightAirline__cont
                                                p Vietnamairline
                                                p Chuyến bay: BL745
                                .modal-detailFlight__item
                                    p Chiều về (bay thẳng)
                                    .flightTicket__trip
                                        .flightTrip.flightTrip_lg
                                            .d-block
                                                p.p1 Hà Nội (HAN)
                                                p.p2 21:20 - 14/01/2020
                                            .d-svg
                                                p 2h10m
                                                svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                    circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                p Bay thẳng
                                            .d-block
                                                p.p1 TP Hồ Chí Minh (SNG)
                                                p.p2 21:20 - 14/01/2020

                                        .flightAirline
                                            .flightAirline__logo
                                                img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                            .flightAirline__cont
                                                p Vietnamairline
                                                p Chuyến bay: BL745

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.ticketInfo__tax .btnArrow').click(function () {
                $(this).parents('.ticketInfo__tax').toggleClass('open');
            });







