- var page = "flightCheckout1";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.flightCheckout
                    .vntStep
                        .vntStep__item.active
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt vé
                        .vntStep__item
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất
                    .vntCheckout
                        .vntCheckout__left
                            h2.heading2 Thông tin người đặt
                            .vntCheckout__box
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Chi nhánh:
                                            span Vntrip Hà Nội

                                        li
                                            span Số điện thoại:
                                            span +84 982 433361

                                        li
                                            span Phòng ban:
                                            span TECH

                                        li
                                            span Chức vụ:
                                            span Designer

                            h2.heading2 Thông tin liên hệ
                            .vntCheckout__box
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Chi nhánh:
                                            span Vntrip Hà Nội

                                        li
                                            span Số điện thoại:
                                            span +84 982 433361

                                        li
                                            span Phòng ban:
                                            span TECH

                                        li
                                            span Chức vụ:
                                            span Designer

                                    button(type='button')
                                        svg(width='12', height='14', viewBox='0 0 12 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M11.4141 10.9312C11.1194 10.2331 10.6916 9.59891 10.1547 9.06406C9.61947 8.52767 8.9854 8.10001 8.28754 7.80469C8.28129 7.80156 8.27504 7.8 8.26879 7.79688C9.24223 7.09375 9.87504 5.94844 9.87504 4.65625C9.87504 2.51562 8.14066 0.78125 6.00004 0.78125C3.85941 0.78125 2.12504 2.51562 2.12504 4.65625C2.12504 5.94844 2.75785 7.09375 3.73129 7.79844C3.72504 7.80156 3.71879 7.80312 3.71254 7.80625C3.01254 8.10156 2.38441 8.525 1.84535 9.06563C1.30896 9.60089 0.881296 10.235 0.585977 10.9328C0.295855 11.616 0.139386 12.3485 0.125039 13.0906C0.124622 13.1073 0.127547 13.1239 0.133642 13.1394C0.139737 13.1549 0.148878 13.1691 0.160527 13.181C0.172176 13.193 0.186098 13.2025 0.201471 13.2089C0.216844 13.2154 0.233358 13.2188 0.250039 13.2188H1.18754C1.25629 13.2188 1.31098 13.1641 1.31254 13.0969C1.34379 11.8906 1.82816 10.7609 2.68441 9.90469C3.57035 9.01875 4.74691 8.53125 6.00004 8.53125C7.25316 8.53125 8.42973 9.01875 9.31566 9.90469C10.1719 10.7609 10.6563 11.8906 10.6875 13.0969C10.6891 13.1656 10.7438 13.2188 10.8125 13.2188H11.75C11.7667 13.2188 11.7832 13.2154 11.7986 13.2089C11.814 13.2025 11.8279 13.193 11.8396 13.181C11.8512 13.1691 11.8603 13.1549 11.8664 13.1394C11.8725 13.1239 11.8755 13.1073 11.875 13.0906C11.8594 12.3438 11.7047 11.6172 11.4141 10.9312ZM6.00004 7.34375C5.28285 7.34375 4.60785 7.06406 4.10004 6.55625C3.59223 6.04844 3.31254 5.37344 3.31254 4.65625C3.31254 3.93906 3.59223 3.26406 4.10004 2.75625C4.60785 2.24844 5.28285 1.96875 6.00004 1.96875C6.71723 1.96875 7.39223 2.24844 7.90004 2.75625C8.40785 3.26406 8.68754 3.93906 8.68754 4.65625C8.68754 5.37344 8.40785 6.04844 7.90004 6.55625C7.39223 7.06406 6.71723 7.34375 6.00004 7.34375Z', fill='#096DD9')
                                        span Thay đổi người liên hệ

                            h2.heading2 Thông tin người đi
                            .vntCheckout__box
                                .vntCheckout__table
                                    p.pTitle Số người đi: 6 người
                                    table.table
                                        thead
                                            tr
                                                th Giới tính
                                                th Họ và tên
                                                th.text-center Hành động
                                        tbody
                                            tr
                                                td
                                                    p Nam
                                                td
                                                    p.p1 Nguyễn Văn A
                                                    p.p2 nguyenvana@gmail.com | 0982433361
                                                td.text-center
                                                    button.editBtn(type='button' data-toggle="modal" data-target="#editMember")
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M3.02656 10.75C3.05781 10.75 3.08906 10.7469 3.12031 10.7422L5.74844 10.2812C5.77969 10.275 5.80938 10.2609 5.83125 10.2375L12.4547 3.61406C12.4692 3.59961 12.4807 3.58244 12.4885 3.56354C12.4963 3.54463 12.5004 3.52437 12.5004 3.50391C12.5004 3.48344 12.4963 3.46318 12.4885 3.44428C12.4807 3.42538 12.4692 3.40821 12.4547 3.39375L9.85781 0.795313C9.82812 0.765625 9.78906 0.75 9.74687 0.75C9.70469 0.75 9.66563 0.765625 9.63594 0.795313L3.0125 7.41875C2.98906 7.44219 2.975 7.47031 2.96875 7.50156L2.50781 10.1297C2.49261 10.2134 2.49804 10.2995 2.52364 10.3807C2.54923 10.4618 2.59421 10.5355 2.65469 10.5953C2.75781 10.6953 2.8875 10.75 3.02656 10.75ZM4.07969 8.025L9.74687 2.35938L10.8922 3.50469L5.225 9.17031L3.83594 9.41562L4.07969 8.025ZM12.75 12.0625H1.25C0.973437 12.0625 0.75 12.2859 0.75 12.5625V13.125C0.75 13.1938 0.80625 13.25 0.875 13.25H13.125C13.1938 13.25 13.25 13.1938 13.25 13.125V12.5625C13.25 12.2859 13.0266 12.0625 12.75 12.0625Z', fill='black')

                                .checkbox
                                    input#hlkg1(type='checkbox')
                                    label(for='hlkg1') Mua thêm hành lý ký gửi
                                .vntCheckout__table
                                    p.pTitle Thông tin hành lý
                                    table.table
                                        thead
                                            tr
                                                th Họ và tên
                                                th Hành lý ký gửi chiều đi
                                                th Hành lý ký gửi chiều về
                                        tbody
                                            tr
                                                td
                                                    p.p1 Nguyễn Văn A
                                                    p.p2 nguyenvana@gmail.com | 0982433361
                                                td
                                                    .dropdown
                                                        button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                            span Mua 15kg / 230.000₫
                                                            svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')

                                                        ul.dropdown-menu
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl1' name='flight')
                                                                    label(for='fl1') Không Mua thêm hành lý
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl2' name='flight')
                                                                    label(for='fl2') Mua 15kg / 230.000₫
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl3' name='flight')
                                                                    label(for='fl3') Mua 20kg / 230.000₫
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl4' name='flight')
                                                                    label(for='fl4') Mua 30kg / 230.000₫
                                                td
                                                    .dropdown
                                                        button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                            span Mua 15kg / 230.000₫
                                                            svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')

                                                        ul.dropdown-menu
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl1a' name='flight')
                                                                    label(for='fl1a') Không Mua thêm hành lý
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl2a' name='flight')
                                                                    label(for='fl2a') Mua 15kg / 230.000₫
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl3a' name='flight')
                                                                    label(for='fl3a') Mua 20kg / 230.000₫
                                                            li.dropdown-item
                                                                .radio
                                                                    input(type='radio' id='fl4a' name='flight')
                                                                    label(for='fl4a') Mua 30kg / 230.000₫
                        .vntCheckout__right
                            .flightInfo
                                p.flightPlace
                                    span Hà Nội
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.4 0.862793L1 3.22615L3.4 5.58951', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.6 3.22607H1', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.5996 7.95166L12.9996 10.315L10.5996 12.6784', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M3.40039 10.3154H13.0004', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                                    span TP Hồ Chí Minh
                                .dateInput
                                    label(for='date') Ngày đi / ngày về
                                    .input-inline
                                        input.form-control(type='text' value='25/12/2019 – 31/12/2019 (5 đêm)' name='date' id='date')
                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')

                                .ticketInfo
                                    p.ticketInfo__title Chiều đi: Từ Hà Nội (HAN)
                                    .ticketInfo__box
                                        p.p1 7:20 - Thứ 4, 25/12/2019
                                        p.p2 Bamboo Airways (QL245) - 2h20m
                                        ul
                                            li
                                                span.span1 Giá vé:
                                                span.span2 6 x 1.200.000 ₫
                                            li
                                                span.span1 Hành lý:
                                                span.span2 250.000 ₫
                                            li.liPrice
                                                span.span1.medium Tổng đi
                                                span.span2.blue-1.medium 6.000.000 ₫
                                    p.ticketInfo__title Chiều về: Từ TP Hồ Chí Minh (SGN)
                                    .ticketInfo__box
                                        p.p1 7:20 - Thứ 4, 25/12/2019
                                        p.p2 Bamboo Airways (QL245) - 2h20m
                                        ul
                                            li
                                                span.span1 Giá vé:
                                                span.span2 6 x 1.200.000 ₫
                                            li
                                                span.span1 Hành lý:
                                                span.span2 250.000 ₫
                                            li.liPrice
                                                span.span1.medium Tổng về
                                                span.span2.blue-1.medium 6.000.000 ₫
                                    .ticketInfo__tax
                                        p.ticketInfo__title
                                            span Thuế và phí khác
                                            span.medium
                                                | 4.000.000 ₫
                                                button.btnArrow(type='button')
                                                    svg(width='9', height='12', viewBox='0 0 9 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M7.96405 5.60637L0.920313 0.104809C0.901908 0.0903191 0.879788 0.081314 0.856495 0.0788282C0.833203 0.0763424 0.809681 0.0804768 0.788632 0.0907565C0.767583 0.101036 0.749861 0.117045 0.7375 0.136943C0.725139 0.156841 0.71864 0.179822 0.718751 0.203247V1.41106C0.718751 1.48762 0.754689 1.56106 0.814064 1.60793L6.43905 6.00012L0.814064 10.3923C0.753126 10.4392 0.718751 10.5126 0.718751 10.5892V11.797C0.718751 11.9017 0.839063 11.9595 0.920313 11.8954L7.96405 6.39387C8.02391 6.34717 8.07234 6.28744 8.10565 6.21921C8.13896 6.15098 8.15628 6.07605 8.15628 6.00012C8.15628 5.92419 8.13896 5.84927 8.10565 5.78104C8.07234 5.71281 8.02391 5.65307 7.96405 5.60637Z', fill='black')

                                        .ticketInfo__box
                                            ul
                                                li
                                                    span.span1 Thuế giá trị gia tăng:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phí soi chiếu an ninh:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phí dịch vụ chặng nội địa:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phụ thu quản trị hệ thống:
                                                    span.span2 250.000 ₫
                                .flightInfo__price
                                    p.p1 Tổng cộng
                                    p.p2 401.822.404 ₫
                                .levelTotal
                                    p
                                        | Tổng hạn mức còn lại:
                                        span 8.041.401đ
                                    .tooltip
                                        svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6.375 8.53125C6.375 8.58281 6.33281 8.625 6.28125 8.625H5.71875C5.66719 8.625 5.625 8.58281 5.625 8.53125V5.34375C5.625 5.29219 5.66719 5.25 5.71875 5.25H6.28125C6.33281 5.25 6.375 5.29219 6.375 5.34375V8.53125ZM6 4.5C5.8528 4.497 5.71265 4.43641 5.60961 4.33125C5.50658 4.22609 5.44887 4.08473 5.44887 3.9375C5.44887 3.79027 5.50658 3.64891 5.60961 3.54375C5.71265 3.43859 5.8528 3.378 6 3.375C6.1472 3.378 6.28735 3.43859 6.39039 3.54375C6.49342 3.64891 6.55113 3.79027 6.55113 3.9375C6.55113 4.08473 6.49342 4.22609 6.39039 4.33125C6.28735 4.43641 6.1472 4.497 6 4.5Z', fill='#595959')
                                        .tooltip__cont
                                            | abcd 1234
                                p.red-1.size-12 Bạn đã vượt quá hạn mức cho phép, vui lòng liên hệ quản lý
                                button.btn(type='button' onclick="location.href='flightCheckout2.html';") Tiếp tục
                #editMember.modal.fade(role='dialog')
                    .modal-dialog.modal-editMember
                        .modal-content
                            .modal-header
                                h5.modal-title Thay đổi người
                                button.modal-close(data-dismiss='modal')
                                    svg(width='10', height='12', viewBox='0 0 10 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.8095 6L9.91106 1.11094C9.97981 1.02969 9.922 0.90625 9.81575 0.90625H8.56888C8.49544 0.90625 8.42512 0.939062 8.37669 0.995312L4.99388 5.02813L1.61106 0.995312C1.56419 0.939062 1.49388 0.90625 1.41888 0.90625H0.172C0.0657503 0.90625 0.00793765 1.02969 0.0766877 1.11094L4.17825 6L0.0766877 10.8891C0.061287 10.9072 0.0514069 10.9293 0.04822 10.9529C0.0450331 10.9764 0.0486732 11.0004 0.0587085 11.022C0.0687439 11.0435 0.0847529 11.0617 0.104835 11.0745C0.124916 11.0872 0.148227 11.0939 0.172 11.0938H1.41888C1.49231 11.0938 1.56263 11.0609 1.61106 11.0047L4.99388 6.97188L8.37669 11.0047C8.42356 11.0609 8.49388 11.0938 8.56888 11.0938H9.81575C9.922 11.0938 9.97981 10.9703 9.91106 10.8891L5.8095 6Z', fill='#262626')

                            .modal-body
                                .vntMember__table
                                    table.table
                                        thead
                                            tr
                                                th &nbsp;
                                                th
                                                    .dropdown.dropdown_form
                                                        button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                            span Họ và tên
                                                            svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')

                                                        ul.dropdown-menu
                                                            li.dropdown-item
                                                                .input-inline
                                                                    input.form-control(type='text')
                                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                        path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                                                .btnInline
                                                                    button.btn.btn_sm(type='button') Tìm kiếm
                                                                    button.btn.btn_sm.btn_outline(type='button') Hủy bỏ
                                                th
                                                    .dropdown
                                                        button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                            span Chi nhánh & bộ phận
                                                            svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                                        ul.dropdown-menu
                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cn1(type='checkbox')
                                                                    label(for='cn1') Hà Nội


                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cn2(type='checkbox')
                                                                    label(for='cn2') Đà Nẵng


                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cn3(type='checkbox')
                                                                    label(for='cn3') Tp Hồ Chí Minh


                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cn4(type='checkbox')
                                                                    label(for='cn4') Nha Trang

                                                th
                                                    .dropdown
                                                        button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                            span Chức vụ
                                                            svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                                        ul.dropdown-menu
                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cv1(type='checkbox')
                                                                    label(for='cv1') Tất cả


                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cv2(type='checkbox')
                                                                    label(for='cv2') Tổng giám đốc


                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cv3(type='checkbox')
                                                                    label(for='cv3') Phó giám đốc


                                                            li.dropdown-item
                                                                .checkbox
                                                                    input#cv4(type='checkbox')
                                                                    label(for='cv4') Trưởng phòng


                                        tbody
                                            tr
                                                td
                                                    .radio
                                                        input(type='radio' id='rm1' name='memberTable')
                                                        label(for='rm1')

                                                td
                                                    p.p1 Nguyễn Thanh Tuấn
                                                    p.p2 nguyenvana@gmail.com | 0982433361


                                                td
                                                    p.p1 be Sài Gòn
                                                    p.p2 Product

                                                td
                                                    p.p1 Product Designer

                                            tr
                                                td
                                                    .radio
                                                        input(type='radio' id='rm2' name='memberTable')
                                                        label(for='rm2')

                                                td
                                                    p.p1 Nguyễn Thanh Tuấn
                                                    p.p2 nguyenvana@gmail.com | 0982433361


                                                td
                                                    p.p1 be Sài Gòn
                                                    p.p2 Product

                                                td
                                                    p.p1 Product Designer

                                            tr
                                                td
                                                    .radio
                                                        input(type='radio' id='rm3' name='memberTable')
                                                        label(for='rm3')

                                                td
                                                    p.p1 Nguyễn Thanh Tuấn
                                                    p.p2 nguyenvana@gmail.com | 0982433361


                                                td
                                                    p.p1 be Sài Gòn
                                                    p.p2 Product

                                                td
                                                    p.p1 Product Designer

                                            tr
                                                td
                                                    .radio
                                                        input(type='radio' id='rm4' name='memberTable')
                                                        label(for='rm4')

                                                td
                                                    p.p1 Nguyễn Thanh Tuấn
                                                    p.p2 nguyenvana@gmail.com | 0982433361


                                                td
                                                    p.p1 be Sài Gòn
                                                    p.p2 Product

                                                td
                                                    p.p1 Product Designer

                            .modal-footer
                                .modal-btn
                                    button.btn.btn_outline.w100(type='button') Huỷ
                                    button.btn.w100(type='button') Thay đổi

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.ticketInfo__tax .btnArrow').click(function () {
                $(this).parents('.ticketInfo__tax').toggleClass('open');
            });







