- var page = "flightCheckout2";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.flightCheckout
                    .vntStep
                        .vntStep__item.visited
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt vé
                        .vntStep__item.active
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất
                    .vntCheckout
                        .vntCheckout__left
                            h2.heading2 Chọn hình thức thanh toán
                            .vntCheckout__box
                                .payments
                                    .payments__item
                                        .radio.radio_lg
                                            input(type='radio' id='pm1' name='payments')
                                            label(for='pm1')
                                                p.p1 Thanh toán công nợ
                                                p.p2 Mô tả thanh toán công nợ sẽ đc ghi ở đây
                                    .payments__item
                                        .radio.radio_lg
                                            input(type='radio' id='pm2' name='payments')
                                            label(for='pm2')
                                                p.p1 Thanh toán trực tiếp
                                                p.p2 Bằng các phương thức chuyển khoản, ví điện tử Momo, ví điện tử AirPay
                                        ul.payments__child
                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc1' name='paymentsChild')
                                                    label(for='pmc1')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-airpay.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng ví Airpay
                                                            p.p2 Quý khách vui lòng cài app AirPay trước khi chọn hình thức này để thuận tiện cho việc thanh toán.

                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc2' name='paymentsChild')
                                                    label(for='pmc2')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-zalopay.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng ví ZaloPay
                                                            p.p2 Quý khách vui lòng cài app Zalopay trước khi chọn hình thức thanh toán này để thuận lợi việc thanh toán

                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc3' name='paymentsChild')
                                                    label(for='pmc3')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-momo.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng ví MoMo
                                                            p.p2 Mô tả phương thức thanh toán

                                            li
                                                .radio.radio_lg
                                                    input(type='radio' id='pmc4' name='paymentsChild')
                                                    label(for='pmc4')
                                                        .payments__logo
                                                            img(src='https://statics.vntrip.vn/images/checkout/i-domestic.png')
                                                        .payments__text
                                                            p.p1 Thanh toán bằng thẻ ATM nội địa
                                                            p.p2 Quý khách vui lòng cài app MoMo trước khi chọn hình thức này để thuận tiện cho việc thanh toán.

                        .vntCheckout__right
                            .flightInfo
                                p.flightPlace
                                    span Hà Nội
                                    svg(width='14', height='6', viewBox='0 0 14 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M13.5 2.97656C13.5 2.90625 13.4688 2.84375 13.4219 2.79687L10.4219 0.0624994C10.3438 -3.57628e-07 10.2422 -0.0156257 10.1484 0.0234373C10.0547 0.0624994 10 0.148437 10 0.25V2H0.25C0.109375 2 0 2.10937 0 2.25V3.75C0 3.89062 0.109375 4 0.25 4H10V5.75C10 5.85156 10.0625 5.9375 10.1484 5.97656C10.2422 6.01562 10.3438 6 10.4219 5.92969L13.4219 3.16406C13.4688 3.11719 13.5 3.04687 13.5 2.97656Z', fill='#203048')

                                    span TP Hồ Chí Minh
                                .dateInput
                                    label(for='date') Ngày đi / ngày về
                                    .input-inline
                                        input.form-control(type='text' value='25/12/2019 – 31/12/2019 (5 đêm)' name='date' id='date')
                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')

                                .ticketInfo
                                    p.ticketInfo__title Chiều đi: Từ Hà Nội (HAN)
                                    .ticketInfo__box
                                        p.p1 7:20 - Thứ 4, 25/12/2019
                                        p.p2 Bamboo Airways (QL245) - 2h20m
                                        ul
                                            li
                                                span.span1 Giá vé:
                                                span.span2 6 x 1.200.000 ₫
                                            li
                                                span.span1 Hành lý:
                                                span.span2 250.000 ₫
                                            li.liPrice
                                                span.span1.medium Tổng đi
                                                span.span2.blue-1.medium 6.000.000 ₫
                                    p.ticketInfo__title Chiều về: Từ TP Hồ Chí Minh (SGN)
                                    .ticketInfo__box
                                        p.p1 7:20 - Thứ 4, 25/12/2019
                                        p.p2 Bamboo Airways (QL245) - 2h20m
                                        ul
                                            li
                                                span.span1 Giá vé:
                                                span.span2 6 x 1.200.000 ₫
                                            li
                                                span.span1 Hành lý:
                                                span.span2 250.000 ₫
                                            li.liPrice
                                                span.span1.medium Tổng về
                                                span.span2.blue-1.medium 6.000.000 ₫
                                    .ticketInfo__tax
                                        p.ticketInfo__title
                                            span Thuế và phí khác
                                            span.medium
                                                | 4.000.000 ₫
                                                button.btnArrow(type='button')
                                                    svg(width='9', height='12', viewBox='0 0 9 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M7.96405 5.60637L0.920313 0.104809C0.901908 0.0903191 0.879788 0.081314 0.856495 0.0788282C0.833203 0.0763424 0.809681 0.0804768 0.788632 0.0907565C0.767583 0.101036 0.749861 0.117045 0.7375 0.136943C0.725139 0.156841 0.71864 0.179822 0.718751 0.203247V1.41106C0.718751 1.48762 0.754689 1.56106 0.814064 1.60793L6.43905 6.00012L0.814064 10.3923C0.753126 10.4392 0.718751 10.5126 0.718751 10.5892V11.797C0.718751 11.9017 0.839063 11.9595 0.920313 11.8954L7.96405 6.39387C8.02391 6.34717 8.07234 6.28744 8.10565 6.21921C8.13896 6.15098 8.15628 6.07605 8.15628 6.00012C8.15628 5.92419 8.13896 5.84927 8.10565 5.78104C8.07234 5.71281 8.02391 5.65307 7.96405 5.60637Z', fill='black')

                                        .ticketInfo__box
                                            ul
                                                li
                                                    span.span1 Thuế giá trị gia tăng:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phí soi chiếu an ninh:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phí dịch vụ chặng nội địa:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phụ thu quản trị hệ thống:
                                                    span.span2 250.000 ₫
                                .flightInfo__price
                                    p.p1 Tổng cộng
                                    p.p2 401.822.404 ₫
                                .levelTotal
                                    p
                                        | Tổng hạn mức còn lại:
                                        span 8.041.401đ
                                    .tooltip
                                        svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6.375 8.53125C6.375 8.58281 6.33281 8.625 6.28125 8.625H5.71875C5.66719 8.625 5.625 8.58281 5.625 8.53125V5.34375C5.625 5.29219 5.66719 5.25 5.71875 5.25H6.28125C6.33281 5.25 6.375 5.29219 6.375 5.34375V8.53125ZM6 4.5C5.8528 4.497 5.71265 4.43641 5.60961 4.33125C5.50658 4.22609 5.44887 4.08473 5.44887 3.9375C5.44887 3.79027 5.50658 3.64891 5.60961 3.54375C5.71265 3.43859 5.8528 3.378 6 3.375C6.1472 3.378 6.28735 3.43859 6.39039 3.54375C6.49342 3.64891 6.55113 3.79027 6.55113 3.9375C6.55113 4.08473 6.49342 4.22609 6.39039 4.33125C6.28735 4.43641 6.1472 4.497 6 4.5Z', fill='#595959')
                                        .tooltip__cont
                                            | abcd 1234
                                p.red-1.size-12 Bạn đã vượt quá hạn mức cho phép, vui lòng liên hệ quản lý
                                button.btn(type='button' onclick="location.href='flightCheckout4.html';") Tiếp tục

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.ticketInfo__tax .btnArrow').click(function () {
                $(this).parents('.ticketInfo__tax').toggleClass('open');
            });







