- var page = "flightCheckout2";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.flightCheckout
                    .vntStep
                        .vntStep__item.active
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt vé
                        .vntStep__item
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất
                    .vntCheckout
                        .holdResult
                            p.holdResult__title Kết quả giữ chỗ
                            .alert.alert_success
                                .alert__icon
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='#52C41A')
                                        path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z', fill='#52C41A')

                                .alert__text
                                    p.p1 Giữ chỗ thành công
                                    p.p2 Quý khách vui lòng thanh toán ngay để không bị mất vé đã giữ.
                            .alert.alert_success
                                .alert__icon
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='#52C41A')
                                        path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z', fill='#52C41A')

                                .alert__text
                                    p.p1 Giữ chỗ thành công 1/2 vé
                                    p.p2 Quý khách đã đặt vé chiều đi thành công. Để chắc chắn quý khách vui lòng hoàn tất việc thanh toán chiều đi truớc, sau đó tiến hành tìm kiếm và đặt lại vé chiều về.
                            .alert.alert_fail
                                .alert__icon
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M16.0646 8.31445C16.0646 8.21133 15.9802 8.12695 15.8771 8.12695L14.3303 8.13398L12.0006 10.9113L9.67324 8.13633L8.12402 8.1293C8.0209 8.1293 7.93652 8.21133 7.93652 8.3168C7.93652 8.36133 7.95293 8.40352 7.98105 8.43867L11.0303 12.0715L7.98105 15.702C7.95273 15.7363 7.93702 15.7793 7.93652 15.8238C7.93652 15.927 8.0209 16.0113 8.12402 16.0113L9.67324 16.0043L12.0006 13.227L14.3279 16.002L15.8748 16.009C15.9779 16.009 16.0623 15.927 16.0623 15.8215C16.0623 15.777 16.0459 15.7348 16.0177 15.6996L12.9732 12.0691L16.0224 8.43633C16.0506 8.40352 16.0646 8.35898 16.0646 8.31445Z', fill='#F5222D')
                                        path(d='M12 1.52344C6.20156 1.52344 1.5 6.225 1.5 12.0234C1.5 17.8219 6.20156 22.5234 12 22.5234C17.7984 22.5234 22.5 17.8219 22.5 12.0234C22.5 6.225 17.7984 1.52344 12 1.52344ZM12 20.7422C7.18594 20.7422 3.28125 16.8375 3.28125 12.0234C3.28125 7.20938 7.18594 3.30469 12 3.30469C16.8141 3.30469 20.7188 7.20938 20.7188 12.0234C20.7188 16.8375 16.8141 20.7422 12 20.7422Z', fill='#F5222D')

                                .alert__text
                                    p.p1 Giữ chỗ không thành công
                                    p.p2 Quý khách vui lòng quay lại trang tìm kiếm để tiến hành đặt vé lại. Thành thật xin lỗi về sự bất tiện này.
                        .flightList__active
                            .flightActive
                                .flightDest
                                    p.p1 Chuyến đi:
                                    p.p2 Hà Nội - Hồ Chí Minh
                                .flightTicket
                                    .flightTicket__info
                                        .flightTicket__logo
                                            img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                        .flightTicket__airline
                                            p VietJet Air Phổ thông
                                            p Airbus A320 - VJ505
                                        .flightTrip.flightTrip_lg
                                            .d-block
                                                p.p1 Hà Nội (HAN)
                                                p.p2 21:20 - 14/01/2020
                                            .d-svg
                                                p 2h10m
                                                svg(width='88', height='16', viewBox='0 0 88 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M41.3332 14.0002L42.6665 14.0002L45.9998 8.66683L49.6665 8.66683C50.2198 8.66683 50.6665 8.22016 50.6665 7.66683C50.6665 7.1135 50.2198 6.66683 49.6665 6.66683L45.9998 6.66683L42.6665 1.3335L41.3332 1.3335L42.9998 6.66683L39.3332 6.66683L38.3332 5.3335L37.3332 5.3335L37.9998 7.66683L37.3332 10.0002L38.3332 10.0002L39.3332 8.66683L42.9998 8.66683L41.3332 14.0002Z', fill='#D9D9D9')
                                                    circle(cx='25', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='29', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='33', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='13', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='17', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='21', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='55', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='59', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='63', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='79', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='83', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='87', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='67', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='71', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='75', cy='8', r='1', fill='#C4C4C4')

                                                p Bay thẳng
                                            .d-block
                                                p.p1 TP Hồ Chí Minh (SNG)
                                                p.p2 21:20 - 14/01/2020

                                        .flightTicket__price
                                            p.p2 3.502.000đ
                                        button.flightTicket__click(type='button')
                                            span Chi tiết
                                            svg(width='10', height='6', viewBox='0 0 10 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M9.35952 0H8.48062C8.42085 0 8.3646 0.0292969 8.32945 0.0773438L5.00015 4.66641L1.67085 0.0773438C1.6357 0.0292969 1.57945 0 1.51968 0H0.640773C0.564602 0 0.52007 0.0867189 0.564602 0.148828L4.69663 5.84531C4.84663 6.05156 5.15366 6.05156 5.30249 5.84531L9.43452 0.148828C9.48023 0.0867189 9.4357 0 9.35952 0Z', fill='#595959')

                                        .flightTicket__btn
                                            .status.status_lg.status_active VNTABCD
                                    .flightTicket__detail
                                        .flightTicket__trip
                                            .flightTrip.flightTrip_lg
                                                .d-block
                                                    p.p1 Hà Nội (HAN)
                                                    p.p2 21:20 - 14/01/2020
                                                .d-svg
                                                    p 2h10m
                                                    svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                        circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                    p Bay thẳng
                                                .d-block
                                                    p.p1 TP Hồ Chí Minh (SNG)
                                                    p.p2 21:20 - 14/01/2020

                                            .flightAirline
                                                .flightAirline__logo
                                                    img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                .flightAirline__cont
                                                    p Vietnamairline
                                                    p Chuyến bay: BL745
                                        .flightTicket__policy
                                            p.pTitle
                                                | Điều kiện về vé:
                                                span.blue-1 Phổ thông
                                            p.pLine
                                                span Thanh toán:
                                                span.red-1 Thanh toán ngay

                                            p.pLine
                                                span Hoàn vé:
                                                span Không được phép

                                            p.pLine
                                                span Đổi tên hành khách:
                                                span Được phép - Thu phí: 495.000₫ /Người/chặng

                                            p.pLine
                                                span Đổi hành trình:
                                                span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                            p.pLine
                                                span Đổi ngày giờ chuyến bay:
                                                span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                            p.pLine
                                                span Thời hạn thay đổi (bao gồm thay đổi ngày, chuyến bay)
                                                span Trước giờ khởi hành 12 tiếng.
                                            p.pTitle
                                                | Điều kiện hành lý
                                            p.pLine
                                                span Hành lý xách tay:
                                                span 07 Kg

                                            p.pLine
                                                span Hành lý ký gửi:
                                                span Vui lòng chọn ở bước sau
                                        .flightTicket__table
                                            table.table
                                                thead
                                                    tr
                                                        th Số lượng
                                                        th Giá mỗi vé
                                                        th.text-right Thuế và phí
                                                        th.text-right Tổng giá
                                                tbody
                                                    tr
                                                        td 06
                                                        td 380.000₫
                                                        td.text-right 0đ
                                                        td.blue-1.text-right.medium 2.280.000₫

                                            p.textNote
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M13.9327 12.375L7.43272 1.125C7.33584 0.957813 7.16866 0.875 6.99991 0.875C6.83116 0.875 6.66241 0.957813 6.56709 1.125L0.0670952 12.375C-0.125092 12.7094 0.115533 13.125 0.499908 13.125H13.4999C13.8843 13.125 14.1249 12.7094 13.9327 12.375ZM6.49991 5.5C6.49991 5.43125 6.55616 5.375 6.62491 5.375H7.37491C7.44366 5.375 7.49991 5.43125 7.49991 5.5V8.375C7.49991 8.44375 7.44366 8.5 7.37491 8.5H6.62491C6.55616 8.5 6.49991 8.44375 6.49991 8.375V5.5ZM6.99991 11C6.80365 10.996 6.61677 10.9152 6.47939 10.775C6.34201 10.6348 6.26506 10.4463 6.26506 10.25C6.26506 10.0537 6.34201 9.86522 6.47939 9.725C6.61677 9.58478 6.80365 9.50401 6.99991 9.5C7.19617 9.50401 7.38304 9.58478 7.52042 9.725C7.65781 9.86522 7.73475 10.0537 7.73475 10.25C7.73475 10.4463 7.65781 10.6348 7.52042 10.775C7.38304 10.9152 7.19617 10.996 6.99991 11Z', fill='#FA8C16')
                                                span Lưu ý: Đây là loại vé khuyến mại, bạn cần thực hiện thanh toán ngay đối với loại vé này
                                        .flightTicket__btn
                                            button.btn(type='button') Chọn


                            .flightActive
                                .flightDest
                                    p.p1 Chuyến về:
                                    p.p2 Hồ Chí Minh - Hà Nội
                                    p.p3
                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM7.5 10.375C7.5 10.4438 7.44375 10.5 7.375 10.5H6.625C6.55625 10.5 6.5 10.4438 6.5 10.375V6.125C6.5 6.05625 6.55625 6 6.625 6H7.375C7.44375 6 7.5 6.05625 7.5 6.125V10.375ZM7 5C6.80374 4.99599 6.61687 4.91522 6.47948 4.775C6.3421 4.63478 6.26515 4.4463 6.26515 4.25C6.26515 4.0537 6.3421 3.86522 6.47948 3.725C6.61687 3.58478 6.80374 3.50401 7 3.5C7.19626 3.50401 7.38313 3.58478 7.52052 3.725C7.6579 3.86522 7.73485 4.0537 7.73485 4.25C7.73485 4.4463 7.6579 4.63478 7.52052 4.775C7.38313 4.91522 7.19626 4.99599 7 5Z', fill='#FA8C16')
                                        span Giá đã thay đổi so với thời điểm đặt

                                .flightTicket
                                    .flightTicket__info
                                        .flightTicket__logo
                                            img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                        .flightTicket__airline
                                            p VietJet Air Phổ thông
                                            p Airbus A320 - VJ505
                                        .flightTrip.flightTrip_lg
                                            .d-block
                                                p.p1 TP Hồ Chí Minh (SNG)
                                                p.p2 21:20 - 14/01/2020
                                            .d-svg
                                                p 2h10m
                                                svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                    circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                p Bay thẳng
                                            .d-block
                                                p.p1 Hà Nội (HAN)
                                                p.p2 21:20 - 14/01/2020

                                        .flightTicket__price
                                            p.p1 4.000.000đ
                                            p.p2 3.502.000đ
                                        button.flightTicket__click(type='button')
                                            span Chi tiết
                                            svg(width='10', height='6', viewBox='0 0 10 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M9.35952 0H8.48062C8.42085 0 8.3646 0.0292969 8.32945 0.0773438L5.00015 4.66641L1.67085 0.0773438C1.6357 0.0292969 1.57945 0 1.51968 0H0.640773C0.564602 0 0.52007 0.0867189 0.564602 0.148828L4.69663 5.84531C4.84663 6.05156 5.15366 6.05156 5.30249 5.84531L9.43452 0.148828C9.48023 0.0867189 9.4357 0 9.35952 0Z', fill='#595959')

                                        .flightTicket__btn
                                            .status.status_lg.status_processing VNTABCD1234
                                    .flightTicket__detail
                                        .flightTicket__trip
                                            .flightTrip.flightTrip_lg
                                                .d-block
                                                    p.p1 Hà Nội (HAN)
                                                    p.p2 21:20 - 14/01/2020
                                                .d-svg
                                                    p 2h10m
                                                    svg(width='88', height='16', viewBox='0 0 88 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M41.3332 14.0002L42.6665 14.0002L45.9998 8.66683L49.6665 8.66683C50.2198 8.66683 50.6665 8.22016 50.6665 7.66683C50.6665 7.1135 50.2198 6.66683 49.6665 6.66683L45.9998 6.66683L42.6665 1.3335L41.3332 1.3335L42.9998 6.66683L39.3332 6.66683L38.3332 5.3335L37.3332 5.3335L37.9998 7.66683L37.3332 10.0002L38.3332 10.0002L39.3332 8.66683L42.9998 8.66683L41.3332 14.0002Z', fill='#D9D9D9')
                                                        circle(cx='25', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='29', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='33', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='13', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='17', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='21', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='55', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='59', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='63', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='79', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='83', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='87', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='67', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='71', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='75', cy='8', r='1', fill='#C4C4C4')

                                                    p Bay thẳng
                                                .d-block
                                                    p.p1 TP Hồ Chí Minh (SNG)
                                                    p.p2 21:20 - 14/01/2020

                                            .flightAirline
                                                .flightAirline__logo
                                                    img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                .flightAirline__cont
                                                    p Vietnamairline
                                                    p Chuyến bay: BL745
                                        .flightTicket__policy
                                            p.pTitle
                                                | Điều kiện về vé:
                                                span.blue-1 Phổ thông
                                            p.pLine
                                                span Thanh toán:
                                                span.red-1 Thanh toán ngay

                                            p.pLine
                                                span Hoàn vé:
                                                span Không được phép

                                            p.pLine
                                                span Đổi tên hành khách:
                                                span Được phép - Thu phí: 495.000₫ /Người/chặng

                                            p.pLine
                                                span Đổi hành trình:
                                                span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                            p.pLine
                                                span Đổi ngày giờ chuyến bay:
                                                span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                            p.pLine
                                                span Thời hạn thay đổi (bao gồm thay đổi ngày, chuyến bay)
                                                span Trước giờ khởi hành 12 tiếng.
                                            p.pTitle
                                                | Điều kiện hành lý
                                            p.pLine
                                                span Hành lý xách tay:
                                                span 07 Kg

                                            p.pLine
                                                span Hành lý ký gửi:
                                                span Vui lòng chọn ở bước sau
                                        .flightTicket__table
                                            table.table
                                                thead
                                                    tr
                                                        th Số lượng
                                                        th Giá mỗi vé
                                                        th.text-right Thuế và phí
                                                        th.text-right Tổng giá
                                                tbody
                                                    tr
                                                        td 06
                                                        td 380.000₫
                                                        td.text-right 0đ
                                                        td.blue-1.text-right.medium 2.280.000₫

                                            p.textNote
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M13.9327 12.375L7.43272 1.125C7.33584 0.957813 7.16866 0.875 6.99991 0.875C6.83116 0.875 6.66241 0.957813 6.56709 1.125L0.0670952 12.375C-0.125092 12.7094 0.115533 13.125 0.499908 13.125H13.4999C13.8843 13.125 14.1249 12.7094 13.9327 12.375ZM6.49991 5.5C6.49991 5.43125 6.55616 5.375 6.62491 5.375H7.37491C7.44366 5.375 7.49991 5.43125 7.49991 5.5V8.375C7.49991 8.44375 7.44366 8.5 7.37491 8.5H6.62491C6.55616 8.5 6.49991 8.44375 6.49991 8.375V5.5ZM6.99991 11C6.80365 10.996 6.61677 10.9152 6.47939 10.775C6.34201 10.6348 6.26506 10.4463 6.26506 10.25C6.26506 10.0537 6.34201 9.86522 6.47939 9.725C6.61677 9.58478 6.80365 9.50401 6.99991 9.5C7.19617 9.50401 7.38304 9.58478 7.52042 9.725C7.65781 9.86522 7.73475 10.0537 7.73475 10.25C7.73475 10.4463 7.65781 10.6348 7.52042 10.775C7.38304 10.9152 7.19617 10.996 6.99991 11Z', fill='#FA8C16')
                                                span Lưu ý: Đây là loại vé khuyến mại, bạn cần thực hiện thanh toán ngay đối với loại vé này
                                        .flightTicket__btn
                                            button.btn(type='button') Chọn


                            .flightActive
                                .flightDest
                                    p.p1 Chuyến đi:
                                    p.p2 Hà Nội - Hồ Chí Minh
                                .flightTicket
                                    .flightTicket__info
                                        .flightTicket__logo
                                            img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                        .flightTicket__airline
                                            p VietJet Air Phổ thông
                                            p Airbus A320 - VJ505
                                        .flightTrip.flightTrip_lg
                                            .d-block
                                                p.p1 Hà Nội (HAN)
                                                p.p2 21:20 - 14/01/2020
                                            .d-svg
                                                p 2h10m
                                                svg(width='88', height='16', viewBox='0 0 88 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M41.3332 14.0002L42.6665 14.0002L45.9998 8.66683L49.6665 8.66683C50.2198 8.66683 50.6665 8.22016 50.6665 7.66683C50.6665 7.1135 50.2198 6.66683 49.6665 6.66683L45.9998 6.66683L42.6665 1.3335L41.3332 1.3335L42.9998 6.66683L39.3332 6.66683L38.3332 5.3335L37.3332 5.3335L37.9998 7.66683L37.3332 10.0002L38.3332 10.0002L39.3332 8.66683L42.9998 8.66683L41.3332 14.0002Z', fill='#D9D9D9')
                                                    circle(cx='25', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='29', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='33', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='13', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='17', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='21', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='55', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='59', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='63', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='79', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='83', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='87', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='67', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='71', cy='8', r='1', fill='#C4C4C4')
                                                    circle(cx='75', cy='8', r='1', fill='#C4C4C4')

                                                p Bay thẳng
                                            .d-block
                                                p.p1 TP Hồ Chí Minh (SNG)
                                                p.p2 21:20 - 14/01/2020

                                        .flightTicket__price
                                            p.p2 3.502.000đ
                                        button.flightTicket__click(type='button')
                                            span Chi tiết
                                            svg(width='10', height='6', viewBox='0 0 10 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M9.35952 0H8.48062C8.42085 0 8.3646 0.0292969 8.32945 0.0773438L5.00015 4.66641L1.67085 0.0773438C1.6357 0.0292969 1.57945 0 1.51968 0H0.640773C0.564602 0 0.52007 0.0867189 0.564602 0.148828L4.69663 5.84531C4.84663 6.05156 5.15366 6.05156 5.30249 5.84531L9.43452 0.148828C9.48023 0.0867189 9.4357 0 9.35952 0Z', fill='#595959')

                                        .flightTicket__btn
                                            .status.status_lg.status_cancel Thất bại
                                    .flightTicket__detail
                                        .flightTicket__trip
                                            .flightTrip.flightTrip_lg
                                                .d-block
                                                    p.p1 Hà Nội (HAN)
                                                    p.p2 21:20 - 14/01/2020
                                                .d-svg
                                                    p 2h10m
                                                    svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                        circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                        circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                    p Bay thẳng
                                                .d-block
                                                    p.p1 TP Hồ Chí Minh (SNG)
                                                    p.p2 21:20 - 14/01/2020

                                            .flightAirline
                                                .flightAirline__logo
                                                    img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                .flightAirline__cont
                                                    p Vietnamairline
                                                    p Chuyến bay: BL745
                                        .flightTicket__policy
                                            p.pTitle
                                                | Điều kiện về vé:
                                                span.blue-1 Phổ thông
                                            p.pLine
                                                span Thanh toán:
                                                span.red-1 Thanh toán ngay

                                            p.pLine
                                                span Hoàn vé:
                                                span Không được phép

                                            p.pLine
                                                span Đổi tên hành khách:
                                                span Được phép - Thu phí: 495.000₫ /Người/chặng

                                            p.pLine
                                                span Đổi hành trình:
                                                span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                            p.pLine
                                                span Đổi ngày giờ chuyến bay:
                                                span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                            p.pLine
                                                span Thời hạn thay đổi (bao gồm thay đổi ngày, chuyến bay)
                                                span Trước giờ khởi hành 12 tiếng.
                                            p.pTitle
                                                | Điều kiện hành lý
                                            p.pLine
                                                span Hành lý xách tay:
                                                span 07 Kg

                                            p.pLine
                                                span Hành lý ký gửi:
                                                span Vui lòng chọn ở bước sau
                                        .flightTicket__table
                                            table.table
                                                thead
                                                    tr
                                                        th Số lượng
                                                        th Giá mỗi vé
                                                        th.text-right Thuế và phí
                                                        th.text-right Tổng giá
                                                tbody
                                                    tr
                                                        td 06
                                                        td 380.000₫
                                                        td.text-right 0đ
                                                        td.blue-1.text-right.medium 2.280.000₫

                                            p.textNote
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M13.9327 12.375L7.43272 1.125C7.33584 0.957813 7.16866 0.875 6.99991 0.875C6.83116 0.875 6.66241 0.957813 6.56709 1.125L0.0670952 12.375C-0.125092 12.7094 0.115533 13.125 0.499908 13.125H13.4999C13.8843 13.125 14.1249 12.7094 13.9327 12.375ZM6.49991 5.5C6.49991 5.43125 6.55616 5.375 6.62491 5.375H7.37491C7.44366 5.375 7.49991 5.43125 7.49991 5.5V8.375C7.49991 8.44375 7.44366 8.5 7.37491 8.5H6.62491C6.55616 8.5 6.49991 8.44375 6.49991 8.375V5.5ZM6.99991 11C6.80365 10.996 6.61677 10.9152 6.47939 10.775C6.34201 10.6348 6.26506 10.4463 6.26506 10.25C6.26506 10.0537 6.34201 9.86522 6.47939 9.725C6.61677 9.58478 6.80365 9.50401 6.99991 9.5C7.19617 9.50401 7.38304 9.58478 7.52042 9.725C7.65781 9.86522 7.73475 10.0537 7.73475 10.25C7.73475 10.4463 7.65781 10.6348 7.52042 10.775C7.38304 10.9152 7.19617 10.996 6.99991 11Z', fill='#FA8C16')
                                                span Lưu ý: Đây là loại vé khuyến mại, bạn cần thực hiện thanh toán ngay đối với loại vé này
                                        .flightTicket__btn
                                            button.btn(type='button') Chọn


                            .flightTotal
                                button.btn.btn_outline.btnBack(type='button' onclick="location.href='flightList.html';") Quay lại trang đặt vé
                                .flightTotal__price
                                    p.p1
                                        | Tổng tiền tạm tính:
                                        span 401.822.404 ₫
                                    p.p2 Đã bao gồm thuế phí
                                .flightTotal__btn
                                    button.btn(type='button' onclick="location.href='flightCheckout3.html';") Đặt chỗ

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.ticketInfo__tax .btnArrow').click(function () {
                $(this).parents('.ticketInfo__tax').toggleClass('open');
            });
        script.
            function close_accordion() {
                $('.flightTicket.open').removeClass('open');
                $('.flightTicket__click span').text('Chi tiết');
            };

            $(".flightTicket__click").click(function () {
                var formCollapse = $(this).parents('.flightTicket');
                var $this = $(this).find('span');
                if (formCollapse.is('.open')) {
                    close_accordion();
                    $this.text('Chi tiết');
                } else {
                    close_accordion();
                    formCollapse.addClass('open');
                    $this.text('Ẩn');
                }
            });







