- var page = "flightCheckout3";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.flightCheckout3
                    .vntStep
                        .vntStep__item.visited
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt vé
                        .vntStep__item.active
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất
                    .vntCheckout
                        .vntCheckout__left
                            h2.heading2 Hướng dẫn chuyển khoản
                            .vntCheckout__box
                                p.pTitle Chọn ngân hàng
                                ul.listBank
                                    li.listBank__item.active
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/mbbank.png')
                                            p MBbank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/sacombank.png')
                                            p Sacombank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/techcombank.png')
                                            p Techcombank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/agribank.png')
                                            p Agribank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/bidv.png')
                                            p BIDV
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/vpbank.png')
                                            p VPBank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/viettinbank.png')
                                            p Vietinbank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')

                                    li.listBank__item
                                        button.listBank__btn(type='button')
                                            img(src='https://statics.vntrip.vn/images/logo/vietcombank.png')
                                            p Vietcombank
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5Z', fill='#FA8C16')
                                                path(d='M16.3831 8.27344H15.2839C15.0449 8.27344 14.8175 8.38828 14.6769 8.58516L10.9925 13.6945L9.32374 11.3789C9.18311 11.1844 8.95811 11.0672 8.71671 11.0672H7.61748C7.46514 11.0672 7.37608 11.2406 7.46514 11.3648L10.3855 15.4148C10.4545 15.5111 10.5454 15.5896 10.6508 15.6437C10.7561 15.6978 10.8729 15.7261 10.9913 15.7261C11.1098 15.7261 11.2265 15.6978 11.3319 15.6437C11.4373 15.5896 11.5282 15.5111 11.5972 15.4148L16.5331 8.57109C16.6245 8.44688 16.5355 8.27344 16.3831 8.27344Z', fill='white')


                                p.pTitle Vui lòng chuyển khoản theo thông tin
                                .bankInfo
                                    ul.bankInfo__list
                                        li
                                            p.p1 Số tài khoản:
                                            p.p2
                                                | 126940386
                                                button.btnCopy(type='button')
                                                    svg(width='12', height='14', viewBox='0 0 12 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M11 0H2.625C2.55625 0 2.5 0.05625 2.5 0.125V1C2.5 1.06875 2.55625 1.125 2.625 1.125H10.375V11.875C10.375 11.9438 10.4312 12 10.5 12H11.375C11.4438 12 11.5 11.9438 11.5 11.875V0.5C11.5 0.223437 11.2766 0 11 0ZM9 2H1C0.723437 2 0.5 2.22344 0.5 2.5V10.7922C0.5 10.925 0.553125 11.0516 0.646875 11.1453L3.35469 13.8531C3.38906 13.8875 3.42813 13.9156 3.47031 13.9391V13.9688H3.53594C3.59062 13.9891 3.64844 14 3.70781 14H9C9.27656 14 9.5 13.7766 9.5 13.5V2.5C9.5 2.22344 9.27656 2 9 2ZM3.46875 12.3781L2.12344 11.0312H3.46875V12.3781ZM8.375 12.875H4.46875V10.6562C4.46875 10.3109 4.18906 10.0312 3.84375 10.0312H1.625V3.125H8.375V12.875Z', fill='#595959')

                                        li
                                            p.p1 Ngân hàng:
                                            p.p2
                                                | VPBank – Ngân hàng Việt Nam Thịnh Vượng

                                        li
                                            p.p1 Chi nhánh:
                                            p.p2
                                                | Hà Thành

                                        li
                                            p.p1 Tên chủ tài khoản:
                                            p.p2
                                                | Công ty TNHH VNTRIP OTA

                                        li
                                            p.p1 Nội dung chuyển khoản:
                                            p.p2
                                                | VNTRIP2020C0VUZ
                                                button.btnCopy(type='button')
                                                    svg(width='12', height='14', viewBox='0 0 12 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M11 0H2.625C2.55625 0 2.5 0.05625 2.5 0.125V1C2.5 1.06875 2.55625 1.125 2.625 1.125H10.375V11.875C10.375 11.9438 10.4312 12 10.5 12H11.375C11.4438 12 11.5 11.9438 11.5 11.875V0.5C11.5 0.223437 11.2766 0 11 0ZM9 2H1C0.723437 2 0.5 2.22344 0.5 2.5V10.7922C0.5 10.925 0.553125 11.0516 0.646875 11.1453L3.35469 13.8531C3.38906 13.8875 3.42813 13.9156 3.47031 13.9391V13.9688H3.53594C3.59062 13.9891 3.64844 14 3.70781 14H9C9.27656 14 9.5 13.7766 9.5 13.5V2.5C9.5 2.22344 9.27656 2 9 2ZM3.46875 12.3781L2.12344 11.0312H3.46875V12.3781ZM8.375 12.875H4.46875V10.6562C4.46875 10.3109 4.18906 10.0312 3.84375 10.0312H1.625V3.125H8.375V12.875Z', fill='#595959')
                                    .bankInfo__flex
                                        .bankInfo__price
                                            span.span1 Số tiền bạn cần phải chuyển khoản
                                            span.span2 16.000.000 ₫
                                        .bankInfo__btn
                                            button.btn.btn_lg(type='button' onclick="location.href='flightCheckout4.html';") Tôi đã thanh toán xong
                                    p.bankInfo__note
                                        strong LƯU Ý!
                                        | Chuyển số tiền chính xác 16.000.000₫ trong mọi trường hợp
                        .vntCheckout__right
                            .flightInfo
                                p.flightPlace
                                    span Hà Nội
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.4 0.862793L1 3.22615L3.4 5.58951', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.6 3.22607H1', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.5996 7.95166L12.9996 10.315L10.5996 12.6784', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M3.40039 10.3154H13.0004', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                                    span TP Hồ Chí Minh
                                .dateInput
                                    label(for='date') Ngày đi / ngày về
                                    .input-inline
                                        input.form-control(type='text' value='25/12/2019 – 31/12/2019 (5 đêm)' name='date' id='date')
                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')

                                .ticketInfo
                                    p.ticketInfo__title Chiều đi: Từ Hà Nội (HAN)
                                    .ticketInfo__box
                                        p.p1 7:20 - Thứ 4, 25/12/2019
                                        p.p2 Bamboo Airways (QL245) - 2h20m
                                        ul
                                            li
                                                span.span1 Giá vé:
                                                span.span2 6 x 1.200.000 ₫
                                            li
                                                span.span1 Hành lý:
                                                span.span2 250.000 ₫
                                            li.liPrice
                                                span.span1.medium Tổng đi
                                                span.span2.blue-1.medium 6.000.000 ₫
                                    p.ticketInfo__title Chiều về: Từ TP Hồ Chí Minh (SGN)
                                    .ticketInfo__box
                                        p.p1 7:20 - Thứ 4, 25/12/2019
                                        p.p2 Bamboo Airways (QL245) - 2h20m
                                        ul
                                            li
                                                span.span1 Giá vé:
                                                span.span2 6 x 1.200.000 ₫
                                            li
                                                span.span1 Hành lý:
                                                span.span2 250.000 ₫
                                            li.liPrice
                                                span.span1.medium Tổng về
                                                span.span2.blue-1.medium 6.000.000 ₫
                                    .ticketInfo__tax
                                        p.ticketInfo__title
                                            span Thuế và phí khác
                                            span.medium
                                                | 4.000.000 ₫
                                                button.btnArrow(type='button')
                                                    svg(width='9', height='12', viewBox='0 0 9 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M7.96405 5.60637L0.920313 0.104809C0.901908 0.0903191 0.879788 0.081314 0.856495 0.0788282C0.833203 0.0763424 0.809681 0.0804768 0.788632 0.0907565C0.767583 0.101036 0.749861 0.117045 0.7375 0.136943C0.725139 0.156841 0.71864 0.179822 0.718751 0.203247V1.41106C0.718751 1.48762 0.754689 1.56106 0.814064 1.60793L6.43905 6.00012L0.814064 10.3923C0.753126 10.4392 0.718751 10.5126 0.718751 10.5892V11.797C0.718751 11.9017 0.839063 11.9595 0.920313 11.8954L7.96405 6.39387C8.02391 6.34717 8.07234 6.28744 8.10565 6.21921C8.13896 6.15098 8.15628 6.07605 8.15628 6.00012C8.15628 5.92419 8.13896 5.84927 8.10565 5.78104C8.07234 5.71281 8.02391 5.65307 7.96405 5.60637Z', fill='black')

                                        .ticketInfo__box
                                            ul
                                                li
                                                    span.span1 Thuế giá trị gia tăng:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phí soi chiếu an ninh:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phí dịch vụ chặng nội địa:
                                                    span.span2 250.000 ₫
                                                li
                                                    span.span1 Phụ thu quản trị hệ thống:
                                                    span.span2 250.000 ₫
                                .flightInfo__price
                                    p.p1 Tổng cộng
                                    p.p2 401.822.404 ₫

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.ticketInfo__tax .btnArrow').click(function () {
                $(this).parents('.ticketInfo__tax').toggleClass('open');
            });







