- var page = "hotelCheckout1";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.hotelCheckout1
                    .vntStep
                        .vntStep__item.active
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt phòng
                        .vntStep__item
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất
                    .vntCheckout
                        .vntCheckout__left
                            h2.heading2 Thông tin người đặt
                            .vntCheckout__box
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Chi nhánh:
                                            span Vntrip Hà Nội

                                        li
                                            span Số điện thoại:
                                            span +84 982 433361

                                        li
                                            span Phòng ban:
                                            span TECH

                                        li
                                            span Chức vụ:
                                            span Designer

                            h2.heading2 Thông tin người nhận
                            .vntCheckout__box
                                .checkinInfo
                                    p.checkinInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn

                                        li
                                            span Số điện thoại:
                                            span +84 982 433361

                                        li
                                            span Chức vụ:
                                            span Designer
                                    button(type='button' data-toggle="modal" data-target="#memberPopup")
                                        svg(width='12', height='14', viewBox='0 0 12 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M11.4141 10.9312C11.1194 10.2331 10.6916 9.59891 10.1547 9.06406C9.61947 8.52767 8.9854 8.10001 8.28754 7.80469C8.28129 7.80156 8.27504 7.8 8.26879 7.79688C9.24223 7.09375 9.87504 5.94844 9.87504 4.65625C9.87504 2.51562 8.14066 0.78125 6.00004 0.78125C3.85941 0.78125 2.12504 2.51562 2.12504 4.65625C2.12504 5.94844 2.75785 7.09375 3.73129 7.79844C3.72504 7.80156 3.71879 7.80312 3.71254 7.80625C3.01254 8.10156 2.38441 8.525 1.84535 9.06563C1.30896 9.60089 0.881296 10.235 0.585977 10.9328C0.295855 11.616 0.139386 12.3485 0.125039 13.0906C0.124622 13.1073 0.127547 13.1239 0.133642 13.1394C0.139737 13.1549 0.148878 13.1691 0.160527 13.181C0.172176 13.193 0.186098 13.2025 0.201471 13.2089C0.216844 13.2154 0.233358 13.2188 0.250039 13.2188H1.18754C1.25629 13.2188 1.31098 13.1641 1.31254 13.0969C1.34379 11.8906 1.82816 10.7609 2.68441 9.90469C3.57035 9.01875 4.74691 8.53125 6.00004 8.53125C7.25316 8.53125 8.42973 9.01875 9.31566 9.90469C10.1719 10.7609 10.6563 11.8906 10.6875 13.0969C10.6891 13.1656 10.7438 13.2188 10.8125 13.2188H11.75C11.7667 13.2188 11.7832 13.2154 11.7986 13.2089C11.814 13.2025 11.8279 13.193 11.8396 13.181C11.8512 13.1691 11.8603 13.1549 11.8664 13.1394C11.8725 13.1239 11.8755 13.1073 11.875 13.0906C11.8594 12.3438 11.7047 11.6172 11.4141 10.9312ZM6.00004 7.34375C5.28285 7.34375 4.60785 7.06406 4.10004 6.55625C3.59223 6.04844 3.31254 5.37344 3.31254 4.65625C3.31254 3.93906 3.59223 3.26406 4.10004 2.75625C4.60785 2.24844 5.28285 1.96875 6.00004 1.96875C6.71723 1.96875 7.39223 2.24844 7.90004 2.75625C8.40785 3.26406 8.68754 3.93906 8.68754 4.65625C8.68754 5.37344 8.40785 6.04844 7.90004 6.55625C7.39223 7.06406 6.71723 7.34375 6.00004 7.34375Z', fill='#096DD9')
                                        span Thay đổi người nhận phòng
                            .vntCheckout__box
                                button#addNote.btnLink(type='button')
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM10 7.375C10 7.44375 9.94375 7.5 9.875 7.5H7.5V9.875C7.5 9.94375 7.44375 10 7.375 10H6.625C6.55625 10 6.5 9.94375 6.5 9.875V7.5H4.125C4.05625 7.5 4 7.44375 4 7.375V6.625C4 6.55625 4.05625 6.5 4.125 6.5H6.5V4.125C6.5 4.05625 6.55625 4 6.625 4H7.375C7.44375 4 7.5 4.05625 7.5 4.125V6.5H9.875C9.94375 6.5 10 6.55625 10 6.625V7.375Z', fill='#096DD9')
                                    span Thêm ghi chú
                                .formText
                                    label Thêm Ghi chú
                                    textarea.form-control(placeholder='Ghi chú...')
                                    .btnInline.mt-15
                                        button.btn(type='button') Thêm ghi chú
                                        button.btn.btn_outline(type='button') Hủy bỏ
                            h2.heading2 Thông tin người ở
                            .vntCheckout__box
                                .roomInfo
                                    .roomInfo__group
                                        p.roomInfo__title Deluxe Twin With Balcony
                                        .form-group
                                            label Yêu cầu giường
                                            .roomInfo__radio
                                                .radio
                                                    input(type='radio' id='bed1' name='bed')
                                                    label(for='bed1') Giường King (Đơn to) – Kích thước 200x200
                                                .radio
                                                    input(type='radio' id='bed2' name='bed')
                                                    label(for='bed2') Giường đôi – Kích thước 400x400
                                        .roomInfo__item
                                            p.p1 Phòng 1
                                            button.roomInfo__btn(type='button' data-toggle="modal" data-target="#memberPopup3")
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM10 7.375C10 7.44375 9.94375 7.5 9.875 7.5H7.5V9.875C7.5 9.94375 7.44375 10 7.375 10H6.625C6.55625 10 6.5 9.94375 6.5 9.875V7.5H4.125C4.05625 7.5 4 7.44375 4 7.375V6.625C4 6.55625 4.05625 6.5 4.125 6.5H6.5V4.125C6.5 4.05625 6.55625 4 6.625 4H7.375C7.44375 4 7.5 4.05625 7.5 4.125V6.5H9.875C9.94375 6.5 10 6.55625 10 6.625V7.375Z', fill='#096DD9')
                                                span Thêm người ở
                                        .roomInfo__item
                                            p.p1 Phòng 2
                                            button.roomInfo__btn(type='button' data-toggle="modal" data-target="#memberPopup3")
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM10 7.375C10 7.44375 9.94375 7.5 9.875 7.5H7.5V9.875C7.5 9.94375 7.44375 10 7.375 10H6.625C6.55625 10 6.5 9.94375 6.5 9.875V7.5H4.125C4.05625 7.5 4 7.44375 4 7.375V6.625C4 6.55625 4.05625 6.5 4.125 6.5H6.5V4.125C6.5 4.05625 6.55625 4 6.625 4H7.375C7.44375 4 7.5 4.05625 7.5 4.125V6.5H9.875C9.94375 6.5 10 6.55625 10 6.625V7.375Z', fill='#096DD9')
                                                span Thêm người ở
                                    .roomInfo__group
                                        p.roomInfo__title Deluxe Twin With Balcony
                                        .form-group
                                            label Yêu cầu giường
                                            .roomInfo__radio
                                                .radio
                                                    input(type='radio' id='bed3' name='bed')
                                                    label(for='bed3') Giường King (Đơn to) – Kích thước 200x200
                                                .radio
                                                    input(type='radio' id='bed4' name='bed')
                                                    label(for='bed4') Giường đôi – Kích thước 400x400
                                        .roomInfo__item
                                            p.p1 Phòng 3
                                            button.roomInfo__btn(type='button' data-toggle="modal" data-target="#memberPopup3")
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM10 7.375C10 7.44375 9.94375 7.5 9.875 7.5H7.5V9.875C7.5 9.94375 7.44375 10 7.375 10H6.625C6.55625 10 6.5 9.94375 6.5 9.875V7.5H4.125C4.05625 7.5 4 7.44375 4 7.375V6.625C4 6.55625 4.05625 6.5 4.125 6.5H6.5V4.125C6.5 4.05625 6.55625 4 6.625 4H7.375C7.44375 4 7.5 4.05625 7.5 4.125V6.5H9.875C9.94375 6.5 10 6.55625 10 6.625V7.375Z', fill='#096DD9')
                                                span Thêm người ở
                                            .vntMember__table
                                                table.table
                                                    thead
                                                        tr
                                                            th Họ và tên
                                                            th Chi nhánh & bộ phận
                                                            th Chức vụ
                                                            th Hành động
                                                    tbody
                                                        tr
                                                            td
                                                                p.p1 Nguyễn Thanh Tuấn
                                                                p.p2 nguyenvana@gmail.com | 0982433361


                                                            td
                                                                p.p1 be Sài Gòn
                                                                p.p2 Product

                                                            td
                                                                p.p1 Product Designer
                                                            td.text-center
                                                                button.btnSvg(type='button')
                                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')


                                                        tr
                                                            td
                                                                p.p1 Nguyễn Thanh Tuấn
                                                                p.p2 nguyenvana@gmail.com | 0982433361


                                                            td
                                                                p.p1 be Sài Gòn
                                                                p.p2 Product

                                                            td
                                                                p.p1 Product Designer
                                                            td.text-center
                                                                button.btnSvg(type='button')
                                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')


                                                        tr
                                                            td
                                                                p.p1 Nguyễn Thanh Tuấn
                                                                p.p2 nguyenvana@gmail.com | 0982433361


                                                            td
                                                                p.p1 be Sài Gòn
                                                                p.p2 Product

                                                            td
                                                                p.p1 Product Designer
                                                            td.text-center
                                                                button.btnSvg(type='button')
                                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                        .roomInfo__item
                                            p.p1 Phòng 4
                                            button.roomInfo__btn(type='button' data-toggle="modal" data-target="#memberPopup3")
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM10 7.375C10 7.44375 9.94375 7.5 9.875 7.5H7.5V9.875C7.5 9.94375 7.44375 10 7.375 10H6.625C6.55625 10 6.5 9.94375 6.5 9.875V7.5H4.125C4.05625 7.5 4 7.44375 4 7.375V6.625C4 6.55625 4.05625 6.5 4.125 6.5H6.5V4.125C6.5 4.05625 6.55625 4 6.625 4H7.375C7.44375 4 7.5 4.05625 7.5 4.125V6.5H9.875C9.94375 6.5 10 6.55625 10 6.625V7.375Z', fill='#096DD9')
                                                span Thêm người ở
                        .vntCheckout__right
                            .hotelInfo
                                .rateStar
                                    span
                                        | Khách sạn
                                        strong 3
                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')

                                h4.heading4 Pullman Sài Gòn Centre
                                .hotelAddr
                                    svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 10.3594C3.59297 10.3594 1.64062 8.40703 1.64062 6C1.64062 3.59297 3.59297 1.64062 6 1.64062C8.40703 1.64062 10.3594 3.59297 10.3594 6C10.3594 8.40703 8.40703 10.3594 6 10.3594ZM8.325 3.46758C8.27911 3.44964 8.23013 3.44093 8.18086 3.44194C8.1316 3.44294 8.08302 3.45365 8.03789 3.47344L4.86211 4.86328L3.47344 8.03906C3.43125 8.13516 3.43125 8.24414 3.47344 8.34023C3.51328 8.43164 3.58711 8.50313 3.68086 8.53945C3.72539 8.55703 3.77109 8.56523 3.81797 8.56523C3.86953 8.56523 3.91992 8.55469 3.96797 8.53359L7.14375 7.14375L8.53242 3.96797C8.55268 3.92162 8.56338 3.87166 8.56386 3.82108C8.56435 3.7705 8.55461 3.72034 8.53524 3.67361C8.51587 3.62689 8.48727 3.58455 8.45114 3.54915C8.41501 3.51374 8.37211 3.486 8.325 3.46758ZM6.75937 6.2625L7.06641 6.56953L6.56953 7.06641L6.2625 6.75937L4.45312 7.55156L5.24414 5.74219L4.94531 5.44219L5.44219 4.94531L5.74102 5.24414L7.55156 4.45312L6.75937 6.2625ZM5.44219 4.94531L4.94531 5.44219L5.24414 5.74219L6.2625 6.75937L6.56953 7.06641L7.06641 6.56953L6.75937 6.2625L5.74219 5.24414L5.44219 4.94531Z', fill='#096DD9')
                                    .hotelAddr__text
                                        button(type='button') 03 Cao Thắng, ph12, Q.10, Hồ Chí Minh

                                .dateInput
                                    label(for='date') Ngày nhận phòng / trả phòng
                                    .input-inline
                                        input.form-control(type='text' value='25/12/2019 – 31/12/2019 (5 đêm)' name='date' id='date')
                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')

                                .roomType
                                    p.roomType__title Loại phòng
                                    ul
                                        li
                                            .d-flex
                                                p.p1
                                                    | x1 – Deluxe Twin With Balcony
                                                    span (Giường đơn, giường trẻ em)
                                                p.p2 100.455.606 ₫
                                            .roomItem__policy
                                                .iconText.iconText_green
                                                    svg(width='16', height='19', viewBox='0 0 16 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M15.3675 3.84441L12.5214 6.69044H10.0508L12.0238 4.71742H5.88651C3.87857 4.71742 2.24603 6.34996 2.24603 8.3579V11.6762H0.5V8.3579C0.5 5.38091 2.91825 2.97139 5.88651 2.97139H12.0238L9.88492 0.833374H12.3556L15.3675 3.84441Z', fill='#389E0D', stroke='white', stroke-width='0.25')
                                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M15.3675 7.95618V11.2736C15.3675 14.2419 12.9579 16.6601 9.98095 16.6601H3.83492L5.98254 18.799H3.50317L0.5 15.7871L3.34603 12.9411H5.80794L3.83492 14.9141H9.98095C11.9889 14.9141 13.6214 13.2824 13.6214 11.2736V7.95618H15.3675Z', fill='#389E0D', stroke='white', stroke-width='0.25')

                                                    span
                                                        | Miễn phí hủy phòng
                                                        .tooltip
                                                            svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 9.04688C5.74102 9.04688 5.53125 8.83711 5.53125 8.57812C5.53125 8.31914 5.74102 8.10938 6 8.10938C6.25898 8.10938 6.46875 8.31914 6.46875 8.57812C6.46875 8.83711 6.25898 9.04688 6 9.04688ZM6.73711 6.47461C6.63098 6.51559 6.53967 6.5876 6.47507 6.68125C6.41048 6.7749 6.37561 6.88585 6.375 6.99961V7.26562C6.375 7.31719 6.33281 7.35938 6.28125 7.35938H5.71875C5.66719 7.35938 5.625 7.31719 5.625 7.26562V7.01367C5.625 6.74297 5.70352 6.47578 5.8582 6.25312C6.00938 6.03516 6.22031 5.86875 6.46875 5.77383C6.86719 5.62031 7.125 5.28633 7.125 4.92188C7.125 4.40508 6.61992 3.98438 6 3.98438C5.38008 3.98438 4.875 4.40508 4.875 4.92188V5.01094C4.875 5.0625 4.83281 5.10469 4.78125 5.10469H4.21875C4.16719 5.10469 4.125 5.0625 4.125 5.01094V4.92188C4.125 4.46133 4.32656 4.03125 4.69219 3.71133C5.04375 3.40313 5.50781 3.23438 6 3.23438C6.49219 3.23438 6.95625 3.4043 7.30781 3.71133C7.67344 4.03125 7.875 4.46133 7.875 4.92188C7.875 5.59922 7.42852 6.20859 6.73711 6.47461Z', fill='#8C8C8C')

                                                            .tooltip__cont
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                                .iconText.iconText_green
                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#389E0D')

                                                    span
                                                        | Áp dụng đổi lịch
                                                        .tooltip
                                                            svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 9.04688C5.74102 9.04688 5.53125 8.83711 5.53125 8.57812C5.53125 8.31914 5.74102 8.10938 6 8.10938C6.25898 8.10938 6.46875 8.31914 6.46875 8.57812C6.46875 8.83711 6.25898 9.04688 6 9.04688ZM6.73711 6.47461C6.63098 6.51559 6.53967 6.5876 6.47507 6.68125C6.41048 6.7749 6.37561 6.88585 6.375 6.99961V7.26562C6.375 7.31719 6.33281 7.35938 6.28125 7.35938H5.71875C5.66719 7.35938 5.625 7.31719 5.625 7.26562V7.01367C5.625 6.74297 5.70352 6.47578 5.8582 6.25312C6.00938 6.03516 6.22031 5.86875 6.46875 5.77383C6.86719 5.62031 7.125 5.28633 7.125 4.92188C7.125 4.40508 6.61992 3.98438 6 3.98438C5.38008 3.98438 4.875 4.40508 4.875 4.92188V5.01094C4.875 5.0625 4.83281 5.10469 4.78125 5.10469H4.21875C4.16719 5.10469 4.125 5.0625 4.125 5.01094V4.92188C4.125 4.46133 4.32656 4.03125 4.69219 3.71133C5.04375 3.40313 5.50781 3.23438 6 3.23438C6.49219 3.23438 6.95625 3.4043 7.30781 3.71133C7.67344 4.03125 7.875 4.46133 7.875 4.92188C7.875 5.59922 7.42852 6.20859 6.73711 6.47461Z', fill='#8C8C8C')

                                                            .tooltip__cont
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                        li
                                            .d-flex
                                                p.p1
                                                    | x1 – Deluxe Twin With Balcony
                                                    span (Giường đơn, giường trẻ em)
                                                p.p2 100.455.606 ₫
                                            .roomItem__policy
                                                .iconText.iconText_green
                                                    svg(width='16', height='19', viewBox='0 0 16 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M15.3675 3.84441L12.5214 6.69044H10.0508L12.0238 4.71742H5.88651C3.87857 4.71742 2.24603 6.34996 2.24603 8.3579V11.6762H0.5V8.3579C0.5 5.38091 2.91825 2.97139 5.88651 2.97139H12.0238L9.88492 0.833374H12.3556L15.3675 3.84441Z', fill='#389E0D', stroke='white', stroke-width='0.25')
                                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M15.3675 7.95618V11.2736C15.3675 14.2419 12.9579 16.6601 9.98095 16.6601H3.83492L5.98254 18.799H3.50317L0.5 15.7871L3.34603 12.9411H5.80794L3.83492 14.9141H9.98095C11.9889 14.9141 13.6214 13.2824 13.6214 11.2736V7.95618H15.3675Z', fill='#389E0D', stroke='white', stroke-width='0.25')

                                                    span
                                                        | Miễn phí hủy phòng
                                                        .tooltip
                                                            svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 9.04688C5.74102 9.04688 5.53125 8.83711 5.53125 8.57812C5.53125 8.31914 5.74102 8.10938 6 8.10938C6.25898 8.10938 6.46875 8.31914 6.46875 8.57812C6.46875 8.83711 6.25898 9.04688 6 9.04688ZM6.73711 6.47461C6.63098 6.51559 6.53967 6.5876 6.47507 6.68125C6.41048 6.7749 6.37561 6.88585 6.375 6.99961V7.26562C6.375 7.31719 6.33281 7.35938 6.28125 7.35938H5.71875C5.66719 7.35938 5.625 7.31719 5.625 7.26562V7.01367C5.625 6.74297 5.70352 6.47578 5.8582 6.25312C6.00938 6.03516 6.22031 5.86875 6.46875 5.77383C6.86719 5.62031 7.125 5.28633 7.125 4.92188C7.125 4.40508 6.61992 3.98438 6 3.98438C5.38008 3.98438 4.875 4.40508 4.875 4.92188V5.01094C4.875 5.0625 4.83281 5.10469 4.78125 5.10469H4.21875C4.16719 5.10469 4.125 5.0625 4.125 5.01094V4.92188C4.125 4.46133 4.32656 4.03125 4.69219 3.71133C5.04375 3.40313 5.50781 3.23438 6 3.23438C6.49219 3.23438 6.95625 3.4043 7.30781 3.71133C7.67344 4.03125 7.875 4.46133 7.875 4.92188C7.875 5.59922 7.42852 6.20859 6.73711 6.47461Z', fill='#8C8C8C')

                                                            .tooltip__cont
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                                .iconText.iconText_green
                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#389E0D')

                                                    span
                                                        | Áp dụng đổi lịch
                                                        .tooltip
                                                            svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 9.04688C5.74102 9.04688 5.53125 8.83711 5.53125 8.57812C5.53125 8.31914 5.74102 8.10938 6 8.10938C6.25898 8.10938 6.46875 8.31914 6.46875 8.57812C6.46875 8.83711 6.25898 9.04688 6 9.04688ZM6.73711 6.47461C6.63098 6.51559 6.53967 6.5876 6.47507 6.68125C6.41048 6.7749 6.37561 6.88585 6.375 6.99961V7.26562C6.375 7.31719 6.33281 7.35938 6.28125 7.35938H5.71875C5.66719 7.35938 5.625 7.31719 5.625 7.26562V7.01367C5.625 6.74297 5.70352 6.47578 5.8582 6.25312C6.00938 6.03516 6.22031 5.86875 6.46875 5.77383C6.86719 5.62031 7.125 5.28633 7.125 4.92188C7.125 4.40508 6.61992 3.98438 6 3.98438C5.38008 3.98438 4.875 4.40508 4.875 4.92188V5.01094C4.875 5.0625 4.83281 5.10469 4.78125 5.10469H4.21875C4.16719 5.10469 4.125 5.0625 4.125 5.01094V4.92188C4.125 4.46133 4.32656 4.03125 4.69219 3.71133C5.04375 3.40313 5.50781 3.23438 6 3.23438C6.49219 3.23438 6.95625 3.4043 7.30781 3.71133C7.67344 4.03125 7.875 4.46133 7.875 4.92188C7.875 5.59922 7.42852 6.20859 6.73711 6.47461Z', fill='#8C8C8C')

                                                            .tooltip__cont
                                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non.
                                .hotelInfo__price
                                    p.p1 Tổng cộng
                                    p.p2 401.822.404 ₫
                                .levelTotal
                                    p
                                        | Tổng hạn mức còn lại:
                                        span 8.041.401đ
                                    .tooltip
                                        svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6.375 8.53125C6.375 8.58281 6.33281 8.625 6.28125 8.625H5.71875C5.66719 8.625 5.625 8.58281 5.625 8.53125V5.34375C5.625 5.29219 5.66719 5.25 5.71875 5.25H6.28125C6.33281 5.25 6.375 5.29219 6.375 5.34375V8.53125ZM6 4.5C5.8528 4.497 5.71265 4.43641 5.60961 4.33125C5.50658 4.22609 5.44887 4.08473 5.44887 3.9375C5.44887 3.79027 5.50658 3.64891 5.60961 3.54375C5.71265 3.43859 5.8528 3.378 6 3.375C6.1472 3.378 6.28735 3.43859 6.39039 3.54375C6.49342 3.64891 6.55113 3.79027 6.55113 3.9375C6.55113 4.08473 6.49342 4.22609 6.39039 4.33125C6.28735 4.43641 6.1472 4.497 6 4.5Z', fill='#595959')
                                        .tooltip__cont
                                            | abcd 1234
                                p.red-1.size-12 Bạn đã vượt quá hạn mức cho phép, vui lòng liên hệ quản lý
                                button.btn(type='button' onclick="location.href='hotelCheckout2.html';") Tiếp tục
                include jades/blocks/_memberPopup2
                include jades/blocks/_memberPopup3
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('#btnAdd').click(function () {
                $('.checkinInfo').addClass('open');
                $('.btnCheckin').addClass('hidden');
            });
        script.
            $('#addNote').click(function () {
                $(this).addClass('hidden');
                $('.formText').addClass('open');
            });
            $('.formText .btnInline .btn').click(function () {
                $('#addNote').removeClass('hidden');
                $('.formText').removeClass('open');
            });
        script.
            var positionHotelInfo = $(".hotelInfo").offset().top;
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll >= positionHotelInfo) {
                    $(".hotelInfo").addClass('fixedTop');
                } else{
                    $(".hotelInfo").removeClass('fixedTop');
                }
            });







