- var page = "hotelList";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2 Đặt khách sạn / máy bay
                    include jades/includes/_vntHeader__account
                section.vntContent.hotelList
                    .searchBox
                        .searchBox__banner
                            img(src='https://statics.vntrip.vn/images/banners/corpBannerHome.jpg' alt='banner')
                        .searchBox__cont
                            .vntSearch
                                ul.vntSearch__tab
                                    li.active
                                        button(type='button' onclick="location.href='home.html';")
                                            svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M3.51598 0.300049C3.25825 0.300049 3.04932 0.508983 3.04932 0.766715V7.39103H1.33434C1.07661 7.39103 0.867676 7.59997 0.867676 7.8577V12.7668C0.867676 13.0245 1.07661 13.2335 1.33434 13.2335H3.51616L3.52447 13.2334H11.1444L11.1527 13.2335H13.3345C13.5923 13.2335 13.8012 13.0245 13.8012 12.7668V7.8577C13.8012 7.59997 13.5923 7.39103 13.3345 7.39103H11.619V6.24432C11.607 6.49133 11.4029 6.68789 11.1529 6.68789H10.6075C10.3497 6.68789 10.1408 6.47896 10.1408 6.22122C10.1408 5.96349 10.3497 5.75456 10.6075 5.75456H11.1529C11.4029 5.75456 11.607 5.95112 11.619 6.19812V4.06252C11.607 4.30952 11.4029 4.50609 11.1529 4.50609H10.6075C10.3497 4.50609 10.1408 4.29715 10.1408 4.03942C10.1408 3.78169 10.3497 3.57275 10.6075 3.57275H11.1529C11.4029 3.57275 11.607 3.76932 11.619 4.01632V0.766715C11.619 0.508983 11.4101 0.300049 11.1523 0.300049H3.51598ZM7.41357 4.03942C7.41357 3.78169 7.62251 3.57275 7.88024 3.57275H8.42569C8.68343 3.57275 8.89236 3.78169 8.89236 4.03942C8.89236 4.29715 8.68343 4.50609 8.42569 4.50609H7.88024C7.62251 4.50609 7.41357 4.29715 7.41357 4.03942ZM7.88024 5.75456C7.62251 5.75456 7.41357 5.96349 7.41357 6.22122C7.41357 6.47896 7.62251 6.68789 7.88024 6.68789H8.42569C8.68343 6.68789 8.89236 6.47896 8.89236 6.22122C8.89236 5.96349 8.68343 5.75456 8.42569 5.75456H7.88024ZM7.88024 7.93636C7.62251 7.93636 7.41357 8.14529 7.41357 8.40303C7.41357 8.66076 7.62251 8.86969 7.88024 8.86969H8.42569C8.68343 8.86969 8.89236 8.66076 8.89236 8.40303C8.89236 8.14529 8.68343 7.93636 8.42569 7.93636H7.88024ZM10.1408 8.40303C10.1408 8.14529 10.3497 7.93636 10.6075 7.93636H11.1529C11.4106 7.93636 11.6196 8.14529 11.6196 8.40303C11.6196 8.66076 11.4106 8.86969 11.1529 8.86969H10.6075C10.3497 8.86969 10.1408 8.66076 10.1408 8.40303ZM7.88024 10.1182C7.62251 10.1182 7.41357 10.3271 7.41357 10.5848C7.41357 10.8426 7.62251 11.0515 7.88024 11.0515H8.42569C8.68343 11.0515 8.89236 10.8426 8.89236 10.5848C8.89236 10.3271 8.68343 10.1182 8.42569 10.1182H7.88024ZM10.1408 10.5848C10.1408 10.3271 10.3497 10.1182 10.6075 10.1182H11.1529C11.4106 10.1182 11.6196 10.3271 11.6196 10.5848C11.6196 10.8426 11.4106 11.0515 11.1529 11.0515H10.6075C10.3497 11.0515 10.1408 10.8426 10.1408 10.5848Z', fill='#000000')
                                            span Khách sạn
                                    li
                                        button(type='button' onclick="location.href='homeFlight.html';")
                                            svg(width='17', height='13', viewBox='0 0 17 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M3.99979 0.263148C4.11482 0.196289 4.25293 0.181713 4.37939 0.223084L11.0614 2.40908C11.3063 2.48922 11.44 2.75276 11.3598 2.99772C11.2797 3.24268 11.0161 3.37629 10.7712 3.29615L4.28796 1.17518L3.54077 1.60945L8.30638 4.05061C8.53577 4.16811 8.62647 4.44932 8.50896 4.67871C8.39146 4.9081 8.11025 4.9988 7.88086 4.8813L2.35486 2.05063C2.20296 1.97282 2.10565 1.81829 2.10112 1.64767C2.09659 1.47706 2.18556 1.31758 2.33312 1.23181L3.99979 0.263148Z', fill='black')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M14.3363 0.505009C14.5738 0.470527 14.8157 0.483875 15.048 0.544271C15.2802 0.604665 15.498 0.710887 15.6886 0.856689C15.8792 1.00249 16.0387 1.18493 16.1578 1.39328C16.2768 1.60162 16.353 1.83167 16.3819 2.0699C16.4107 2.30812 16.3917 2.54971 16.3258 2.78046C16.2599 3.0112 16.1486 3.22645 15.9983 3.41353C15.8493 3.59907 15.6649 3.7532 15.456 3.86703L8.4464 7.8725C8.4066 7.89524 8.36366 7.912 8.31897 7.92222L4.67164 8.75689C4.53784 8.78751 4.39735 8.75767 4.28754 8.67532L1.62087 6.67532C1.49512 6.581 1.42529 6.4297 1.43512 6.27281C1.44494 6.11592 1.5331 5.97452 1.66964 5.89663L3.13631 5.05997C3.24516 4.99787 3.37441 4.98216 3.49497 5.01638L5.29563 5.5275L13.6703 0.741995C13.8744 0.619762 14.1008 0.539206 14.3363 0.505009ZM14.8131 1.44756C14.7012 1.41848 14.5847 1.41205 14.4704 1.42866C14.3561 1.44526 14.2462 1.48456 14.1473 1.54424L14.1377 1.54983L5.5884 6.43516C5.47949 6.4974 5.35012 6.51317 5.22944 6.47891L3.42859 5.96775L2.74951 6.35513L4.6744 7.7988L8.04337 7.02783L14.9973 3.05414L15.007 3.04877C15.1086 2.99384 15.1983 2.91914 15.2706 2.82906C15.343 2.73898 15.3966 2.63534 15.4283 2.52424C15.46 2.41314 15.4692 2.29682 15.4553 2.18212C15.4414 2.06742 15.4047 1.95666 15.3474 1.85634C15.2901 1.75602 15.2133 1.66818 15.1215 1.59798C15.0298 1.52778 14.9249 1.47664 14.8131 1.44756Z', fill='black')
                                                path(fill-rule='evenodd', clip-rule='evenodd', d='M0.767578 11.6354C0.767578 11.3776 0.976512 11.1687 1.23424 11.1687H15.9009C16.1586 11.1687 16.3676 11.3776 16.3676 11.6354C16.3676 11.8931 16.1586 12.102 15.9009 12.102H1.23424C0.976512 12.102 0.767578 11.8931 0.767578 11.6354Z', fill='black')
                                            span Máy bay
                                .vntSearch__body
                                    .vntSearch__hotel
                                        .placeInput
                                            label(for='place') Địa điểm
                                            .input-inline
                                                input.form-control(type='text' value='Hồ Chí Minh, Việt Nam' name='place' id='place')
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                            include jades/blocks/_suggestDefault
                                            include jades/blocks/_suggestPlace
                                        .dateInput
                                            label(for='date') Ngày nhận phòng / trả phòng
                                            .input-inline
                                                input.form-control(type='text' value='25/12/2019 – 31/12/2019 (5 đêm)' name='date' id='date')
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')

                                        .memberBtn
                                            label(for='member') Chọn người ở
                                            .input-inline
                                                button.form-control(type='button' name='date' id='member' data-toggle="modal" data-target="#memberPopup") 10
                                                svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')

                                            include jades/blocks/_memberPopup
                                        .vntSearch__btn
                                            button.btn(type='button' onclick="location.href='hotelDetail.html';") Tìm kiếm

                    .hotelList__body
                        .hotelList__left
                            .levelBox
                                p.levelBox__title Hạn mức
                                ul
                                    li
                                        p.p1 Số người đi/ở:
                                        p.p2 10
                                    li
                                        p.p1 Tổng hạn mức:
                                        p.p2 12.110.000 ₫
                            .filterBox
                                .filterBox__body
                                    .filterBox__item
                                        p.filterBox__title Xem giá
                                        .filterBox__cont
                                            .checkbox
                                                input(type='checkbox' id='c1')
                                                label(for='c1') Giá trên hạn mức
                                            .checkbox
                                                input(type='checkbox' id='c2')
                                                label(for='c2') Giá 1 đêm
                                    .filterBox__item
                                        p.filterBox__title Hạn mức
                                        .filterBox__cont
                                            .checkbox
                                                input(type='checkbox' id='c3')
                                                label(for='c3') Dưới 500.000 ₫
                                            .checkbox
                                                input(type='checkbox' id='c4')
                                                label(for='c4') 500.000 ₫ – 1.000.000 ₫
                                            .checkbox
                                                input(type='checkbox' id='c5')
                                                label(for='c5') 1.000.000 ₫ – 2.000.000 ₫
                                            .checkbox
                                                input(type='checkbox' id='c6')
                                                label(for='c6') 2.000.000 ₫ – 5.000.000 ₫
                                            .checkbox
                                                input(type='checkbox' id='c7')
                                                label(for='c7') Trên 5.000.000 ₫
                                            //.price-slider
                                            //    span#min-price.slider-price(data-min='3000000' data-currency="đ") 3000000
                                            //    span#max-price.slider-price(data-max='14500000' data-currency="đ") 14500000
                                            //    #slider-range.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content
                                            //        .ui-slider-range.ui-corner-all.ui-widget-header
                                            //        span.ui-slider-handle.ui-corner-all.ui-state-default(tabindex='0')
                                            //        span.ui-slider-handle.ui-corner-all.ui-state-default(tabindex='0')
                                    .filterBox__item
                                        p.filterBox__title Quy chuẩn khách sạn
                                        .filterBox__cont
                                            .checkbox
                                                input(type='checkbox' id='c8')
                                                label(for='c8')
                                                    span Khách sạn 1
                                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')
                                            .checkbox
                                                input(type='checkbox' id='c9')
                                                label(for='c9')
                                                    span Khách sạn 2
                                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')
                                            .checkbox
                                                input(type='checkbox' id='c10')
                                                label(for='c10')
                                                    span Khách sạn 3
                                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')
                                            .checkbox
                                                input(type='checkbox' id='c11')
                                                label(for='c11')
                                                    span Khách sạn 4
                                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')
                                            .checkbox
                                                input(type='checkbox' id='c12')
                                                label(for='c12')
                                                    span Khách sạn 5
                                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')
                                    .filterBox__item
                                        p.filterBox__title Khu vực
                                        .filterBox__cont
                                            .checkbox
                                                input(type='checkbox' id='c13')
                                                label(for='c13') Quận 1
                                            .checkbox
                                                input(type='checkbox' id='c14')
                                                label(for='c14') Quận 2
                                            .checkbox
                                                input(type='checkbox' id='c15')
                                                label(for='c15') Quận 3
                                            .checkbox
                                                input(type='checkbox' id='c16')
                                                label(for='c16') Quận 4
                                    .filterBox__item
                                        p.filterBox__title Tiện ích xung quanh
                                        .filterBox__cont
                                            .checkbox
                                                input(type='checkbox' id='c17')
                                                label(for='c17') Gần sân bay
                                            .checkbox
                                                input(type='checkbox' id='c18')
                                                label(for='c18') Gần biển
                                            .checkbox
                                                input(type='checkbox' id='c19')
                                                label(for='c19') Gần bến xe
                                            .checkbox
                                                input(type='checkbox' id='c20')
                                                label(for='c20') Có xe đưa đón sân bay
                                button.filterBox__reset(type='button') Đặt lại bộ lọc
                        .hotelList__right
                            .hotelList__top
                                ul.hotelSort
                                    li
                                        p Sắp xếp:
                                    li
                                        .radio
                                            input(type='radio' id='sort1' name='sort')
                                            label(for='sort1') Giá thấp nhất


                                    li
                                        .radio
                                            input(type='radio' id='sort2' name='sort')
                                            label(for='sort2') Giá cao nhất


                                    li
                                        .radio
                                            input(type='radio' id='sort3' name='sort')
                                            label(for='sort3') Đề xuất tốt nhất


                                    li.liPrice
                                        .checkbox
                                            input#prs1(type='checkbox')
                                            label(for='prs1')
                                                | Hiển thị giá
                                                strong 5
                                                | đêm


                            .soldOut
                                img(src='https://statics.vntrip.vn/images/soldOut.png' alt='soldOut')
                                p.p1 Rất tiếc, chúng tôi đã hết phòng
                                p.p2 Rất tiếc, chúng tôi đã hết phòng trong ngày bạn chọn: 25/02/2020 - 26/02/2020. Bạn vui lòng chọn lại ngày khác để thực hiện việc đặt phòng
                                a.btn(href='hotelList.html') Chọn lại ngày
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            // vntSearch hotel
            $(".placeInput .form-control").click(function () {
                $(this).parents('.placeInput').find('.suggestDefault').addClass('open');
            });
            $(document).mouseup(function (e) {
                var suggestDefault = $('.suggestDefault');
                if (!suggestDefault.is(e.target) && suggestDefault.has(e.target).length === 0) {
                    $('.suggestDefault').removeClass('open');
                }
                ;
            });
            $(".placeInput .form-control").on('input', function () {
                $(this).parents('.placeInput').find('.suggestDefault').removeClass('open');
                $(this).parents('.placeInput').find('.suggestPlace').addClass('open');
            });
            $(document).mouseup(function (e) {
                var suggestPlace = $('.suggestPlace');
                if (!suggestPlace.is(e.target) && suggestPlace.has(e.target).length === 0) {
                    $('.suggestPlace').removeClass('open');
                }
                ;
            });
        script.
            function close_accordion() {
                $('.addForm__cont.open').removeClass('open');
            };

            $(".addForm__btn").click(function () {
                var formCollapse = $(this).next('.addForm__cont');
                if (formCollapse.is('.open')) {
                    close_accordion();
                } else {
                    close_accordion();
                    formCollapse.addClass('open');
                }
            });





