- var page = "hotelCheckout4";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntContent.checkoutStatus
                    .vntStep
                        .vntStep__item.visited
                            span.vntStep__numb 1
                            span.vntStep__text Thông tin đặt phòng
                        .vntStep__item.visited
                            span.vntStep__numb 2
                            span.vntStep__text Thanh toán
                        .vntStep__item.active
                            span.vntStep__numb 3
                            span.vntStep__text Hoàn tất

                    .vntBox
                        .vntBox__checkout
                            svg(width='116', height='116', viewBox='0 0 116 116', fill='none', xmlns='http://www.w3.org/2000/svg')
                                g(clip-path='url(#clip0)')
                                    path(d='M84.9582 72.822H79.1956C78.2857 72.822 77.5486 73.5591 77.5486 74.469C77.5486 75.3789 78.2857 76.116 79.1956 76.116H84.9582C85.8672 76.116 86.6052 75.3789 86.6052 74.469C86.6052 73.5591 85.8672 72.822 84.9582 72.822Z', fill='black')
                                    path(d='M84.9582 83.1746H79.1956C78.2857 83.1746 77.5486 83.9117 77.5486 84.8216C77.5486 85.7314 78.2857 86.4686 79.1956 86.4686H84.9582C85.8672 86.4686 86.6052 85.7314 86.6052 84.8216C86.6052 83.9117 85.8672 83.1746 84.9582 83.1746Z', fill='black')
                                    path(d='M84.9582 93.292H79.1956C78.2857 93.292 77.5486 94.0291 77.5486 94.939C77.5486 95.8489 78.2857 96.586 79.1956 96.586H84.9582C85.8672 96.586 86.6052 95.8489 86.6052 94.939C86.6052 94.0291 85.8672 93.292 84.9582 93.292Z', fill='black')
                                    path(d='M63.641 58.9201C64.5509 58.9201 65.288 58.1829 65.288 57.2731V50.6887C65.288 49.7789 64.5509 49.0417 63.641 49.0417C62.7311 49.0417 61.994 49.7789 61.994 50.6887V57.2731C61.994 58.1829 62.7311 58.9201 63.641 58.9201Z', fill='#222B45')
                                    path(d='M53.2884 58.9201C54.1983 58.9201 54.9354 58.1829 54.9354 57.2731V50.6887C54.9354 49.7789 54.1983 49.0417 53.2884 49.0417C52.3785 49.0417 51.6414 49.7789 51.6414 50.6887V57.2731C51.6414 58.1829 52.3785 58.9201 53.2884 58.9201Z', fill='#222B45')
                                    path(d='M42.9359 58.9201C43.8458 58.9201 44.5829 58.1829 44.5829 57.2731V50.6887C44.5829 49.7789 43.8458 49.0417 42.9359 49.0417C42.026 49.0417 41.2889 49.7789 41.2889 50.6887V57.2731C41.2889 58.1829 42.026 58.9201 42.9359 58.9201Z', fill='#222B45')
                                    path(d='M84.9582 62.4695H79.1956C78.2857 62.4695 77.5486 63.2066 77.5486 64.1165C77.5486 65.0264 78.2857 65.7635 79.1956 65.7635H84.9582C85.8672 65.7635 86.6052 65.0264 86.6052 64.1165C86.6052 63.2066 85.8672 62.4695 84.9582 62.4695Z', fill='#2E3A59')
                                    path(d='M96.6058 72.822H90.8449C89.935 72.822 89.1979 73.5591 89.1979 74.469C89.1979 75.3789 89.935 76.116 90.8449 76.116H96.6058C97.5157 76.116 98.2528 75.3789 98.2528 74.469C98.2528 73.5591 97.5157 72.822 96.6058 72.822Z', fill='#2E3A59')
                                    path(d='M96.6058 83.1746H90.8449C89.935 83.1746 89.1979 83.9117 89.1979 84.8216C89.1979 85.7314 89.935 86.4686 90.8449 86.4686H96.6058C97.5157 86.4686 98.2528 85.7314 98.2528 84.8216C98.2528 83.9117 97.5157 83.1746 96.6058 83.1746Z', fill='#2E3A59')
                                    path(d='M96.6058 93.292H90.8449C89.935 93.292 89.1979 94.0291 89.1979 94.939C89.1979 95.8489 89.935 96.586 90.8449 96.586H96.6058C97.5157 96.586 98.2528 95.8489 98.2528 94.939C98.2528 94.0291 97.5157 93.292 96.6058 93.292Z', fill='#2E3A59')
                                    path(d='M90.8449 65.7635H96.6058C97.5157 65.7635 98.2528 65.0264 98.2528 64.1165C98.2528 63.2066 97.5157 62.4695 96.6058 62.4695H90.8449C89.935 62.4695 89.1979 63.2066 89.1979 64.1165C89.1979 65.0264 89.935 65.7635 90.8449 65.7635Z', fill='#2E3A59')
                                    path(d='M53.2884 41.5145C54.1983 41.5145 54.9354 40.7774 54.9354 39.8675V33.2832C54.9354 32.3743 54.1983 31.6362 53.2884 31.6362C52.3785 31.6362 51.6414 32.3743 51.6414 33.2832V39.8675C51.6414 40.7774 52.3785 41.5145 53.2884 41.5145Z', fill='#8F9BB3')
                                    path(d='M42.9359 41.5145C43.8458 41.5145 44.5829 40.7774 44.5829 39.8675V33.2832C44.5829 32.3743 43.8458 31.6362 42.9359 31.6362C42.026 31.6362 41.2889 32.3743 41.2889 33.2832V39.8675C41.2889 40.7774 42.026 41.5145 42.9359 41.5145Z', fill='#8F9BB3')
                                    path(d='M63.641 76.3256C64.5509 76.3256 65.288 75.5885 65.288 74.6786V68.0943C65.288 67.1853 64.5509 66.4473 63.641 66.4473C62.7311 66.4473 61.994 67.1853 61.994 68.0943V74.6786C61.994 75.5885 62.7311 76.3256 63.641 76.3256Z', fill='#8F9BB3')
                                    path(d='M53.2884 76.3256C54.1983 76.3256 54.9354 75.5885 54.9354 74.6786V68.0943C54.9354 67.1853 54.1983 66.4473 53.2884 66.4473C52.3785 66.4473 51.6414 67.1853 51.6414 68.0943V74.6786C51.6414 75.5885 52.3785 76.3256 53.2884 76.3256Z', fill='#8F9BB3')
                                    path(d='M42.9359 76.3256C43.8458 76.3256 44.5829 75.5885 44.5829 74.6786V68.0943C44.5829 67.1853 43.8458 66.4473 42.9359 66.4473C42.026 66.4473 41.2889 67.1853 41.2889 68.0943V74.6786C41.2889 75.5885 42.026 76.3256 42.9359 76.3256Z', fill='#8F9BB3')
                                    path(d='M63.641 93.7311C64.5509 93.7311 65.288 92.994 65.288 92.0841V85.4998C65.288 84.5899 64.5509 83.8528 63.641 83.8528C62.7311 83.8528 61.994 84.5899 61.994 85.4998V92.0841C61.994 92.994 62.7311 93.7311 63.641 93.7311Z', fill='#222B45')
                                    path(d='M53.2884 93.7311C54.1983 93.7311 54.9354 92.994 54.9354 92.0841V85.4998C54.9354 84.5899 54.1983 83.8528 53.2884 83.8528C52.3785 83.8528 51.6414 84.5899 51.6414 85.4998V92.0841C51.6414 92.994 52.3785 93.7311 53.2884 93.7311Z', fill='#222B45')
                                    path(d='M42.9359 93.7311C43.8458 93.7311 44.5829 92.994 44.5829 92.0841V85.4998C44.5829 84.5899 43.8458 83.8528 42.9359 83.8528C42.026 83.8528 41.2889 84.5899 41.2889 85.4998V92.0841C41.2889 92.994 42.026 93.7311 42.9359 93.7311Z', fill='#222B45')
                                    path(d='M89.2329 6.59208C82.484 6.58105 75.9861 9.14713 71.0654 13.7655H33.4776C33.0567 13.7444 32.6449 13.8988 32.3416 14.192C32.0383 14.4852 31.8701 14.8905 31.8775 15.3123V49.2936H14.3414C13.3956 49.3203 12.63 50.0702 12.5841 51.016V63.646H1.65158C0.741692 63.646 0.113958 64.3877 0.113958 65.2976V76.2834C-0.121327 76.39 0.0808709 76.5003 0.0808709 76.6124C0.0808709 76.7246 -0.121327 76.8358 0.113958 76.9433V86.5698C-0.121327 86.6764 0.0808709 86.7867 0.0808709 86.8997C0.0808709 87.0128 -0.121327 87.1249 0.113958 87.2324V96.858C-0.121327 96.9646 0.0808709 97.0758 0.0808709 97.1889C0.0808709 97.3019 -0.121327 97.4122 0.113958 97.5179V107.809C0.113958 108.719 0.741692 109.527 1.65158 109.527H101.556C102.472 109.49 103.19 108.726 103.169 107.809V56.1702C113.41 49.9324 118.247 37.6396 115.002 26.0959C111.758 14.5523 101.224 6.58013 89.2329 6.59208ZM35.1715 17.0595H68.0471C64.6759 21.3921 62.7339 26.6639 62.4885 32.1481C62.1695 32.4385 61.9894 32.8521 61.994 33.2832V39.8675C61.9912 40.3031 62.1631 40.7222 62.4701 41.031C62.7771 41.3399 63.1943 41.5145 63.63 41.5145C63.652 41.5136 63.6741 41.5117 63.6961 41.509C65.2301 46.2772 68.0627 50.5243 71.876 53.7714V106.233H35.1715V17.0595ZM31.8775 85.2923H3.40795V78.2337H31.8775V85.2923ZM3.40795 88.5863H31.8775V95.6448H3.40795V88.5863ZM14.3414 66.94C15.2513 66.94 15.8781 66.2075 15.8781 65.2976V52.5876H31.8775V74.9397H3.40795V66.94H14.3414ZM3.40795 98.9388H31.8775V106.233H3.40795V98.9388ZM99.8749 106.233H75.17V56.1592C79.4051 58.6637 84.0557 60.1112 89.1786 60.1112C92.8587 60.1131 96.5001 59.3557 99.8749 57.888V106.233ZM89.2329 56.8163C76.2591 56.8163 65.7429 46.2992 65.7429 33.3264C65.7429 20.3526 76.2591 9.83644 89.2329 9.83644C102.206 9.83644 112.723 20.3526 112.723 33.3264C112.708 46.2937 102.2 56.8016 89.2329 56.8163Z', fill='#2E3A59')
                                    g(clip-path='url(#clip1)')
                                        path(d='M89.1764 48.2649C80.5968 48.2649 73.6176 41.285 73.6176 32.706C73.6176 24.127 80.5968 17.1472 89.1764 17.1472C97.7561 17.1472 104.735 24.127 104.735 32.706C104.735 41.285 97.7561 48.2649 89.1764 48.2649Z', fill='#72C472')
                                        path(d='M86.4706 40.0316L79.1458 32.7061L81.0588 30.7924L86.4706 36.2041L97.2941 25.3806L99.2071 27.2944L86.4706 40.0316Z', fill='white')
                                defs
                                    clippath#clip0
                                        rect(width='116', height='116', fill='white')
                                    clippath#clip1
                                        rect(x='72.9412', y='16.4707', width='32.4706', height='32.4706', fill='white')

                            p.p1 Đặt phòng thành công
                            p.p2
                                | Thông tin vé đã được gửi đến địa chỉ email&nbsp;
                                strong trang.h.hoang@gmail.com
                                br
                                | Cảm ơn và chúc chuyến công tác của bạn thành công tốt đẹp
                            p.p3 Gửi thông tin đặt phòng thành công cho E-mail khác.
                            .btnGroup
                                a.btn.btn_lg(href='#') Thêm email
                                a.btn.btn_outline.btn_lg(href='home.html') Quay về trang chủ
                    .vntBox
                        .vntBox__checkout
                            svg(width='130', height='113', viewBox='0 0 130 113', fill='none', xmlns='http://www.w3.org/2000/svg')
                                g
                                    path(d='M99.8643 36.4246V83.6293C99.8643 89.6811 94.9409 94.6045 88.8894 94.6045H11.0333C4.98151 94.6047 0.0581055 89.6811 0.0581055 83.6293V28.9648C0.0581055 22.913 4.98151 17.9896 11.0333 17.9896H55.3679C56.3977 17.9896 57.2323 18.8243 57.2323 19.854C57.2323 20.8838 56.3977 21.7184 55.3679 21.7184H11.0333C7.0375 21.7182 3.78686 24.969 3.78686 28.9648V34.4927L46.4042 55.1891C48.6613 56.2854 51.2476 56.2789 53.4992 55.1711L77.7462 43.2451C78.6705 42.7908 79.7875 43.1713 80.2422 44.0952C80.6965 45.0194 80.3159 46.1365 79.392 46.5912L55.145 58.5172C51.8567 60.1347 48.0772 60.1467 44.7754 58.5433L3.78686 38.6378V83.6293C3.78686 87.6251 7.0375 90.8757 11.0333 90.8757H88.8892C92.8847 90.8757 96.1354 87.6251 96.1354 83.6293V36.4246C96.1354 35.3948 96.97 34.5602 97.9998 34.5602C99.0295 34.5602 99.8643 35.395 99.8643 36.4246ZM29.179 62.8471L11.0092 81.0169C9.83075 82.1952 10.6817 84.1996 12.3276 84.1996C12.8046 84.1996 13.2817 84.0175 13.6459 83.6536L31.8157 65.4838C32.5438 64.7556 32.5438 63.5751 31.8157 62.8469C31.0875 62.1192 29.907 62.1192 29.179 62.8471ZM70.7436 62.8471C70.0153 62.1192 68.8351 62.1192 68.1068 62.8471C67.3786 63.5753 67.3786 64.7558 68.1068 65.484L86.2766 83.6538C87.0051 84.3819 88.1851 84.3817 88.9134 83.6538C89.6415 82.9256 89.6415 81.7451 88.9134 81.0169L70.7436 62.8471ZM65.9176 15.9519L97.4471 5.34628C98.9044 4.85595 100.299 6.24905 99.8084 7.70761L89.2028 39.2373C88.6814 40.7881 86.5494 40.9596 85.7864 39.5122L78.8342 26.3203L65.6427 19.3682C64.198 18.6072 64.3646 16.4741 65.9176 15.9519ZM71.231 18.0988L79.8677 22.6504L86.1162 16.4018C86.8446 15.6739 88.0247 15.6739 88.7531 16.4018C89.4812 17.13 89.4812 18.3105 88.7531 19.0387L82.5045 25.2872L87.0561 33.924L95.0774 10.0776L71.231 18.0988Z', fill='#2E3A59')
                                path(d='M115.034 92.2692C115.034 102.548 106.702 110.881 96.4227 110.881C86.1438 110.881 77.8112 102.548 77.8112 92.2692C77.8112 81.9904 86.1438 73.6577 96.4227 73.6577C106.702 73.6577 115.034 81.9904 115.034 92.2692Z', fill='#52C41A', stroke='white', stroke-width='3', stroke-miterlimit='10', stroke-linecap='square')
                                path(d='M87.0373 93.61L92.4004 98.9731L105.808 85.5654', fill='#52C41A')
                                path(d='M87.0373 93.61L92.4004 98.9731L105.808 85.5654', stroke='white', stroke-width='3', stroke-miterlimit='10', stroke-linecap='square')
                                defs
                                    clippath
                                        rect(x='0.0581055', width='99.8506', height='99.8506', fill='white')

                            p.p1 Đã gửi yêu cầu xét duyệt
                            p.p2
                                | Yêu cầu duyệt đã được gửi đến người kiểm duyệt của bạn.
                                br
                                | Thông báo sẽ được gửi đến email&nbsp;
                                strong trangh.h.hoang @gmail.com
                                | &nbsp;khi xét duyệt hoàn tất
                            .btnGroup
                                a.btn.btn_outline.btn_lg(href='home.html') Quay về trang chủ
                    .vntBox
                        .vntBox__checkout
                            svg(width='151', height='105', viewBox='0 0 151 105', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M36 82L41 101H36H27L25.5 95.5L27 46L36 82Z', fill='#E4E9F2')
                                path(d='M48.5 58.5V3.5C47.3 3.5 43.6667 5.16667 42 6V54.5L48.5 58.5Z', fill='#E4E9F2')
                                path(d='M42.1875 36.0938L29.7675 43.2973C27.3 44.7285 25.7812 47.3651 25.7812 50.2176V95.7187C25.7812 99.0325 28.4675 101.719 31.7812 101.719H118.219C121.532 101.719 124.219 99.0325 124.219 95.7187V50.2176C124.219 47.3651 122.7 44.7285 120.232 43.2973L107.812 36.0938', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M42.1875 54.7969V7.28125C42.1875 5.07211 43.9784 3.28125 46.1875 3.28125H103.813C106.022 3.28125 107.812 5.07211 107.812 7.28125V54.4688', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M27.5 47.5L122 100', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M122.5 46.5L73.6877 72.8398', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M74.5 47C82.7843 47 89.5 40.2843 89.5 32C89.5 23.7157 82.7843 17 74.5 17C66.2157 17 59.5 23.7157 59.5 32C59.5 40.2843 66.2157 47 74.5 47Z', fill='#52C41A')
                                path(d='M67.5 33L71.5 37L81.5 27', fill='#52C41A')
                                path(d='M67.5 33L71.5 37L81.5 27', stroke='white', stroke-width='3', stroke-miterlimit='10', stroke-linecap='square')
                                line(x1='134.5', y1='30.8787', x2='143.379', y2='22', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='136.535', y1='54.4014', x2='144.901', y2='58.9649', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='135', y1='42.5', x2='149', y2='42.5', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='13.0064', y1='32.9635', x2='4.46346', y2='24.121', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='14.3089', y1='56.957', x2='2.45704', y2='61.8185', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='15', y1='45.5', x2='2', y2='45.5', stroke='#52C41A', stroke-width='3', stroke-linecap='round')

                            p.p1 Hoàn thành thanh toán. Chờ xác nhận từ VNTRIP...
                            p.p2 VNTRIP đang tiến hành xác nhận thanh toán và sẽ gửi thông báo đến bạn trong thời gian sớm nhất.
                            .btnGroup
                                a.btn.btn_outline.btn_lg(href='home.html') Quay về trang chủ
                    .vntBox
                        .vntBox__checkout
                            svg(width='151', height='105', viewBox='0 0 151 105', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M36 82L41 101H36H27L25.5 95.5L27 46L36 82Z', fill='#E4E9F2')
                                path(d='M48.5 58.5V3.5C47.3 3.5 43.6667 5.16667 42 6V54.5L48.5 58.5Z', fill='#E4E9F2')
                                path(d='M42.1875 36.0938L29.7675 43.2973C27.3 44.7285 25.7812 47.3651 25.7812 50.2176V95.7187C25.7812 99.0325 28.4675 101.719 31.7812 101.719H118.219C121.532 101.719 124.219 99.0325 124.219 95.7187V50.2176C124.219 47.3651 122.7 44.7285 120.232 43.2973L107.812 36.0938', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M42.1875 54.7969V7.28125C42.1875 5.07211 43.9784 3.28125 46.1875 3.28125H103.813C106.022 3.28125 107.812 5.07211 107.812 7.28125V54.4688', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M27.5 47.5L122 100', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M122.5 46.5L73.6877 72.8398', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M74.5 47C82.7843 47 89.5 40.2843 89.5 32C89.5 23.7157 82.7843 17 74.5 17C66.2157 17 59.5 23.7157 59.5 32C59.5 40.2843 66.2157 47 74.5 47Z', fill='#52C41A')
                                path(d='M67.5 33L71.5 37L81.5 27', fill='#52C41A')
                                path(d='M67.5 33L71.5 37L81.5 27', stroke='white', stroke-width='3', stroke-miterlimit='10', stroke-linecap='square')
                                line(x1='134.5', y1='30.8787', x2='143.379', y2='22', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='136.535', y1='54.4014', x2='144.901', y2='58.9649', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='135', y1='42.5', x2='149', y2='42.5', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='13.0064', y1='32.9635', x2='4.46346', y2='24.121', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='14.3089', y1='56.957', x2='2.45704', y2='61.8185', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='15', y1='45.5', x2='2', y2='45.5', stroke='#52C41A', stroke-width='3', stroke-linecap='round')

                            p.p1 Đã gửi yêu cầu đặt phòng. Chờ xác nhận từ VNTRIP
                            p.p2 Bạn đã thanh toán thành công. VNTRIP đang tiến hành xác nhận và sẽ gửi thông báo đến bạn trong thời gian sớm nhất.
                            .btnGroup
                                a.btn.btn_outline.btn_lg(href='home.html') Quay về trang chủ
                    .vntBox
                        .vntBox__checkout
                            svg(width='151', height='105', viewBox='0 0 151 105', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M36 82L41 101H36H27L25.5 95.5L27 46L36 82Z', fill='#E4E9F2')
                                path(d='M48.5 58.5V3.5C47.3 3.5 43.6667 5.16667 42 6V54.5L48.5 58.5Z', fill='#E4E9F2')
                                path(d='M42.1875 36.0938L29.7675 43.2973C27.3 44.7285 25.7812 47.3651 25.7812 50.2176V95.7187C25.7812 99.0325 28.4675 101.719 31.7812 101.719H118.219C121.532 101.719 124.219 99.0325 124.219 95.7187V50.2176C124.219 47.3651 122.7 44.7285 120.232 43.2973L107.812 36.0938', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M42.1875 54.7969V7.28125C42.1875 5.07211 43.9784 3.28125 46.1875 3.28125H103.813C106.022 3.28125 107.812 5.07211 107.812 7.28125V54.4688', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M27.5 47.5L122 100', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M122.5 46.5L73.6877 72.8398', stroke='#2E3A59', stroke-width='3.5', stroke-miterlimit='10')
                                path(d='M74.5 47C82.7843 47 89.5 40.2843 89.5 32C89.5 23.7157 82.7843 17 74.5 17C66.2157 17 59.5 23.7157 59.5 32C59.5 40.2843 66.2157 47 74.5 47Z', fill='#52C41A')
                                path(d='M67.5 33L71.5 37L81.5 27', fill='#52C41A')
                                path(d='M67.5 33L71.5 37L81.5 27', stroke='white', stroke-width='3', stroke-miterlimit='10', stroke-linecap='square')
                                line(x1='134.5', y1='30.8787', x2='143.379', y2='22', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='136.535', y1='54.4014', x2='144.901', y2='58.9649', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='135', y1='42.5', x2='149', y2='42.5', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='13.0064', y1='32.9635', x2='4.46346', y2='24.121', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='14.3089', y1='56.957', x2='2.45704', y2='61.8185', stroke='#52C41A', stroke-width='3', stroke-linecap='round')
                                line(x1='15', y1='45.5', x2='2', y2='45.5', stroke='#52C41A', stroke-width='3', stroke-linecap='round')

                            p.p1 Đặt phòng thành công. Chờ xác nhận từ VNTRIP...
                            p.p2 VNTRIP đang tiến hành xác nhận đơn hàng và sẽ gửi thông báo đến bạn trong thời gian sớm nhất.
                            .btnGroup
                                a.btn.btn_outline.btn_lg(href='home.html') Quay về trang chủ
                    .vntBox
                        .vntBox__checkout
                            svg(width='88', height='88', viewBox='0 0 88 88', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M64.6875 87.1875C77.1139 87.1875 87.1875 77.1139 87.1875 64.6875C87.1875 52.2611 77.1139 42.1875 64.6875 42.1875C52.2611 42.1875 42.1875 52.2611 42.1875 64.6875C42.1875 77.1139 52.2611 87.1875 64.6875 87.1875Z', fill='#FF4D4F')
                                path(d='M73.125 56.25L56.25 73.125', stroke='white', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M56.25 56.25L73.125 73.125', stroke='white', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M13.5 25.5H49.5', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M13.5 42H33', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M13.5 58.5H24', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M28.125 75.9375H8.4375C6.94566 75.9375 5.51492 75.3449 4.46002 74.29C3.40513 73.2351 2.8125 71.8043 2.8125 70.3125V8.4375C2.8125 6.94566 3.40513 5.51492 4.46002 4.46002C5.51492 3.40513 6.94566 2.8125 8.4375 2.8125H48.2962C49.7871 2.81282 51.2168 3.40493 52.2713 4.45875L63.0413 15.2287C64.0951 16.2832 64.6872 17.7129 64.6875 19.2037V28.125', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')

                            p.p1 Đã hết thời gian thanh toán
                            p.p2 Thời gian thanh toán của bạn đã hết. Bạn vui lòng tìm kiếm phòng tương tự.
                            .btnGroup
                                a.btn.btn_lg(href='hotelList.html') Tìm phòng tương tự
                    .vntBox
                        .vntBox__checkout
                            svg(width='88', height='88', viewBox='0 0 88 88', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M64.6875 87.1875C77.1139 87.1875 87.1875 77.1139 87.1875 64.6875C87.1875 52.2611 77.1139 42.1875 64.6875 42.1875C52.2611 42.1875 42.1875 52.2611 42.1875 64.6875C42.1875 77.1139 52.2611 87.1875 64.6875 87.1875Z', fill='#FF4D4F')
                                path(d='M73.125 56.25L56.25 73.125', stroke='white', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M56.25 56.25L73.125 73.125', stroke='white', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M13.5 25.5H49.5', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M13.5 42H33', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M13.5 58.5H24', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
                                path(d='M28.125 75.9375H8.4375C6.94566 75.9375 5.51492 75.3449 4.46002 74.29C3.40513 73.2351 2.8125 71.8043 2.8125 70.3125V8.4375C2.8125 6.94566 3.40513 5.51492 4.46002 4.46002C5.51492 3.40513 6.94566 2.8125 8.4375 2.8125H48.2962C49.7871 2.81282 51.2168 3.40493 52.2713 4.45875L63.0413 15.2287C64.0951 16.2832 64.6872 17.7129 64.6875 19.2037V28.125', stroke='#2E3A59', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')

                            p.p1 Phòng không còn tồn tại
                            p.p2 Rất tiếc, phòng bạn chọn không còn tồn tại. Bạn vui lòng tìm kiếm phòng tương tự hoặc đặt lại vé.
                            .btnGroup
                                a.btn.btn_lg(href='hotelList.html') Tìm phòng tương tự
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('#addEmail').click(function () {
                $('#inputEmail').removeClass('hidden');
                $(this).addClass('hidden');
                return false;
            });






