- var page = "index";
doctype html
html(lang="vi")
    head

        include jades/includes/_head
    body(ontouchstart='')
        .page-body
            include jades/includes/_menu-mobile
            include jades/includes/_header
            main.page-wrapper
                section.vnt-login

            include jades/includes/_footer

        script(src="js/libs/jquery.min.js")
        script(src="js/libs/slick.min.js")
        script(src="js/main.js")
        script.




