- var page = "member";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2 Thành viên
                    include jades/includes/_vntHeader__account
                section.vntContent.vntMember
                    .vntMember__header
                        .vntMember__total
                            p
                                | Tổng cộng:&nbsp;
                                strong 1,423
                                | &nbsp;thành viên
                        .vntMember__btn
                            a.btn.btn_outline(href='#')
                                svg(width='12', height='10', viewBox='0 0 12 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M4.46875 2.34353H5.4791V6.96872C5.4791 7.02888 5.52832 7.0781 5.58848 7.0781H6.40879C6.46895 7.0781 6.51816 7.02888 6.51816 6.96872V2.34353H7.53125C7.62285 2.34353 7.67344 2.23825 7.61738 2.16716L6.08613 0.228489C6.0759 0.215416 6.06283 0.204844 6.04791 0.197573C6.03298 0.190302 6.0166 0.186523 6 0.186523C5.9834 0.186523 5.96702 0.190302 5.95209 0.197573C5.93717 0.204844 5.9241 0.215416 5.91387 0.228489L4.38262 2.16579C4.32656 2.23825 4.37715 2.34353 4.46875 2.34353ZM11.0039 6.55857H10.1836C10.1234 6.55857 10.0742 6.60779 10.0742 6.66794V8.77341H1.92578V6.66794C1.92578 6.60779 1.87656 6.55857 1.81641 6.55857H0.996094C0.935937 6.55857 0.886719 6.60779 0.886719 6.66794V9.37497C0.886719 9.61697 1.08223 9.81247 1.32422 9.81247H10.6758C10.9178 9.81247 11.1133 9.61697 11.1133 9.37497V6.66794C11.1133 6.60779 11.0641 6.55857 11.0039 6.55857Z', fill='#8c8c8c')
                                span Nhập liệu danh sách

                            a.btn(href='memberAdd.html') + Thêm nhân viên

                    .vntMember__table
                        table.table
                            thead
                                tr
                                    th
                                        .dropdown.dropdown_form
                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span Mã nhân viên
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')

                                            ul.dropdown-menu
                                                li.dropdown-item
                                                    .input-inline
                                                        input.form-control(type='text')
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                                    .btnInline
                                                        button.btn.btn_sm(type='button') Tìm kiếm
                                                        button.btn.btn_sm.btn_outline(type='button') Hủy bỏ
                                    th
                                        .dropdown.dropdown_form
                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span Họ và tên
                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')

                                            ul.dropdown-menu
                                                li.dropdown-item
                                                    .input-inline
                                                        input.form-control(type='text')
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                                    .btnInline
                                                        button.btn.btn_sm(type='button') Tìm kiếm
                                                        button.btn.btn_sm.btn_outline(type='button') Hủy bỏ
                                    th
                                        .dropdown
                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span Chi nhánh & bộ phận
                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                            ul.dropdown-menu
                                                li.dropdown-item
                                                    .checkbox
                                                        input#cn1(type='checkbox')
                                                        label(for='cn1') Hà Nội


                                                li.dropdown-item
                                                    .checkbox
                                                        input#cn2(type='checkbox')
                                                        label(for='cn2') Đà Nẵng


                                                li.dropdown-item
                                                    .checkbox
                                                        input#cn3(type='checkbox')
                                                        label(for='cn3') Tp Hồ Chí Minh


                                                li.dropdown-item
                                                    .checkbox
                                                        input#cn4(type='checkbox')
                                                        label(for='cn4') Nha Trang

                                    th
                                        .dropdown
                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span Chức vụ
                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                            ul.dropdown-menu
                                                li.dropdown-item
                                                    .checkbox
                                                        input#cv1(type='checkbox')
                                                        label(for='cv1') Tất cả


                                                li.dropdown-item
                                                    .checkbox
                                                        input#cv2(type='checkbox')
                                                        label(for='cv2') Tổng giám đốc


                                                li.dropdown-item
                                                    .checkbox
                                                        input#cv3(type='checkbox')
                                                        label(for='cv3') Phó giám đốc


                                                li.dropdown-item
                                                    .checkbox
                                                        input#cv4(type='checkbox')
                                                        label(for='cv4') Trưởng phòng


                                    th
                                        .dropdown
                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                span Vai trò
                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                            ul.dropdown-menu
                                                li.dropdown-item
                                                    .checkbox
                                                        input#vt1(type='checkbox')
                                                        label(for='vt1') Tất cả


                                                li.dropdown-item
                                                    .checkbox
                                                        input#vt2(type='checkbox')
                                                        label(for='vt2') Người đi


                                                li.dropdown-item
                                                    .checkbox
                                                        input#vt3(type='checkbox')
                                                        label(for='vt3') Người duyệt


                                                li.dropdown-item
                                                    .checkbox
                                                        input#vt4(type='checkbox')
                                                        label(for='vt4') Quản lý


                                    th Trạng thái
                                    th.text-center Action
                            tbody
                                tr
                                    td
                                        p.p1 VNT001
                                    td
                                        p.p1 Nguyễn Thanh Tuấn
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_active Đang hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT002
                                    td
                                        p.p1 Nguyễn Quý Chính
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_active Đang hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT003
                                    td
                                        p.p1 Nguyễn Quý Chính
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_active Đang hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT004
                                    td
                                        p.p1 Nguyễn Thanh Tuấn
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_unactive Dừng hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT005
                                    td
                                        p.p1 Nguyễn Thanh Tuấn
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_unactive Dừng hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT001
                                    td
                                        p.p1 Nguyễn Thanh Tuấn
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_active Đang hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT002
                                    td
                                        p.p1 Nguyễn Quý Chính
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_active Đang hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT003
                                    td
                                        p.p1 Nguyễn Quý Chính
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_active Đang hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT004
                                    td
                                        p.p1 Nguyễn Thanh Tuấn
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_unactive Dừng hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')


                                tr
                                    td
                                        p.p1 VNT005
                                    td
                                        p.p1 Nguyễn Thanh Tuấn
                                        p.p2 nguyenvana@gmail.com | 0982433361


                                    td
                                        p.p1 be Sài Gòn
                                        p.p2 Product

                                    td
                                        p.p1 Product Designer

                                    td
                                        p.p1 Người đặt
                                    td
                                        .status.status_unactive Dừng hoạt động
                                    td
                                        a.btnSvg(href='memberEdit.html')
                                            svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')




                ul.pagination
                    li.pagination__item.paginationPage
                        a.pagination__link(href='#') 15 dòng/Trang
                    li.pagination__item.disabled
                        a.pagination__link(href='#')
                            svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.89797 1.9843V0.927467C6.89797 0.835866 6.7927 0.78528 6.7216 0.841334L0.55832 5.6552C0.505955 5.69592 0.463582 5.74807 0.434435 5.80766C0.405288 5.86725 0.390137 5.93271 0.390137 5.99905C0.390137 6.06539 0.405288 6.13085 0.434435 6.19044C0.463582 6.25003 0.505955 6.30217 0.55832 6.3429L6.7216 11.1568C6.79406 11.2128 6.89797 11.1622 6.89797 11.0706V10.0138C6.89797 9.9468 6.86652 9.88254 6.81457 9.84153L1.8927 5.99973L6.81457 2.15657C6.86652 2.11555 6.89797 2.0513 6.89797 1.9843Z', fill='#595959')
                    li.pagination__item.active
                        a.pagination__link(href='#') 1
                    li.pagination__item
                        a.pagination__link(href='#') 2
                    li.pagination__item
                        a.pagination__link(href='#') 3
                    li.pagination__item
                        a.pagination__link(href='#') ...
                    li.pagination__item
                        a.pagination__link(href='#') 10
                    li.pagination__item
                        a.pagination__link(href='#')
                            svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.46854 5.65545L0.305274 0.841586C0.289169 0.828907 0.269815 0.821028 0.249434 0.818853C0.229052 0.816678 0.208471 0.820295 0.190053 0.82929C0.171635 0.838285 0.156128 0.852292 0.145312 0.869703C0.134496 0.887114 0.12881 0.907222 0.128907 0.927719V1.98456C0.128907 2.05155 0.160353 2.1158 0.212306 2.15682L5.13417 5.99998L0.212306 9.84315C0.158986 9.88416 0.128907 9.94842 0.128907 10.0154V11.0723C0.128907 11.1639 0.234181 11.2144 0.305274 11.1584L6.46854 6.34452C6.52092 6.30365 6.5633 6.25139 6.59245 6.19168C6.62159 6.13198 6.63674 6.06642 6.63674 5.99998C6.63674 5.93355 6.62159 5.86799 6.59245 5.80829C6.5633 5.74858 6.52092 5.69632 6.46854 5.65545Z', fill='#595959')

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });





