- var page = "orderAdmin";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2 Quản lý đơn hàng
                section.vntContent.orderAdmin
                    ul.orderAdmin__tab
                        li.active
                            button(type='button') Tất cả

                        li
                            button(type='button') Chờ xử lý

                        li
                            button(type='button') Đã xử lý
                    p.orderAdmin__title Tìm kiếm
                    .orderAdmin__form
                        .input-inline.inputSearch
                            input.form-control(type='text', placeholder='Tìm kiếm theo tên, email, SĐT, Mã đơn hàng...')
                            svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')


                        .input-inline
                            input.form-control(type='text', placeholder='Khoảng thời gian', name='date')
                            svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')

                        .input-inline
                            input.form-control(type='text', placeholder='Chi nhánh & Bộ phận')
                            svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M4.45308 11.0938C4.45308 11.3703 4.67496 11.5938 4.94996 11.5938H9.04996C9.32495 11.5938 9.54683 11.3703 9.54683 11.0938V8.03125H4.45308V11.0938ZM12.7515 0.40625H1.24839C0.86558 0.40625 0.626518 0.823438 0.818705 1.15625L4.27652 7.03125H9.72652L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                        .input-inline
                            input.form-control(type='text', placeholder='Chức vụ')
                            svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M4.45308 11.0938C4.45308 11.3703 4.67496 11.5938 4.94996 11.5938H9.04996C9.32495 11.5938 9.54683 11.3703 9.54683 11.0938V8.03125H4.45308V11.0938ZM12.7515 0.40625H1.24839C0.86558 0.40625 0.626518 0.823438 0.818705 1.15625L4.27652 7.03125H9.72652L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                        .input-inline
                            input.form-control(type='text', placeholder='Lựa chọn thành viên')
                            svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M4.45308 11.0938C4.45308 11.3703 4.67496 11.5938 4.94996 11.5938H9.04996C9.32495 11.5938 9.54683 11.3703 9.54683 11.0938V8.03125H4.45308V11.0938ZM12.7515 0.40625H1.24839C0.86558 0.40625 0.626518 0.823438 0.818705 1.15625L4.27652 7.03125H9.72652L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                    .orderAdmin__row
                        .orderAdmin__col
                            p.orderAdmin__title Lọc theo chi phí
                            .btnInline
                                button.btn.btn_outline.active(type='button') Tất cả
                                button.btn.btn_outline(type='button') Trong hạn mức
                                button.btn.btn_outline(type='button') Vượt hạn mức
                        .orderAdmin__col
                            p.orderAdmin__title Lọc theo đơn
                                .btnInline
                                    button.btn.btn_outline.active(type='button') Tất cả
                                    button.btn.btn_outline(type='button') Khách sạn
                                    button.btn.btn_outline(type='button') Chuyến bay
                        .orderAdmin__col
                            .orderAdmin__progress
                                p.p1 Hạn mức đã sử dụng
                                p.p2 1.000.000đ / 100.000.000đ
                                progress(value='10', max='100')

                    .orderAdmin__main
                        .orderAdmin__header
                            p.p1
                                | Tổng cộng:&nbsp;
                                strong 1,423 đơn hàng
                            .d-flex
                                button.btnShowCol(type='button')
                                    svg(width='15', height='14', viewBox='0 0 15 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7.50751 5.10332C7.04033 5.10332 6.60283 5.28457 6.27158 5.61582C5.94189 5.94707 5.75908 6.38457 5.75908 6.85176C5.75908 7.31895 5.94189 7.75645 6.27158 8.0877C6.60283 8.41738 7.04033 8.6002 7.50751 8.6002C7.9747 8.6002 8.4122 8.41738 8.74345 8.0877C9.07314 7.75645 9.25595 7.31895 9.25595 6.85176C9.25595 6.38457 9.07314 5.94707 8.74345 5.61582C8.58166 5.45279 8.38909 5.32352 8.17691 5.23554C7.96474 5.14756 7.7372 5.10262 7.50751 5.10332ZM13.9497 8.78301L12.9278 7.90957C12.9763 7.6127 13.0013 7.30957 13.0013 7.00801C13.0013 6.70645 12.9763 6.40176 12.9278 6.10645L13.9497 5.23301C14.0269 5.16692 14.0821 5.07891 14.1081 4.98066C14.1341 4.88242 14.1295 4.7786 14.095 4.68301L14.081 4.64238C13.7997 3.85596 13.3783 3.127 12.8372 2.49082L12.8091 2.45801C12.7434 2.38075 12.6558 2.32521 12.5579 2.29871C12.46 2.27221 12.3563 2.276 12.2606 2.30957L10.9919 2.76113C10.5231 2.37676 10.0013 2.07363 9.43564 1.8627L9.19033 0.536133C9.17182 0.436199 9.12334 0.344262 9.05134 0.272536C8.97933 0.20081 8.88721 0.15269 8.7872 0.13457L8.74501 0.126758C7.93251 -0.0201172 7.07626 -0.0201172 6.26376 0.126758L6.22158 0.13457C6.12157 0.15269 6.02945 0.20081 5.95744 0.272536C5.88544 0.344262 5.83696 0.436199 5.81845 0.536133L5.57158 1.86895C5.01131 2.08156 4.48938 2.38395 4.02626 2.76426L2.74814 2.30957C2.65246 2.27573 2.54875 2.27181 2.45079 2.29832C2.35283 2.32483 2.26525 2.38053 2.1997 2.45801L2.17158 2.49082C1.63141 3.12768 1.21013 3.85646 0.927827 4.64238L0.913765 4.68301C0.843452 4.87832 0.901265 5.09707 1.05908 5.23301L2.09345 6.11582C2.04501 6.40957 2.02158 6.70957 2.02158 7.00645C2.02158 7.30645 2.04501 7.60645 2.09345 7.89707L1.0622 8.77988C0.985008 8.84597 0.929759 8.93398 0.903802 9.03223C0.877845 9.13048 0.88241 9.23429 0.91689 9.32988L0.930952 9.37051C1.21376 10.1564 1.63095 10.883 2.1747 11.5221L2.20283 11.5549C2.26854 11.6321 2.35611 11.6877 2.45402 11.7142C2.55192 11.7407 2.65556 11.7369 2.75126 11.7033L4.02939 11.2486C4.49501 11.6314 5.01376 11.9346 5.5747 12.1439L5.82158 13.4768C5.84009 13.5767 5.88856 13.6686 5.96057 13.7404C6.03257 13.8121 6.1247 13.8602 6.2247 13.8783L6.26689 13.8861C7.08738 14.0338 7.92765 14.0338 8.74814 13.8861L8.79033 13.8783C8.89033 13.8602 8.98246 13.8121 9.05446 13.7404C9.12647 13.6686 9.17494 13.5767 9.19345 13.4768L9.43876 12.1502C10.0044 11.9377 10.5263 11.6361 10.995 11.2518L12.2638 11.7033C12.3594 11.7372 12.4632 11.7411 12.5611 11.7146C12.6591 11.6881 12.7467 11.6324 12.8122 11.5549L12.8403 11.5221C13.3841 10.8799 13.8013 10.1564 14.0841 9.37051L14.0981 9.32988C14.1653 9.13613 14.1075 8.91895 13.9497 8.78301ZM7.50751 9.59863C5.99033 9.59863 4.76064 8.36895 4.76064 6.85176C4.76064 5.33457 5.99033 4.10488 7.50751 4.10488C9.0247 4.10488 10.2544 5.33457 10.2544 6.85176C10.2544 8.36895 9.0247 9.59863 7.50751 9.59863Z', fill='#8C8C8C')
                                    span Ẩn/ hiện cột
                                    svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')
                                button.btn(type='button')
                                    svg(width='10', height='14', viewBox='0 0 10 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.68398 3.94707C9.76602 4.0291 9.8125 4.13984 9.8125 4.25605V12.6875C9.8125 12.9295 9.61699 13.125 9.375 13.125H0.625C0.383008 13.125 0.1875 12.9295 0.1875 12.6875V1.3125C0.1875 1.07051 0.383008 0.875 0.625 0.875H6.43145C6.54766 0.875 6.65977 0.921484 6.7418 1.00352L9.68398 3.94707ZM8.80352 4.45703L6.23047 1.88398V4.45703H8.80352ZM5.86598 6.53297L5.02898 7.9316L4.18379 6.53242C4.16918 6.50826 4.14857 6.48828 4.12398 6.47441C4.09938 6.46054 4.07162 6.45326 4.04338 6.45326H3.51783C3.48686 6.45327 3.45653 6.46203 3.43033 6.47855C3.41209 6.49005 3.39629 6.50502 3.38384 6.52262C3.37139 6.54022 3.36253 6.56011 3.35777 6.58113C3.35301 6.60216 3.35244 6.62392 3.35609 6.64516C3.35975 6.66641 3.36755 6.68673 3.37906 6.70496L4.5048 8.48805L3.36389 10.3034C3.34744 10.3296 3.33872 10.3599 3.33873 10.3908C3.33873 10.4343 3.35602 10.476 3.38678 10.5068C3.41755 10.5375 3.45928 10.5548 3.50279 10.5548H3.97393C4.00191 10.5548 4.02942 10.5477 4.05386 10.534C4.07829 10.5204 4.09883 10.5007 4.11352 10.4769L4.97074 9.08961L5.8225 10.4766C5.83718 10.5005 5.85775 10.5203 5.88223 10.534C5.90672 10.5477 5.93431 10.5548 5.96236 10.5548H6.47478C6.50619 10.5548 6.53694 10.5458 6.56338 10.5288C6.58151 10.5172 6.59718 10.5021 6.60948 10.4844C6.62178 10.4667 6.63048 10.4468 6.63507 10.4258C6.63967 10.4047 6.64007 10.383 6.63626 10.3618C6.63245 10.3405 6.62451 10.3203 6.61287 10.3022L5.46676 8.5173L6.63297 6.70619C6.64998 6.67968 6.659 6.64883 6.65895 6.61732C6.65895 6.57381 6.64166 6.53208 6.61089 6.50131C6.58012 6.47055 6.5384 6.45326 6.49488 6.45326H6.0068C5.97845 6.45328 5.95059 6.46065 5.92593 6.47464C5.90128 6.48863 5.88067 6.50878 5.86611 6.53311L5.86598 6.53297Z', fill='white')
                                    span Xuất báo cáo
                        .orderAdmin__table
                            table.table
                                thead
                                    tr
                                        th
                                            .checkbox
                                                input#cn1(type='checkbox')
                                                label(for='cn1')
                                        th Mã đơn hàng
                                        th
                                            .dropdown.dropdown_form
                                                button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                    span Người đặt
                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                        th Thời gian đặt
                                        th
                                            .dropdown
                                                button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                    span Khu vực/ Tuyến bay
                                                    svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                        th
                                            .dropdown
                                                button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                    span Tổng hạn mức
                                                    svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                        th Chi phí thực tế
                                        th Trạng thái
                                        th
                                            .dropdown.dropdown_form
                                                button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                    span Người đặt
                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                tbody
                                    tr
                                        td
                                            .checkbox
                                                input#cnv2(type='checkbox')
                                                label(for='cnv2')
                                        td
                                            button.btnLink(type='button') MB221222

                                        td
                                            p.p1 Nguyễn Thanh Tuấn
                                            p.p2 nguyenvana@gmail.com | 0982433361
                                        td
                                            p.p1 12:30, 22/12/2020
                                        td


        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });





