- var page = "orderAdmin";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    .vntHeader__left
                        ul.breadcrumb
                            li
                                a(href='#') Quản lý đơn
                            li.active Chi tiết đơn
                        h2.heading2 Chi tiết đơn hàng
                    include jades/includes/_vntHeader__account
                section.vntContent.orderDetail
                    .orderDetail__body
                        .orderDetail__header
                            .orderDetail__code
                                p
                                    | Mã đơn hàng:
                                    strong.red-1 VNTRIP2019C0A68
                                .btnInline.mt-15
                                    button.btn.btn_blue(type='button' data-toggle="modal" data-target="#orderApprovalPopup") Duyệt đơn
                                    button.btn.btn_outlineRed(type='button' data-toggle="modal" data-target="#orderRejectPopup") Từ chối
                                    button.btn.btn_outlineRed(type='button' data-toggle="modal" data-target="#orderCancelPopup") Hủy vé
                            .status.status_red Đã huỷ
                            .status.status_orange Hệ thống đang xử lý
                            .status.status_blue Chờ duyệt
                            .status.status_green Thành công
                        .orderDetail__main
                            .orderDetail__flight
                                p.flightPlace.flightPlace_sm
                                    span Hà Nội
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.4 0.862793L1 3.22615L3.4 5.58951', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.6 3.22607H1', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.5996 7.95166L12.9996 10.315L10.5996 12.6784', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M3.40039 10.3154H13.0004', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                                    span TP Hồ Chí Minh
                                p.textDate
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')
                                    span 25/12/2019 – 31/12/2019
                                button.btnLink(type='button' data-toggle="modal" data-target="#orderFlightPopup") Xem chi tiết
                                table.tableNoBorder
                                    thead
                                        tr
                                            th Thông tin chuyến bay
                                            th Đơn giá (vé)
                                            th thuế phí
                                            th số lượng
                                            th THÀNH TIỀN
                                    tbody
                                        tr
                                            td
                                                p.p1
                                                    span.span1 Chiều đi
                                                    span.status.status_orange Giá đã thay đổi
                                                p.flightPlace.flightPlace_xs
                                                    span Hà Nội
                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M3.4 0.862793L1 3.22615L3.4 5.58951', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M10.6 3.22607H1', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M10.5996 7.95166L12.9996 10.315L10.5996 12.6784', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M3.40039 10.3154H13.0004', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                                                    span TP Hồ Chí Minh

                                            td
                                                p.p2 3.455.606
                                            td
                                                p.p2 3.455.606
                                            td
                                                p.p2 06
                                            td
                                                p.p2 20.000.000
                                        tr
                                            td
                                                p.p1
                                                    span.span1 Chiều về
                                                p.flightPlace.flightPlace_xs
                                                    span Hà Nội
                                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M3.4 0.862793L1 3.22615L3.4 5.58951', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M10.6 3.22607H1', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M10.5996 7.95166L12.9996 10.315L10.5996 12.6784', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M3.40039 10.3154H13.0004', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                                                    span TP Hồ Chí Minh

                                            td
                                                p.p2 3.455.606
                                            td
                                                p.p2 3.455.606
                                            td
                                                p.p2 06
                                            td
                                                p.p2 20.000.000
                            .orderDetail__table
                                .orderDetail__title
                                    p thông tin người đi
                                table.table
                                    thead
                                        tr
                                            th Họ và tên
                                            th.text-right Hành lý chiều đi
                                            th.text-right Hành lý chiều về
                                    tbody
                                        tr
                                            td
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            td.text-right
                                                p.p1 200.000
                                            td.text-right
                                                p.p1 0
                                        tr
                                            td
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            td.text-right
                                                p.p1 200.000
                                            td.text-right
                                                p.p1 0
                            .orderDetail__price
                                .orderDetail__line
                                    .p1 Hình thức thanh toán
                                    .p2 Công nợ

                                .orderDetail__line
                                    .p1 Chi phí thanh toán công nợ
                                    .p2 80.655.000 ₫

                                .orderDetail__line
                                    .p1 Chi phí thanh toán trực tiếp
                                    .p2 3.000.000 ₫
                                .orderDetail__line
                                    .p1 Chi phí khác
                                    .p2 0

                                .orderDetail__line
                                    .p1 Tổng chi phí thực tính
                                    .p2.red-1 3.000.000 ₫
                            .orderDetail__info
                                .orderDetail__title
                                    p Thông tin duyệt đơn
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Số điện thoại:
                                            span +84 982 433361
                                        li
                                            span Chức vụ:
                                            span Designer


                            .orderDetail__info
                                .orderDetail__title
                                    p Thông tin người đặt
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Chi nhánh:
                                            span Vntrip Hà Nội
                                        li
                                            span Số điện thoại:
                                            span +84 982 433361
                                        li
                                            span Phòng ban:
                                            span TECH
                                        li
                                            span Chức vụ:
                                            span Designer

            #orderApprovalPopup.modal.fade(role='dialog')
                .modal-dialog.modal-noti
                    .modal-content
                        .modal-body
                            .notiBox
                                .notiBox__main
                                    .notiBox__icon
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z', fill='#1890FF')
                                            path(d='M10.875 7.875C10.875 8.17337 10.9935 8.45952 11.2045 8.6705C11.4155 8.88147 11.7016 9 12 9C12.2984 9 12.5845 8.88147 12.7955 8.6705C13.0065 8.45952 13.125 8.17337 13.125 7.875C13.125 7.57663 13.0065 7.29048 12.7955 7.0795C12.5845 6.86853 12.2984 6.75 12 6.75C11.7016 6.75 11.4155 6.86853 11.2045 7.0795C10.9935 7.29048 10.875 7.57663 10.875 7.875ZM12.5625 10.5H11.4375C11.3344 10.5 11.25 10.5844 11.25 10.6875V17.0625C11.25 17.1656 11.3344 17.25 11.4375 17.25H12.5625C12.6656 17.25 12.75 17.1656 12.75 17.0625V10.6875C12.75 10.5844 12.6656 10.5 12.5625 10.5Z', fill='#1890FF')
                                    .notiBox__cont
                                        p.notiBox__title Duyệt đơn
                                        p.notiBox__text Bạn có chắc chắn muốn duyệt đơn hàng này?
                                .notiBox__btn
                                    .btnInline
                                        button.btn.btn_outline(type='button' data-dismiss='modal') Hủy
                                        button.btn(type='button') Đồng ý
            #orderRejectPopup.modal.fade(role='dialog')
                .modal-dialog.modal-noti
                    .modal-content
                        .modal-body
                            .notiBox
                                .notiBox__main
                                    .notiBox__icon
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z', fill='#FA8C16')
                                            path(d='M10.875 7.875C10.875 8.17337 10.9935 8.45952 11.2045 8.6705C11.4155 8.88147 11.7016 9 12 9C12.2984 9 12.5845 8.88147 12.7955 8.6705C13.0065 8.45952 13.125 8.17337 13.125 7.875C13.125 7.57663 13.0065 7.29048 12.7955 7.0795C12.5845 6.86853 12.2984 6.75 12 6.75C11.7016 6.75 11.4155 6.86853 11.2045 7.0795C10.9935 7.29048 10.875 7.57663 10.875 7.875ZM12.5625 10.5H11.4375C11.3344 10.5 11.25 10.5844 11.25 10.6875V17.0625C11.25 17.1656 11.3344 17.25 11.4375 17.25H12.5625C12.6656 17.25 12.75 17.1656 12.75 17.0625V10.6875C12.75 10.5844 12.6656 10.5 12.5625 10.5Z', fill='#FA8C16')

                                    .notiBox__cont
                                        p.notiBox__title Từ chối duyệt đơn
                                        p.notiBox__text Bạn có chắc chắn từ chối yêu cầu đặt vé này? Vui lòng nhập lý do từ chối và xác nhận.
                                        textarea.form-control(placeholder='Lý do bạn từ chối')
                                .notiBox__btn
                                    .btnInline
                                        button.btn.btn_outline(type='button' data-dismiss='modal') Hủy
                                        button.btn(type='button') Đồng ý
            #orderCancelPopup.modal.fade(role='dialog')
                .modal-dialog.modal-noti
                    .modal-content
                        .modal-body
                            .notiBox
                                .notiBox__main
                                    .notiBox__icon
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z', fill='#FA8C16')
                                            path(d='M10.875 7.875C10.875 8.17337 10.9935 8.45952 11.2045 8.6705C11.4155 8.88147 11.7016 9 12 9C12.2984 9 12.5845 8.88147 12.7955 8.6705C13.0065 8.45952 13.125 8.17337 13.125 7.875C13.125 7.57663 13.0065 7.29048 12.7955 7.0795C12.5845 6.86853 12.2984 6.75 12 6.75C11.7016 6.75 11.4155 6.86853 11.2045 7.0795C10.9935 7.29048 10.875 7.57663 10.875 7.875ZM12.5625 10.5H11.4375C11.3344 10.5 11.25 10.5844 11.25 10.6875V17.0625C11.25 17.1656 11.3344 17.25 11.4375 17.25H12.5625C12.6656 17.25 12.75 17.1656 12.75 17.0625V10.6875C12.75 10.5844 12.6656 10.5 12.5625 10.5Z', fill='#FA8C16')

                                    .notiBox__cont
                                        p.notiBox__title Hủy đơn hàng
                                        p.notiBox__text Bạn có chắc chắn huỷ đơn hàng này? Vui lòng chọn lý do hủy đợn hàng và xác nhận.
                                        .notiBox__radio
                                            .radio
                                                input(type='radio' id='ntn1' name='ntn')
                                                label(for='ntn1') Tôi đã tự đặt trực tiếp tại Khách sạn
                                            .radio
                                                input(type='radio' id='ntn2' name='ntn')
                                                label(for='ntn2') Tôi đặt trên các website online khác
                                            .radio
                                                input(type='radio' id='ntn3' name='ntn')
                                                label(for='ntn3') Do giá cao
                                            .radio
                                                input(type='radio' id='ntn4' name='ntn')
                                                label(for='ntn4') Tôi thay đổi kế hoạch
                                            .radio
                                                input(type='radio' id='ntn5' name='ntn')
                                                label(for='ntn5') Đặt nhầm ngày/ Khách sạn
                                            .radio
                                                input(type='radio' id='ntn6' name='ntn')
                                                label(for='ntn6') Lý do khác
                                            textarea.form-control(placeholder='Lý do bạn hủy đơn')
                                .notiBox__btn
                                    .btnInline
                                        button.btn.btn_outline(type='button' data-dismiss='modal') Hủy
                                        button.btn(type='button') Đồng ý
            #orderFlightPopup.modal.fade(role='dialog')
                .modal-dialog.modal-orderFlight
                    .modal-content
                        .modal-body
                            .modal-orderFlight__header
                                p.flightPlace.flightPlace_sm
                                    span Hà Nội
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.4 0.862793L1 3.22615L3.4 5.58951', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.6 3.22607H1', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M10.5996 7.95166L12.9996 10.315L10.5996 12.6784', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M3.40039 10.3154H13.0004', stroke='#203048', stroke-width='1.25', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                                    span TP Hồ Chí Minh
                                p.textDate
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M12.75 1.875H10.125V0.875C10.125 0.80625 10.0688 0.75 10 0.75H9.125C9.05625 0.75 9 0.80625 9 0.875V1.875H5V0.875C5 0.80625 4.94375 0.75 4.875 0.75H4C3.93125 0.75 3.875 0.80625 3.875 0.875V1.875H1.25C0.973437 1.875 0.75 2.09844 0.75 2.375V12.75C0.75 13.0266 0.973437 13.25 1.25 13.25H12.75C13.0266 13.25 13.25 13.0266 13.25 12.75V2.375C13.25 2.09844 13.0266 1.875 12.75 1.875ZM12.125 12.125H1.875V6.1875H12.125V12.125ZM1.875 5.125V3H3.875V3.75C3.875 3.81875 3.93125 3.875 4 3.875H4.875C4.94375 3.875 5 3.81875 5 3.75V3H9V3.75C9 3.81875 9.05625 3.875 9.125 3.875H10C10.0688 3.875 10.125 3.81875 10.125 3.75V3H12.125V5.125H1.875Z', fill='#8C8C8C')
                                    span 25/12/2019 – 31/12/2019
                            .modal-orderFlight__cont
                                .modal-orderFlight__item
                                    .flightActive
                                        .flightDest
                                            p.p1 Chuyến đi:
                                            p.p2 Hà Nội - Hồ Chí Minh
                                        .flightTicket
                                            .flightTicket__info
                                                .flightTicket__logo
                                                    img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                .flightTicket__airline
                                                    p VietJet Air Phổ thông
                                                    p Airbus A320 - VJ505
                                                .flightTrip.flightTrip_lg
                                                    .d-block
                                                        p.p1 Hà Nội (HAN)
                                                        p.p2 21:20 - 14/01/2020
                                                    .d-svg
                                                        p 2h10m
                                                        svg(width='88', height='16', viewBox='0 0 88 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M41.3332 14.0002L42.6665 14.0002L45.9998 8.66683L49.6665 8.66683C50.2198 8.66683 50.6665 8.22016 50.6665 7.66683C50.6665 7.1135 50.2198 6.66683 49.6665 6.66683L45.9998 6.66683L42.6665 1.3335L41.3332 1.3335L42.9998 6.66683L39.3332 6.66683L38.3332 5.3335L37.3332 5.3335L37.9998 7.66683L37.3332 10.0002L38.3332 10.0002L39.3332 8.66683L42.9998 8.66683L41.3332 14.0002Z', fill='#D9D9D9')
                                                            circle(cx='25', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='29', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='33', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='13', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='17', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='21', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='55', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='59', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='63', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='79', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='83', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='87', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='67', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='71', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='75', cy='8', r='1', fill='#C4C4C4')

                                                        p Bay thẳng
                                                    .d-block
                                                        p.p1 TP Hồ Chí Minh (SNG)
                                                        p.p2 21:20 - 14/01/2020

                                                button.flightTicket__click(type='button')
                                                    span Chi tiết
                                                    svg(width='10', height='6', viewBox='0 0 10 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.35952 0H8.48062C8.42085 0 8.3646 0.0292969 8.32945 0.0773438L5.00015 4.66641L1.67085 0.0773438C1.6357 0.0292969 1.57945 0 1.51968 0H0.640773C0.564602 0 0.52007 0.0867189 0.564602 0.148828L4.69663 5.84531C4.84663 6.05156 5.15366 6.05156 5.30249 5.84531L9.43452 0.148828C9.48023 0.0867189 9.4357 0 9.35952 0Z', fill='#595959')

                                                .flightTicket__btn
                                                    button.btn.btn_outlineOrange(type='button') Thay đổi chuyến bay
                                            .flightTicket__detail
                                                .flightTicket__trip
                                                    .flightTrip.flightTrip_lg
                                                        .d-block
                                                            p.p1 Hà Nội (HAN)
                                                            p.p2 21:20 - 14/01/2020
                                                        .d-svg
                                                            p 2h10m
                                                            svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                                circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                            p Bay thẳng
                                                        .d-block
                                                            p.p1 TP Hồ Chí Minh (SNG)
                                                            p.p2 21:20 - 14/01/2020

                                                    .flightAirline
                                                        .flightAirline__logo
                                                            img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                        .flightAirline__cont
                                                            p Vietnamairline
                                                            p Chuyến bay: BL745
                                                .flightTicket__policy
                                                    p.pTitle
                                                        | Điều kiện về vé:
                                                        span.blue-1 Phổ thông
                                                    p.pLine
                                                        span Thanh toán:
                                                        span.red-1 Thanh toán ngay

                                                    p.pLine
                                                        span Hoàn vé:
                                                        span Không được phép

                                                    p.pLine
                                                        span Đổi tên hành khách:
                                                        span Được phép - Thu phí: 495.000₫ /Người/chặng

                                                    p.pLine
                                                        span Đổi hành trình:
                                                        span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                                    p.pLine
                                                        span Đổi ngày giờ chuyến bay:
                                                        span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                                    p.pLine
                                                        span Thời hạn thay đổi (bao gồm thay đổi ngày, chuyến bay)
                                                        span Trước giờ khởi hành 12 tiếng.
                                                    p.pTitle
                                                        | Điều kiện hành lý
                                                    p.pLine
                                                        span Hành lý xách tay:
                                                        span 07 Kg

                                                    p.pLine
                                                        span Hành lý ký gửi:
                                                        span Vui lòng chọn ở bước sau
                                                .flightTicket__table
                                                    table.table
                                                        thead
                                                            tr
                                                                th Số lượng
                                                                th Giá mỗi vé
                                                                th.text-right Hành lý ký gửi
                                                                th.text-right Thuế và phí
                                                                th.text-right Tổng giá
                                                        tbody
                                                            tr
                                                                td 06
                                                                td 380.000₫
                                                                td.text-right 100.000đ
                                                                td.text-right 0đ
                                                                td.blue-1.text-right.medium 2.280.000₫

                                                    p.textNote
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M13.9327 12.375L7.43272 1.125C7.33584 0.957813 7.16866 0.875 6.99991 0.875C6.83116 0.875 6.66241 0.957813 6.56709 1.125L0.0670952 12.375C-0.125092 12.7094 0.115533 13.125 0.499908 13.125H13.4999C13.8843 13.125 14.1249 12.7094 13.9327 12.375ZM6.49991 5.5C6.49991 5.43125 6.55616 5.375 6.62491 5.375H7.37491C7.44366 5.375 7.49991 5.43125 7.49991 5.5V8.375C7.49991 8.44375 7.44366 8.5 7.37491 8.5H6.62491C6.55616 8.5 6.49991 8.44375 6.49991 8.375V5.5ZM6.99991 11C6.80365 10.996 6.61677 10.9152 6.47939 10.775C6.34201 10.6348 6.26506 10.4463 6.26506 10.25C6.26506 10.0537 6.34201 9.86522 6.47939 9.725C6.61677 9.58478 6.80365 9.50401 6.99991 9.5C7.19617 9.50401 7.38304 9.58478 7.52042 9.725C7.65781 9.86522 7.73475 10.0537 7.73475 10.25C7.73475 10.4463 7.65781 10.6348 7.52042 10.775C7.38304 10.9152 7.19617 10.996 6.99991 11Z', fill='#FA8C16')
                                                        span Lưu ý: Đây là loại vé khuyến mại, bạn cần thực hiện thanh toán ngay đối với loại vé này
                                                .flightTicket__btn
                                                    button.btn(type='button') Chọn


                                .modal-orderFlight__item
                                    .flightActive
                                        .flightDest
                                            p.p1 Chuyến đi:
                                            p.p2 Hà Nội - Hồ Chí Minh
                                        .flightTicket
                                            .flightTicket__info
                                                .flightTicket__logo
                                                    img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                .flightTicket__airline
                                                    p VietJet Air Phổ thông
                                                    p Airbus A320 - VJ505
                                                .flightTrip.flightTrip_lg
                                                    .d-block
                                                        p.p1 Hà Nội (HAN)
                                                        p.p2 21:20 - 14/01/2020
                                                    .d-svg
                                                        p 2h10m
                                                        svg(width='88', height='16', viewBox='0 0 88 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M41.3332 14.0002L42.6665 14.0002L45.9998 8.66683L49.6665 8.66683C50.2198 8.66683 50.6665 8.22016 50.6665 7.66683C50.6665 7.1135 50.2198 6.66683 49.6665 6.66683L45.9998 6.66683L42.6665 1.3335L41.3332 1.3335L42.9998 6.66683L39.3332 6.66683L38.3332 5.3335L37.3332 5.3335L37.9998 7.66683L37.3332 10.0002L38.3332 10.0002L39.3332 8.66683L42.9998 8.66683L41.3332 14.0002Z', fill='#D9D9D9')
                                                            circle(cx='25', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='29', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='33', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='13', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='17', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='21', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='55', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='59', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='63', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='79', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='83', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='87', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='67', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='71', cy='8', r='1', fill='#C4C4C4')
                                                            circle(cx='75', cy='8', r='1', fill='#C4C4C4')

                                                        p Bay thẳng
                                                    .d-block
                                                        p.p1 TP Hồ Chí Minh (SNG)
                                                        p.p2 21:20 - 14/01/2020

                                                button.flightTicket__click(type='button')
                                                    span Chi tiết
                                                    svg(width='10', height='6', viewBox='0 0 10 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M9.35952 0H8.48062C8.42085 0 8.3646 0.0292969 8.32945 0.0773438L5.00015 4.66641L1.67085 0.0773438C1.6357 0.0292969 1.57945 0 1.51968 0H0.640773C0.564602 0 0.52007 0.0867189 0.564602 0.148828L4.69663 5.84531C4.84663 6.05156 5.15366 6.05156 5.30249 5.84531L9.43452 0.148828C9.48023 0.0867189 9.4357 0 9.35952 0Z', fill='#595959')

                                                .flightTicket__btn
                                                    button.btn.btn_outlineOrange(type='button') Thay đổi chuyến bay
                                            .flightTicket__detail
                                                .flightTicket__trip
                                                    .flightTrip.flightTrip_lg
                                                        .d-block
                                                            p.p1 Hà Nội (HAN)
                                                            p.p2 21:20 - 14/01/2020
                                                        .d-svg
                                                            p 2h10m
                                                            svg(width='40', height='16', viewBox='0 0 40 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M17.3332 14.0002L18.6665 14.0002L21.9998 8.66683L25.6665 8.66683C26.2198 8.66683 26.6665 8.22016 26.6665 7.66683C26.6665 7.1135 26.2198 6.66683 25.6665 6.66683L21.9998 6.66683L18.6665 1.3335L17.3332 1.3335L18.9998 6.66683L15.3332 6.66683L14.3332 5.3335L13.3332 5.3335L13.9998 7.66683L13.3332 10.0002L14.3332 10.0002L15.3332 8.66683L18.9998 8.66683L17.3332 14.0002Z', fill='#D9D9D9')
                                                                circle(cx='1', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='5', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='9', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='31', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='35', cy='8', r='1', fill='#C4C4C4')
                                                                circle(cx='39', cy='8', r='1', fill='#C4C4C4')
                                                            p Bay thẳng
                                                        .d-block
                                                            p.p1 TP Hồ Chí Minh (SNG)
                                                            p.p2 21:20 - 14/01/2020

                                                    .flightAirline
                                                        .flightAirline__logo
                                                            img(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt ='logoFlight')
                                                        .flightAirline__cont
                                                            p Vietnamairline
                                                            p Chuyến bay: BL745
                                                .flightTicket__policy
                                                    p.pTitle
                                                        | Điều kiện về vé:
                                                        span.blue-1 Phổ thông
                                                    p.pLine
                                                        span Thanh toán:
                                                        span.red-1 Thanh toán ngay

                                                    p.pLine
                                                        span Hoàn vé:
                                                        span Không được phép

                                                    p.pLine
                                                        span Đổi tên hành khách:
                                                        span Được phép - Thu phí: 495.000₫ /Người/chặng

                                                    p.pLine
                                                        span Đổi hành trình:
                                                        span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                                    p.pLine
                                                        span Đổi ngày giờ chuyến bay:
                                                        span Được phép - Thu phí: 374.000₫ + Giá vé chênh lệch (nếu có).

                                                    p.pLine
                                                        span Thời hạn thay đổi (bao gồm thay đổi ngày, chuyến bay)
                                                        span Trước giờ khởi hành 12 tiếng.
                                                    p.pTitle
                                                        | Điều kiện hành lý
                                                    p.pLine
                                                        span Hành lý xách tay:
                                                        span 07 Kg

                                                    p.pLine
                                                        span Hành lý ký gửi:
                                                        span Vui lòng chọn ở bước sau
                                                .flightTicket__table
                                                    table.table
                                                        thead
                                                            tr
                                                                th Số lượng
                                                                th Giá mỗi vé
                                                                th.text-right Hành lý ký gửi
                                                                th.text-right Thuế và phí
                                                                th.text-right Tổng giá
                                                        tbody
                                                            tr
                                                                td 06
                                                                td 380.000₫
                                                                td.text-right 100.000đ
                                                                td.text-right 0đ
                                                                td.blue-1.text-right.medium 2.280.000₫

                                                    p.textNote
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M13.9327 12.375L7.43272 1.125C7.33584 0.957813 7.16866 0.875 6.99991 0.875C6.83116 0.875 6.66241 0.957813 6.56709 1.125L0.0670952 12.375C-0.125092 12.7094 0.115533 13.125 0.499908 13.125H13.4999C13.8843 13.125 14.1249 12.7094 13.9327 12.375ZM6.49991 5.5C6.49991 5.43125 6.55616 5.375 6.62491 5.375H7.37491C7.44366 5.375 7.49991 5.43125 7.49991 5.5V8.375C7.49991 8.44375 7.44366 8.5 7.37491 8.5H6.62491C6.55616 8.5 6.49991 8.44375 6.49991 8.375V5.5ZM6.99991 11C6.80365 10.996 6.61677 10.9152 6.47939 10.775C6.34201 10.6348 6.26506 10.4463 6.26506 10.25C6.26506 10.0537 6.34201 9.86522 6.47939 9.725C6.61677 9.58478 6.80365 9.50401 6.99991 9.5C7.19617 9.50401 7.38304 9.58478 7.52042 9.725C7.65781 9.86522 7.73475 10.0537 7.73475 10.25C7.73475 10.4463 7.65781 10.6348 7.52042 10.775C7.38304 10.9152 7.19617 10.996 6.99991 11Z', fill='#FA8C16')
                                                        span Lưu ý: Đây là loại vé khuyến mại, bạn cần thực hiện thanh toán ngay đối với loại vé này
                                                .flightTicket__btn
                                                    button.btn(type='button') Chọn


        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            function close_accordion() {
                $('.flightTicket.open').removeClass('open');
                $('.flightTicket__click span').text('Chi tiết');
            };

            $(".flightTicket__click").click(function () {
                var formCollapse = $(this).parents('.flightTicket');
                var $this = $(this).find('span');
                if (formCollapse.is('.open')) {
                    close_accordion();
                    $this.text('Chi tiết');
                } else {
                    close_accordion();
                    formCollapse.addClass('open');
                    $this.text('Ẩn');
                }
            });





