- var page = "orderAdmin";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    ul.breadcrumb
                        li
                            a(href='#') Quản lý đơn
                        li.active Chi tiết đơn
                    h2.heading2 Chi tiết đơn hàng
                section.vntContent.orderDetail
                    .orderDetail__body
                        .orderDetail__header
                            p
                                | Mã đơn hàng:
                                strong.red-1 VNTRIP2019C0A68
                        .orderDetail__main
                            p.orderDetail__title Thông tin khách sạn
                            .orderDetail__hotel
                                .rateStar
                                    span
                                        | Khách sạn
                                        strong 3
                                    svg(width='10', height='11', viewBox='0 0 10 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.64179 4.1378L6.6664 3.70538L5.33632 1.00889C5.29999 0.935063 5.24023 0.875297 5.1664 0.838969C4.98124 0.747563 4.75624 0.823735 4.66366 1.00889L3.33358 3.70538L0.358195 4.1378C0.276163 4.14952 0.201163 4.18819 0.143741 4.24678C0.0743216 4.31813 0.0360681 4.41413 0.0373865 4.51367C0.0387049 4.61321 0.0794874 4.70815 0.150773 4.77764L2.30351 6.87647L1.79491 9.84014C1.78299 9.90908 1.79062 9.97999 1.81694 10.0448C1.84325 10.1096 1.88721 10.1658 1.94382 10.2069C2.00043 10.248 2.06743 10.2725 2.13722 10.2774C2.20701 10.2824 2.27679 10.2677 2.33866 10.2351L4.99999 8.83584L7.66132 10.2351C7.73398 10.2737 7.81835 10.2866 7.89921 10.2726C8.10312 10.2374 8.24023 10.044 8.20507 9.84014L7.69648 6.87647L9.84921 4.77764C9.9078 4.72022 9.94648 4.64522 9.95819 4.56319C9.98983 4.35811 9.84687 4.16827 9.64179 4.1378Z', fill='#FADB14')
                                h2.heading2 Khách sạn Pullman Sài Gòn Centre
                                .hotelAddr
                                    svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M6 0.75C3.10078 0.75 0.75 3.10078 0.75 6C0.75 8.89922 3.10078 11.25 6 11.25C8.89922 11.25 11.25 8.89922 11.25 6C11.25 3.10078 8.89922 0.75 6 0.75ZM6 10.3594C3.59297 10.3594 1.64062 8.40703 1.64062 6C1.64062 3.59297 3.59297 1.64062 6 1.64062C8.40703 1.64062 10.3594 3.59297 10.3594 6C10.3594 8.40703 8.40703 10.3594 6 10.3594ZM8.325 3.46758C8.27911 3.44964 8.23013 3.44093 8.18086 3.44194C8.1316 3.44294 8.08302 3.45365 8.03789 3.47344L4.86211 4.86328L3.47344 8.03906C3.43125 8.13516 3.43125 8.24414 3.47344 8.34023C3.51328 8.43164 3.58711 8.50313 3.68086 8.53945C3.72539 8.55703 3.77109 8.56523 3.81797 8.56523C3.86953 8.56523 3.91992 8.55469 3.96797 8.53359L7.14375 7.14375L8.53242 3.96797C8.55268 3.92162 8.56338 3.87166 8.56386 3.82108C8.56435 3.7705 8.55461 3.72034 8.53524 3.67361C8.51587 3.62689 8.48727 3.58455 8.45114 3.54915C8.41501 3.51374 8.37211 3.486 8.325 3.46758ZM6.75937 6.2625L7.06641 6.56953L6.56953 7.06641L6.2625 6.75937L4.45312 7.55156L5.24414 5.74219L4.94531 5.44219L5.44219 4.94531L5.74102 5.24414L7.55156 4.45312L6.75937 6.2625ZM5.44219 4.94531L4.94531 5.44219L5.24414 5.74219L6.2625 6.75937L6.56953 7.06641L7.06641 6.56953L6.75937 6.2625L5.74219 5.24414L5.44219 4.94531Z', fill='#096DD9')
                                    .hotelAddr__text
                                        button(type='button') 03 Cao Thắng, ph12, Q.10, Hồ Chí Minh
                                .orderDetail__date
                                    p.p1 Ngày nhận phòng/ trả phòng
                                    p.p2 25/12/2019 ~ 31/12/2019 (6 đêm)
                                .orderDetail__room
                                    .d-title
                                        p.p1 Thông tin phòng
                                        p.p1 Đơn giá (Đêm)
                                        p.p1 Chi phí khác
                                        p.p1 Tổng chi phí
                                    .flexGroup
                                        p.p2 x1 – Deluxe Twin With Balcony
                                        p.p2 3.455.606 ₫
                                        p.p2 555.606 ₫
                                        p.p2 19.224.321 ₫
                                    .flexGroup
                                        p.p2 x1 – Deluxe Twin With Balcony
                                        p.p2 3.455.606 ₫
                                        p.p2 555.606 ₫
                                        p.p2 19.224.321 ₫


                            .orderDetail__table
                                p.orderDetail__title Danh sách người ở
                                table.table
                                    thead
                                        tr
                                            th Họ và tên
                                            th CN & bộ phận
                                            th Chức vụ
                                            th.text-right Hạn mức
                                    tbody
                                        tr
                                            td
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            td
                                                p.p1 Vntrip Hà Nội
                                                p.p2 Product
                                            td
                                                p.p1 Product Designer
                                            td.text-right
                                                p.p1 10.200.000đ
                                        tr
                                            td
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            td
                                                p.p1 Vntrip Hà Nội
                                                p.p2 Product
                                            td
                                                p.p1 Product Designer
                                            td.text-right
                                                p.p1 10.200.000đ
                                        tr
                                            td
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            td
                                                p.p1 Vntrip Hà Nội
                                                p.p2 Product
                                            td
                                                p.p1 Product Designer
                                            td.text-right
                                                p.p1 10.200.000đ
                                .orderDetail__total
                                    p Tổng hạn mức (5 người) :
                                    p 67.000.000 đ
                            .orderDetail__price
                                .orderDetail__line
                                    .p1 Hình thức thanh toán
                                    .p2 Công nợ

                                .orderDetail__line
                                    .p1 Chi phí thanh toán công nợ
                                    .p2 80.655.000 ₫

                                .orderDetail__line
                                    .p1 Chi phí thanh toán trực tiếp
                                    .p2 3.000.000 ₫

                                .orderDetail__line
                                    .p1 Tổng chi phí thực tính
                                    .p2.red-1 3.000.000 ₫
                            .orderDetail__info
                                p.orderDetail__title Thông tin người nhận phòng
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Số điện thoại:
                                            span +84 982 433361
                                        li
                                            span Chức vụ:
                                            span Designer


                            .orderDetail__info
                                p.orderDetail__title Thông tin duyệt đơn
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Số điện thoại:
                                            span +84 982 433361
                                        li
                                            span Chức vụ:
                                            span Designer


                            .orderDetail__info
                                p.orderDetail__title Thông tin người đặt
                                .orderInfo
                                    p.orderInfo__name Đinh Phúc Khánh
                                    ul
                                        li
                                            span Email:
                                            span khanh.dinh@vntrip.vn
                                        li
                                            span Chi nhánh:
                                            span Vntrip Hà Nội
                                        li
                                            span Số điện thoại:
                                            span +84 982 433361
                                        li
                                            span Phòng ban:
                                            span TECH
                                        li
                                            span Chức vụ:
                                            span Designer

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });





