- var page = "stAccount";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    .vntHeader__left
                        h2.heading2.vntHeading Thông tin tài khoản
                    include jades/includes/_vntHeader__account
                section.vntContent.accountInfo
                    .accountInfo__row
                        .accountInfo__left
                            ul.stTab
                                li.active
                                    a.btn.btn_outline.btn_lg(href='personalInfo.html') Thông tin cá nhân
                                li
                                    a.btn.btn_outline.btn_lg(href='businessPolicy.html') Chính sách công tác
                                li
                                    a.btn.btn_outline.btn_lg(href='businessApproval.html') Chính sách phê duyệt
                                li
                                    a.btn.btn_outline.btn_lg(href='changePass.html') Cài đặt mật khẩu
                        .accountInfo__right
                            .personalInfo
                                .vntBox
                                    p.personalInfo__title Thông tin cá nhân
                                    .d-flex
                                        .personalInfo__col
                                            .form-group
                                                label Họ và tên
                                                p Vũ Trần Khoa Học
                                            .form-group
                                                label Email
                                                p Khoa.t.h.vu@vntrip.vn

                                            .form-group
                                                label Số điện thoại
                                                p 0963 266 688

                                            .form-group
                                                label Mã nhân viên
                                                p MB_854

                                            .form-group
                                                label Chi nhánh - phòng ban
                                                p Vntrip Hà Nội - Hành chính nhân sự
                                        .personalInfo__col
                                            .form-group
                                                label Ảnh đại diện
                                                .personalInfo__avatar
                                                    img(src='https://statics.vntrip.vn/images/avatar-default.png')
                                                p Kích thước nhỏ nhất 300x300. Chấp nhận định dạng ảnh PNG, JPEG, SVG
                                                label.upload
                                                    input(type='file')
                                                    svg(width='12', height='10', viewBox='0 0 12 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M4.46875 2.34353H5.4791V6.96872C5.4791 7.02888 5.52832 7.0781 5.58848 7.0781H6.40879C6.46895 7.0781 6.51816 7.02888 6.51816 6.96872V2.34353H7.53125C7.62285 2.34353 7.67344 2.23825 7.61738 2.16716L6.08613 0.228489C6.0759 0.215416 6.06283 0.204844 6.04791 0.197573C6.03298 0.190302 6.0166 0.186523 6 0.186523C5.9834 0.186523 5.96702 0.190302 5.95209 0.197573C5.93717 0.204844 5.9241 0.215416 5.91387 0.228489L4.38262 2.16579C4.32656 2.23825 4.37715 2.34353 4.46875 2.34353ZM11.0039 6.55857H10.1836C10.1234 6.55857 10.0742 6.60779 10.0742 6.66794V8.77341H1.92578V6.66794C1.92578 6.60779 1.87656 6.55857 1.81641 6.55857H0.996094C0.935937 6.55857 0.886719 6.60779 0.886719 6.66794V9.37497C0.886719 9.61697 1.08223 9.81247 1.32422 9.81247H10.6758C10.9178 9.81247 11.1133 9.61697 11.1133 9.37497V6.66794C11.1133 6.60779 11.0641 6.55857 11.0039 6.55857Z', fill='#595959')
                                                    span Tải lên

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });






