- var page = "stApproval";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2.vntHeading Cài đặt duyệt đơn
                section.vntContent.stApproval
                    .stApproval__row
                        .stApproval__left
                            ul.stTab
                                li.active
                                    button.btn.btn_outline.btn_lg(type='button') C - Level
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Trưởng Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Phó Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Trưởng Nhóm
                                li
                                    a.btn.btn_lg(href='stAddApproval.html') + Thêm cài đặt duyệt
                        .stApproval__right
                            h4.stTitle C - Level
                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button' onclick="location.href='stApproval-edit1.html';") Chỉnh sửa
                                .form-group
                                    label Tên cài đặt
                                    p.size-16.medium.stApproval__name Duyệt cấp C - Level
                                .form-group.radioInline
                                    .radio.active
                                        input(type='radio' id='pm1' name='vv' checked='checked')
                                        label(for='pm1') Đặt phòng cần phê duyệt

                            .vntBox
                                p.vntBox__title Người duyệt
                                .approvalInfo
                                    .approvalInfo__item
                                        .form-group
                                            label Người duyệt cấp 1
                                            .memberDropdown
                                                button.dropdown-toggle.w358(type='button')
                                                    span Thêm người duyệt cấp 1
                                                    svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')
                                                .memberDropdown__cont
                                                    .vntMember__table
                                                        .pSelected
                                                            p.mb-0
                                                                | Đã chọn&nbsp;
                                                                strong 36
                                                                | &nbsp;thành viên
                                                        table.table
                                                            thead
                                                                tr
                                                                    th &nbsp;
                                                                    th
                                                                        .dropdown.dropdown_form
                                                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                                span Họ và tên
                                                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                    path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')

                                                                            ul.dropdown-menu
                                                                                li.dropdown-item
                                                                                    .input-inline
                                                                                        input.form-control(type='text')
                                                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                            path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                                                                    .btnInline
                                                                                        button.btn.btn_sm(type='button') Tìm kiếm
                                                                                        button.btn.btn_sm.btn_outline(type='button') Hủy bỏ
                                                                    th
                                                                        .dropdown
                                                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                                span Chi nhánh & bộ phận
                                                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                                                            ul.dropdown-menu
                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn1(type='checkbox')
                                                                                        label(for='cn1') Hà Nội


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn2(type='checkbox')
                                                                                        label(for='cn2') Đà Nẵng


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn3(type='checkbox')
                                                                                        label(for='cn3') Tp Hồ Chí Minh


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn4(type='checkbox')
                                                                                        label(for='cn4') Nha Trang

                                                                    th
                                                                        .dropdown
                                                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                                span Chức danh
                                                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                                                            ul.dropdown-menu
                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv1(type='checkbox')
                                                                                        label(for='cv1') Tất cả


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv2(type='checkbox')
                                                                                        label(for='cv2') Tổng giám đốc


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv3(type='checkbox')
                                                                                        label(for='cv3') Phó giám đốc


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv4(type='checkbox')
                                                                                        label(for='cv4') Trưởng phòng


                                                            tbody
                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member1(type='checkbox')
                                                                            label(for='member1')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member2(type='checkbox')
                                                                            label(for='member2')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member3(type='checkbox')
                                                                            label(for='member3')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member4(type='checkbox')
                                                                            label(for='member4')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                    .btnInline.text-right.mt-15
                                                        button.btn.btn_outline(type='button') Hủy
                                                        button.btn(type='button') Thêm người duyệt
                                        .approvalInfo__row
                                            .d-block
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            .d-block
                                                p.p1 vntrip Sài Gòn
                                                p.p2 Product
                                            .d-block
                                                p.p1 Product Designer
                                            .d-block
                                                button.btnSvg(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                    .approvalInfo__item
                                        .form-group
                                            label Người duyệt cấp 2
                                            .memberDropdown
                                                button.dropdown-toggle.w358(type='button')
                                                    span Thêm người duyệt cấp 2
                                                    svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')
                                                .memberDropdown__cont
                                                    .vntMember__table
                                                        .pSelected
                                                            p.mb-0
                                                                | Đã chọn&nbsp;
                                                                strong 36
                                                                | &nbsp;thành viên
                                                        table.table
                                                            thead
                                                                tr
                                                                    th &nbsp;
                                                                    th
                                                                        .dropdown.dropdown_form
                                                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                                span Họ và tên
                                                                                svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                    path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')

                                                                            ul.dropdown-menu
                                                                                li.dropdown-item
                                                                                    .input-inline
                                                                                        input.form-control(type='text')
                                                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                            path(d='M13.2125 12.3516L9.15469 8.29375C9.78438 7.47969 10.125 6.48438 10.125 5.4375C10.125 4.18438 9.63594 3.00937 8.75156 2.12344C7.86719 1.2375 6.68906 0.75 5.4375 0.75C4.18594 0.75 3.00781 1.23906 2.12344 2.12344C1.2375 3.00781 0.75 4.18438 0.75 5.4375C0.75 6.68906 1.23906 7.86719 2.12344 8.75156C3.00781 9.6375 4.18438 10.125 5.4375 10.125C6.48438 10.125 7.47813 9.78438 8.29219 9.15625L12.35 13.2125C12.3619 13.2244 12.376 13.2338 12.3916 13.2403C12.4071 13.2467 12.4238 13.2501 12.4406 13.2501C12.4575 13.2501 12.4741 13.2467 12.4897 13.2403C12.5052 13.2338 12.5194 13.2244 12.5312 13.2125L13.2125 12.5328C13.2244 12.5209 13.2338 12.5068 13.2403 12.4912C13.2467 12.4757 13.2501 12.459 13.2501 12.4422C13.2501 12.4254 13.2467 12.4087 13.2403 12.3931C13.2338 12.3776 13.2244 12.3635 13.2125 12.3516ZM7.9125 7.9125C7.25 8.57344 6.37187 8.9375 5.4375 8.9375C4.50312 8.9375 3.625 8.57344 2.9625 7.9125C2.30156 7.25 1.9375 6.37187 1.9375 5.4375C1.9375 4.50312 2.30156 3.62344 2.9625 2.9625C3.625 2.30156 4.50312 1.9375 5.4375 1.9375C6.37187 1.9375 7.25156 2.3 7.9125 2.9625C8.57344 3.625 8.9375 4.50312 8.9375 5.4375C8.9375 6.37187 8.57344 7.25156 7.9125 7.9125Z', fill='#8C8C8C')
                                                                                    .btnInline
                                                                                        button.btn.btn_sm(type='button') Tìm kiếm
                                                                                        button.btn.btn_sm.btn_outline(type='button') Hủy bỏ
                                                                    th
                                                                        .dropdown
                                                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                                span Chi nhánh & bộ phận
                                                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                                                            ul.dropdown-menu
                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn1(type='checkbox')
                                                                                        label(for='cn1') Hà Nội


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn2(type='checkbox')
                                                                                        label(for='cn2') Đà Nẵng


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn3(type='checkbox')
                                                                                        label(for='cn3') Tp Hồ Chí Minh


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cn4(type='checkbox')
                                                                                        label(for='cn4') Nha Trang

                                                                    th
                                                                        .dropdown
                                                                            button.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                                span Chức danh
                                                                                svg(width='14', height='12', viewBox='0 0 14 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                                    path(d='M4.45307 11.0938C4.45307 11.3703 4.67494 11.5938 4.94994 11.5938H9.04994C9.32494 11.5938 9.54681 11.3703 9.54681 11.0938V8.03125H4.45307V11.0938ZM12.7515 0.40625H1.24838C0.865565 0.40625 0.626503 0.823438 0.81869 1.15625L4.2765 7.03125H9.7265L13.1843 1.15625C13.3734 0.823438 13.1343 0.40625 12.7515 0.40625Z', fill='#8C8C8C')

                                                                            ul.dropdown-menu
                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv1(type='checkbox')
                                                                                        label(for='cv1') Tất cả


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv2(type='checkbox')
                                                                                        label(for='cv2') Tổng giám đốc


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv3(type='checkbox')
                                                                                        label(for='cv3') Phó giám đốc


                                                                                li.dropdown-item
                                                                                    .checkbox
                                                                                        input#cv4(type='checkbox')
                                                                                        label(for='cv4') Trưởng phòng


                                                            tbody
                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member1(type='checkbox')
                                                                            label(for='member1')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member2(type='checkbox')
                                                                            label(for='member2')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member3(type='checkbox')
                                                                            label(for='member3')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                                tr
                                                                    td
                                                                        .checkbox
                                                                            input#member4(type='checkbox')
                                                                            label(for='member4')

                                                                    td
                                                                        p.p1 Nguyễn Thanh Tuấn
                                                                        p.p2 nguyenvana@gmail.com | 0982433361


                                                                    td
                                                                        p.p1 be Sài Gòn
                                                                        p.p2 Product

                                                                    td
                                                                        p.p1 Product Designer

                                                    .btnInline.text-right.mt-15
                                                        button.btn.btn_outline(type='button') Hủy
                                                        button.btn(type='button') Thêm người duyệt
                                        .approvalInfo__row
                                            .d-block
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            .d-block
                                                p.p1 vntrip Sài Gòn
                                                p.p2 Product
                                            .d-block
                                                p.p1 Product Designer
                                            .d-block
                                                button.btnSvg(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                        .approvalInfo__row
                                            .d-block
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361
                                            .d-block
                                                p.p1 vntrip Sài Gòn
                                                p.p2 Product
                                            .d-block
                                                p.p1 Product Designer
                                            .d-block
                                                button.btnSvg(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                    .approvalInfo__add
                                        button.btnAdd(type='button') + Thêm cấp duyệt
                                .vntBox__btn
                                    button.btn.w100(type='button' onclick="location.href='stApproval.html';") Chỉnh sửa
                                    button.btn.btn_outline.w100(type='button' onclick="location.href='stApproval.html';") Hủy

                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button' data-toggle="modal" data-target="#memberPopup2") Chỉnh sửa
                                p.vntBox__title Đội tượng áp dụng (36)
                                .objApply
                                    ul
                                        li
                                            p Phòng kinh doanh (24)
                                        li
                                            p 12 thành viên khác đang áp dụng hạn mức


                include jades/blocks/_popupMember
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.memberDropdown .dropdown-toggle').click(function () {
                $(this).next('.memberDropdown__cont').toggleClass('open');
            });






