- var page = "stApproval";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2.vntHeading Cài đặt duyệt đơn
                section.vntContent.stApproval
                    .stApproval__row
                        .stApproval__left
                            ul.stTab
                                li
                                    button.btn.btn_lg(type='button' data-toggle="modal" data-target="#addApprovalPopup") + Thêm cài đặt duyệt
                                li.active
                                    button.btn.btn_outline.btn_lg(type='button') C - Level
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Trưởng Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Phó Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Trưởng Nhóm
                            #addApprovalPopup.modal.fade(role='dialog')
                                .modal-dialog
                                    .modal-content
                                        .modal-header
                                            h5.modal-title Tên cài đặt duyệt
                                            button.modal-close(data-dismiss='modal')
                                                svg(width='10', height='12', viewBox='0 0 10 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M5.8095 6L9.91106 1.11094C9.97981 1.02969 9.922 0.90625 9.81575 0.90625H8.56888C8.49544 0.90625 8.42512 0.939062 8.37669 0.995312L4.99388 5.02813L1.61106 0.995312C1.56419 0.939062 1.49388 0.90625 1.41888 0.90625H0.172C0.0657503 0.90625 0.00793765 1.02969 0.0766877 1.11094L4.17825 6L0.0766877 10.8891C0.061287 10.9072 0.0514069 10.9293 0.04822 10.9529C0.0450331 10.9764 0.0486732 11.0004 0.0587085 11.022C0.0687439 11.0435 0.0847529 11.0617 0.104835 11.0745C0.124916 11.0872 0.148227 11.0939 0.172 11.0938H1.41888C1.49231 11.0938 1.56263 11.0609 1.61106 11.0047L4.99388 6.97188L8.37669 11.0047C8.42356 11.0609 8.49388 11.0938 8.56888 11.0938H9.81575C9.922 11.0938 9.97981 10.9703 9.91106 10.8891L5.8095 6Z', fill='#262626')
                                        .modal-body
                                            input.form-control(type='text' placeholder='Giám đốc')
                                        .modal-footer
                                            .btnInline.text-right
                                                button.btn.btn_outline.w100(type='button' data-dismiss='modal') Hủy
                                                button.btn.w100(type='button' data-dismiss='modal') Lưu
                        .stApproval__right
                            h4.stTitle C - Level
                            .vntBox
                                .form-group
                                    label Tên cài đặt
                                    input.form-control.w358(type='text' value='Duyệt cấp C - Level')
                                .form-group.radioInline
                                    .radio
                                        input(type='radio' id='pm1' name='vv')
                                        label(for='pm1') Đặt phòng cần phê duyệt
                                    .radio
                                        input(type='radio' id='pm2' name='vv')
                                        label(for='pm2') Đặt phòng không cần phê duyệt
                                .vntBox__btn
                                    button.btn.w100(type='button' onclick="location.href='stApproval.html';") Chỉnh sửa
                                    button.btn.btn_outline.w100(type='button' onclick="location.href='stApproval.html';") Hủy

                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button' data-toggle="modal" data-target="#memberPopup2") Chỉnh sửa
                                p.vntBox__title Đội tượng áp dụng (36)
                                .objApply
                                    ul
                                        li
                                            p(data-toggle="modal" data-target="#memberPopup2") Phòng kinh doanh (24)
                                        li
                                            p(data-toggle="modal" data-target="#memberPopup2") 12 thành viên khác đang áp dụng hạn mức
                                include jades/blocks/_popupMember

                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button' onclick="location.href='stApproval-edit2.html';") Chỉnh sửa
                                p.vntBox__title Thông tin người duyệt
                                .vntBox__table
                                    .d-row
                                        .d-left
                                            .d-block
                                                p Người duyệt cấp 1
                                        .d-right
                                            .d-block
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361

                                    .d-row
                                        .d-left
                                            .d-block
                                                p Người duyệt cấp 2
                                        .d-right
                                            .d-block
                                                p.p1 Nguyễn Trọng Duy
                                                p.p2 duy@gmail.com | 0982433361

                                            .d-block
                                                p.p1 Nguyễn Trọng Duy
                                                p.p2 duy@gmail.com | 0982433361

                                            .d-block
                                                p.p1 Nguyễn Trọng Duy
                                                p.p2 duy@gmail.com | 0982433361



        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });






