- var page = "stApproval";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2.vntHeading Cài đặt duyệt đơn
                section.vntContent.stApproval
                    .stApproval__row
                        .stApproval__left
                            ul.stTab
                                li.active
                                    button.btn.btn_outline.btn_lg(type='button') C - Level
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Trưởng Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Phó Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Cấp Trưởng Nhóm
                                li
                                    a.btn.btn_lg(href='stAddApproval.html') + Thêm cài đặt duyệt
                        .stApproval__right
                            h4.stTitle C - Level
                            .vntBox
                                .form-group
                                    label Tên cài đặt
                                    input.form-control.w358(type='text' value='Duyệt cấp C - Level')
                                .form-group.radioInline
                                    .radio
                                        input(type='radio' id='pm1' name='vv')
                                        label(for='pm1') Đặt phòng cần phê duyệt
                                    .radio
                                        input(type='radio' id='pm2' name='vv')
                                        label(for='pm2') Đặt phòng không cần phê duyệt
                                .vntBox__btn
                                    button.btn.w100(type='button' onclick="location.href='stApproval.html';") Chỉnh sửa
                                    button.btn.btn_outline.w100(type='button' onclick="location.href='stApproval.html';") Hủy

                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button' onclick="location.href='stApproval-edit2.html';") Chỉnh sửa
                                p.vntBox__title Người duyệt
                                .vntBox__table
                                    .d-row
                                        .d-left
                                            .d-block
                                                p Người duyệt cấp 1
                                        .d-right
                                            .d-block
                                                p.p1 Vũ Văn Lai
                                                p.p2 nguyenvana@gmail.com | 0982433361

                                    .d-row
                                        .d-left
                                            .d-block
                                                p Người duyệt cấp 2
                                        .d-right
                                            .d-block
                                                p.p1 Nguyễn Trọng Duy
                                                p.p2 duy@gmail.com | 0982433361

                                            .d-block
                                                p.p1 Nguyễn Trọng Duy
                                                p.p2 duy@gmail.com | 0982433361

                                            .d-block
                                                p.p1 Nguyễn Trọng Duy
                                                p.p2 duy@gmail.com | 0982433361


                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button') Chỉnh sửa
                                p.vntBox__title Đội tượng áp dụng (36)
                                .objApply
                                    ul
                                        li
                                            p Phòng kinh doanh (24)
                                        li
                                            p 12 thành viên khác đang áp dụng hạn mức


        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });






