- var page = "stEmail";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    .vntHeader__left
                        h2.heading2.vntHeading Cài đặt email
                    include jades/includes/_vntHeader__account
                section.vntContent.stEmail
                    .vntBox
                        .stEmail__table
                            table.table
                                thead
                                    tr
                                        th
                                            p.p1 Role
                                            p.p2 Loại E-mail
                                        th Người đặt
                                        th Người duyệt
                                        th Người đi
                                        th Người ở
                                tbody
                                    tr
                                        td
                                            p Đặt phòng giá ưu đãi
                                        td
                                            .checkbox
                                                input#em1(type='checkbox')
                                                label(for='em1')
                                        td
                                            .checkbox
                                                input#em2(type='checkbox')
                                                label(for='em2')
                                        td
                                            .checkbox
                                                input#em3(type='checkbox')
                                                label(for='em3')
                                        td
                                            .checkbox
                                                input#em4(type='checkbox')
                                                label(for='em4')
                                    tr
                                        td
                                            p Duyệt đơn
                                        td
                                            .checkbox
                                                input#em5(type='checkbox')
                                                label(for='em5')
                                        td
                                            .checkbox
                                                input#em6(type='checkbox')
                                                label(for='em6')
                                        td
                                            .checkbox
                                                input#em7(type='checkbox')
                                                label(for='em7')
                                        td
                                            .checkbox
                                                input#em8(type='checkbox')
                                                label(for='em8')
                                    tr
                                        td
                                            p Yêu cầu thanh toán
                                        td
                                            .checkbox
                                                input#em9(type='checkbox')
                                                label(for='em9')
                                        td
                                            .checkbox
                                                input#em10(type='checkbox')
                                                label(for='em10')
                                        td
                                            .checkbox
                                                input#em11(type='checkbox')
                                                label(for='em11')
                                        td
                                            .checkbox
                                                input#em12(type='checkbox')
                                                label(for='em12')
                    .stEmail__btn
                        button.btn(type='button') Lưu cài đặt
                        button.btn.btn_outline(type='button') Huỷ
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });






