- var page = "stLevel";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    h2.heading2.vntHeading Hạn mức
                section.vntContent.stLevel
                    .stLevel__row
                        .stLevel__left
                            ul.stTab
                                li.active
                                    button.btn.btn_outline.btn_lg(type='button') Giám đốc
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Trưởng Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Phó Phòng
                                li
                                    button.btn.btn_outline.btn_lg(type='button') Trưởng Nhóm
                                li
                                    a.btn.btn_lg(href='#') + Thêm cài đặt hạn mức
                        .stLevel__center
                            h4.stTitle Thông tin hạn mức
                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline#btnEditName(type='button') Chỉnh sửa
                                .form-group
                                    label Tên hạn mức
                                    p.size-16.medium.stLevel__name Giám đốc
                                    input.form-control.w358(type='text' value='Giám đốc' style='display:none;')
                                .vntBox__btn(style='display:none;')
                                    button.btn.w100#btnSaveName(type='button') Chỉnh sửa
                                    button.btn.btn_outline.w100(type='button') Hủy

                            .vntBox
                                .vntBox__edit(style='display:none;')
                                    button.btn.btn_outline.btnEdit(type='button') Chỉnh sửa
                                p.vntBox__title Khách sạn nội địa
                                .vntBox__noti
                                    p
                                        | Bạn chưa cài đặt hạn mức
                                        strong Khách sạn nội địa.
                                        br
                                        | Vui lòng cài đặt để sử dụng hệ thống.
                                    button.btn.btnEdit(type='button') Cài đặt hạn mức
                                .levelForm(style='display:none;')
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo khu vực
                                        .levelForm__place
                                            .levelForm__name
                                                p Lựa chọn khu vực
                                                p Hạn mức (đêm)
                                            .levelForm__line
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Lựa chọn khu vực')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__add
                                                button.btnAdd(type='button') + Thêm khu vực
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo thời gian lưu trú
                                        .levelForm__time
                                            .levelForm__name
                                                p Khoảng thời gian (Tối đa 15 ngày)
                                                p Hạn mức (đêm)
                                            .levelForm__line
                                                .levelForm__col
                                                    .input-inline
                                                        input.form-control(type='text' placeholder='Từ ngày')
                                                        span -
                                                        input.form-control(type='text' placeholder='Đến ngày')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__add
                                                button.btnAdd(type='button') + Thêm khoảng thời gian
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo tháng/năm
                                        .levelForm__date
                                            .form-group
                                                label Hạn mức theo tháng
                                                input.form-control(type='text' placeholder='Nhập hạn mức theo tháng')
                                            .form-group
                                                label Hạn mức theo năm
                                                input.form-control(type='text' placeholder='Nhập hạn mức theo năm')
                                    .levelForm__item
                                        p.levelForm__title Tổng hạn mức cố định
                                        .levelForm__date
                                            .form-group
                                                label Tổng hạn mức
                                                input.form-control(type='text' placeholder='Nhập tổng hạn mức cố định')
                                    .btnInline
                                        button.btn.btnSave(type='button') Lưu hạn mức
                                        button.btn.btn_outline(type='button') Hủy
                                .vntBox__table(style='display:none;')
                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Khu vực
                                        .d-right
                                            .flexGroup
                                                p.p1 Toàn quốc
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Hà Nội, Nha Trang, Mộc châu
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Sài gòn
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Đà nẵng
                                                p.p1 500.000đ


                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Theo tháng/năm
                                        .d-right
                                            .flexGroup
                                                p.p1 Hạn mức tháng
                                                p.p1 1.500.000đ


                                            .flexGroup
                                                p.p1 Hạn mức năm
                                                p.p1 2.500.000đ


                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Theo thời gian lưu trú
                                        .d-right
                                            .flexGroup
                                                p.p1 4 - 6 ngày
                                                p.p1 1.500.000đ


                                            .flexGroup
                                                p.p1 6 - 15 ngày
                                                p.p1 2.500.000đ


                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Hạn mức cố định
                                        .d-right
                                            .flexGroup
                                                p.p1 Tổng hạn mức cố định
                                                p.p1 1.500.000đ


                            .vntBox
                                .vntBox__edit(style='display:none;')
                                    button.btn.btn_outline.btnEdit(type='button') Chỉnh sửa
                                p.vntBox__title Khách sạn quốc tế
                                .vntBox__noti
                                    p
                                        | Bạn chưa cài đặt hạn mức
                                        strong Khách sạn quốc tế.
                                        br
                                        | Vui lòng cài đặt để sử dụng hệ thống.
                                    button.btn.btnEdit(type='button') Cài đặt hạn mức
                                .levelForm(style='display:none;')
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo khu vực
                                        .levelForm__place
                                            .levelForm__name
                                                p Lựa chọn khu vực
                                                p Hạn mức (đêm)
                                            .levelForm__line
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Lựa chọn khu vực')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__line
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Lựa chọn khu vực')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__line
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Lựa chọn khu vực')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__add
                                                button.btnAdd(type='button') + Thêm khu vực
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo thời gian lưu trú
                                        .levelForm__time
                                            .levelForm__name
                                                p Khoảng thời gian (Tối đa 15 ngày)
                                                p Hạn mức (đêm)
                                            .levelForm__line
                                                .levelForm__col
                                                    .input-inline
                                                        input.form-control(type='text' placeholder='Từ ngày')
                                                        span -
                                                        input.form-control(type='text' placeholder='Đến ngày')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__add
                                                button.btnAdd(type='button') + Thêm khoảng thời gian
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo tháng/năm
                                        .levelForm__date
                                            .form-group
                                                label Hạn mức theo tháng
                                                input.form-control(type='text' placeholder='Nhập hạn mức theo tháng')
                                            .form-group
                                                label Hạn mức theo năm
                                                input.form-control(type='text' placeholder='Nhập hạn mức theo năm')
                                    .levelForm__item
                                        p.levelForm__title Tổng hạn mức cố định
                                        .levelForm__date
                                            .form-group
                                                label Tổng hạn mức
                                                input.form-control(type='text' placeholder='Nhập tổng hạn mức cố định')
                                    .btnInline
                                        button.btn.btnSave(type='button') Lưu hạn mức
                                        button.btn.btn_outline(type='button') Hủy
                                .vntBox__table(style='display:none;')
                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Khu vực
                                        .d-right
                                            .flexGroup
                                                p.p1 Toàn thế giới
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Châu Âu
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Bắc Âu
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Bắc Mỹ
                                                p.p1 500.000đ


                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Theo tháng/năm
                                        .d-right
                                            .flexGroup
                                                p.p1 Hạn mức tháng
                                                p.p1 1.500.000đ


                                            .flexGroup
                                                p.p1 Hạn mức năm
                                                p.p1 2.500.000đ


                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Theo thời gian lưu trú
                                        .d-right
                                            .flexGroup
                                                p.p1 4 - 6 ngày
                                                p.p1 1.500.000đ


                                            .flexGroup
                                                p.p1 6 - 15 ngày
                                                p.p1 2.500.000đ


                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Hạn mức cố định
                                        .d-right
                                            .flexGroup
                                                p.p1 Tổng hạn mức cố định
                                                p.p1 1.500.000đ


                            .vntBox
                                .vntBox__edit(style='display:none;')
                                    button.btn.btn_outline.btnEdit(type='button') Chỉnh sửa
                                p.vntBox__title Chuyến bay nội địa
                                .vntBox__noti
                                    p
                                        | Bạn chưa cài đặt hạn mức
                                        strong Chuyến bay nội địa.
                                        br
                                        | Vui lòng cài đặt để sử dụng hệ thống.
                                    button.btn.btnEdit(type='button') Cài đặt hạn mức
                                .levelForm(style='display:none;')
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo khu vực
                                        .levelForm__place
                                            .levelForm__name
                                                p Lựa chọn khu vực
                                                p Hạn mức (đêm)
                                            .levelForm__line
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Lựa chọn khu vực')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__add
                                                button.btnAdd(type='button') + Thêm khu vực
                                    .levelForm__item
                                        p.levelForm__title Hãng máy bay trong hạn mức
                                        .levelForm__airlines
                                            .checkbox
                                                input#al1(type='checkbox')
                                                label(for='al1')
                                                    img.logoVnairline(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt='logoAirline')
                                            .checkbox
                                                input#al2(type='checkbox')
                                                label(for='al2')
                                                    img.logoBamboo(src='https://statics.vntrip.vn/images/icons/bambooairways.png' alt='logoAirline')
                                            .checkbox
                                                input#al3(type='checkbox')
                                                label(for='al3')
                                                    img.logoVietjet(src='https://statics.vntrip.vn/images/icons/vietjet-air.png' alt='logoAirline')
                                            .checkbox
                                                input#al4(type='checkbox')
                                                label(for='al4')
                                                    img.logoJetstar(src='https://statics.vntrip.vn/images/icons/jetstar.png' alt='logoAirline')
                                    .levelForm__item
                                        p.levelForm__title Hạng ghế máy bay trong hạn mức
                                        ul.levelForm__seat
                                            li.active
                                                button.btnSeat(type='button') First class
                                            li
                                                button.btnSeat(type='button') Business
                                            li
                                                button.btnSeat(type='button') Premium - Economy
                                            li
                                                button.btnSeat(type='button') Economy
                                    .levelForm__item
                                        p.levelForm__title Tổng hạn mức cố định (theo chuyến)
                                        .levelForm__date
                                            .form-group
                                                label Tổng hạn mức
                                                input.form-control(type='text' placeholder='Nhập tổng hạn mức cố định cho mỗi chuyến bay')
                                    .btnInline
                                        button.btn.btnSave(type='button') Lưu hạn mức
                                        button.btn.btn_outline(type='button') Hủy
                                .vntBox__table(style='display:none;')
                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Khu vực
                                        .d-right
                                            .flexGroup
                                                p.p1 Hà Nội
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Nha Trang
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Sài gòn
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Đà nẵng
                                                p.p1 500.000đ
                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Theo hãng máy bay
                                        .d-right
                                            .flexGroup
                                                p.p1 Vietnam Airline

                                            .flexGroup
                                                p.p1 Bamboo Airways

                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Hãng ghế máy bay
                                        .d-right
                                            .flexGroup
                                                p.p1 Economy
                                            .flexGroup
                                                p.p1 Business

                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Chi phí tối đa / lượt
                                        .d-right
                                            .flexGroup
                                                p.p1 Chi phí tối đa / lượt
                                                p.p1 1.500.000đ


                            .vntBox
                                .vntBox__edit(style='display:none;')
                                    button.btn.btn_outline.btnEdit(type='button') Chỉnh sửa
                                p.vntBox__title Chuyến bay quốc tế
                                .vntBox__noti
                                    p
                                        | Bạn chưa cài đặt hạn mức
                                        strong Chuyến bay quốc tế.
                                        br
                                        | Vui lòng cài đặt để sử dụng hệ thống.
                                    button.btn.btnEdit(type='button') Cài đặt hạn mức
                                .levelForm(style='display:none;')
                                    .levelForm__item
                                        p.levelForm__title Hạn mức theo khu vực
                                        .levelForm__place
                                            .levelForm__name
                                                p Lựa chọn khu vực
                                                p Hạn mức (đêm)
                                            .levelForm__line
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Lựa chọn khu vực')
                                                .levelForm__col
                                                    input.form-control(type='text' placeholder='Nhập hạn mức')
                                            .levelForm__add
                                                button.btnAdd(type='button') + Thêm khu vực
                                    .levelForm__item
                                        p.levelForm__title Hãng máy bay trong hạn mức
                                        .levelForm__airlines
                                            .checkbox
                                                input#al1(type='checkbox')
                                                label(for='al1')
                                                    img.logoVnairline(src='https://statics.vntrip.vn/images/icons/vietnamairline.png' alt='logoAirline')
                                            .checkbox
                                                input#al2(type='checkbox')
                                                label(for='al2')
                                                    img.logoBamboo(src='https://statics.vntrip.vn/images/icons/bambooairways.png' alt='logoAirline')
                                            .checkbox
                                                input#al3(type='checkbox')
                                                label(for='al3')
                                                    img.logoVietjet(src='https://statics.vntrip.vn/images/icons/vietjet-air.png' alt='logoAirline')
                                            .checkbox
                                                input#al4(type='checkbox')
                                                label(for='al4')
                                                    img.logoJetstar(src='https://statics.vntrip.vn/images/icons/jetstar.png' alt='logoAirline')
                                    .levelForm__item
                                        p.levelForm__title Hạng ghế máy bay trong hạn mức
                                        ul.levelForm__seat
                                            li.active
                                                button.btnSeat(type='button') First class
                                            li
                                                button.btnSeat(type='button') Business
                                            li
                                                button.btnSeat(type='button') Premium - Economy
                                            li
                                                button.btnSeat(type='button') Economy
                                    .levelForm__item
                                        p.levelForm__title Tổng hạn mức cố định (theo chuyến)
                                        .levelForm__date
                                            .form-group
                                                label Tổng hạn mức
                                                input.form-control(type='text' placeholder='Nhập tổng hạn mức cố định cho mỗi chuyến bay')
                                    .btnInline
                                        button.btn.btnSave(type='button') Lưu hạn mức
                                        button.btn.btn_outline(type='button') Hủy
                                .vntBox__table(style='display:none;')
                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Khu vực
                                        .d-right
                                            .flexGroup
                                                p.p1 Hà Nội
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Nha Trang
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Sài gòn
                                                p.p1 500.000đ


                                            .flexGroup
                                                p.p1 Đà nẵng
                                                p.p1 500.000đ
                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Theo hãng máy bay
                                        .d-right
                                            .flexGroup
                                                p.p1 Vietnam Airline

                                            .flexGroup
                                                p.p1 Bamboo Airways

                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Hãng ghế máy bay
                                        .d-right
                                            .flexGroup
                                                p.p1 Economy
                                            .flexGroup
                                                p.p1 Business

                                    .d-row
                                        .d-left
                                            .flexGroup
                                                p Chi phí tối đa / lượt
                                        .d-right
                                            .flexGroup
                                                p.p1 Chi phí tối đa / lượt
                                                p.p1 1.500.000đ
                            .vntBox
                                .vntBox__edit
                                    button.btn.btn_outline(type='button' data-toggle="modal" data-target="#memberPopup2") Chỉnh sửa
                                p.vntBox__title Thành viên áp dụng (0)
                                .vntBox__noti
                                    p
                                        | Bạn chưa cài chọn thành viên cho hạn mức này.
                                        br
                                        | Vui lòng cài đặt để sử dụng hệ thống.
                                    button.btn#btnSelect(type='button' data-toggle="modal" data-target="#memberPopup2") Chọn thành viên
                                .objApply(style='display:none;')
                                    ul
                                        li
                                            p Phòng kinh doanh (24)
                                        li
                                            p 12 thành viên khác đang áp dụng hạn mức
                        .stLevel__right
                            ul.stNavbar
                                li.active
                                    a(href='stLevel-edit1.html') Khách sạn nội địa

                                li
                                    a(href='stLevel-edit1.html') Khách sạn quốc tế

                                li
                                    a(href='stLevel-edit1.html') Máy bay nội địa

                                li
                                    a(href='stLevel-edit1.html') Máy bay quốc tế

                                li
                                    a(href='stLevel-edit1.html') Đối tượng áp dụng


                include jades/blocks/_popupMember
        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.vntBox .btnEdit').click(function () {
                $(this).parents('.vntBox__noti').css('display', 'none');
                $(this).parents('.vntBox').find('.levelForm').css('display', 'block');
                $(this).parents('.vntBox').find('.vntBox__table').css('display', 'none');
            });
            $('.vntBox .btnSave').click(function () {
                $(this).parents('.vntBox').find('.vntBox__table').css('display', 'block');
                $(this).parents('.vntBox').find('.levelForm').css('display', 'none');
                $(this).parents('.vntBox').find('.vntBox__edit').css('display', 'block');
            });
            $('#btnEditName').click(function () {
                $(this).parents('.vntBox').find('.stLevel__name').css('display', 'none');
                $(this).parents('.vntBox').find('.form-control').css('display', 'block');
                $(this).parents('.vntBox').find('.vntBox__btn').css('display', 'block');
            });
            $('#btnSaveName').click(function () {
                $(this).parents('.vntBox').find('.stLevel__name').css('display', 'block');
                $(this).parents('.vntBox').find('.form-control').css('display', 'none');
                $(this).parents('.vntBox').find('.vntBox__btn').css('display', 'none');
            });
            $('#btnSelect').click(function () {
                $(this).parents('.vntBox__noti').css('display', 'none');
                $(this).parents('.vntBox').find('.objApply').css('display', 'block');
            });






