- var page = "stPosition";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    .vntHeader__left
                        h2.heading2.vntHeading Chức danh
                    include jades/includes/_vntHeader__account
                section.vntContent.stPosition
                    .vntBox
                        .stPosition__header
                            p
                                | Tổng cộng:&nbsp;
                                strong 15
                                | &nbsp;chức vụ
                            .stPosition__btn
                                a.btn.btn_outline(href='#')
                                    svg(width='12', height='10', viewBox='0 0 12 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.46875 2.34353H5.4791V6.96872C5.4791 7.02888 5.52832 7.0781 5.58848 7.0781H6.40879C6.46895 7.0781 6.51816 7.02888 6.51816 6.96872V2.34353H7.53125C7.62285 2.34353 7.67344 2.23825 7.61738 2.16716L6.08613 0.228489C6.0759 0.215416 6.06283 0.204844 6.04791 0.197573C6.03298 0.190302 6.0166 0.186523 6 0.186523C5.9834 0.186523 5.96702 0.190302 5.95209 0.197573C5.93717 0.204844 5.9241 0.215416 5.91387 0.228489L4.38262 2.16579C4.32656 2.23825 4.37715 2.34353 4.46875 2.34353ZM11.0039 6.55857H10.1836C10.1234 6.55857 10.0742 6.60779 10.0742 6.66794V8.77341H1.92578V6.66794C1.92578 6.60779 1.87656 6.55857 1.81641 6.55857H0.996094C0.935937 6.55857 0.886719 6.60779 0.886719 6.66794V9.37497C0.886719 9.61697 1.08223 9.81247 1.32422 9.81247H10.6758C10.9178 9.81247 11.1133 9.61697 11.1133 9.37497V6.66794C11.1133 6.60779 11.0641 6.55857 11.0039 6.55857Z', fill='#8c8c8c')
                                    span Nhập liệu danh sách
                                button.btn(type='button') + Thêm chức danh
                        .stPosition__table
                            table.table
                                thead
                                    tr
                                        th Chức danh
                                        th Mã chức danh
                                        th Mô tả
                                        th Action
                                tbody
                                    tr.addPosition
                                        td
                                            input.form-control.form-control_sm(type='text' placeholder='Nhập chức danh')
                                        td
                                            input.form-control.form-control_sm(type='text' placeholder='Nhập mã chức danh')
                                        td
                                            input.form-control.form-control_sm(type='text' placeholder='Nhập mô tả')
                                        td
                                            .btnGroup
                                                button.stPosition__checked(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M18.2498 6.96875H17.1576C17.0045 6.96875 16.8591 7.03906 16.7654 7.15937L10.3232 15.3203L7.23414 11.4062C7.18741 11.3469 7.12785 11.2989 7.05992 11.2659C6.992 11.2329 6.91748 11.2157 6.84195 11.2156H5.74976C5.64508 11.2156 5.58726 11.3359 5.65133 11.4172L9.93102 16.8391C10.131 17.0922 10.5154 17.0922 10.717 16.8391L18.3482 7.16875C18.4123 7.08906 18.3545 6.96875 18.2498 6.96875Z', fill='#52C41A')

                                                button.stPosition__close(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M12.809 12L16.9106 7.11094C16.9793 7.02969 16.9215 6.90625 16.8153 6.90625H15.5684C15.4949 6.90625 15.4246 6.93906 15.3762 6.99531L11.9934 11.0281L8.61057 6.99531C8.5637 6.93906 8.49339 6.90625 8.41839 6.90625H7.17151C7.06526 6.90625 7.00745 7.02969 7.0762 7.11094L11.1778 12L7.0762 16.8891C7.0608 16.9072 7.05092 16.9293 7.04773 16.9529C7.04454 16.9764 7.04818 17.0004 7.05822 17.022C7.06826 17.0435 7.08426 17.0617 7.10435 17.0745C7.12443 17.0872 7.14774 17.0939 7.17151 17.0938H8.41839C8.49182 17.0938 8.56214 17.0609 8.61057 17.0047L11.9934 12.9719L15.3762 17.0047C15.4231 17.0609 15.4934 17.0938 15.5684 17.0938H16.8153C16.9215 17.0938 16.9793 16.9703 16.9106 16.8891L12.809 12Z', fill='black')

                                    tr
                                        td
                                            p Tổng giám đốc
                                        td
                                            p TGD
                                        td
                                            p Người quyền lực nhất công ty
                                        td
                                            .btnGroup
                                                button.stPosition__edit(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')
                                                button.stPosition__remove(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                                .popConfirm
                                                    p
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM6.5 3.625C6.5 3.55625 6.55625 3.5 6.625 3.5H7.375C7.44375 3.5 7.5 3.55625 7.5 3.625V7.875C7.5 7.94375 7.44375 8 7.375 8H6.625C6.55625 8 6.5 7.94375 6.5 7.875V3.625ZM7 10.5C6.80374 10.496 6.61687 10.4152 6.47948 10.275C6.3421 10.1348 6.26515 9.9463 6.26515 9.75C6.26515 9.5537 6.3421 9.36522 6.47948 9.225C6.61687 9.08478 6.80374 9.00401 7 9C7.19626 9.00401 7.38313 9.08478 7.52052 9.225C7.6579 9.36522 7.73485 9.5537 7.73485 9.75C7.73485 9.9463 7.6579 10.1348 7.52052 10.275C7.38313 10.4152 7.19626 10.496 7 10.5Z', fill='#FAAD14')
                                                        span Bạn chắc chắn xoá chức danh này chứ?
                                                    .popConfirm__btn
                                                        button.btn.btn_outline.btn_sm(type='button') Ko
                                                        button.btn.btn_sm(type='button') Có
                                    tr.editPosition
                                        td
                                            input.form-control.form-control_sm(type='text' value='Tổng giám đốc')
                                        td
                                            input.form-control.form-control_sm(type='text' value='TGD')
                                        td
                                            input.form-control.form-control_sm(type='text' value='Người quyền lực nhất công ty')
                                        td
                                            .btnGroup
                                                button.stPosition__checked(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M18.2498 6.96875H17.1576C17.0045 6.96875 16.8591 7.03906 16.7654 7.15937L10.3232 15.3203L7.23414 11.4062C7.18741 11.3469 7.12785 11.2989 7.05992 11.2659C6.992 11.2329 6.91748 11.2157 6.84195 11.2156H5.74976C5.64508 11.2156 5.58726 11.3359 5.65133 11.4172L9.93102 16.8391C10.131 17.0922 10.5154 17.0922 10.717 16.8391L18.3482 7.16875C18.4123 7.08906 18.3545 6.96875 18.2498 6.96875Z', fill='#52C41A')

                                                button.stPosition__close(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M12.809 12L16.9106 7.11094C16.9793 7.02969 16.9215 6.90625 16.8153 6.90625H15.5684C15.4949 6.90625 15.4246 6.93906 15.3762 6.99531L11.9934 11.0281L8.61057 6.99531C8.5637 6.93906 8.49339 6.90625 8.41839 6.90625H7.17151C7.06526 6.90625 7.00745 7.02969 7.0762 7.11094L11.1778 12L7.0762 16.8891C7.0608 16.9072 7.05092 16.9293 7.04773 16.9529C7.04454 16.9764 7.04818 17.0004 7.05822 17.022C7.06826 17.0435 7.08426 17.0617 7.10435 17.0745C7.12443 17.0872 7.14774 17.0939 7.17151 17.0938H8.41839C8.49182 17.0938 8.56214 17.0609 8.61057 17.0047L11.9934 12.9719L15.3762 17.0047C15.4231 17.0609 15.4934 17.0938 15.5684 17.0938H16.8153C16.9215 17.0938 16.9793 16.9703 16.9106 16.8891L12.809 12Z', fill='black')

                                    tr
                                        td
                                            p Phó Tổng giám đốc
                                        td
                                            p Phó TGD
                                        td
                                            p Culi công ty
                                        td
                                            .btnGroup
                                                button.stPosition__edit(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')
                                                button.stPosition__remove(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                                .popConfirm
                                                    p
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM6.5 3.625C6.5 3.55625 6.55625 3.5 6.625 3.5H7.375C7.44375 3.5 7.5 3.55625 7.5 3.625V7.875C7.5 7.94375 7.44375 8 7.375 8H6.625C6.55625 8 6.5 7.94375 6.5 7.875V3.625ZM7 10.5C6.80374 10.496 6.61687 10.4152 6.47948 10.275C6.3421 10.1348 6.26515 9.9463 6.26515 9.75C6.26515 9.5537 6.3421 9.36522 6.47948 9.225C6.61687 9.08478 6.80374 9.00401 7 9C7.19626 9.00401 7.38313 9.08478 7.52052 9.225C7.6579 9.36522 7.73485 9.5537 7.73485 9.75C7.73485 9.9463 7.6579 10.1348 7.52052 10.275C7.38313 10.4152 7.19626 10.496 7 10.5Z', fill='#FAAD14')
                                                        span Bạn chắc chắn xoá chức danh này chứ?
                                                    .popConfirm__btn
                                                        button.btn.btn_outline.btn_sm(type='button') Ko
                                                        button.btn.btn_sm(type='button') Có
                                    tr.editPosition
                                        td
                                            input.form-control.form-control_sm(type='text' value='Phó Tổng giám đốc')
                                        td
                                            input.form-control.form-control_sm(type='text' value='Phó TGD')
                                        td
                                            input.form-control.form-control_sm(type='text' value='Culi công ty')
                                        td
                                            .btnGroup
                                                button.stPosition__checked(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M18.2498 6.96875H17.1576C17.0045 6.96875 16.8591 7.03906 16.7654 7.15937L10.3232 15.3203L7.23414 11.4062C7.18741 11.3469 7.12785 11.2989 7.05992 11.2659C6.992 11.2329 6.91748 11.2157 6.84195 11.2156H5.74976C5.64508 11.2156 5.58726 11.3359 5.65133 11.4172L9.93102 16.8391C10.131 17.0922 10.5154 17.0922 10.717 16.8391L18.3482 7.16875C18.4123 7.08906 18.3545 6.96875 18.2498 6.96875Z', fill='#52C41A')

                                                button.stPosition__close(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M12.809 12L16.9106 7.11094C16.9793 7.02969 16.9215 6.90625 16.8153 6.90625H15.5684C15.4949 6.90625 15.4246 6.93906 15.3762 6.99531L11.9934 11.0281L8.61057 6.99531C8.5637 6.93906 8.49339 6.90625 8.41839 6.90625H7.17151C7.06526 6.90625 7.00745 7.02969 7.0762 7.11094L11.1778 12L7.0762 16.8891C7.0608 16.9072 7.05092 16.9293 7.04773 16.9529C7.04454 16.9764 7.04818 17.0004 7.05822 17.022C7.06826 17.0435 7.08426 17.0617 7.10435 17.0745C7.12443 17.0872 7.14774 17.0939 7.17151 17.0938H8.41839C8.49182 17.0938 8.56214 17.0609 8.61057 17.0047L11.9934 12.9719L15.3762 17.0047C15.4231 17.0609 15.4934 17.0938 15.5684 17.0938H16.8153C16.9215 17.0938 16.9793 16.9703 16.9106 16.8891L12.809 12Z', fill='black')

                                    tr
                                        td
                                            p Trưởng phòng
                                        td
                                            p TP
                                        td
                                            p Ngồi chơi xơi nước
                                        td
                                            .btnGroup
                                                button.stPosition__edit(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.75 17.0625H6.25C5.97344 17.0625 5.75 17.2859 5.75 17.5625V18.125C5.75 18.1938 5.80625 18.25 5.875 18.25H18.125C18.1938 18.25 18.25 18.1938 18.25 18.125V17.5625C18.25 17.2859 18.0266 17.0625 17.75 17.0625ZM8.02656 15.75C8.05781 15.75 8.08906 15.7469 8.12031 15.7422L10.7484 15.2812C10.7797 15.275 10.8094 15.2609 10.8313 15.2375L17.4547 8.61406C17.4692 8.59961 17.4807 8.58244 17.4885 8.56354C17.4963 8.54463 17.5004 8.52437 17.5004 8.50391C17.5004 8.48344 17.4963 8.46318 17.4885 8.44428C17.4807 8.42538 17.4692 8.40821 17.4547 8.39375L14.8578 5.79531C14.8281 5.76563 14.7891 5.75 14.7469 5.75C14.7047 5.75 14.6656 5.76563 14.6359 5.79531L8.0125 12.4187C7.98906 12.4422 7.975 12.4703 7.96875 12.5016L7.50781 15.1297C7.49261 15.2134 7.49804 15.2995 7.52364 15.3807C7.54923 15.4618 7.59421 15.5355 7.65469 15.5953C7.75781 15.6953 7.8875 15.75 8.02656 15.75Z', fill='#595959')
                                                button.stPosition__remove(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M17.5 8H15.5V6.75C15.5 6.19844 15.0516 5.75 14.5 5.75H9.5C8.94844 5.75 8.5 6.19844 8.5 6.75V8H6.5C6.22344 8 6 8.22344 6 8.5V9C6 9.06875 6.05625 9.125 6.125 9.125H7.06875L7.45469 17.2969C7.47969 17.8297 7.92031 18.25 8.45312 18.25H15.5469C16.0813 18.25 16.5203 17.8313 16.5453 17.2969L16.9312 9.125H17.875C17.9438 9.125 18 9.06875 18 9V8.5C18 8.22344 17.7766 8 17.5 8ZM14.375 8H9.625V6.875H14.375V8Z', fill='#595959')

                                                .popConfirm
                                                    p
                                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M7 0C3.13438 0 0 3.13438 0 7C0 10.8656 3.13438 14 7 14C10.8656 14 14 10.8656 14 7C14 3.13438 10.8656 0 7 0ZM6.5 3.625C6.5 3.55625 6.55625 3.5 6.625 3.5H7.375C7.44375 3.5 7.5 3.55625 7.5 3.625V7.875C7.5 7.94375 7.44375 8 7.375 8H6.625C6.55625 8 6.5 7.94375 6.5 7.875V3.625ZM7 10.5C6.80374 10.496 6.61687 10.4152 6.47948 10.275C6.3421 10.1348 6.26515 9.9463 6.26515 9.75C6.26515 9.5537 6.3421 9.36522 6.47948 9.225C6.61687 9.08478 6.80374 9.00401 7 9C7.19626 9.00401 7.38313 9.08478 7.52052 9.225C7.6579 9.36522 7.73485 9.5537 7.73485 9.75C7.73485 9.9463 7.6579 10.1348 7.52052 10.275C7.38313 10.4152 7.19626 10.496 7 10.5Z', fill='#FAAD14')
                                                        span Bạn chắc chắn xoá chức danh này chứ?
                                                    .popConfirm__btn
                                                        button.btn.btn_outline.btn_sm(type='button') Ko
                                                        button.btn.btn_sm(type='button') Có
                                    tr.editPosition
                                        td
                                            input.form-control.form-control_sm(type='text' value='Trưởng phòng')
                                        td
                                            input.form-control.form-control_sm(type='text' value='TP')
                                        td
                                            input.form-control.form-control_sm(type='text' value='Ngồi chơi xơi nước')
                                        td
                                            .btnGroup
                                                button.stPosition__checked(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M18.2498 6.96875H17.1576C17.0045 6.96875 16.8591 7.03906 16.7654 7.15937L10.3232 15.3203L7.23414 11.4062C7.18741 11.3469 7.12785 11.2989 7.05992 11.2659C6.992 11.2329 6.91748 11.2157 6.84195 11.2156H5.74976C5.64508 11.2156 5.58726 11.3359 5.65133 11.4172L9.93102 16.8391C10.131 17.0922 10.5154 17.0922 10.717 16.8391L18.3482 7.16875C18.4123 7.08906 18.3545 6.96875 18.2498 6.96875Z', fill='#52C41A')

                                                button.stPosition__close(type='button')
                                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        rect(width='24', height='24', rx='12', fill='#F5F5F5')
                                                        path(d='M12.809 12L16.9106 7.11094C16.9793 7.02969 16.9215 6.90625 16.8153 6.90625H15.5684C15.4949 6.90625 15.4246 6.93906 15.3762 6.99531L11.9934 11.0281L8.61057 6.99531C8.5637 6.93906 8.49339 6.90625 8.41839 6.90625H7.17151C7.06526 6.90625 7.00745 7.02969 7.0762 7.11094L11.1778 12L7.0762 16.8891C7.0608 16.9072 7.05092 16.9293 7.04773 16.9529C7.04454 16.9764 7.04818 17.0004 7.05822 17.022C7.06826 17.0435 7.08426 17.0617 7.10435 17.0745C7.12443 17.0872 7.14774 17.0939 7.17151 17.0938H8.41839C8.49182 17.0938 8.56214 17.0609 8.61057 17.0047L11.9934 12.9719L15.3762 17.0047C15.4231 17.0609 15.4934 17.0938 15.5684 17.0938H16.8153C16.9215 17.0938 16.9793 16.9703 16.9106 16.8891L12.809 12Z', fill='black')


        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.stPosition__btn .btn').click(function () {
                $('.addPosition').toggleClass('open');
            });
            $('.stPosition__close').click(function () {
                $('.addPosition').removeClass('open');
                $('.editPosition').removeClass('open');
            });

            $('.stPosition__edit').click(function () {
                $(this).parents('tr').next('.editPosition').toggleClass('open');
            });
            $('.stPosition__remove').click(function () {
                $(this).parent('.btnGroup').find('.popConfirm').toggleClass('open');
            });
            $('.popConfirm .btn_outline').click(function () {
                $('.popConfirm').removeClass('open');
            });





