- var page = "stStructure";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        section.pageBody
            include jades/includes/_sidebar
            main.main
                section.vntHeader
                    .vntHeader__left
                        h2.heading2.vntHeading Sơ đồ tổ chức
                    include jades/includes/_vntHeader__account
                section.vntContent.stStructure
                    .vntBox
                        .stStructure__header
                            p
                                | Tổng cộng: 
                                strong 50
                                |  phòng ban
                            .stPosition__btn
                                button.btn(type='button', data-toggle='modal', data-target='#addPart') + Thêm bộ phận


                        .stStructure__body
                            .companyBox
                                .companyBox__logo
                                    img(src='https://statics.vntrip.vn/images//svg/logo-vntrip-black.svg' alt='logo')
                                ul.companyBox__part
                                    li
                                        button.companyBox__btn(type='button')
                                            svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M6.46842 5.65558L0.305152 0.841708C0.289047 0.829029 0.269693 0.82115 0.249311 0.818975C0.22893 0.8168 0.208349 0.820417 0.189931 0.829412C0.171513 0.838407 0.156006 0.852414 0.14519 0.869825C0.134374 0.887236 0.128688 0.907344 0.128785 0.927841V1.98468C0.128785 2.05167 0.160231 2.11593 0.212184 2.15694L5.13405 6.00011L0.212184 9.84327C0.158864 9.88429 0.128785 9.94854 0.128785 10.0155V11.0724C0.128785 11.164 0.234058 11.2146 0.305152 11.1585L6.46842 6.34464C6.5208 6.30378 6.56318 6.25151 6.59232 6.19181C6.62147 6.1321 6.63662 6.06654 6.63662 6.00011C6.63662 5.93367 6.62147 5.86811 6.59232 5.80841C6.56318 5.74871 6.5208 5.69644 6.46842 5.65558Z', fill='#fff')

                                        ul.companyBox__team
                                            li
                                                p Hà Nội - Head Office (24)
                                                ul.companyBox__child
                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team Developer
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa
                                                        ul
                                                            li
                                                                .companyBox__text.tooltip
                                                                    p Team Core
                                                                    .tooltip__cont
                                                                        button(type='button') Thêm
                                                                        button(type='button') Chỉnh sửa
                                                                        button(type='button') Xóa
                                                                ul
                                                                    li
                                                                        .companyBox__text.tooltip
                                                                            p Team Hieubeo
                                                                            .tooltip__cont
                                                                                button(type='button') Thêm
                                                                                button(type='button') Chỉnh sửa
                                                                                button(type='button') Xóa
                                                                    li
                                                                        .companyBox__text.tooltip
                                                                            p Team Tanzon
                                                                            .tooltip__cont
                                                                                button(type='button') Thêm
                                                                                button(type='button') Chỉnh sửa
                                                                                button(type='button') Xóa
                                                                    li
                                                                        .companyBox__text.tooltip
                                                                            p Team Haido
                                                                            .tooltip__cont
                                                                                button(type='button') Thêm
                                                                                button(type='button') Chỉnh sửa
                                                                                button(type='button') Xóa

                                                            li
                                                                .companyBox__text.tooltip
                                                                    p Team HTML/CSS
                                                                    .tooltip__cont
                                                                        button(type='button') Thêm
                                                                        button(type='button') Chỉnh sửa
                                                                        button(type='button') Xóa
                                                                ul
                                                                    li
                                                                        .companyBox__text.tooltip
                                                                            p Team Hieubeo
                                                                            .tooltip__cont
                                                                                button(type='button') Thêm
                                                                                button(type='button') Chỉnh sửa
                                                                                button(type='button') Xóa
                                                                        ul
                                                                            li
                                                                                .companyBox__text.tooltip
                                                                                    p Team Hieubeo
                                                                                    .tooltip__cont
                                                                                        button(type='button') Thêm
                                                                                        button(type='button') Chỉnh sửa
                                                                                        button(type='button') Xóa
                                                                            li
                                                                                .companyBox__text.tooltip
                                                                                    p Team Tanzon
                                                                                    .tooltip__cont
                                                                                        button(type='button') Thêm
                                                                                        button(type='button') Chỉnh sửa
                                                                                        button(type='button') Xóa
                                                                            li
                                                                                .companyBox__text.tooltip
                                                                                    p Team Haido
                                                                                    .tooltip__cont
                                                                                        button(type='button') Thêm
                                                                                        button(type='button') Chỉnh sửa
                                                                                        button(type='button') Xóa
                                                                    li
                                                                        .companyBox__text.tooltip
                                                                            p Team Tanzon
                                                                            .tooltip__cont
                                                                                button(type='button') Thêm
                                                                                button(type='button') Chỉnh sửa
                                                                                button(type='button') Xóa
                                                                        ul
                                                                            li
                                                                                .companyBox__text.tooltip
                                                                                    p Team Hieubeo
                                                                                    .tooltip__cont
                                                                                        button(type='button') Thêm
                                                                                        button(type='button') Chỉnh sửa
                                                                                        button(type='button') Xóa
                                                                            li
                                                                                .companyBox__text.tooltip
                                                                                    p Team Tanzon
                                                                                    .tooltip__cont
                                                                                        button(type='button') Thêm
                                                                                        button(type='button') Chỉnh sửa
                                                                                        button(type='button') Xóa
                                                                            li
                                                                                .companyBox__text.tooltip
                                                                                    p Team Haido
                                                                                    .tooltip__cont
                                                                                        button(type='button') Thêm
                                                                                        button(type='button') Chỉnh sửa
                                                                                        button(type='button') Xóa
                                                                    li
                                                                        .companyBox__text.tooltip
                                                                            p Team Haido
                                                                            .tooltip__cont
                                                                                button(type='button') Thêm
                                                                                button(type='button') Chỉnh sửa
                                                                                button(type='button') Xóa

                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team UI/UX
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa
                                                        ul
                                                            li
                                                                .companyBox__text.tooltip
                                                                    p Team Hieubeo
                                                                    .tooltip__cont
                                                                        button(type='button') Thêm
                                                                        button(type='button') Chỉnh sửa
                                                                        button(type='button') Xóa
                                                            li
                                                                .companyBox__text.tooltip
                                                                    p Team Tanzon
                                                                    .tooltip__cont
                                                                        button(type='button') Thêm
                                                                        button(type='button') Chỉnh sửa
                                                                        button(type='button') Xóa
                                                            li
                                                                .companyBox__text.tooltip
                                                                    p Team Haido
                                                                    .tooltip__cont
                                                                        button(type='button') Thêm
                                                                        button(type='button') Chỉnh sửa
                                                                        button(type='button') Xóa

                                    li
                                        button.companyBox__btn(type='button')
                                            svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M6.46842 5.65558L0.305152 0.841708C0.289047 0.829029 0.269693 0.82115 0.249311 0.818975C0.22893 0.8168 0.208349 0.820417 0.189931 0.829412C0.171513 0.838407 0.156006 0.852414 0.14519 0.869825C0.134374 0.887236 0.128688 0.907344 0.128785 0.927841V1.98468C0.128785 2.05167 0.160231 2.11593 0.212184 2.15694L5.13405 6.00011L0.212184 9.84327C0.158864 9.88429 0.128785 9.94854 0.128785 10.0155V11.0724C0.128785 11.164 0.234058 11.2146 0.305152 11.1585L6.46842 6.34464C6.5208 6.30378 6.56318 6.25151 6.59232 6.19181C6.62147 6.1321 6.63662 6.06654 6.63662 6.00011C6.63662 5.93367 6.62147 5.86811 6.59232 5.80841C6.56318 5.74871 6.5208 5.69644 6.46842 5.65558Z', fill='#fff')

                                        ul.companyBox__team
                                            li
                                                p Đà Nẵng (12)
                                                ul.companyBox__child
                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team Developer
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa
                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team UI/UX
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa

                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team UI/UX
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa

                                    li
                                        button.companyBox__btn(type='button')
                                            svg(width='7', height='12', viewBox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M6.46842 5.65558L0.305152 0.841708C0.289047 0.829029 0.269693 0.82115 0.249311 0.818975C0.22893 0.8168 0.208349 0.820417 0.189931 0.829412C0.171513 0.838407 0.156006 0.852414 0.14519 0.869825C0.134374 0.887236 0.128688 0.907344 0.128785 0.927841V1.98468C0.128785 2.05167 0.160231 2.11593 0.212184 2.15694L5.13405 6.00011L0.212184 9.84327C0.158864 9.88429 0.128785 9.94854 0.128785 10.0155V11.0724C0.128785 11.164 0.234058 11.2146 0.305152 11.1585L6.46842 6.34464C6.5208 6.30378 6.56318 6.25151 6.59232 6.19181C6.62147 6.1321 6.63662 6.06654 6.63662 6.00011C6.63662 5.93367 6.62147 5.86811 6.59232 5.80841C6.56318 5.74871 6.5208 5.69644 6.46842 5.65558Z', fill='#fff')

                                        ul.companyBox__team
                                            li
                                                p Thành phố Hồ chí minh (10)
                                                ul.companyBox__child
                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team Developer
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa

                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team UI/UX
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa

                                                    li
                                                        .companyBox__text.tooltip
                                                            p Team UI/UX
                                                            .tooltip__cont
                                                                button(type='button') Thêm
                                                                button(type='button') Chỉnh sửa
                                                                button(type='button') Xóa
                #addPart.modal.fade(role='dialog')
                    .modal-dialog.modal-addPart
                        .modal-content
                            .modal-header
                                h5.modal-title Thêm bộ phận
                                button.modal-close(data-dismiss='modal')
                                    svg(width='10', height='12', viewBox='0 0 10 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.8095 6L9.91106 1.11094C9.97981 1.02969 9.922 0.90625 9.81575 0.90625H8.56888C8.49544 0.90625 8.42512 0.939062 8.37669 0.995312L4.99388 5.02813L1.61106 0.995312C1.56419 0.939062 1.49388 0.90625 1.41888 0.90625H0.172C0.0657503 0.90625 0.00793765 1.02969 0.0766877 1.11094L4.17825 6L0.0766877 10.8891C0.061287 10.9072 0.0514069 10.9293 0.04822 10.9529C0.0450331 10.9764 0.0486732 11.0004 0.0587085 11.022C0.0687439 11.0435 0.0847529 11.0617 0.104835 11.0745C0.124916 11.0872 0.148227 11.0939 0.172 11.0938H1.41888C1.49231 11.0938 1.56263 11.0609 1.61106 11.0047L4.99388 6.97188L8.37669 11.0047C8.42356 11.0609 8.49388 11.0938 8.56888 11.0938H9.81575C9.922 11.0938 9.97981 10.9703 9.91106 10.8891L5.8095 6Z', fill='#262626')

                            .modal-body
                                .form-group
                                    label.label-star Tên bộ phận
                                    input.form-control(type='text' placeholder='Tên bộ phận')
                                .form-group
                                    label.label-star Thuộc bộ phận
                                    .dropdown
                                        button.dropdown-toggle(type='button', data-toggle='dropdown')
                                            span Hồ Chí Minh
                                            svg(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M11.8125 0H10.6406C10.5609 0 10.4859 0.0390626 10.439 0.103125L5.99995 6.22188L1.56089 0.103125C1.51402 0.0390626 1.43902 0 1.35933 0H0.187454C0.0858913 0 0.0265163 0.115625 0.0858913 0.198438L5.59527 7.79375C5.79527 8.06875 6.20464 8.06875 6.40308 7.79375L11.9125 0.198438C11.9734 0.115625 11.914 0 11.8125 0Z', fill='#8C8C8C')

                                        ul.dropdown-menu
                                            li.dropdown-item.active Hội sở
                                            li.dropdown-item Chi nhánh Hà Nội
                                            li.dropdown-item Chi nhánh Đà Nẵng
                                            li.dropdown-item Chi nhánh Quảng Trị
                                            li.dropdown-item Chi nhánh Nghệ An
                                            li.dropdown-item Chi nhánh Hải Phòng
                                            li.dropdown-item Chi nhánh Nha Trang
                            .modal-footer
                                .modal-btn
                                    button.btn.btn_outline.w100(type='button') Huỷ
                                    button.btn.w100(type='button') Thêm

        script(src="js/libs/jquery.min.js")
        script(src="js/main.js")
        script.
            $('.nav-sub').click(function () {
                $(this).toggleClass('open');
            });
        script.
            $('.companyBox__btn').click(function () {
                $(this).toggleClass('rotate');
                $(this).next('.companyBox__team').toggleClass('open');
            });






