- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/includes/_head
    body(ontouchstart='')
        .pageBody
            .mainWrapper
                .vnt-login(style='background-image: url(https://statics.vntrip.vn/images/banner-login-v2.jpg);')
                    .vnt-login__form
                        .form-login
                            .form-login__logo
                                img(src='https://statics.vntrip.vn/images//svg/logo-vntrip-black.svg')
                            .form-login__update
                                svg(width='61', height='60', viewBox='0 0 61 60', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M30.5 60C47.0685 60 60.5 46.5685 60.5 30C60.5 13.4315 47.0685 0 30.5 0C13.9315 0 0.5 13.4315 0.5 30C0.5 46.5685 13.9315 60 30.5 60Z', fill='#52C41A')
                                    path(d='M16.5 32L24.5 40L44.5 20', fill='#52C41A')
                                    path(d='M16.5 32L24.5 40L44.5 20', stroke='white', stroke-width='3', stroke-miterlimit='10', stroke-linecap='square')
                                h1.form-login__title Thay đổi mật khẩu thành công
                                p.p3 Chúng tôi đã gửi liên kết khôi phục đến địa chỉ email khanh.dinh@vntrip.xyz, vui lòng kiểm tra hộp thư
                            button.btn.btn_lg(type='button' onclick="location.href='index.html';") Đăng nhập
                            p.p2 © VNTrip 2019 v1.0.0
        script(src="js/libs/jquery.min.js")
        script(src="js/libs/slick.min.js")
        script(src="js/main.js")
        script.




