.hotelAnimatedGroup
    .hotel-animated.hotel-animated_xs
        .hotel-animated__img
        .hotel-animated__content
            .hotel-animated__info
                .hotel-animated__line1.animated-background
                .hotel-animated__line2.animated-background
                .hotel-animated__line3.animated-background
                .hotel-animated__line4.animated-background
                .hotel-animated__line5.animated-background
            .hotel-animated__price
                .hotel-animated__line6.animated-background
                .hotel-animated__line7.animated-background
    .hotel-animated.hotel-animated_xs
        .hotel-animated__img
        .hotel-animated__content
            .hotel-animated__info
                .hotel-animated__line1.animated-background
                .hotel-animated__line2.animated-background
                .hotel-animated__line3.animated-background
                .hotel-animated__line4.animated-background
                .hotel-animated__line5.animated-background
            .hotel-animated__price
                .hotel-animated__line6.animated-background
                .hotel-animated__line7.animated-background
    .hotel-animated.hotel-animated_xs
        .hotel-animated__img
        .hotel-animated__content
            .hotel-animated__info
                .hotel-animated__line1.animated-background
                .hotel-animated__line2.animated-background
                .hotel-animated__line3.animated-background
                .hotel-animated__line4.animated-background
                .hotel-animated__line5.animated-background
            .hotel-animated__price
                .hotel-animated__line6.animated-background
                .hotel-animated__line7.animated-background