.roomAnimated
    .roomAnimated__header
        .roomAnimated__img.animated-background
        .roomAnimated__info
            .roomAnimated__line1.animated-background
            .roomAnimated__line2.animated-background
            .roomAnimated__line3.animated-background
            .roomAnimated__line4.animated-background
            .roomAnimated__line5.animated-background
    .roomAnimated__body
        .roomAnimated__item
            .roomAnimated__flex
                .roomAnimated__line6.animated-background
                .roomAnimated__line7.animated-background
                .roomAnimated__line8.animated-background
                .roomAnimated__line9.animated-background
        .roomAnimated__item
            .roomAnimated__flex
                .roomAnimated__line6.animated-background
                .roomAnimated__line7.animated-background
                .roomAnimated__line8.animated-background
                .roomAnimated__line9.animated-background
        .roomAnimated__item
            .roomAnimated__flex
                .roomAnimated__line6.animated-background
                .roomAnimated__line7.animated-background
                .roomAnimated__line8.animated-background
                .roomAnimated__line9.animated-background