.suggestPlace
    ul.suggestPlace__tab
        li.active
            button(type='button') Tất cả
        li
            button(type='button') Khu vực
        li
            button(type='button') Khách sạn
    .suggestPlace__body
        ul.listPlace
            li.listPlace__item
                button(type='button')
                    .listPlace__text
                        p.p1 My House Đà Lạt
                        p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
                    .listPlace__label Khách sạn
            li.listPlace__item
                button(type='button')
                    .listPlace__text
                        p.p1 My House Đà Lạt
                        p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
                    .listPlace__label Quận huyện
            li.listPlace__item
                button(type='button')
                    .listPlace__text
                        p.p1 My House Đà Lạt
                        p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
                    .listPlace__label Khách sạn

            li.listPlace__item
                button(type='button')
                    .listPlace__text
                        p.p1 My House Đà Lạt
                        p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
                    .listPlace__label Khách sạn
            li.listPlace__item
                button(type='button')
                    .listPlace__text
                        p.p1 My House Đà Lạt
                        p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
                    .listPlace__label Quận huyện
            li.listPlace__item
                button(type='button')
                    .listPlace__text
                        p.p1 My House Đà Lạt
                        p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
                    .listPlace__label Khách sạn
        p.pGoogle
            | powered by
            strong Google
