.suggestDefault
    p.suggestDefault__title Tìm kiếm gần đây
    ul.listPlace
        li.listPlace__item
            .listPlace__text
                p.p1 My House Đà Lạt
                p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
            .listPlace__label Khách sạn
        li.listPlace__item
            .listPlace__text
                p.p1 My House Đà Lạt
                p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
            .listPlace__label Khách sạn
        li.listPlace__item
            .listPlace__text
                p.p1 My House Đà Lạt
                p.p2 1/19 Đào Duy Từ, Phường 4, Đà Lạt, Lâm Đồng, Việt Nam
            .listPlace__label Khách sạn
    p.suggestDefault__title Thành phố công tác phổ biến
        ul.listPlace
            li.listPlace__item
                .listPlace__text
                    p.p1 Thành phố Đà Lạt
                    p.p2 Lâm Đồng, Việt Nam
                .listPlace__label Khách sạn
            li.listPlace__item
                .listPlace__text
                    p.p1 Thành phố Đà Lạt
                    p.p2 Lâm Đồng, Việt Nam
                .listPlace__label Khách sạn
            li.listPlace__item
                .listPlace__text
                    p.p1 Thành phố Đà Lạt
                    p.p2 Lâm Đồng, Việt Nam
                .listPlace__label Khách sạn