title Vntrip.vn - Đặt phòng khách sạn trực tuyến giá rẻ, khuyến mãi đến 75%
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(name='keywords', content='khach san, khách sạn, dat phong khach san, đặt phòng khách sạn, dat phong khach san truc tuyen, đặt phòng khách sạn trực tuyến, dat khach san gia re, đặt khách sạn giá rẻ, dat phong resort, đặt phòng resort, dich vu dat phong khach san, dịch vụ đặt phòng khách sạn')
meta(name='description', content='Đặt phòng khách sạn tại Vntrip.vn với hơn 8.000 khách sạn Việt Nam. Đặt trực tuyến hoặc gọi 1800-XXX. XÁC NHẬN NGAY qua SMS. Hỗ trợ chu đáo 24/7. Thanh toán an toàn & đa dạng.')
meta(name='format-detection', content='telephone=no')
// Favicon
link(rel='shortcut icon' type='image/x-icon' href="https://statics.vntrip.vn/images/icons/vntrip_favicon.ico" )
link(rel="stylesheet" href="css/styles.css")



