.accountInfo{
  @include breakpoint(xl){
    width: 1185px;
    margin: 0 auto;
  }
  &__row{
    display: flex;
    padding: 28px 24px;
  }
  &__left{
    width: 220px;
    padding-right: 20px;
    @include breakpoint(max-md){
      width: 170px;
    }
  }
  &__right{
    width: calc(100% - 440px);
    padding: 0 20px;
    @include breakpoint(max-md){
      width: calc(100% - 370px);
    }
  }
}
.personalInfo{
  &__title{
    font-size: 16px;
    color: #262626;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__col{
    width: 50%;
    .form-group{
      > label{
        color: #595959;
      }
      > p{
        color: #262626;
      }
    }
  }
  &__avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 15px 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .vntBox{
    margin: 0;
  }
}
.businessPolicy{
  .vntBox{
    margin: 0 0 15px;
  }
}