.vntCheckout{
  display: flex;
  flex-wrap: wrap;
  padding: 0 1vw 1.8vw;
  &__left{
    width: calc(100% - 27vw);
  }
  &__right{
    width: 27vw;
    padding-left: 1vw;
    padding-top: 2.8vw;
  }
  &__box{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 1vw;
    margin-bottom: 1vw;
    > .checkbox,
    > .ant-checkbox-wrapper{
      margin-bottom: 1vw;
    }
    > .pTitle{
      font-size: 1.1vw;
      color: #262626;
      font-weight: 500;
      margin-bottom: .7vw;
    }
  }
  &__table{
    margin-bottom: 1vw;
    .pTitle{
      font-size: 1vw;
      font-weight: 500;
      color: #262626;
    }
    .table{
      td{
        p{
          margin-bottom: 0;
          font-size: 1vw;
          &.p2{
            font-size: .9vw;
            color: #8c8c8c;
          }
        }
      }
    }
  }
  &__bank{
    .pTitle{
      font-size: 1.1vw;
      font-weight: 500;
      color: #262626;
      margin-bottom: .7vw;
    }
  }
  .heading2{
    padding-bottom: .8vw;
  }
  .hotelInfo{
    position: initial;
    width: 100%;
    &.fixedTop{
      position: fixed;
      top: 0;
      width: 26vw;
    }
  }
  .flightList__active{
    width: 100%;
  }

}
.orderInfo{
  &__name{
    font-size: 1.1vw;
    font-weight: 500;
    color: #262626;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      display: flex;
      align-items: center;
      font-size: 1vw;
      padding-bottom: .5vw;
      span{
        &:first-child{
          width: 7vw;
        }
        &:last-child{
          width: calc(100% - 7vw);
          padding-left: .8vw;
        }
      }
    }
  }
  button{
    font-size: 1vw;
    color: #096DD9;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 1vw;
    &:hover{
      text-decoration: underline;
    }
    span{
      padding-left: .6vw;
    }
  }
}
.flightInfo{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 1.1vw .7vw;
  &__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7vw 0;
    p{
      font-size: 1.3vw;
      margin-bottom: 0;
      font-weight: 500;
      &.p1{
        color: #262626;
      }
      &.p2{
        color: #096DD9;
      }
    }
  }
  .dateInput{
    width: 100%;
    background-color: #f5f5f5;
    padding: .7vw .9vw;
    margin-bottom: .7vw;
    .input-inline{
      .form-control{
        background: #fff;
      }
    }
  }
  .levelTotal{
    padding-bottom: .7vw;
  }
  > p{
    margin-bottom: .9vw;
  }
  .btn{
    width: 100%;
  }
}
.flightPlace{
  font-size: 1.3vw;
  color: #262626;
  font-weight: 500;
  display: flex;
  align-items: center;
  svg{
    margin: 0 .8vw;
  }
  &.flightPlace_sm{
    font-size: 1.1vw;
  }
  &.flightPlace_xs{
    font-size: 1vw;
  }
}
.ticketInfo{
  background-color: #f5f5f5;
  padding: .7vw;
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    color: #262626;
    .btnArrow{
      padding: .5vw;
    }
  }
  &__box{
    background-color: #fff;
    padding: .7vw .9vw;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: .9vw;
    p{
      font-size: .9vw;
      margin-bottom: 0;
      &.p1{
        color: #262626;
        font-weight: 500;
      }
      &.p2{
        margin-bottom: .7vw;
      }
    }
    ul{
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .9vw;
        &.liPrice{
          padding: .5vw 0 0;
          margin-top: .5vw;
          border-top: 1px solid #f5f5f5;
        }
        span{
          &.span2{
            color: #262626;
          }
        }
      }
    }
  }
  &__tax{
    &.open{
      .ticketInfo{
        &__title{
          .btnArrow{
            transform: rotate(90deg);
          }
        }
        &__box{
          display: block;
        }
      }
    }
    .ticketInfo{
      &__box{
        display: none;
        animation: opacityShow .3s ease-in-out;
      }
    }
    .ant-collapse{
      background: transparent;
      border: none;
      border-radius: 0;
    }
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
      padding: 0 1.3vw 0 0;
      margin-bottom: .5vw;
      p{
        margin-bottom: 0;
      }
    }
    .ant-collapse-item{
      border-bottom: none;
      border-radius: 0;
    }
    .ant-collapse-content{
      border: 1px solid $border-color;
    }
    .ant-collapse-item:last-child > .ant-collapse-content{
      border-radius: 4px;
    }
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
      right: 0;
    }
    .ant-collapse-content > .ant-collapse-content-box{
      padding: .7vw .9vw;
      ul{
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: .9vw;
          span{
            &.span2{
              color: #262626;
            }
          }
        }
      }
    }
  }
}
.modal-dialog.modal-editMember{
  width: 55vw;
  .vntMember{
    &__table{
      .table{
        td{
          vertical-align: middle;
        }
      }
    }
  }
}

.payments{
  &__item{
    padding-bottom: 1.1vw;
    &:last-child{
      padding-bottom: 0;
    }
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1.1vw;
        font-weight: 500;
        color: #262626;
      }
      &.p2{
        font-size: .9vw;
        color: $text-color;
      }
    }
    .radio{
      input[type="radio"] + label:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__child{
    padding-left: 2.5vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    li{
      padding-bottom: .7vw;
      &:last-child{
        padding-bottom: 0;
      }
      .radio{
        label{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__logo{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 3.5vw;
    }
  }
  &__text{
    width: calc(100% - 3vw);
    padding-left: .8vw;
  }
}
.listBank{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.1vw;
  &__item{
    padding-right: 1.1vw;
    padding-bottom: 1.1vw;
    &.active{
      .listBank{
        &__btn{
          border-color: $yellow-2;
          svg{
            visibility: visible;
          }
        }
      }
    }
  }
  &__btn{
    width: 9.5vw;
    height: 6.7vw;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .8vw;
    transition: all .2s;
    &:hover{
      border-color: $yellow-2;
    }
    svg{
      position: absolute;
      top: -.8vw;
      right: -.8vw;
      visibility: hidden;
    }
    img{
      width: 6.3vw;
    }
    p{
      font-size: 1vw;
      color: #262626;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}
.bankInfo{
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 1.1vw;
  &__list{
    padding-bottom: 1.1vw;
    li{
      display: flex;
      align-items: center;
      padding:0 1.1vw .6vw;
      p{
        font-size: 1vw;
        color: #262626;
        margin-bottom: 0;
        &.p1{
          width: 17vw;
        }
        &.p2{
          width: calc(100% - 17vw);
          padding-left: 1.1vw;
          font-weight: 500;
        }
        .btnCopy{
          margin-left: .5vw;
          svg{
            display: block;
          }
        }
      }
    }
  }
  &__flex{
    display: flex;
  }
  &__price{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 1.1vw;
    margin-right: 1.1vw;
    span{
      &.span1{
        font-size: 1vw;
        padding-right: 1.1vw;
        padding-right: 3.5vw;
      }
      &.span2{
        font-size: 1.3vw;
        font-weight: 500;
        color: #096DD9;
      }
    }
  }
  &__note{
    font-size: .9vw;
    color: #F5222D;
    margin-bottom: 0;
    margin-top: .7vw;
    strong{
      padding-right: .5vw;
    }
  }
}
.holdResult{
  width: 100%;
  &__title{
    font-size: 1.3vw;
    color: #262626;
    font-weight: $medium;
    margin-bottom: 1vw;
  }
}
.flightLoading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color:rgba(32, 48, 72, 0.8);
  &__body{
    background-color: #fff;
    border-radius: 6px;
    width: 36vw;
    margin: 7vw auto;
    padding: 7vw 1.8vw 3.5vw;
    overflow: hidden;
    text-align: center;
  }
  &__icon{
    margin-bottom: 1.8vw;
    img{
      width: 8.5vw;
    }
  }
  &__text{
    p{
      color: #262626;
      margin-bottom: 0;
      &.p1{
        font-size: 1.3vw;
        font-weight: $medium;
      }
      &.p2{
        color: #878787;
        font-size: 1.1vw;
        span{
          animation-name: blink;
          animation-duration: 1.4s;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          font-weight: $medium;
          font-size: 1.3vw;
          padding-right: .4vw;
          &:nth-child(1){
            margin-left: .5vw;
          }
          &:nth-child(2){
            animation-delay: .2s;
          }
          &:nth-child(3){
            animation-delay: .4s;
          }
        }
      }
    }
  }
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
