.flightList{
  &__body{
    padding: 1vw;
  }
  &__active{
    padding-bottom: 1.9vw;
  }
}
.listFlight{
  margin-bottom: 1.8vw;
}
.flightDest{
  display: flex;
  margin-bottom: .9vw;
  position: relative;
  p{
    margin-bottom: 0;
    font-size: 1.5vw;
    &.p1{
      padding-right: .5vw;
    }
    &.p2{
      font-weight: 500;
      color: #262626;
    }
    &.p3{
      font-size: 1vw;
      color: #262626;
      position: absolute;
      right: 0;
      bottom: 0;
      svg,span{
        vertical-align: middle;
      }
      span{
        padding-left: .5vw;
      }
    }
  }
}
.flightDate{
  background-color: #fff;
  box-shadow: $shadow;
  padding: .8vw 7vw;
  margin-bottom: 1vw;
  position: relative;
  &__cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid $border-color;
  }
  &__item{
    text-align: center;
    border-right: 1px solid $border-color;
    color: #262626;
    transition: all .2s;
    width: calc(100% / 7);
    cursor: pointer;
    &:hover{
      color: $yellow-2;
    }
    &:nth-child(n+8){
      display: none;
    }
    &.active{
      color: $yellow-2;
    }
    &.disabled{
      cursor: not-allowed;
      opacity: .3;
      &:hover{
        color: #262626;
      }
      p{
        pointer-events: none;
      }
    }
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1vw;
        font-weight: 500;
      }
      &.p2{
        font-size: .9vw;
      }
    }
  }
  .slick-prev{
    left: 2.5vw;
  }
  .slick-next{
    right: 2.5vw;
  }
  .slick-arrow{
    transition: all .3s;
    &:hover{
      background-color: #f7f7f7;
    }
  }
}
.flightFilter{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 1vw 1vw .5vw;
  margin-bottom: 1vw;
  &__row{
    display: flex;
    align-items: center;
    height: 3.5vw;
    li{
      &:first-child{
        min-width: 7.5vw;
      }
      + li{
        padding-left: 1.5vw;
      }
      p{
        margin-bottom: 0;
        font-size: 1.1vw;
        font-weight: 500;
         color: #262626;
      }
      .radio{
        input[type="radio"] + label:before{
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.flightSort{
  margin-bottom: 1vw;
  .ant-radio-group{
    width: 100%;
  }
  ul{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    li{
      &:first-child{
        min-width: 7.5vw;
      }
      + li{
        padding-left: 2.8vw;
      }
      &.liTax{
        position: absolute;
        top: 0;
        right: 1vw;
      }
      p{
        margin-bottom: 0;
        font-size: 1.1vw;
        font-weight: 500;
        color: #262626;
      }
      .radio{
        input[type="radio"] + label:before{
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

}
.flightTrip{
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  .d-block{
    text-align: center;
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1.1vw;
        color: #262626;
        font-weight: 500;
      }
      &.p2{
        font-size: .9vw;
      }
    }
  }
  .d-svg{
    padding: 0 1.8vw;
    text-align: center;
    svg{
      display: block;
      margin: auto;
    }
    p{
      margin-bottom: 0;
      color: #8c8c8c;
      font-weight: 500;
      font-size: .9vw;
    }
  }
  &_lg{
    width: auto;
    padding: 0;
    .d-block{
      text-align: left;
      p{
        &.p1{
          font-size: 1.3vw;
        }
        &.p2{
          font-size: 1vw;
        }
      }
    }
  }

}
.flightAirline{
  display: flex;
  align-items: center;
  &__logo{
    width: 5vw;
    img{
      width: 100%;
    }
  }
  &__cont{
    width: calc(100% - 5vw);
    padding-left: .5vw;
    p{
      margin-bottom: 0;
      font-size: 1vw;
    }
  }
}
.flightTicket{
  margin-bottom: .7vw;
  &__info{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.1vw;
    .alert{
      width: 100%;
      margin-bottom: 0;
      margin-top: .8vw;
    }
  }
  &__logo{
    width: 5vw;
    img{
      width: 100%;
    }
  }
  &__code{
    width: 6vw;
    font-weight: 500;
    font-size: 1vw;
    color: #262626;
    text-align: center;
    padding-left: 1vw;
  }
  &__seat{
    width: calc(100% - 44vw);
    display: flex;
    flex-wrap: wrap;
    padding-right: 1vw;
    li{
      padding-bottom: .5vw;
      padding-right: .5vw;
      &.active{
        .btnSeat{
          background-color: #40A9FF;
          border-color: #40A9FF;
          color: #fff;
        }
      }
      .tooltip{
        &__cont{
          top: 100%;
          z-index: 5;
        }
      }
    }
  }
  &__click{
    width: 5vw;
    font-size: .9vw;
    color: #1890FF;
    &:hover{
      color: $yellow-2;
    }
    span,svg{
      vertical-align: middle;
    }
    span{
      padding-right: .5vw;
    }
  }
  &__btn{
    width: 8vw;
    padding-left: 1vw;
    .btn{
      width: 100%;
    }
  }
  &__detail{
    background-color: #fff;
    padding: 1.5vw 13vw 4vw 7vw;
    position: relative;
    animation: opacityShow .3s ease-in-out;
    display: none;
    margin-bottom: .7vw;
    .flightTicket{
      &__btn{
        position: absolute;
        bottom: 7.5vw;
        right: 1.1vw;
      }
    }
  }
  &__list{
    margin-bottom: 1.5vw;
  }
  &__trip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 1.1vw;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: .9vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__policy{
    margin-bottom: 1vw;
    p{
      &.pTitle{
        font-size: 1.1vw;
        font-weight: 500;
        color: #262626;
        span{
          padding-left: .5vw;
        }
      }
      &.pLine{
        display: flex;
        font-size: 1vw;
        color: #262626;
        span{
          &:first-child{
            width: 14vw;
          }
          &:last-child{
            width: calc(100% - 14vw);
            padding-left: .8vw;
          }
        }
      }
    }
  }
  &__table{
    .table{
      margin: 1vw 0 .8vw;
    }
    .textNote{
      justify-content: flex-end;
    }
  }
  &__airline{
    p{
      margin-bottom: 0;
      font-size: 1vw;
    }
  }
  &__price{
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1.1vw;
        color: #8c8c8c;
        text-decoration: line-through;
      }
      &.p2{
        font-size: 1.3vw;
        font-weight: $medium;
        color: #262626;
      }
    }
  }
  &.open{
    .flightTicket{
      &__detail{
        display: block;
      }
      &__click{
        svg{
          transform: rotate(180deg);
        }
      }
    }
  }
}
.flightActive{
  margin-bottom: 1.8vw;
  .flightTicket{
    box-shadow: $shadow;
    &__info{
      padding: .7vw 1.1vw;
      .flightTicket__btn{
        width: auto;
        padding-left: 0;
      }
    }
  }
}
.flightTotal{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.1vw 0;
  position: relative;
  &__price{
    text-align: right;
    padding-right: 1.5vw;
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1vw;
        span{
          color: #1890FF;
          padding-left: .5vw;
        }
      }
      &.p2{
        font-size: .9vw;
      }
    }
  }
  &__btn{
    .btn,
    .ant-btn{
      width: 10.5vw;
    }
  }
  .btnBack{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}