.vntCheckout{
  display: flex;
  padding: 0 15px 30px;
  &__left{
    width: calc(100% - 386px);
  }
  &__right{
    width: 386px;
    padding-left: 15px;
  }
  &__box{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 15px;
    margin-bottom: 15px;
    > .checkbox{
      margin-bottom: 15px;
    }
    > .pTitle{
      font-size: 16px;
      color: #262626;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
  &__table{
    margin-bottom: 15px;
    .pTitle{
      font-size: 14px;
      font-weight: 500;
      color: #262626;
    }
    .table{
      td{
        p{
          margin-bottom: 0;
          font-size: 14px;
          &.p2{
            font-size: 12px;
            color: #8c8c8c;
          }
        }
      }
    }
  }
  &__bank{
    .pTitle{
      font-size: 16px;
      font-weight: 500;
      color: #262626;
      margin-bottom: 8px;
    }
  }
  .heading2{
    padding-bottom: 10px;
  }

}
.orderInfo{
  &__name{
    font-size: 16px;
    font-weight: 500;
    color: #262626;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-bottom: 5px;
      span{
        &:first-child{
          width: 100px;
        }
        &:last-child{
          width: calc(100% - 100px);
          padding-left: 10px;
        }
      }
    }
  }
}
.flightInfo{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 16px 8px;
  &__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    p{
      font-size: 20px;
      margin-bottom: 0;
      font-weight: 500;
      &.p1{
        color: #262626;
      }
      &.p2{
        color: #096DD9;
      }
    }
  }
  .dateInput{
    width: 100%;
    background-color: #f5f5f5;
    padding: 8px 12px;
    margin-bottom: 8px;
    .input-inline{
      .form-control{
        background: #fff;
      }
    }
  }
  .levelTotal{
    padding-bottom: 8px;
  }
  > p{
    margin-bottom: 12px;
  }
  .btn{
    width: 100%;
  }
}
.flightPlace{
  font-size: 20px;
  color: #262626;
  font-weight: 500;
  display: flex;
  align-items: center;
  svg{
    margin: 0 10px;
  }
}
.ticketInfo{
  background-color: #f5f5f5;
  padding: 8px;
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #262626;
    .btnArrow{
      padding: 5px;
    }
  }
  &__box{
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 12px;
    p{
      font-size: 12px;
      margin-bottom: 0;
      &.p1{
        color: #262626;
        font-weight: 500;
      }
      &.p2{
        margin-bottom: 8px;
      }
    }
    ul{
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        line-height: 21px;
        &.liPrice{
          padding: 5px 0 0;
          margin-top: 5px;
          border-top: 1px solid #f5f5f5;
        }
        span{
          &.span1{}
          &.span2{
            color: #262626;
          }
        }
      }
    }
  }
  &__tax{
    &.open{
      .ticketInfo{
        &__title{
          .btnArrow{
            transform: rotate(90deg);
          }
        }
        &__box{
          display: block;
        }
      }
    }
    .ticketInfo{
      &__box{
        display: none;
        animation: opacityShow .3s ease-in-out;
      }
    }
  }
}
.modal-dialog.modal-editMember{
  width: 785px;
  .vntMember{
    &__table{
      .table{
        td{
          vertical-align: middle;
        }
      }
    }
  }
}

.payments{
  &__item{
    padding-bottom: 16px;
    &:last-child{
      padding-bottom: 0;
    }
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 16px;
        font-weight: 500;
        color: #262626;
      }
      &.p2{
        font-size: 12px;
        color: $text-color;
      }
    }
    .radio{
      input[type="radio"] + label:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__child{
    padding-left: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    li{
      padding-bottom: 8px;
      &:last-child{
        padding-bottom: 0;
      }
      .radio{
        label{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__logo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 50px;
    }
  }
  &__text{
    width: calc(100% - 48px);
    padding-left: 10px;
  }
}
.listBank{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
  &__item{
    padding-right: 16px;
    padding-bottom: 16px;
    &.active{
      .listBank{
        &__btn{
          border-color: $yellow-2;
          svg{
            visibility: visible;
          }
        }
      }
    }
  }
  &__btn{
    width: 136px;
    height: 97px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all .2s;
    &:hover{
      border-color: $yellow-2;
    }
    svg{
      position: absolute;
      top: -10px;
      right: -10px;
      visibility: hidden;
    }
    img{
      width: 90px;
    }
    p{
      font-size: 14px;
      color: #262626;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}
.bankInfo{
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 16px;
  &__list{
    padding-bottom: 16px;
    li{
      display: flex;
      align-items: center;
      padding:0 16px 6px;
      p{
        font-size: 14px;
        color: #262626;
        margin-bottom: 0;
        &.p1{
          width: 250px;
        }
        &.p2{
          width: calc(100% - 250px);
          padding-left: 17px;
          font-weight: 500;
        }
        .btnCopy{
          margin-left: 5px;
          svg{
            display: block;
          }
        }
      }
    }
  }
  &__flex{
    display: flex;
  }
  &__price{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-right: 16px;
    span{
      &.span1{
        font-size: 14px;
        padding-right: 16px;
        padding-right: 50px;
      }
      &.span2{
        font-size: 20px;
        font-weight: 500;
        color: #096DD9;
      }
    }
  }
  &__btn{}
  &__note{
    font-size: 12px;
    color: #F5222D;
    margin-bottom: 0;
    margin-top: 8px;
    strong{
      padding-right: 5px;
    }
  }
}