.flightRecent{
  padding-bottom: 3vw;
  &__cont{
    display: flex;
  }
  &__item{
    width: 25%;
    background-color: #fff;
    box-shadow: $shadow;
    display: flex;
    padding: .9vw;
    + .flightRecent__item{
      margin-left: 1vw;
    }
  }
  &__icon{
    padding-top: .5vw;
  }
  &__info{
    padding-left: .9vw;
    p{
      &.p1{
        font-size: 1.1vw;
        font-weight: 500;
        color: #262626;
        span,svg{
          vertical-align: middle;
        }
        svg{
          margin: 0 .5vw;
        }
      }
      &.p2{
        font-size: .9vw;
        margin-bottom: 0;
        color: $text-color;
      }
    }
  }
}
.flightHot{
  &__cont{
    display: flex;
  }
  &__item{
    width: 25%;
    display: block;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 4px;
    overflow: hidden;
    + .flightHot__item{
      margin-left: 1vw;
    }
    img{
      width: 100%;
      height: 9vw;
      object-fit: cover;
    }
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1.1vw;
        color: #262626;
        font-weight: 500;
        padding: .7vw .7vw .5vw;

        span,svg{
          vertical-align: middle;
        }
        svg{
          margin: 0 .5vw;
        }
      }
      &.p2{
        font-size: .9vw;
        color: $text-color;
        padding: 0 .7vw .7vw;
      }
    }
  }
}
.vntHome{
  &__flight{
    padding: 1.5vw 1vw;
    .heading2{
      padding-bottom: 1vw;
    }
  }
}