.vntHome{
  &__body{
    display: flex;
    padding: 1vw;
    .heading2{
      padding-bottom: 1vw;
    }
  }
  &__left{
    width: calc(100% - 24vw);
    padding-right: 1.3vw;
  }
  &__right{
    width: 24vw;
    .hotelAnimatedGroup{
      margin-top: 1vw;
    }
  }
  &__hot{
    width: 75%;
    padding: 1vw;
    .heading2{
      padding: .8vw 0;
    }
  }
  &__tab{
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    margin-bottom: 1vw;
    li{
      &.active{
        button{
          color: $yellow-2;
          border-color: $yellow-2;
        }
      }
      button{
        font-size: 1vw;
        font-weight: 500;
        padding: .9vw 1.5vw;
        border-bottom: 2px solid transparent;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
}