.hotelDetail{
  display: flex;
  &__left{
    width: calc(100% - 386px);
  }
  &__right{
    width: 386px;
    padding: 15px;
  }
  &__header{
    background-color: #fff;
    padding: 12px 24px;
    .hotelFaci{
      &__item{
        width: auto;
        + .hotelFaci__item{
          margin-left: 8px;
        }
      }
    }
  }
  &__main{
    padding: 15px 0 15px 15px;
  }
  &__filter{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    li{
      + li{
        padding-left: 24px;
      }
      p{
        margin-bottom: 0;
        font-size: 16px;
        font-weight: $medium;
        color: #262626;
      }
    }
  }
  .heading2{
    padding-bottom: 15px;
  }
}

.hotelGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: $shadow;
  margin: 15px 0;
  &__col{
    padding: 5px;
    &.col-1{
      width: 50%;
      height: 300px;
    }
    &.col-2{
      width: 25%;
      height: 300px;
    }
    &.col-3{
      width: 25%;
      height: 300px;
    }
    &.col-4{
      width: 25%;
      height: 130px;
    }
    &.col-5{
      width: 25%;
      height: 130px;
    }
    &.col-6{
      width: 12.5%;
      height: 130px;
    }
    &.col-7{
      width: 12.5%;
      height: 130px;
    }
    &.col-8{
      width: 25%;
      height: 130px;
    }
  }
  &__item{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__map{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    button{
      position: absolute;
      background:rgba(54, 53, 62, 0.7);
      font-size: 13px;
      line-height: 18px;
      border: none;
      display: block;
      background: #fff;
      height: auto;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      width: 165px;
      padding: 10px;
      color: $yellow-2;
      svg,span{
        vertical-align: middle;
      }
      svg{
        margin-right: 5px;
      }
    }
  }
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(54, 53, 62, 0.7);
    text-align: center;
    .d-block{
      margin: 30px 0 0;
    }
    img{
      width: 42px;
      height: 42px;
    }
    p{
      color: #fff;
      font-size: 12px;
      margin: 10px 0 0;
    }
  }
  &__360{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(253, 185, 19, 0.7);
    text-align: center;
    .d-block{
      margin: 30px 0 0;
    }
    p{
      color: #fff;
      font-size: 12px;
      margin: 10px 0 0;
    }
  }
}
.modal-dialog.modal-gallery{
  background-color: transparent;
  box-shadow: none;
  margin: 50px auto 0;
  @include breakpoint(sm){
    width:75%;
    height: calc(100% - 50px);
  }

  .modal-body{
    padding: 0;
    position: relative;
  }

  .image-gallery-slide{
    background: transparent;
  }
  .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
    height: 60px;
    width: 30px;
    stroke: $yellow-1;
  }
  .image-gallery-image{
    text-align: center;
    object-fit: cover;
    border-radius: 6px;
  }
  .image-gallery-slides{
    -webkit-overflow-scrolling: touch;
  }
  .image-gallery-thumbnails-wrapper{
    height: 95px;
  }
  .image-gallery-thumbnail{
    height: 85px;
    border-radius: 3px;
    border: 3px solid transparent;
    &.active{
      border-color:$yellow-1;
      .image-gallery-thumbnail-inner{
        img{
          border-radius: 0;
        }
      }
    }
    .image-gallery-thumbnail-inner{
      width: 100%;
      height: 100%;
      img{
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }
  .image-gallery-slide-wrapper{
    height: calc(100% - 95px);
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image{
    max-height: initial;
  }
  .image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before{color: $yellow-1;}

  .modal-content,
  .modal-body,
  .image-gallery,
  .image-gallery-content,
  .image-gallery-swipe,
  .image-gallery-slides,
  .image-gallery-slide,
  .image-gallery-image{
    width: 100%;
    height: 100%;
  }
  .image-gallery-slide > div{
    width: 100%;
    height: 100%;
  }
  .modal-close{
    top: -25px;
    right: auto;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.listRoom{
  margin-bottom: 30px;
  &__item{
    margin-bottom: 15px;
  }
}
.roomItem{
  background-color: #fff;
  box-shadow: $shadow;
  &.open{
    .roomItem{
      &__collapsed{
        display: block;
      }
      &__click{
        svg{
          transform: rotate(90deg);
        }
      }
    }
  }
  &__header{
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #f5f5f5;
  }
  &__img{
    width: 156px;
    height: 88px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info{
    width: calc(100% - 156px);
    padding-left: 8px;
    position: relative;
  }
  &__title{
    font-size: 20px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 10px;
  }
  &__click{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #262626;
    font-weight: 500;
    &:hover{
      color: $yellow-2;
      svg{
        path{
          fill: $yellow-2;
        }
      }
    }
    span, svg{
      vertical-align: middle;
    }
    span{
      padding-right: 5px;
    }
  }
  &__bed{
    .radio{
      margin-bottom: 6px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__collapsed{
    display: none;
    animation: opacityShow .3s ease-in-out;
  }
  &__detail{
    display: flex;
    padding: 15px 0;
    background-color: #f5f5f5;
  }
  &__slide{
    width: 60%;
    padding: 0 8px;
    > img{
      width: 100%;
    }
    .image-gallery-thumbnail{
      width: 60px;
      height: 60px;
    }
    .image-gallery-thumbnail{
      border: 1px solid transparent;
    }
    .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
      border: 1px solid $yellow-1;
    }
    .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
      height: 60px;
      width: 30px;
      stroke: $yellow-1;
    }
  }
  &__serv{
    width: 40%;
    padding:0 15px;
    p{
      font-size: 14px;
      &.medium{
        font-size: 16px;
        color: #262626;
      }
    }
  }
  &__list{
    padding: 0 16px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f5f5f5;
  }
  &__policy{
    width: 180px;
    .iconText{
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
  &__type{
    width: calc(100% - 540px);
    .iconText{
      padding-bottom: 0;
      padding-left: 35px;
    }
  }
  &__price{
    width: 160px;
  }
  &__action{
    width: 200px;
    text-align: right;
    padding-left: 30px;
    > p{
      font-size: 12px;
      color: #FF4D4F;
      margin-bottom: 5px;
      strong{
        padding: 0 3px;
      }
    }
  }
  &__btn{
    .btn{
      width: 90px;
    }

  }
  &__amount{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
      + li{
        padding-left: 6px;
      }
      &.active{
        .btnRoom{
          background-color: #1890FF;
          border-color: #1890FF;
          color: #fff;
        }
      }
      &.tooltip{
        text-align: left;
      }
      .btnRoom{
        width: 24px;
        height: 24px;
        background: #fff;
        border: 1px solid $border-color;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
    }
  }
  &__dropdown{
    text-align: left;
  }

}
.iconText{
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  &:last-child{
    margin-bottom: 0;
  }
  > svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  > span{
    .tooltip{
      display: inline-block;
      &__cont{
        z-index: 3;
      }
    }
  }
  &_green{
    color: #389E0D;
  }
  &_red{
    color: #F5222D;
  }
  &_orange{
    color: #FF8917;
  }
}
.hotelServ{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 30px 24px;
  margin-bottom: 30px;
  &__item{
    display: flex;
    padding-bottom: 30px;
  }
  &__title{
    width: 150px;
    p{
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 500;
      color: #262626;
    }
  }
  &__cont{
    width: calc(100% - 150px);
    padding-left: 30px;
    p{
      font-size: 14px;
      color: #262626;
      &.pText{
        max-height: 126px;
        overflow: hidden;
        &.pText_full{
          max-height: initial;
        }
      }
    }
    .btnMore{
      font-size: 14px;
      color: #262626;
      text-decoration: underline;
      &:hover{
        color: $yellow-2;
        svg{
          path{
            fill: $yellow-2;
          }
        }
      }
      &.rotate{
        svg{
          transform: rotate(180deg);
        }
      }
    }
  }
  &__flex{
    display: flex;
    flex-wrap: wrap;
  }
  &__group{
    padding-bottom: 15px;
    padding-right: 15px;
    width: 33.333%;
    p{
      &.pTitle{
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        span{
          padding-left: 10px;
        }
      }
    }
  }
}
.hotelReview{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 30px 24px;
  margin-bottom: 30px;
  &__top{
    padding-bottom: 16px;
    .pTitle{
      font-size: 14px;
      color: #262626;
      margin-bottom: 16px;
      strong{
        padding: 0 5px;
      }
    }
    .d-flex{
      justify-content: space-between;
    }
  }
  &__bot{
    .pagination{
      padding: 0;
    }
  }
  &__point{
    text-align: center;
    p{
      margin-bottom: 0;
      &.p1{
        width: 112px;
        height: 112px;
        border-radius: 50%;
        background-color: #FFC53D;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          display: block;
          width: 106px;
          height: 106px;
          border-radius: 50%;
          background-color: #FA8C16;
          color: #fff;
          border: 2px solid #fff;
          font-size: 38px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &.p2{
        font-size: 24px;
        color: $yellow-2;
        font-weight: 500;
      }
    }
  }
  &__progress{
    li{
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 85px;
      padding-bottom: 8px;
      p{
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        &.p1{
          color: #262626;
          position: absolute;
          top: 0;
          left: 0;
        }
        &.p2{
          color: $yellow-2;
          padding-left: 10px;
        }
      }
      progress{
        width: 140px;
      }
    }
  }
  &__star{
    li{
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      p{
        margin-bottom: 0;
        width: 85px;
      }
      .starBox{
        width: calc(100% - 85px);
      }
    }
  }
}
.hotelFeedback{
  &__item{
    position: relative;
    border: 1px solid $border-color;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  &__user{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    img{
      width: 56px;
      height: 56px;
      border-radius: 50%;
      object-fit: cover;
    }
    .d-block{
      width: calc(100% - 56px);
      padding-left: 15px;
      p{
        margin-bottom: 0;
        &.p1{
          font-size: 16px;
          color: #262626;
          font-weight: 500;
        }
        &.p2{
          font-size: 14px;
          color: #8c8c8c;
        }
      }
    }
  }
  &__text{
    font-size: 14px;
    color: #262626;
    margin-bottom: 16px;
  }
  &__photo{
    display: flex;
    .dItem{
      + .dItem{
        padding-left: 16px;
      }
      &:nth-child(n+4){
        display: none;
      }
      img{
        width: 180px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
  .ratePoint{
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
.galleryAnimated{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  &__col{
    padding: 5px;
    &.col-1{
      width: 50%;
      height: 310px;
    }
    &.col-2,
    &.col-3{
      width: 25%;
      height: 310px;
    }
    &.col-4{
      width: 25%;
      height: 150px;
    }
    &.col-5{
      width: 25%;
      height: 150px;
    }
    &.col-6{
      width: 12.5%;
    }
    &.col-7{
      width: 12.5%;
    }
    &.col-8{
      width: 25%;
    }
  }
  &__item{
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
.roomAnimated{
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  &__header{
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    border-radius: 6px 0 0 6px;
    display: flex;
  }
  &__img{
    width: 140px;
    height: 140px;
    border-radius: 6px 0 0 6px;
  }
  &__info{
    width: calc(100% - 140px);
    padding: 20px;
    position: relative;
  }
  &__body{
    background-color: #fff;
  }
  &__item{
    border-bottom: 1px solid $border-color;
    padding: 15px 20px;
    &:last-child{
      border-bottom: none;
    }
  }
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  &__line1{
    height: 8px;
    width: calc(100% - 100px);
    margin-bottom: 5px;
  }
  &__line2{
    height: 8px;
    width: calc(100% - 200px);
    margin-bottom: 15px;
  }
  &__line3{
    height: 10px;
    width: 300px;
    margin-bottom: 5px;
  }
  &__line4{
    height: 10px;
    width: 300px;
  }
  &__line5{
    width: 50px;
    height: 8px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__line6{
    width: 150px;
    height: 30px;
    margin: 0;
  }
  &__line7{
    width: 150px;
    height: 30px;
    margin: 0;
  }
  &__line8{
    width: 150px;
    height: 30px;
    margin: 0;
  }
  &__line9{
    width: 150px;
    height: 30px;
    margin: 0;
  }
  &__line10{
    width: 150px;
    height: 30px;
    margin: 0;
  }
}