.hotelList{
  &__body{
    display: flex;
    margin: 15px;
  }
  &__left{
    width: 356px;
  }
  &__right{
    width: calc(100% - 356px);
    padding-left: 15px;
  }
  &__top{
    margin-bottom: 15px;
  }
  .pagination{
    padding-right: 0;
  }
}
.hotelSort{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  li{
    &:first-child{
      width: 70px;
    }
    + li{
      padding-left: 30px;
    }
    &.liPrice{
      position: absolute;
      top: 0;
      right: 0;
      .checkbox{
        label{
          strong{
            padding: 0 4px;
          }
        }
      }
    }
    p{
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 500;
      color: #262626;
    }
    .radio{
      input[type="radio"] + label:before{
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}