.ant-modal{
  .image-gallery,
  .image-gallery-content,
  .image-gallery-swipe,
  .image-gallery-slides{
    height: 100%;
  }
  .image-gallery-slide .image-gallery-image{
    text-align: center;
    height: 100%;
    object-fit: cover;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image{
    max-height: initial;
  }
  .image-gallery-icon{
    filter: none;
  }
  .image-gallery-slide{
    background: transparent;
    height: 100%;
    > div{
      height: 100%;
    }
  }
  .image-gallery-slides{
    -webkit-overflow-scrolling: touch;
  }
  .image-gallery-icon:hover{
    color: $yellow-2;
  }
}


.hotelDetail{
  display: flex;
  &__left{
    width: calc(100% - 27vw);
  }
  &__right{
    width: 27vw;
    padding: 1vw;
  }
  &__header{
    background-color: #fff;
    padding: .9vw 1.5vw;
    .hotelFaci{
      &__item{
        width: auto;
        + .hotelFaci__item{
          margin-left: .7vw;
        }
      }
    }
  }
  &__main{
    padding: 1vw 0 1vw 1vw;
  }
  &__filter{
    background-color: #fff;
    box-shadow: $shadow;
    padding: .8vw 1.1vw;
    display: flex;
    align-items: center;
    li{
      + li{
        padding-left: 1.5vw;
      }
      p{
        margin-bottom: 0;
        font-size: 1.1vw;
        font-weight: $medium;
        color: #262626;
      }
    }
  }
  .heading2{
    padding-bottom: 1vw;
  }
}

.hotelGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .8vw 0;
  background-color: #fff;
  box-shadow: $shadow;
  margin: 1vw 0;
  &__col{
    padding: .5vw;
    &.col-1{
      width: 50%;
      height: 22vw;
    }
    &.col-2{
      width: 25%;
      height: 22vw;
    }
    &.col-3{
      width: 25%;
      height: 22vw;
    }
    &.col-4{
      width: 25%;
      height: 11vw;
    }
    &.col-5{
      width: 25%;
      height: 11vw;
    }
    &.col-6{
      width: 12.5%;
      height: 11vw;
    }
    &.col-7{
      width: 12.5%;
      height: 11vw;
    }
    &.col-8{
      width: 25%;
      height: 11vw;
    }
  }
  &__item{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__rate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .7vw;
    .ratePoint{
      background-color: #fff;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      padding: .8vw;
      span{
        &.span2{
          width: auto;
        }
        &.spanText{
          padding-right: .5vw;
        }
      }
    }
  }
  &__map{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    button{
      position: absolute;
      background:rgba(54, 53, 62, 0.7);
      font-size: .9vw;
      border: none;
      display: block;
      background: #fff;
      height: auto;
      bottom: .8vw;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      width: 12vw;
      padding: .8vw;
      color: $yellow-2;
      svg,span{
        vertical-align: middle;
      }
      svg{
        margin-right: .5vw;
      }
    }
  }
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(54, 53, 62, 0.7);
    text-align: center;
    .d-block{
      margin: 1.8vw 0 0;
    }
    img{
      width: 3vw;
      height: 3vw;
    }
    p{
      color: #fff;
      font-size: .9vw;
      margin: .8vw 0 0;
    }
  }
  &__360{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(253, 185, 19, 0.7);
    text-align: center;
    .d-block{
      margin: 1.8vw 0 0;
    }
    p{
      color: #fff;
      font-size: .9vw;
      margin: .8vw 0 0;
    }
  }
}
.ant-modal-wrap.modal-gallery{
  .ant-modal{
    top: 1vw;
  }
  .ant-modal-body{
    padding: 0;
    height: calc(100% - 7vh);
  }
  .ant-modal-content{
    height: 95vh;
  }
  .ant-modal-header{
    height: 7vh;
  }

  .image-gallery-thumbnails-wrapper{
    height: 7vw;
  }
  .image-gallery-thumbnail{
    height: 6vw;
    border-radius: 3px;
    border: 3px solid transparent;
    &.active{
      border-color:$yellow-1;
      .image-gallery-thumbnail-inner{
        img{
          border-radius: 0;
        }
      }
    }
    .image-gallery-thumbnail-inner{
      width: 100%;
      height: 100%;
      img{
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }
  .image-gallery-slide-wrapper{
    height: calc(100% - 7vw);
  }
  .image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before{color: $yellow-1;}
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
    border: 3px solid $yellow-2;
  }
  .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
    height: 3.5vw;
    width: 1.3vw;
    stroke: $yellow-1;
  }

  .image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg{
    width: 1.5vw;
    height: 1.5vw;
  }
}
.modal-dialog.modal-gallery{
  background-color: transparent;
  box-shadow: none;
  margin: 3.5vw auto 0;
  @include breakpoint(sm){
    width:75%;
    height: calc(100% - 3.5vw);
  }
  .modal-body{
    padding: 0;
    position: relative;
  }

}
.listRoom{
  margin-bottom: 1.8vw;
  &__item{
    margin-bottom: 1vw;
  }
}
.roomItem{
  background-color: #fff;
  box-shadow: $shadow;
  &.open{
    .roomItem{
      &__collapsed{
        display: block;
      }
      &__click{
        svg{
          transform: rotate(90deg);
        }
      }
    }
  }
  &__header{
    display: flex;
    padding: .9vw;
    border-bottom: 1px solid #f5f5f5;
  }
  &__img{
    width: 11vw;
    height: 6vw;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info{
    width: calc(100% - 11vw);
    padding-left: .7vw;
    position: relative;
  }
  &__title{
    font-size: 1.3vw;
    font-weight: 500;
    color: #262626;
    margin-bottom: .8vw;
    padding-right: 7vw;
    cursor: pointer;
    transition: all .1s;
    &:hover{
      color: $yellow-2;
    }
  }
  &__click{
    position: absolute;
    top: 0;
    right: 0;
    font-size: .9vw;
    color: #262626;
    font-weight: 500;
    &:hover{
      color: $yellow-2;
      svg{
        path{
          fill: $yellow-2;
        }
      }
    }
    span, svg{
      vertical-align: middle;
    }
    span{
      padding-right: 5px;
    }
  }
  &__bed{
    .radio{
      margin-bottom: .6vw;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__collapsed{
    display: none;
    animation: opacityShow .3s ease-in-out;
  }
  &__detail{
    display: flex;
    padding: 1vw 0;
    background-color: #f5f5f5;
  }
  &__slide{
    width: 55%;
    height: 27vw;
    padding: 0 .7vw;
    > img{
      width: 100%;
    }
    .image-gallery,
    .image-gallery-content,
    .image-gallery-swipe,
    .image-gallery-slides{
      height: 100%;
    }
    .image-gallery-slide .image-gallery-image{
      text-align: center;
      height: 100%;
      object-fit: cover;
    }
    .image-gallery-content .image-gallery-slide .image-gallery-image{
      max-height: initial;
    }
    .image-gallery-icon{
      filter: none;
    }
    .image-gallery-slide{
      background: transparent;
      height: 100%;
      > div{
        height: 100%;
      }
    }
    .image-gallery-slides{
      -webkit-overflow-scrolling: touch;
    }
    .image-gallery-icon:hover{
      color: $yellow-2;
    }

    .image-gallery-thumbnails-wrapper{
      height: 6vw;
    }
    .image-gallery-slide-wrapper{
      height: calc(100% - 6vw);
    }
    .image-gallery-thumbnail{
      width: 5vw;
      height: 5vw;
    }
    .image-gallery-thumbnail{
      border: 2px solid transparent;
    }
    .image-gallery-thumbnail-inner{
      width: 100%;
      height: 100%;
    }
    .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
      border: 2px solid $yellow-1;
    }

    .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
      height: 3.5vw;
      width: 1.3vw;
      stroke: $yellow-1;
    }
    .image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg{
      width: 1.5vw;
      height: 1.5vw;
    }
  }
  &__serv{
    width: 45%;
    max-height: 27vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding:0 1vw;
    &::-webkit-scrollbar {
      width:.5vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    p{
      font-size: 1vw;
      &.medium{
        font-size: 1.1vw;
        color: #262626;
      }
    }
  }
  &__list{
    padding: 0 1.1vw;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1vw 0;
    border-bottom: 1px solid #f5f5f5;
  }
  &__policy{
    width: 25%;
    .iconText{
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
  &__type{
    width: 33%;
    padding: 0 1vw;
    .iconText{
      padding-bottom: 0;
      padding-left: 2vw;
    }
  }
  &__price{
    width: 25%;
    padding-right: 1vw;
    display: flex;
    justify-content: center;
  }
  &__action{
    width: 17%;
    text-align: right;
    > p{
      font-size: .9vw;
      color: #FF4D4F;
      margin-bottom: .5vw;
      strong{
        padding: 0 .4vw;
      }
    }
    .ant-btn{
      width: 100%;
    }
    .ant-dropdown-menu-item{
      p{
        &.active{
          color: $yellow-2;
        }
      }
    }
  }
  &__btn{
    .btn{
      width: 7vw;
    }

  }
  &__amount{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
      + li{
        padding-left: .6vw;
      }
      &.active{
        .btnRoom{
          background-color: #1890FF;
          border-color: #1890FF;
          color: #fff;
        }
      }
      &.tooltip{
        text-align: left;
      }
      .btnRoom{
        width: 1.5vw;
        height: 1.5vw;
        background: #fff;
        border: 1px solid $border-color;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1vw;
      }
    }
  }
  &__dropdown{
    text-align: left;
    &.disabled{
      cursor: not-allowed;
      .dropdown-toggle{
        pointer-events: none;
        opacity: .3;
      }
    }
    &.selected{
      .dropdown-toggle{
        background: #fff;
        border-color: $border-color;
        color: $text-color;
        svg{
          path{
            fill: #8c8c8c;
          }
        }
      }
    }
    .dropdown-toggle{
      background: $yellow-1;
      border-color: $yellow-1;
      color: #fff;
      svg{
        path{
          fill: #fff;
        }
      }
    }
    .dropdown-menu{
      min-width: 12vw;
    }
  }

}
.iconText{
  font-size: 1vw;
  position: relative;
  padding-left: 1.5vw;
  margin-bottom: .7vw;
  &:last-child{
    margin-bottom: 0;
  }
  > svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  > span{
    .tooltip{
      display: inline-block;
      margin-left: .4vw;
      &__cont{
        z-index: 3;
        width: 21vw;
      }
    }
  }
  &_green{
    color: #389E0D;
  }
  &_red{
    color: #F5222D;
  }
  &_orange{
    color: #FF8917;
  }
}
.hotelServ{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 1.8vw 1.5vw;
  margin-bottom: 1.8vw;
  &__item{
    display: flex;
    padding-bottom: 1.8vw;
  }
  &__title{
    width: 10.5vw;
    p{
      margin-bottom: 0;
      font-size: 1.3vw;
      font-weight: 500;
      color: #262626;
    }
  }
  &__cont{
    width: calc(100% - 10.5vw);
    padding-left: 1.8vw;
    p{
      font-size: 1vw;
      color: #262626;
      &.pText{
        max-height: 9vw;
        overflow: hidden;
        &.pText_full{
          max-height: initial;
        }
      }
    }
    .btnMore{
      font-size: 1vw;
      color: #262626;
      text-decoration: underline;
      &:hover{
        color: $yellow-2;
        svg{
          path{
            fill: $yellow-2;
          }
        }
      }
      &.rotate{
        svg{
          transform: rotate(180deg);
        }
      }
    }
  }
  &__flex{
    display: flex;
    flex-wrap: wrap;
  }
  &__group{
    padding-bottom: 1vw;
    padding-right: 1vw;
    width: 33.333%;
    p{
      &.pTitle{
        font-size: 1.1vw;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: .8vw;
        span{
          padding-left: .8vw;
        }
      }
    }
  }
}
.hotelReview{
  background-color: #fff;
  box-shadow: $shadow;
  padding: 1.8vw 1.5vw;
  margin-bottom: 1.8vw;
  &__top{
    padding-bottom: 1.1vw;
    .pTitle{
      font-size: 1vw;
      color: #262626;
      margin-bottom: 1.1vw;
      strong{
        padding: 0 .5vw;
      }
    }
    .d-flex{
      justify-content: space-between;
    }
  }
  &__bot{
    .pagination{
      padding: 0;
    }
  }
  &__point{
    text-align: center;
    p{
      margin-bottom: 0;
      &.p1{
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        background-color: #FFC53D;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          display: block;
          width: 7vw;
          height: 7vw;
          border-radius: 50%;
          background-color: #FA8C16;
          color: #fff;
          border: 2px solid #fff;
          font-size: 2.2vw;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &.p2{
        font-size: 1.5vw;
        color: $yellow-2;
        font-weight: 500;
      }
    }
  }
  &__progress{
    li{
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 6vw;
      padding-bottom: .7vw;
      p{
        margin-bottom: 0;
        font-size: 1vw;
        font-weight: 500;
        &.p1{
          color: #262626;
          position: absolute;
          top: 0;
          left: 0;
        }
        &.p2{
          color: $yellow-2;
          padding-left: 10px;
        }
      }
      progress{
        width: 10vw;
      }
    }
  }
  &__star{
    li{
      display: flex;
      align-items: center;
      padding-bottom: .7vw;
      p{
        margin-bottom: 0;
        width: 6vw;
      }
      .starBox{
        width: calc(100% - 6vw);
      }
    }
  }
}
.hotelFeedback{
  &__item{
    position: relative;
    border: 1px solid $border-color;
    padding: 1.1vw;
    border-radius: 4px;
    margin-bottom: 1.1vw;
  }
  &__user{
    display: flex;
    align-items: center;
    margin-bottom: 1.1vw;
    img{
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      object-fit: cover;
    }
    .d-block{
      width: calc(100% - 4vw);
      padding-left: 1vw;
      p{
        margin-bottom: 0;
        &.p1{
          font-size: 1.1vw;
          color: #262626;
          font-weight: 500;
        }
        &.p2{
          font-size: 1vw;
          color: #8c8c8c;
        }
      }
    }
  }
  &__text{
    font-size: 1vw;
    color: #262626;
    margin-bottom: 1.1vw;
  }
  &__photo{
    display: flex;
    .dItem{
      + .dItem{
        padding-left: 1.1vw;
      }
      &:nth-child(n+4){
        display: none;
      }
      img{
        width: 12.5vw;
        height: 7vw;
        object-fit: cover;
      }
    }
  }
  .ratePoint{
    position: absolute;
    top: 1.1vw;
    right: 1.1vw;
  }
}
.galleryAnimated{
  display: flex;
  flex-wrap: wrap;
  padding: .5vw;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 1vw;
  &__col{
    padding: .5vw;
    &.col-1{
      width: 50%;
      height: 22vw;
    }
    &.col-2,
    &.col-3{
      width: 25%;
      height: 22vw;
    }
    &.col-4{
      width: 25%;
      height: 11vw;
    }
    &.col-5{
      width: 25%;
      height: 11vw;
    }
    &.col-6{
      width: 12.5%;
    }
    &.col-7{
      width: 12.5%;
    }
    &.col-8{
      width: 25%;
    }
  }
  &__item{
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
.roomAnimated{
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1vw;
  &__header{
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    border-radius: 6px 0 0 6px;
    display: flex;
  }
  &__img{
    width: 10vw;
    height: 10vw;
    border-radius: 6px 0 0 6px;
  }
  &__info{
    width: calc(100% - 10vw);
    padding: 1.3vw;
    position: relative;
  }
  &__body{
    background-color: #fff;
  }
  &__item{
    border-bottom: 1px solid $border-color;
    padding: 1vw 1.3vw;
    &:last-child{
      border-bottom: none;
    }
  }
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  &__line1{
    height: .7vw;
    width: calc(100% - 7vw);
    margin-bottom: .5vw;
  }
  &__line2{
    height: .7vw;
    width: calc(100% - 14vw);
    margin-bottom: 1vw;
  }
  &__line3{
    height: .8vw;
    width: 21vw;
    margin-bottom: .5vw;
  }
  &__line4{
    height: .8vw;
    width: 21vw;
  }
  &__line5{
    width: 3.5vw;
    height: .7vw;
    position: absolute;
    top: 1.3vw;
    right: 1.3vw;
  }
  &__line6{
    width: 10.5vw;
    height: 1.8vw;
    margin: 0;
  }
  &__line7{
    width: 10.5vw;
    height: 1.8vw;
    margin: 0;
  }
  &__line8{
    width: 10.5vw;
    height: 1.8vw;
    margin: 0;
  }
  &__line9{
    width: 10.5vw;
    height: 1.8vw;
    margin: 0;
  }
  &__line10{
    width: 10.5vw;
    height: 1.8vw;
    margin: 0;
  }
}