.vnt-login{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.form-login{
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  @include breakpoint(md){
    width: 415px;
    height: 565px;
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 50px;
  }
  &__logo{
    margin-bottom: 15px;
    img{
      width: 105px;
    }
  }
  &__title{
    font-size: 24px;
    line-height: 22px;
    font-weight: $medium;
    color: #000;
    margin-bottom: 5px;
  }
  &__back{
    display: inline-block;
    margin-bottom: 24px;
    svg{
      display: block;
    }
  }
  p{
    color: #8c8c8c;
    &.p1{
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 25px;
      strong{
        padding: 0 3px;
      }
    }
    &.p2{
      font-size: 12px;
      line-height: 20px;
      margin: 0;
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
  }
  .checkbox{
    margin-bottom: 25px;
  }
  .btn{
    display: block;
    width: 100%;
  }
  .btn-forgot-pass{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #1890FF;
    font-weight: $medium;
    margin: 25px 0 0;
    &:hover{
      color: $yellow-1;
    }
  }
  .ant-form-item-label{
    line-height: initial;
    label{
      margin-bottom: 0;
    }
  }
}