.vntMember{
  background-color: #fff;
  padding: 1vw;
  margin: 1vw;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
  }
  &__total{
    p{
      margin: 0;
    }
  }
  &__btn{
    .btn{
      + .btn{
        margin-left: .7vw;
      }
      svg{
        margin-right: .5vw;
      }
    }
  }
  &__table{
    .table{
      th{
        .dropdown-menu{
          width: 20vw;
          padding: .7vw 0;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          top: calc(100% + .8vw)!important;
        }
        .dropdown-toggle{
          border: none;
          background: transparent;
          padding: 0;
          color: inherit;
          font-weight: inherit;
          height: auto;
          > svg{
            right: 0;
          }
        }
        .checkbox{
          label{
            width: 100%;
          }
        }
      }
      td{
        p{
          margin: 0;
          font-size: 1vw;
          &.p1{
            color: $text-color;
          }
          &.p2{
            color: #8c8c8c;
            font-size: .9vw;
          }
        }
        .btnSvg{
          display: flex;
          justify-content: center;
          width: 100%;
        }
        > .checkbox{
          justify-content: center;
          label{
            width: 1.1vw;
            height: 1.1vw;
            padding: 0;
          }
          input[type="checkbox"] + label:before {
            top:0;
          }
        }
        > .radio{
          justify-content: center;
          label{
            width: 1.1vw;
            height: 1.1vw;
            padding: 0;
          }
          input[type="radio"] + label:before {
            top:0;
          }
        }
      }
    }
    .ant-table thead > tr > th, .ant-table tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
      padding: .8vw .9vw;
    }
    .ant-table{
      th{
        border-top: 1px solid #f0f0f0;
      }
    }
    .ant-table.ant-table-bordered .ant-table-container{
      border-top: none;
    }
    .ant-table-body{
      &::-webkit-scrollbar {
        width:.5vw;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 16px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background:#bcbcbc;
        border-radius: 16px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #bcbcbc;
      }
    }
  }
}
.memberForm{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 80%;
  margin: 1vw;
  padding: .9vw;
  .form-group{
    margin-bottom: 0;
    padding: .9vw;
    width: 50%;
    &:nth-child(1){
      width: 100%;
    }
  }
}
.memberBtnAction{
  padding: 1vw;
  .btn{
    + .btn{
      margin-left: .7vw;
    }
  }
}
.memberDropdown{
  position: relative;
  &__cont{
    position: absolute;
    top: calc(100% + .5vw);
    left: 0;
    width: 100%;
    z-index: 5;
    background: #fff;
    box-shadow: $shadow;
    padding: 1.1vw;
    border-radius: 4px;
    display: none;
    &.open{
      display: block;
    }
  }
  &__search{
    margin-bottom: 1.1vw;
  }
}