.orderDetail{
  padding:24px 15px;
  &__body{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 24px;
    width: 80%;
  }
  &__header{
    padding-bottom: 16px;
    border-bottom: 1px solid $border-color;
    p{
      margin-bottom: 0;
      font-size: 16px;
      font-weight: $medium;
      color: #262626;
      strong{
        padding-left: 5px;
      }
    }
  }
  &__main{
    padding: 16px 0;
  }
  &__title{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      font-size: 12px;
      font-weight: $medium;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  &__hotel{
    padding: 16px;
    border: 1px solid $border-color;
  }
  &__date{
    padding: 16px 0;
    border-bottom: 1px solid $border-color;
    p{
      &.p1{
        color: #8c8c8c;
        font-size: 14px;
        margin-bottom: 0;
      }
      &.p2{
        font-size: 16px;
        font-weight: $medium;
        color: #262626;
        margin-bottom: 0;
      }
    }
  }
  &__room{
    padding: 16px 0;
    .d-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .flexGroup{
      padding: 16px 0;
      border-bottom: 1px solid $border-color;
      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    p{
      margin-bottom: 0;
      font-weight: $medium;
      width: 25%;
      &:nth-child(3),
      &:nth-child(4){
        text-align: right;
      }
      &:nth-child(2){
        text-align: center;
      }
      &.p1{
        font-size: 12px;
        color: #8c8c8c;
        text-transform: uppercase;
      }
      &.p2{
        color: #262626;
        font-size: 14px;
      }
    }
  }
  &__table{
    padding: 16px 0;
    table{
      th,td{
        vertical-align: middle;
      }
      p{
        margin-bottom: 0;
        &.p1{
          color: #262626;
        }
        &.p2{
          color: #8c8c8c;
        }
      }
    }
  }
  &__total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    border: 1px solid $border-color;
    border-top: none;
    p{
      margin-bottom: 0;
      font-size: 14px;
      color: #262626;
      font-weight: $medium;
      + p{
        margin-left: 24px;
      }
    }
  }
  &__price{
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;
  }
  &__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: $medium;
    color: #262626;
    padding: 8px 0;
    .p2{
      font-size: 16px;
    }
  }
  &__info{
    padding: 16px 0;
    .orderInfo{
      background-color: #fafafa;
      padding: 16px;
    }
  }
  &__flight{
    .flightTicket{
      &__info{
        border: 1px solid $border-color;
      }
    }
    .flightTrip{
      width: calc(100% - 350px);
    }
  }
  &__item{
    padding-bottom: 24px;
    &:last-child{
      padding-bottom: 0;
    }
  }
}
.flightCost{
  width: 150px;
  p{
    margin-bottom: 0;
    text-align: right;
    &.p1{
      font-size: 14px;
      color: #8c8c8c;
    }
    &.p2{
      font-size: 16px;
      font-weight: $medium;
      color: #262626;
    }
  }
}