.orderAdmin{
  padding: 1.5vw 1vw;
  &__title{
    font-size: 1vw;
    font-weight: $medium;
    color: #262626;
  }
  &__tab{
    display: flex;
    margin-bottom: .9vw;
    li{
      &.active{
        button{
          font-weight: $medium;
          color: $yellow-2;
          border-color: $yellow-2;
        }
      }
      button{
        font-size: 1vw;
        color: $text-color;
        padding: 0 .8vw;
        border-bottom: 2px solid transparent;
        padding-bottom: .7vw;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__form{
    display: flex;
    margin-bottom: .9vw;
    .form-group{
      margin-bottom: 0;
      &:first-child{
        width: 34%;
        padding-right: 1.3vw;
      }
      &:last-child{
        width: 66%;
        padding-left: 2vw;
      }
      > label{
        font-size: 1vw;
        font-weight: 500;
        color: #262626;
      }
    }
    .form-control{
      background: #fff;
    }
    .memberDropdown__cont{
      left: auto;
      right: 0;
      width: 56vw;
    }
    .d-flex{
      flex-wrap: wrap;
      .input-inline{
        margin-bottom: .7vw;
      }
      .dropdown,
      .memberDropdown{
        width: 50%;
      }
      .ant-select{
        width: 100%;
        .ant-select-multiple .ant-select-selector{
          height: 2.3vw;
        }
      }
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.1vw;
  }
  &__col{
    &:nth-child(1){
      width: 34%;
    }
    &:nth-child(2){
      width: 32%;
      padding-left: 1.3vw;
    }
    &:nth-child(3){
      width: 32%;
      display: flex;
      justify-content: flex-end;
    }
    .btnInline{
      .btn{
        &.active{
          background-color: $yellow-2;
          border-color: $yellow-2;
          color: #fff;
        }
      }
    }
  }
  &__progress{
    p{
      margin-bottom: 0;
      &.p1{
        font-size:.9vw;
        color: #8c8c8c;
      }
      &.p2{
        font-size: 1vw;
        font-weight: 500;
        color: #262626;
        margin-bottom: .7vw;
      }
    }
    progress{
      width: 19vw;
      background: #E4E9F2;
    }
    progress::-webkit-progress-value {
      background:#52C41A;
    }
    //Firefox
    progress::-moz-progress-bar {
      background:#52C41A;
    }
    //IE
    progress[value]::-ms-fill {
      background:#52C41A;
    }
  }
  &__main{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 1.1vw;
    margin-bottom: 1.5vw;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.1vw;
    .d-flex{
      align-items: center;
    }
    p{
      &.p1{
        font-size: 1vw;
        margin-bottom: 0;
        color: #262626;
      }
    }
    .btnExport{
      margin-left: 1.2vw;
      .btn{
        span,svg{
          vertical-align: middle;
        }
        span{
          padding:0 .5vw;
        }
      }
    }
  }
  &__table{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height:.6vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    .table{
      th{
        white-space: nowrap;
        vertical-align: middle;
        .dropdown-menu{
          width: 20vw;
          padding: .7vw 0;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          top: calc(100% + .8vw)!important;
        }
        .dropdown-toggle{
          border: none;
          background: transparent;
          padding: 0;
          color: inherit;
          font-weight: inherit;
          height: auto;
          > svg{
            right: 0;
          }
        }
        .checkbox{
          label{
            width: 100%;
          }
        }
      }
      td{
        white-space: nowrap;
        vertical-align: middle;
        p{
          margin: 0;
        }
        .p1{
          color: $text-color;
          font-size: 1vw;
        }
        .p2{
          color: #8c8c8c;
          font-size: .9vw;
          margin-bottom: .6vw;
        }
        .btnInline{
          display: flex;
          justify-content: center;
          button{
            font-size: 1vw;
            font-weight: $medium;
            padding: 0 .7vw;
            + button{
              border-left: 1px solid $border-color;
            }
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .checkbox{
        justify-content: center;
        label{
          width: 1.1vw;
          height: 1.1vw;
          padding: 0;
        }
        input[type="checkbox"] + label:before {
          top:0;
        }
      }
      .radio{
        justify-content: center;
        label{
          width: 1.1vw;
          height: 1.1vw;
          padding: 0;
        }
        input[type="radio"] + label:before {
          top:0;
        }
      }
    }
  }
  .pagination{
    padding-left: 0;
    padding-right: 0;
  }
}
.iconPlace{
  display: flex;
  align-items: center;
  &__text{
    padding-left: .8vw;
    p{
      margin-bottom: 0;
      font-size: 1vw;
      &.p1{
        color: #595959;
      }
      &.p2{
        font-size: .9vw;
        color: #8c8c8c;
      }
    }
  }
}
.priceGroup{
  .p1{
    display: flex;
    justify-content: flex-end;
    .tooltip{
      margin-right: .5vw;
    }
  }
}
.orderCol{
  &__title{
    font-size: 1vw;
    color: #bfbfbf;
    border-bottom: 1px solid $border-color;
    margin-bottom: 0;
    padding: .9vw 1.1vw;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 1.1vw;
    margin: 0 -.7vw;
  }
  &__check{
    width: 50%;
    margin-bottom: .7vw;
    padding: 0 .7vw;
  }
  &__btn{
    padding: .9vw 1.1vw;
    border-top: 1px solid $border-color;
  }
}
.modal-dialog.modal-memberList{
  width: 55vw;
}