.orderAdmin{
  padding: 24px 15px;
  &__title{
    font-size: 14px;
    font-weight: $medium;
    color: #262626;
  }
  &__tab{
    display: flex;
    margin-bottom: 12px;
    li{
      &.active{
        button{
          font-weight: $medium;
          color: $yellow-2;
          border-color: $yellow-2;
        }
      }
      button{
        font-size: 14px;
        color: $text-color;
        padding: 0 10px;
        border-bottom: 2px solid transparent;
        padding-bottom: 8px;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__form{
    display: flex;
    margin-bottom: 12px;
    .form-group{
      margin-bottom: 0;
      &:first-child{
        width: 345px;
      }
      &:last-child{
        width: calc(100% - 345px);
        padding-left: 40px;
        @include breakpoint(max-md){
          padding-left: 8px;
        }
      }
      > label{
        font-size: 14px;
        font-weight: 500;
        color: #262626;
      }
    }
    .form-control{
      background: #fff;
    }
    .memberDropdown__cont{
      left: auto;
      right: 0;
      width: 800px;
    }
    .d-flex{
      flex-wrap: wrap;
      .d-item{
        margin-right: 8px;
        margin-bottom: 8px;
        @include breakpoint(max-md){
          width: calc(50% - 8px)!important;
        }
        &:nth-child(1){
          width: 300px;
        }
        &:nth-child(2){
          width: 200px;
        }
        &:nth-child(3){
          width: 245px;
        }
        &:nth-child(4){
          width: 240px;
        }
      }
      .ant-select{
        width: 100% !important;
      }
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__col{
    &:nth-child(1){
      width: 345px;
    }
    &:nth-child(2){
      width: calc(100% - 610px);
      padding-left: 40px;
      @include breakpoint(max-md){
        width: calc(100% - 545px);
        padding-left: 8px;
      }
    }
    &:nth-child(3){
      width: 265px;
      @include breakpoint(max-md){
        width: 200px;
      }
    }
    .btnInline{
      .btn{
        @include breakpoint(max-md){
          margin-top: 8px;
        }
        &.active{
          background-color: $yellow-2;
          border-color: $yellow-2;
          color: #fff;
        }
      }
    }
  }
  &__progress{
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 12px;
        color: #8c8c8c;
      }
      &.p2{
        font-size: 14px;
        font-weight: 500;
        color: #262626;
        margin-bottom: 8px;
      }
    }
    progress{
      width: 100%;
      background: #E4E9F2;
    }
    progress::-webkit-progress-value {
      background:#52C41A;
    }
    //Firefox
    progress::-moz-progress-bar {
      background:#52C41A;
    }
    //IE
    progress[value]::-ms-fill {
      background:#52C41A;
    }
  }
  &__main{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 16px;
    margin-bottom: 24px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .d-flex{
      align-items: center;
    }
    p{
      &.p1{
        font-size: 14px;
        margin-bottom: 0;
        color: #262626;
      }
    }
    .btnExport{
      margin-left: 18px;
      .btn{
        span,svg{
          vertical-align: middle;
        }
        span{
          padding:0 5px;
        }
      }
    }
  }
  &__table{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height:6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    .table{
      th{
        white-space: nowrap;
        vertical-align: middle;
        .dropdown-menu{
          width: 290px;
          padding: 8px 0;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          top: calc(100% + 10px)!important;
        }
        .dropdown-toggle{
          border: none;
          background: transparent;
          padding: 0;
          color: inherit;
          font-weight: inherit;
          height: auto;
          > svg{
            right: 0;
          }
        }
        .checkbox{
          label{
            width: 100%;
          }
        }
      }
      td{
        white-space: nowrap;
        vertical-align: middle;
        p{
          margin: 0;
        }
        .p1{
          color: $text-color;
          font-size: 14px;
        }
        .p2{
          color: #8c8c8c;
          font-size: 12px;
          margin-bottom: 6px;
        }
        .btnInline{
          display: flex;
          justify-content: center;
          button{
            font-size: 14px;
            font-weight: $medium;
            padding: 0 8px;
            + button{
              border-left: 1px solid $border-color;
            }
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .checkbox{
        justify-content: center;
        label{
          width: 16px;
          height: 16px;
          padding: 0;
        }
        input[type="checkbox"] + label:before {
          top:0;
        }
      }
      .radio{
        justify-content: center;
        label{
          width: 16px;
          height: 16px;
          padding: 0;
        }
        input[type="radio"] + label:before {
          top:0;
        }
      }
    }
  }
  .pagination{
    padding-left: 0;
    padding-right: 0;
  }
}
.iconPlace{
  display: flex;
  align-items: center;
  &__text{
    padding-left: 10px;
    p{
      margin-bottom: 0;
      font-size: 14px;
      &.p1{
        color: #595959;
      }
      &.p2{
        font-size: 12px;
        color: #8c8c8c;
      }
    }
  }
}
.priceGroup{
  .p1{
    display: flex;
    justify-content: flex-end;
    .tooltip{
      margin-right: 5px;
    }
  }
}
.orderCol{
  &__title{
    font-size: 14px;
    color: #bfbfbf;
    border-bottom: 1px solid $border-color;
    margin-bottom: 0;
    padding: 12px 16px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    margin: 0 -8px;
  }
  &__check{
    width: 50%;
    margin-bottom: 8px;
    padding: 0 8px;
  }
  &__btn{
    padding: 12px 16px;
    border-top: 1px solid $border-color;
  }
}
.modal-dialog.modal-memberList{
  width: 768px;
}