.orderDetail{
  padding: 1.5vw 1vw;
  &__body{
    background-color: #fff;
    box-shadow: $shadow;
    padding: 1.5vw;
    width: 80%;
  }
  &__header{
    padding-bottom: 1.1vw;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
  }
  &__code{
    > p{
      margin-bottom: 0;
      font-size: 1.1vw;
      font-weight: $medium;
      color: #262626;
      strong{
        padding-left: .5vw;
      }
    }
  }
  &__main{
    padding: 1.1vw 0;
  }
  &__title{
    margin-bottom: .7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      font-size: .9vw;
      font-weight: $medium;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  &__hotel{
    padding: 1.1vw;
    border: 1px solid $border-color;
    .tableNoBorder{
      tr{
        th{
          padding-top: 1vw;
        }
        td{
          font-weight: 500;
          padding: 1vw;
        }
      }
    }
  }
  &__date{
    padding: 1.1vw 0;
    p{
      &.p1{
        color: #8c8c8c;
        font-size: 1vw;
        margin-bottom: 0;
      }
      &.p2{
        font-size: 1.1vw;
        font-weight: $medium;
        color: #262626;
        margin-bottom: 0;
      }
    }
  }
  &__room{
    padding: 1.1vw 0;
    .d-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .flexGroup{
      padding: 1.1vw 0;
      border-bottom: 1px solid $border-color;
      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    p{
      margin-bottom: 0;
      font-weight: $medium;
      width: 25%;
      &:nth-child(3),
      &:nth-child(4){
        text-align: right;
      }
      &:nth-child(2){
        text-align: center;
      }
      &.p1{
        font-size: .9vw;
        color: #8c8c8c;
        text-transform: uppercase;
      }
      &.p2{
        color: #262626;
        font-size: 1vw;
      }
    }
  }
  &__table{
    padding: 1.1vw 0;
    table{
      th,td{
        vertical-align: middle;
      }
      p{
        margin-bottom: 0;
        &.p1{
          color: #262626;
        }
        &.p2{
          color: #8c8c8c;
        }
      }
    }
  }
  &__total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.1vw;
    border: 1px solid $border-color;
    border-top: none;
    p{
      margin-bottom: 0;
      font-size: 1vw;
      color: #262626;
      font-weight: $medium;
      + p{
        margin-left: 1.5vw;
      }
    }
  }
  &__price{
    padding-bottom: .7vw;
    border-bottom: 1px solid $border-color;
  }
  &__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1vw;
    font-weight: $medium;
    color: #262626;
    padding: .7vw 0;
    .p2{
      font-size: 1.1vw;
    }
    ul{
      width: 100%;
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        color: #595959;
        padding: .5vw 0;
        span{
          &:first-child{
            &:before{
              content: '•';
              margin-right: .5vw;
            }
          }
        }
      }
    }
  }
  &__info{
    padding: 1.1vw 0;
    .orderInfo{
      background-color: #fafafa;
      padding: 1.1vw;
    }
  }
  &__note{
    padding: 1.1vw 0;
  }
  &__flight{
    > p{
      margin-bottom: .7vw;
    }
    .tableNoBorder{
      margin: .9vw 0;
      tr{
        th{
          padding-top: 1vw;
        }
      }
      p{
        &.p1{
          .span1{
            margin-right: .5vw;
          }
        }
        &.p2{
          font-weight: 500;
          margin-bottom: 0;
        }
      }
      .flightPlace{
        margin-bottom: 0;
      }
    }
  }
}
.flightCost{
  width: 10.5vw;
  p{
    margin-bottom: 0;
    text-align: right;
    &.p1{
      font-size: 1vw;
      color: #8c8c8c;
    }
    &.p2{
      font-size: 1.1vw;
      font-weight: $medium;
      color: #262626;
    }
  }
}
.modal-orderFlight{
  width: 55vw!important;
  &__header{
    border-bottom: 1px solid $border-color;
  }
  &__title{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    color: #595959;
    margin-bottom: 1vw;
  }
  &__item{
    padding: 1vw 0;
  }
  .flightTicket{
    &__detail{
      padding: 1.5vw;
      background-color: #F7F9FC;
    }
    &__info{
      background-color: #F7F9FC;
    }
    &__trip{
      background-color: #fff;
    }
    &__btn{
      display: none;
    }
    &__airline{
      display: none;
    }
    &__table{
      .table{
        th,td{
          background-color: #fff;
        }
      }
    }
  }
  .flightTrip{
    width: auto;
    &_lg{
      .d-block{
        p.p1{
          font-size: 1.1vw;
        }
      }
    }
  }
  .flightDest{
    p{
      font-size: 1vw;
      text-transform: uppercase;
    }
  }
}