.report{
  padding: 24px 15px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item{
    padding: 0 10px 24px;
    width: 100%;
  }
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    .heading2{
      padding-right: 16px;
      font-size: 16px;
    }
    .dropdownGroup{
      .dropdown{
        width: 120px;
      }
      .ant-select{
        width: 120px!important;
        + .ant-select{
          margin-left: 8px;
        }
      }
    }
  }
  &__cont{
    background-color: #fff;
    padding: 16px 24px;
    height: calc(100% - 48px);
    position: relative;
  }
  &__info{
    display: flex;
    padding-bottom: 20px;
    .d-block{
      + .d-block{
        padding-left: 48px;
      }
      p{
        margin-bottom: 0;
        color: #262626;
        &.p1{
          font-size: 14px;
        }
        &.p2{
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
  &__chart{
    img{
      width: 100%;
    }
  }
  &__table{
    margin-top: 15px;
    .table{
      th,td{
        font-size: 13px;
        padding: 8px 12px;
      }
    }
  }
  &__loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
  > .d-flex{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    .btn{
      svg{
        margin-right: 5px;
      }
      svg,span{
        vertical-align: middle;
      }
    }
  }
}
.modal-dialog.modal-exportReport{
  width: 416px;
  .pTitle{
    color: #262626;
    margin-bottom: 20px;
  }
  .radioInline{
    margin-bottom: 10px;
  }
}