.report{
  padding: 1.5vw 1vw;
  &__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.8vw;
  }
  &__item{
    padding: 0 .8vw 1.5vw;
    width: 100%;
  }
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.1vw;
    .heading2{
      padding-right: 1.1vw;
      font-size: 1.1vw;
    }
    .dropdownGroup{
      .dropdown{
        width:9vw;
      }
      .ant-select{
        width: 9vw!important;
        + .ant-select{
          margin-left: .7vw;
        }
      }
    }
  }
  &__cont{
    background-color: #fff;
    padding: 1.1vw 1.5vw;
    height: calc(100% - 2.7vw);
    position: relative;
  }
  &__info{
    display: flex;
    padding-bottom: 1.3vw;
    .d-block{
      + .d-block{
        padding-left: 2.7vw;
      }
      p{
        margin-bottom: 0;
        color: #262626;
        &.p1{
          font-size: 1vw;
        }
        &.p2{
          font-size: 1.3vw;
          font-weight: 500;
        }
      }
    }
  }
  &__chart{
    img{
      width: 100%;
    }
  }
  &__table{
    margin-top: 1vw;
    .table{
      th,td{
        font-size: .9vw;
        padding: .7vw .9vw;
      }
    }
  }
  &__loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
  > .d-flex{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5vw;
    .btn{
      svg{
        margin-right: .5vw;
      }
      svg,span{
        vertical-align: middle;
      }
    }
  }
}
.modal-exportReport{
  width: 29vw;
  .pTitle{
    color: #262626;
    margin-bottom: 1.3vw;
  }
  .radioInline{
    margin-bottom: .8vw;
  }
}
.exportReport{
  &__item{
    padding-bottom: .8vw;
    ul{
      li{
        padding: .5vw 0;
      }
    }
  }
  &__title{
    font-size: 1vw;
    font-weight: 500;
    color: #262626;
    margin-bottom: .5vw;
  }
  &__form{
    .dItem{
      margin-bottom: 1vw;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}