.report{
  padding: 24px 15px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  &__item{
    padding: 0 10px 24px;
    width: 100%;
    &.w-50{
      .report__title{
        justify-content: space-between;
      }
    }
  }
  &__title{
    display: flex;
    padding-bottom: 16px;
    .heading2{
      padding-right: 16px;
    }
    .dropdownGroup{
      .dropdown{
        width: 138px;
      }
    }
  }
  &__cont{
    background-color: #fff;
    padding: 16px 24px;
  }
  &__info{
    display: flex;
    padding-bottom: 20px;
    .d-block{
      + .d-block{
        padding-left: 48px;
      }
      p{
        margin-bottom: 0;
        color: #262626;
        &.p1{
          font-size: 14px;
        }
        &.p2{
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
  &__chart{
    img{
      width: 100%;
    }
  }
  > .d-flex{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    .btn{
      svg{
        margin-right: 5px;
      }
      svg,span{
        vertical-align: middle;
      }
    }
  }
}
.modal-dialog.modal-exportReport{
  width: 416px;
  .pTitle{
    color: #262626;
    margin-bottom: 20px;
  }
  .radioInline{
    margin-bottom: 10px;
  }
}