.stApproval{
  @include breakpoint(xl){
    width: 1185px;
    margin: auto;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    padding: 28px 24px;
  }
  &__left{
    width: 220px;
    padding-right: 20px;
  }
  &__right{
    width: calc(100% - 220px);
    padding-left: 20px;
  }
  &__name{
    color: #262626;
  }
  .vntBox{
    margin: 0 0 16px;
    box-shadow: $shadow;
  }
}
.stTitle{
  font-size: 16px;
  font-weight: $medium;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.stTab{
  > li{
    margin-bottom: 16px;
    position: relative;
    &.active{
      .btn{
        color: $yellow-2;
        border-color: $yellow-2;
      }
    }
    .btn{
      width: 100%;
      font-weight: $regular;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .dropdown{
    position: absolute;
    top: 4px;
    right: 1px;
    .dropdown-toggle{
      background: transparent;
      border: none;
      transition: all .2s;
      &:hover{
        background: #f5f5f5;
      }
    }
    .dropdown-menu{
      width: 100px;
      left: auto;
      right: 0;
    }
    .dropdown-item{
      text-align: center;
    }
  }
}
.approvalInfo{
  &__item{
    padding: 16px 0;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    .d-block{
      &:nth-child(1){
        width: 40%;
      }
      &:nth-child(2){
        width: 30%;
      }
      &:nth-child(3){
        width: 25%;
      }
      &:nth-child(4){
        width: 5%;
        text-align: right;
      }
      p{
        font-size: 14px;
        color: #262626;
        margin-bottom: 0;
        &.p2{
          color: #8c8c8c;
          font-size: 12px;
        }
      }
    }
  }
  &__add{
    padding-bottom: 16px;
  }
}
.objApply{
  margin-bottom: -15px;
  ul{
    li{
      padding: 16px 0;
      border-bottom: 1px solid $border-color;
      &:last-child{
        border-bottom: none;
      }
      p{
        font-size: 14px;
        color: #1890FF;
        margin-bottom: 0;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.popupMember{
  width: 1154px;
  @include breakpoint(max-md){
    width: 80% !important;
  }
  &__tab{
    width: 154px;
    border-right: 1px solid $border-color;
    li{
      &.active{
        button{
          color: $yellow-2;
          font-weight: $medium;
          border-left: 3px solid $yellow-2;
        }
      }
      button{
        font-size: 14px;
        color: #8c8c8c;
        padding: 8px 16px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        text-align: left;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__group{
    display: flex;
  }
  &__cont{
    width: calc(100% - 154px);
    padding: 16px;
  }
  &__item{
    display: none;
    animation: opacityShow .3s ease-in-out;
    &.open{
      display: block;
    }
  }
  .modal-body{
    padding: 0;
  }
}
.stAddApproval{
  .stApproval{
    &__right{
      padding-left: 0;
    }
  }
  .vntBox{
    margin: 0 0 15px;
  }
}