.stBusiness{
  &__row{
    display: flex;
  }
  &__left{
    width: 50%;
    padding-right: 80px;
  }
  &__right{
    width: 50%;
  }
  &__btn{
    padding: 15px;
    .btn{
      + .btn{
        margin-left: 8px;
      }
    }
    .w100{
      width: 100px;
    }
  }
  &__upload{
    p{
      font-size: 14px;
      &.p1{
        color: #262626;
      }
      &.p2{
        color: #8c8c8c;
      }
    }
    img{
      width: 90px;
    }
  }
  .form-group{
    margin-bottom: 24px;
    .dropdown{
      margin-bottom: 8px;
    }
    > p{
      margin-bottom: 0;
    }
  }
  .vntBox{
    width: 80%;
    display: none;
    &.open{
      display: block;
    }
  }
}