.stEmail{
  @include breakpoint(xl){
    width: 1185px;
    margin: 0 auto;
  }
  &__table{
    .table{
      td{
        vertical-align: middle;
        &:first-child{
          background-color: #fafafa;
        }
        .checkbox{
          justify-content: center;
          label{
            width: 16px;
            height: 16px;
            padding: 0;
            &:before{
              top: 0;
            }
          }
        }
        p{
          font-weight: 500;
          color: #262626;
          margin-bottom: 0;
        }
      }
      th{
        vertical-align: middle;
        text-align: center;
        &:nth-child(1){
          position: relative;
          height: 64px;
          background-image: linear-gradient(to top right,#fafafa 49%,#e8e8e8,#fafafa 51%);
          p{
            margin: 0;
            position: absolute;
            &.p1{
              top: 10px;
              right: 12px;
            }
            &.p2{
              bottom: 10px;
              left: 12px;
            }
          }
        }
      }
    }
  }
  &__btn{
    padding: 0 15px;
    .btn{
      + .btn{
        margin-left: 8px;
      }
    }
  }
}