.stEmail{
  &__table{
    .table{
      td{
        vertical-align: middle;
        &:first-child{
          background-color: #fafafa;
        }
        .checkbox{
          justify-content: center;
          label{
            width: 1.1vw;
            height: 1.1vw;
            padding: 0;
            &:before{
              top: 0;
            }
          }
        }
        p{
          font-weight: 500;
          color: #262626;
          margin-bottom: 0;
        }
      }
      th{
        vertical-align: middle;
        text-align: center;
        &:nth-child(1){
          position: relative;
          height: 4vw;
          background-image: linear-gradient(to top right,#fafafa 49%,#e8e8e8,#fafafa 51%);
          p{
            margin: 0;
            position: absolute;
            &.p1{
              top: .8vw;
              right: .9vw;
            }
            &.p2{
              bottom: .8vw;
              left: .9vw;
            }
          }
        }
      }
    }
  }
  &__btn{
    padding: 0 1vw;
    .btn{
      + .btn{
        margin-left: .7vw;
      }
    }
  }
}