.stLevel{
  &__row{
    display: flex;
    justify-content: space-between;
    padding: 1.7vw 1.5vw;
  }
  &__left{
    width: 15vw;
    padding-right: 1.3vw;
  }
  &__center{
    width: calc(100% - 30vw);
    padding: 0 1.3vw;
  }
  &__right{
    width: 15vw;
    padding-left: 1.3vw;
  }
  &__name{
    color: #262626;
  }
  .vntBox{
    margin: 0 0 1.5vw;
    box-shadow: $shadow;
    &__table{
      .d-left{
        .flexGroup{
          height: 100%;
        }
      }
    }
  }
}
.stNavbar{
  text-align: right;
  padding-right: 5vw;
  &.fixedTop{
    position: fixed;
    top: 1vw;
  }
  li{
    &.active{
      a,button{
        color: #262626;
        font-weight: $medium;
        &:after{
          content: '';
          width: 1.2vw;
          height: .4vw;
          background-color: $yellow-2;
          position: absolute;
          right: -1.8vw;
          bottom: 1vw;
        }
      }
    }
    a,button{
      font-size: 1vw;
      display: inline-block;
      color: $text-color;
      padding:.7vw 0;
      text-align: left;
      position: relative;
      &:hover{
        color: $yellow-2;
      }
    }
  }
}
.levelForm{
  &__item{
    margin: 0 -1vw;
    padding: 1vw;
    border-bottom: 1px solid $border-color;
    .input-inline{
      display: flex;
      >span{
        padding: .5vw .7vw;
      }
      .ant-input-number{
        width: 100%;
      }
      .ant-row{
        flex: 1;
        margin-bottom: 0;
      }
    }
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 1.1vw;
      font-weight: $medium;
      color: #262626;
      margin-bottom: 0;
    }
  }
  &__place{
    padding-top: 1vw;
  }
  &__remove{
    button{
      padding: .5vw .7vw;
    }
  }
  &__name{
    display: flex;
    margin: 0 -.7vw;
    p{
      width: 47%;
      font-size: 1vw;
      color: #262626;
      padding: 0 .7vw;
    }
  }
  &__line{
    display: flex;
    margin: 0 -.7vw 1vw;
  }
  &__col{
    width: 47%;
    padding: 0 .7vw;
    .ant-row{
      margin-bottom: 0;
    }
  }
  &__row{
    display: none;
    padding-top: 1vw;
    &.open{
      display: block;
    }
  }
  &__airlines{
    display: flex;
    flex-wrap: wrap;
    .checkbox{
      width: 50%;
      input[type="checkbox"] + label:before{
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__seat{
    display: flex;
    flex-wrap: wrap;
    li{
      padding-bottom: .7vw;
      + li{
        padding-left: .7vw;
      }
      &.active{
        .btnSeat{
          background: #1890FF;
          color: #fff;
          border-color: #1890FF;
        }
      }
    }

  }
  .btnInline{
    padding-top: 1vw;
  }
}
.levelNoti{
  padding: 1.9vw 0 1.1vw;
  p{
    margin-bottom: 0;
    color: #262626;
  }
}