.stLevel{
  &__row{
    display: flex;
    justify-content: space-between;
    padding: 28px 24px;
  }
  &__left{
    width: 220px;
    padding-right: 20px;
  }
  &__center{
    width: calc(100% - 440px);
    padding: 0 20px;
  }
  &__right{
    width: 220px;
    padding-left: 20px;
  }
  &__name{
    color: #262626;
  }
  .vntBox{
    margin: 0 0 24px;
    box-shadow: $shadow;
    &__table{
      .d-left{
        .flexGroup{
          height: 100%;
        }
      }
    }
  }
}
.stNavbar{
  text-align: right;
  padding-right: 85px;
  li{
    &.active{
      a,button{
        color: #262626;
        font-weight: $medium;
        &:after{
          content: '';
          width: 19px;
          height: 2px;
          background-color: $yellow-2;
          position: absolute;
          right: -30px;
          bottom: 15px;
        }
      }
    }
    a,button{
      font-size: 14px;
      display: inline-block;
      color: $text-color;
      padding: 8px 0;
      text-align: left;
      position: relative;
      &:hover{
        color: $yellow-2;
      }
    }
  }
}
.levelForm{
  &__item{
    margin: 0 -15px;
    padding: 15px;
    border-bottom: 1px solid $border-color;
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 16px;
      font-weight: $medium;
      color: #262626;
      margin-bottom: 0;
    }
  }
  &__place{
    padding-top: 15px;
  }
  &__name{
    display: flex;
    margin: 0 -8px;
    p{
      width: 50%;
      font-size: 14px;
      color: #262626;
      padding: 0 8px;
    }
  }
  &__line{
    display: flex;
    margin: 0 -8px 12px;
  }
  &__col{
    width: 50%;
    padding: 0 8px;
  }
  &__row{
    display: none;
    padding-top: 15px;
    &.open{
      display: block;
    }
  }
  &__time{
    .input-inline{
      display: flex;
      align-items: center;
      span{
        padding: 0 8px;
        font-weight: $semibold;
      }
    }
  }
  &__airlines{
    display: flex;
    flex-wrap: wrap;
    .checkbox{
      width: 50%;
      input[type="checkbox"] + label:before{
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__seat{
    display: flex;
    flex-wrap: wrap;
    li{
      padding-bottom: 8px;
      + li{
        padding-left: 8px;
      }
      &.active{
        .btnSeat{
          background: #1890FF;
          color: #fff;
          border-color: #1890FF;
        }
      }
    }

  }
  .btnInline{
    padding-top: 15px;
  }
}
.levelNoti{
  padding: 32px 0 16px;
  p{
    margin-bottom: 0;
    color: #262626;
  }
}