.stPosition{
  @include breakpoint(xl){
    width: 1185px;
    margin: auto;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    p{
      margin-bottom: 0;
    }
  }
  &__btn{
    .btn{
      + .btn{
        margin-left: 8px;
      }
      svg{
        margin-right: 6px;
      }
    }
  }
  &__table{
    .table{
      td{
        vertical-align: middle;
        p{
          margin: 0;
          color: #262626;
          font-size: 14px;
        }
      }
      th,td{
        &:nth-child(1){
          width: 30%;
        }
        &:nth-child(2){
          width: 20%;
        }
        &:nth-child(3){
          width: 40%;
        }
        &:nth-child(4){
          width: 10%;
        }
      }
    }
    .btnGroup{
      position: relative;
      margin-top: 5px;
      button{
        margin: 0 3px;
        svg{
          display: block;
        }
      }
    }
    .ant-form-item{
      margin-bottom: 0;
    }
    .ant-form-item-control{
      line-height: initial;
    }
  }
}
.addPosition{
  display: none;
  &.open{
    display: table-row;
  }
}
.editPosition{
  display: none;
  &.open{
    display: table-row;
  }
}