.stStructure{
  .vntBox{
    width: 80%;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    p{
      margin-bottom: 0;
    }
  }
}
.companyBox{
  &__logo{
    position: relative;
    z-index: 1;
    margin-bottom: .8vw;
    &:after{
      content: '';
      width: .5vw;
      height: .5vw;
      background-color: $yellow-2;
      border-radius: 50%;
      position: absolute;
      bottom: -.8vw;
      left: 3.25vw;
    }
    img{
      width: 7vw;
    }
  }
  &__btn{
    background: #262626;
    border-radius: 50%;
    width: 1.3vw;
    height: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    svg{
      display: block;
      transition: all .3s;
    }
    &.rotate{
      svg{
        transform: rotate(90deg);
      }
    }
  }
  &__part{
    padding-left: 2.7vw;
    padding-top: 2.8vw;
    position: relative;
    &:before{
      content: '';
      height: 2.8vw;
      position: absolute;
      top: 0;
      left: 3.5vw;
      border-left: 1px dashed $border-color;
    }
    > li {
      display: flex;
      align-items: baseline;
      position: relative;
      padding-bottom: 1.8vw;
      &:before{
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left:.8vw;
        border-left: 1px dashed $border-color;
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
    }
  }
  &__team{
    padding-left: 2.9vw;
    position: relative;
    &.open{
      .companyBox__child{
        display: block;
      }
    }
    &:before{
      content: '';
      width: .5vw;
      height: .5vw;
      background-color: $yellow-2;
      border-radius: 50%;
      position: absolute;
      top: .5vw;
      left: 2.3vw;
    }
    > li {
      position: relative;
      padding-left: .5vw;
      &:before{
        content: '';
        width: 2.3vw;
        position: absolute;
        top: .7vw;
        left: -2.9vw;
        border-top: 1px dashed $border-color;
      }
      > p{
        font-weight: $semibold;
      }
    }
    ul{
      padding-left: 2.7vw;
      li{
        position: relative;
        padding: .8vw 0;
        &:after{
          content: '';
          width:2.3vw;
          position: absolute;
          top:1.3vw;
          left:-2.7vw;
          border-top: 1px dashed $border-color;
        }
        &:before{
          content: '';
          height: 100%;
          position: absolute;
          top: 0;
          left: -2.7vw;
          border-left: 1px dashed $border-color;
        }
        &:last-child{
          &:before{
            height: 1.3vw;
          }
        }
      }
    }
  }
  &__child{
    display: none;
    animation: opacityShow .3s ease-in-out;
  }
  &__text{
    display: inline-block;
    > p{
      cursor: pointer;
      transition: all .1s;
      &:hover{
        color: $yellow-2;
      }
    }
  }
  p{
    font-size: 1vw;
    color: #262626;
    margin-bottom: 0;
  }
  .tooltip{
    &__cont{
      z-index: 10;
      display: flex;
      justify-content: space-between;
      padding: .6vw .9vw;
      top: auto;
      bottom: calc(100% + .5vw);
      &:before{
        top: auto;
        bottom: -.7vw;
        border-color: #000 transparent transparent;
      }
      button{
        font-size: 1vw;
        color: #fff;
        font-weight: 500;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}