.hotelInfo{
  box-shadow: $shadow;
  background-color: #fff;
  padding: 15px;
  position: sticky;
  top: 0;
  &__empty{
    text-align: center;
    padding: 15px;
    img{
      width: 180px;
    }
    p{
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 14px;
      color: #262626;
      font-weight: 500;
    }
  }
  &__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    p{
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 500;
      &.p1{
        color: #262626;
      }
      &.p2{
        color: #096DD9;
      }
    }
  }
  .hotelAddr{
    padding-bottom: 8px;
  }
  .dateInput{
    width: 100%;
    padding: 0 0 15px;
    border-bottom: 1px solid $border-color;
    .input-inline{
      .form-control{
        background-color: #fff;
      }
    }
  }
  .levelTotal{
    padding-bottom: 5px;
  }
  > p {
    padding-bottom: 12px;
  }
  > .btn{
    display: block;
    width: 100%;
    + .btn{
      margin-top: 8px;
    }
  }

}
.roomType{
  padding: 15px 0;
  &__title{
    font-size: 14px;
    color: #262626;
    font-weight: 500;
  }
  > ul{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 12px;
    max-height: 350px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width:6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    > li{
      padding-bottom: 14px;
      margin-bottom: 14px;
      border-bottom: 1px solid #f5f5f5;
      &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
      .d-flex{
        justify-content: space-between;
        p{
          margin-bottom: 0;
          color: #262626;
          &.p1{
            flex: 1;
            padding-right: 15px;
            font-weight: $medium;
            font-size: 12px;
            span{
              display: block;
              font-weight: $regular;
            }
          }
          &.p2{
            text-align: right;
            font-size: 14px;
          }
        }
      }
      .hotelFaci{
        display: block;
        &__item{
          width: 100%;
        }
      }
      .roomItem__policy{
        width: 100%;
        margin-top: 10px;
      }
      .iconText{
        font-size: 12px;
        > svg{
          width: 14px;
        }
        .tooltip{
          &:hover{
            .tooltip__cont{
              display: block;
            }
          }
          &__cont{
            display: none;
          }
        }
      }
    }
  }
}