.hotelInfo{
  box-shadow: $shadow;
  background-color: #fff;
  padding: 1.1vw .7vw;
  &__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .7vw;
    p{
      margin-bottom: 0;
      font-size: 1.3vw;
      font-weight: 500;
      &.p1{
        color: #262626;
      }
      &.p2{
        color: #096DD9;
      }
    }
  }
  .hotelAddr{
    padding-bottom: .7vw;
  }
  .dateInput{
    width: 100%;
    background-color: #f5f5f5;
    padding: .7vw .9vw;
    margin-bottom: .7vw;
    .input-inline{
      .form-control{
        background-color: #fff;
      }
    }
  }
  .levelTotal{
    padding-bottom: .5vw;
  }
  > p {
    padding-bottom: .9vw;
  }
  .btn{
    display: block;
    width: 100%;
    + .btn{
      margin-top: .7vw;
    }
  }

}
.roomType{
  background-color: #f5f5f5;
  padding: .7vw .9vw;
  margin-bottom: .7vw;
  &__title{
    font-size: 1vw;
    color: #262626;
  }
  > ul{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: .9vw;
    > li{
      padding-bottom: 1vw;
      margin-bottom: 1vw;
      border-bottom: 1px solid #f5f5f5;
      &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
      .d-flex{
        justify-content: space-between;
        p{
          margin-bottom: 0;
          color: #262626;
          &.p1{
            padding-right: 1vw;
            font-weight: $medium;
            font-size: .9vw;
            span{
              display: block;
              font-weight: $regular;
            }
          }
          &.p2{
            text-align: right;
            font-size: 1vw;
          }
        }
      }
      .hotelFaci{
        display: block;
        &__item{
          width: 100%;
        }
      }
      .roomItem__policy{
        width: 100%;
        margin-top: .8vw;
      }
      .iconText{
        font-size: .9vw;
        > svg{
          width: 1vw;
        }
      }
    }
  }
}