.listHotel{
  &__item{
    margin-bottom: 15px;
  }
}
.hotelItem{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  padding: 8px 15px 8px 8px;
  min-height: 150px;
  &__img{
    width: 240px;
    height: 152px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  &__cont{
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
  }
  &__info{
    width: calc(100% - 160px);
    .heading4{
      a{
        color: #262626;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__detail{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__btn{
    text-align: right;
  }
  .hotelFaci{
    width: 70%;
  }
}
.rateStar{
  font-size: 10px;
  span{
    strong{
      padding:0 3px;
    }
  }
  span,svg{
    vertical-align: middle;
  }
}
.hotelAddr{
  position: relative;
  svg{
    position: absolute;
    top: 6px;
    left: 0;
  }
  &__text{
    padding-left: 18px;
    button{
      font-size: 12px;
      line-height: 20px;
      color: #096DD9;
      text-align: left;
      display: inline-block;
      padding-right: 5px;
      &:hover{
        text-decoration: underline;
      }
    }
    p{
      margin: 0;
      font-size: 12px;
      line-height: 20px;
      display: inline-block;
      color: #999;
    }
  }
}
.hotelFaci{
  display: flex;
  flex-wrap: wrap;
  &__item{
    display: inline-block;
    width: 50%;
    span{
      font-size: 12px;
      color: #595959;
      padding-left: 5px;
    }
    svg{
      path{
        fill: #389E0D;
      }
    }
    svg,span{
      vertical-align: middle;
    }
  }
}
.ratePoint{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
  span{
    &.span1{
      position: relative;
      font-size: 16px;
      font-weight: $medium;
      color: $yellow-2;
      svg{
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.span2{
      font-size: 12px;
      color: #999;
      width: 100%;
      text-align: right;
    }
    &.spanText{
      color: $yellow-2;
      font-size: 14px;
      font-weight: 500;
      padding-left: 4px;
    }
  }
}
.hotelPrice{
  text-align: right;
  margin-bottom: 5px;
  p{
    margin: 0;
    &.p1{
      font-size: 12px;
      color: #595959;
      text-decoration: line-through;
    }
    &.p2{
      color: #096DD9;
      font-size: 16px;
      font-weight: $medium;
    }
    &.p3{
      font-style: italic;
      font-size: 12px;
    }
  }
}
.hotelCard{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  color: inherit;
  &__img{
    width: 110px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont{
    width: calc(100% - 110px);
    padding: 12px;
  }
  &__add{
    font-size: 12px;
    color: #595959;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  &__price{
    font-size: 12px;
    margin-bottom: 0;
    span{
      color: #096DD9;
      font-size: 14px;
      font-weight: $medium;
      padding-left: 5px;
    }
  }
  .rateStar{
    margin-bottom: 5px;
  }
  .heading4{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}