.listHotel{
  &__item{
    margin-bottom: 1vw;
  }
}
.hotelItem{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  padding: .7vw 1vw .7vw .7vw;
  min-height: 10.5vw;
  &__img{
    width: 16.5vw;
    height: 10.5vw;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  &__cont{
    width: calc(100% - 16.5vw);
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
  }
  &__info{
    width: calc(100% - 12vw);
    .heading4{
      a{
        color: #262626;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__detail{
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__btn{
    text-align: right;
  }
  .hotelFaci{
    width: 70%;
  }
}
.rateStar{
  font-size: .8vw;
  span{
    strong{
      padding:0 .4vw;
    }
  }
  span,svg{
    vertical-align: middle;
  }
}
.hotelAddr{
  display: flex;
  position: relative;
  svg{
    position: absolute;
    top: .4vw;
    left: 0;
  }
  &__text{
    padding-left: 1.5vw;
    button{
      font-size: .9vw;
      color: #096DD9;
      text-align: left;
      display: inline-block;
      padding-right: .5vw;
      &:hover{
        text-decoration: underline;
      }
    }
    p{
      margin: 0;
      font-size: .9vw;
      display: inline-block;
      color: #999;
    }
  }
}
.hotelFaci{
  display: flex;
  flex-wrap: wrap;
  &__item{
    display: inline-block;
    width: 50%;
    span{
      font-size: .9vw;
      color: #595959;
      padding-left: .5vw;
    }
    svg{
      path{
        fill: #389E0D;
      }
    }
    svg,span{
      vertical-align: middle;
    }
  }
}
.ratePoint{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
  span{
    &.span1{
      position: relative;
      font-size: 1.1vw;
      font-weight: $medium;
      color: $yellow-2;
      svg{
        position: absolute;
        top: -.2vw;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.span2{
      font-size: .9vw;
      color: #999;
      width: 100%;
      text-align: right;
    }
    &.spanText{
      color: $yellow-2;
      font-size: 1vw;
      font-weight: 500;
      padding-left: .5vw;
    }
  }
}
.hotelPrice{
  text-align: right;
  margin-bottom: .5vw;
  p{
    margin: 0;
    &.p1{
      font-size: .9vw;
      color: #595959;
      text-decoration: line-through;
    }
    &.p2{
      color: #096DD9;
      font-size: 1.1vw;
      font-weight: $medium;
    }
    &.p3{
      font-style: italic;
      font-size: .9vw;
    }
  }
}
.hotelCard{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  display: flex;
  color: inherit;
  &__img{
    width: 8vw;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont{
    width: calc(100% - 8vw);
    padding: .9vw;
  }
  &__add{
    font-size: .9vw;
    color: #595959;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  &__price{
    font-size: .9vw;
    margin-bottom: 0;
    span{
      color: #096DD9;
      font-size: 1vw;
      font-weight: $medium;
      padding-left: .5vw;
    }
  }
  .rateStar{
    margin-bottom: .5vw;
  }
  .heading4{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}