.vntStep{
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1.8vw 1vw;
  margin-bottom: 1vw;
  height: 6vw;
  &__item{
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    position: relative;
    &:after{
      content: '';
      width: 8.5vw;
      height: 1px;
      background-color: #e8e8e8;
      margin: 0 1vw;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    &.active{
      &:after{
        background-color: $yellow-2;
      }
      .vntStep{
        &__numb{
          background-color: $yellow-2;
          color: #fff;
          border-color: $yellow-2;
        }
        &__text{
          color: #282828;
          font-weight: 500;
        }
      }

    }
    &.visited{
      &:after{
        background-color: $yellow-2;
      }
      .vntStep{
        &__numb{
          color: $yellow-2;
          border-color: $yellow-2;
        }
        &__text{
          color: #282828;
          font-weight: 500;
        }
      }
    }
  }
  &__numb{
    width: 2.2vw;
    height: 2.2vw;
    color: #BFBFBF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bfbfbf;
  }
  &__text{
    color: #8c8c8c;
    padding-left: .7vw;
  }
}