.searchBox{
  &__banner{
    width: 100%;
    height: 180px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont{
    padding: 0 15px;
    margin-top: -75px;
    position: relative;
  }
  .heading2{
    background-color: #fff;
  }
}
.vntSearch{
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  &__tab{
    display: flex;
    border-bottom: 1px solid $border-color;
    li{
      &.active{
        button{
          font-weight: $medium;
          color: $yellow-2;
          border-bottom: 1px solid $yellow-2;
          svg{
            path{
              fill: $yellow-2;
            }
          }
        }
      }
      button{
        font-size: 14px;
        line-height: 22px;
        color: $text-color;
        text-align: left;
        padding: 10px 20px;
        transform: translateY(1px);
        span,svg{
          vertical-align: middle;
        }
        span{
          padding-left: 5px;
        }
      }

    }
  }
  &__body{
    padding: 15px 0 25px;
  }
  &__hotel{
    display: flex;
    align-items: flex-end;
    &__btn{
      .btn{
        width: 100px;
      }
    }
    .placeInput,
    .dateInput,
    .memberBtn{
      padding-right: 15px;
    }
  }
}

.placeInput{
  width: 330px;
}
.dateInput{
  width: 330px;
}
.memberBtn{
  width: 200px;
}
