.vntBox{
  background-color: #fff;
  margin: 1vw;
  padding: 1vw;
  position: relative;
  &__checkout{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    > img{
      width: 14vw;
    }
    p{
      font-size: 1vw;
      color: #262626;
      &.p1{
        font-size: 1.5vw;
        font-weight: 500;
        margin-top: 1.8vw;
      }
      &.p3{
        color: #1890FF;
      }
    }
    .btnGroup{
      margin: 1.8vw auto;
      > .btn{
        display: block;
        width: 14.5vw;
        margin: auto;
        + .btn{
          margin-top: 1vw;
        }
      }
      .input-group{
        width: 30vw;
        margin: 0 auto 1vw;
      }
    }
  }
  &__edit{
    position: absolute;
    top: 1vw;
    right: 1vw;
  }
  &__switch{
    position: absolute;
    top: 1.3vw;
    right: 1vw;
    .btnSwitch{
      .switch{
        margin-left: .6vw;
        margin-right: 0;
      }
    }
  }
  &__btn{
    .btn{
      + .btn{
        margin-left: .7vw;
      }
    }
  }
  &__title{
    font-size: 1.1vw;
    color: #262626;
    font-weight: $medium;
    margin: 0 -1vw;
    padding: .5vw 1vw 1vw;
    border-bottom: 1px solid $border-color;
    min-height: 3.3vw;
  }
  &__table{
    margin: 0 -1vw -1vw;
    .d-row{
      display: flex;
      border-bottom: 1px solid $border-color;
    }
    .d-left{
      border-right: 1px solid $border-color;
      width: 14vw;
    }
    .d-right{
      width: calc(100% - 14vw);
      .d-block,
      .flexGroup{
        border-bottom: 1px solid $border-color;
        &:last-child{
          border-bottom: none;
        }
      }
    }
    .d-block,
    .flexGroup{
      padding: 1vw;
      p{
        font-size: 1vw;
        font-weight: $medium;
        margin-bottom: 0;
        color: #262626;
        &.p2{
          font-size: .9vw;
          color: #8c8c8c;
          font-weight: $regular;
        }
        &.p3{
          color: #8c8c8c;
          font-weight: $regular;
          text-align: right;
        }
      }
    }
  }
  &__noti{
    padding: 1.9vw 0 1.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 1vw;
      color: #262626;
      margin-bottom: 1.1vw;
      strong{
        padding: 0 .5vw;
      }
    }
  }
  .radioInline{
    .radio {
      &.active {
        cursor: not-allowed;

        label {
          pointer-events: none;
          opacity: .6;
        }
      }
    }
  }
}