.vntBox{
  background-color: #fff;
  margin: 15px;
  padding: 15px;
  position: relative;
  &__checkout{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    > img{
      width: 200px;
    }
    p{
      font-size: 14px;
      color: #262626;
      &.p1{
        font-size: 24px;
        font-weight: 500;
        margin-top: 30px;
      }
      &.p3{
        color: #1890FF;
      }
    }
    .btnGroup{
      margin: 30px auto;
      > .btn{
        display: block;
        width: 210px;
        margin: auto;
        + .btn{
          margin-top: 15px;
        }
      }
      .input-group{
        width: 450px;
        margin: 0 auto 15px;
      }
    }
  }
  &__edit{
    position: absolute;
    top: 15px;
    right: 15px;
  }
  &__switch{
    position: absolute;
    top: 20px;
    right: 15px;
    .btnSwitch{
      .switch{
        margin-left: 6px;
        margin-right: 0;
      }
    }
  }
  &__btn{
    .btn{
      + .btn{
        margin-left: 8px;
      }
    }
  }
  &__title{
    font-size: 16px;
    color: #262626;
    font-weight: $medium;
    margin: 0 -15px;
    padding: 4px 15px 14px;
    border-bottom: 1px solid $border-color;
    min-height: 47px;
  }
  &__table{
    margin: 0 -15px;
    .d-row{
      display: flex;
      border-bottom: 1px solid $border-color;
    }
    .d-left{
      border-right: 1px solid $border-color;
      width: 200px;
    }
    .d-right{
      width: calc(100% - 200px);
      .d-block,
      .flexGroup{
        border-bottom: 1px solid $border-color;
        &:last-child{
          border-bottom: none;
        }
      }
    }
    .d-block,
    .flexGroup{
      padding: 15px;
      p{
        font-size: 14px;
        font-weight: $medium;
        margin-bottom: 0;
        color: #262626;
        &.p2{
          font-size: 12px;
          color: #8c8c8c;
          font-weight: $regular;
        }
        &.p3{
          color: #8c8c8c;
          font-weight: $regular;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  &__noti{
    padding: 32px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 14px;
      color: #262626;
      margin-bottom: 16px;
      strong{
        padding: 0 5px;
      }
    }
  }
  .radioInline{
    .radio {
      &.active {
        cursor: not-allowed;

        label {
          pointer-events: none;
          opacity: .6;
        }
      }
    }
  }
}