.searchBox{
  margin-bottom: 1.3vw;
  &__banner{
    width: 100%;
    height: 12.5vw;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont{
    padding: 0 1vw;
    margin-top: -5vw;
    position: relative;
  }
  .heading2{
    background-color: #fff;
    padding: .8vw 1vw;
  }
}
.vntSearch{
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 1vw;
  &__tab{
    display: flex;
    border-bottom: 1px solid $border-color;
    li{
      &.active{
        button{
          font-weight: $medium;
          color: $yellow-2;
          border-bottom: 1px solid $yellow-2;
          svg{
            path{
              fill: $yellow-2;
            }
          }
        }
      }
      button{
        font-size: 1vw;
        color: $text-color;
        text-align: left;
        padding: .8vw 1.3vw;
        transform: translateY(1px);
        span,svg{
          vertical-align: middle;
        }
        span{
          padding-left: .5vw;
        }
      }

    }
  }
  &__body{
    padding: 1vw 0 1.5vw;
  }
  &__hotel{
    display: flex;
    align-items: flex-end;
    .placeInput,
    .dateInput,
    .memberBtn{
      padding-right: 1vw;
    }
  }
  &__btn{
    .btn{
      width: 7vw;
    }
  }
  &__flex{
    display: flex;
    align-items: flex-end;
  }
  &__radio{
    display: flex;
    padding-bottom: 1.3vw;
    .radio{
      + .radio{
        padding-left: 1.5vw;
      }
    }
  }
  &__flight{
    .placeInput{
      width: 13vw;
    }
    .flightToggle{
      padding: 0 .8vw;
      transform: translateY(-.6vw);
      &.rotate{
        svg{
          transform: rotate(180deg);
        }
      }
      svg{
        display: block;
        transition: all .3s;
      }
    }
    .dateInput{
      padding: 0 1.1vw;
    }
    .memberBtn{
      padding-right: 1.1vw;
    }
    .listPlace{
      &__text{
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .ant-form-item{
    margin-bottom: 0;
  }
  .ant-form-item-explain{
    position: absolute;
    top: 100%;
  }
}

.placeInput{
  width: 23vw;
  position: relative;
  .ant-form-item-control-input-content{
    height: 2.3vw;
  }
}
.dateInput{
  width: 23vw;
}
.suggestFlight{
  &__header{
    background-color: #f2f2f2;
    padding: .8vw 1vw;
    h5{
      font-size: .9vw;
      color: #878787;
      font-weight: 400;
    }
  }
  &__body{
    display: flex;
  }
  &__tab{
    width: 13vw;
    li{
      width: 100%;
      &:last-child{
        button{
          border: none;
        }
      }
      &.active{
        button{
          background: #fff;
          font-weight: 600;
          border-right: 1px solid $border-color;
        }
      }
      button{
        background: #FDB913;
        text-transform: uppercase;
        font-size: 1vw;
        color: $text-color;
        display: block;
        padding: 1vw;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #fff;
      }
    }
  }
  &__content{
    width: calc(100% - 13vw);
    max-height: 17vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width:.5vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: .5vw 0;
    li{
      width: 33.333%;
      button{
        font-size: 1vw;
        padding: .8vw 1vw;
        width: 100%;
        text-align: left;
        transition: all .2s;
        &:hover{
          color: #FDB913;
        }
      }
    }
  }
}
.memberBtn{
  width: 14vw;
}

.suggestDefault{
  background-color: #fff;
  box-shadow: $shadow;
  width: 25vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  max-height: 29vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  &.open{
    display: block;
  }
  &::-webkit-scrollbar {
    width:.5vw;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 16px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#bcbcbc;
    border-radius: 16px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
  }
  &__title{
    background-color: #fafafa;
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1vw;
    color: #262626;
    font-weight: 500;
    padding: .9vw;
  }
  &.suggestDefault{
    &_flight{
      width: 53vw;
    }
  }
}
.listPlace{
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9vw;
    cursor: pointer;
    transition: all .2s;
    &:hover{
      background-color: #fafafa;
    }
  }
  &__text{
    width: calc(100% - 6vw);
    padding-right: 1.1vw;
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 1vw;
        color: #262626;
      }
      &.p2{
        font-size: .9vw;
      }
    }
  }
  &__label{
    width: 6vw;
    height: 1.4vw;
    font-size: .9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $border-color;
    background-color: #fff;
  }
}
.suggestPlace{
  background-color: #fff;
  box-shadow: $shadow;
  width: 25vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  &.open{
    display: block;
  }

  &__tab{
    display: flex;
    align-items: center;
    li{
      width: 33.333%;
      &.active{
        button{
          border-color: $yellow-2;
        }
      }
      button{
        display: block;
        width: 100%;
        font-size: 1vw;
        padding: .9vw;
        color: #262626;
        font-weight: 500;
        border-bottom: 2px solid $border-color;
        transition: all .2s;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__body{
    max-height: 24vw;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width:.5vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    .pGoogle{
      text-align: right;
      margin-bottom: 0;
      font-size: 1vw;
      padding: .5vw 1vw;
      border-top: 1px solid $border-color;
      strong {
        padding-left: .5vw;
      }
    }
  }

}
.modal-member{
  width: 75vw!important;
  .modal-title{
    span{
      font-weight: 400;
      padding-left: .9vw;
    }
  }
  .vntMember{
    &__table{
      margin-bottom: 1.1vw;
      .table{
        td{
          vertical-align: middle;
        }
      }
    }
  }
}
.addForm{
  &__item{
    padding-bottom: 1.1vw;
    &:last-child{
      padding-bottom: 0;
    }
  }
  &__btn{
    font-size: 1vw;
    color: #096DD9;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:hover{
      text-decoration: underline;
    }
    span{
      padding-left: .6vw;
    }
  }
  &__cont{
    margin: 0 -.9vw;
    padding-top: 1.1vw;
    display: none;
    animation: opacityShow .3s ease-in-out;
    &.open{
      display: block;
    }
    .memberForm{
      width: 100%;
      padding: 0;
      margin: 0;
      .form-group{
        &.addForm__title{
          padding: 0 .9vw;
          p{
            font-size: 1.1vw;
            color: #262626;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }
    .memberBtnAction{
      padding: .9vw;
    }
  }
}