.searchBox{
  margin-bottom: 20px;
  &__banner{
    width: 100%;
    height: 180px;
    .flightList &,
    .hotelList &{
      height: 75px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont{
    padding: 0 15px;
    margin-top: -75px;
    position: relative;
    @include breakpoint(xl){
      width: 1185px;
      margin-left: auto;
      margin-right: auto;
    }
    .flightList &,
    .hotelList &{
      margin-top: -35px;
    }
  }
  .heading2{
    background-color: #fff;
    padding: 10px 15px;
  }
}
.vntSearch{
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  &__tab{
    display: flex;
    border-bottom: 1px solid $border-color;
    li{
      &.active{
        button{
          font-weight: $medium;
          color: $yellow-2;
          border-bottom: 1px solid $yellow-2;
          svg{
            path{
              fill: $yellow-2;
            }
          }
        }
      }
      button{
        font-size: 14px;
        line-height: 22px;
        color: $text-color;
        text-align: left;
        padding: 10px 20px;
        transform: translateY(1px);
        span,svg{
          vertical-align: middle;
        }
        span{
          padding-left: 5px;
        }
      }

    }
    .flightList &,
    .hotelList &{
      display: none;
    }
  }
  &__body{
    padding: 0 0 25px;
  }
  &__hotel{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    &.hotelCollapse{
      .hotelList & {
        border-top: 1px solid $border-color;
        margin-top: 25px;
        animation: opacityShow .3s ease-in-out;
        display: none;
      }
      &.open{
        display: flex;
      }
    }
    .placeInput,
    .dateInput,
    .memberBtn{
      padding-right: 15px;
      padding-top: 15px;
    }
  }
  &__btn{
    padding-top: 15px;
    .btn{
      width: 100px;
    }
  }
  &__flex{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  &__radio{
    display: flex;
    .radio{
      + .radio{
        padding-left: 24px;
      }
    }
  }
  &__flight{
    padding-top: 15px;
    &.flightCollapse{
      .flightList & {
        border-top: 1px solid $border-color;
        margin-top: 25px;
        animation: opacityShow .3s ease-in-out;
        display: none;
      }
      &.open{
        display: block;
      }
    }
    .placeInput{
      width: 184px;
      padding-top: 15px;
    }
    .flightToggle{
      padding: 0 10px;
      transform: translateY(-6px);
      &.rotate{
        svg{
          transform: rotate(180deg);
        }
      }
      svg{
        display: block;
        transition: all .3s;
      }
    }
    .dateInput{
      padding: 15px 15px 0;
    }
    .memberBtn{
      padding-right: 15px;
      padding-top: 15px;
    }
    .listPlace{
      &__text{
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .ant-form-item{
    margin-bottom: 0;
  }
  .ant-form-item-explain{
    position: absolute;
    top: 100%;
  }
}

.tripInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  &__group{
    display: flex;
    span{
      font-size: 16px;
    }
  }
  &__detail{
    display: flex;
    flex-wrap: wrap;
  }
  &__title{
    margin-right: 15px;
    white-space: nowrap;
    span{
      color: #262626;
    }
  }
  &__hotel{
    margin-right: 15px;
    span{
      color: #262626;
    }
  }
  &__city{
    margin-right: 15px;
    span{
      color: #262626;
    }
    svg{
      margin: 0 10px;
    }
  }
  &__date{
    margin-right: 15px;
    span{
      &:nth-child(2){
        margin: 0 5px;
      }
    }
  }
}

.placeInput{
  width: 330px;
  position: relative;
}
.dateInput{
  width: 330px;
}
.suggestFlight{
  &__header{
    background-color: #f2f2f2;
    padding: 10px 15px;
    h5{
      font-size: 12px;
      line-height: 16px;
      color: #878787;
      font-weight: 400;
    }
  }
  &__body{
    display: flex;
  }
  &__tab{
    width: 180px;
    li{
      width: 100%;
      &:last-child{
        button{
          border: none;
        }
      }
      &.active{
        button{
          background: #fff;
          font-weight: 600;
          border-right: 1px solid $border-color;
        }
      }
      button{
        background: #FDB913;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 19px;
        color: $text-color;
        display: block;
        padding: 15px;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #fff;
      }
    }
  }
  &__content{
    width: calc(100% - 180px);
    max-height: 249px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width:5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    li{
      width: 33.333%;
      button{
        font-size: 14px;
        line-height: 19px;
        padding: 10px 15px;
        width: 100%;
        text-align: left;
        transition: all .2s;
        &:hover{
          color: #FDB913;
        }
      }
    }
  }
}
.memberBtn{
  width: 200px;
}

.suggestDefault{
  background-color: #fff;
  box-shadow: $shadow;
  width: 360px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  max-height: 418px;
  overflow-y: auto;
  display: none;
  &.open{
    display: block;
  }
  &::-webkit-scrollbar {
    width:4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 16px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#bcbcbc;
    border-radius: 16px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
  }
  &__title{
    background-color: #fafafa;
    margin-bottom: 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    color: #262626;
    font-weight: 500;
    padding: 12px;
  }
  &.suggestDefault{
    &_flight{
      width: 760px;
    }
  }
}
.listPlace{
  &__item{
    > button{
      padding: 12px;
      cursor: pointer;
      transition: all .2s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      width: 100%;
      &:hover{
        background-color: #fafafa;
      }
    }
  }
  &__text{
    width: calc(100% - 88px);
    padding-right: 16px;
    p{
      margin-bottom: 0;
      &.p1{
        font-size: 14px;
        color: #262626;
      }
      &.p2{
        font-size: 12px;
      }
    }
  }
  &__label{
    width: 88px;
    height: 22px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $border-color;
    background-color: #fff;
  }
}
.suggestPlace{
  background-color: #fff;
  box-shadow: $shadow;
  width: 360px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  &.open{
    display: block;
  }

  &__tab{
    display: flex;
    align-items: center;
    li{
      width: 33.333%;
      &.active{
        button{
          border-color: $yellow-2;
        }
      }
      button{
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 12px;
        color: #262626;
        font-weight: 500;
        border-bottom: 2px solid $border-color;
        transition: all .2s;
        &:hover{
          color: $yellow-2;
        }
      }
    }
  }
  &__body{
    max-height: 374px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width:4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    .pGoogle{
      text-align: right;
      margin-bottom: 0;
      font-size: 14px;
      padding: 5px 15px;
      border-top: 1px solid $border-color;
      strong {
        padding-left: 5px;
      }
    }
  }

}
.modal-member{
  width: 735px!important;
  .modal-title{
    span{
      font-weight: 400;
      padding-left: 10px;
    }
  }
  .vntMember{
    &__table{
      margin-bottom: 16px;
      .table{
        td{
          vertical-align: middle;
        }
      }
    }
  }
}
.addForm{
  &__item{
    padding-bottom: 16px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  &__btn{
    font-size: 14px;
    color: #096DD9;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:hover{
      text-decoration: underline;
    }
    span{
      padding-left: 6px;
    }
  }
  &__cont{
    margin: 0 -12px;
    padding-top: 16px;
    display: none;
    animation: opacityShow .3s ease-in-out;
    &.open{
      display: block;
    }
    .memberForm{
      width: 100%;
      padding: 0;
      margin: 0;
      .form-group{
        &.addForm__title{
          padding: 0 12px;
          p{
            font-size: 16px;
            color: #262626;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }
    .memberBtnGroup{
      width: 100%;
      padding: 0 12px;
      margin: 0;
    }
    .memberBtnAction{
      float: none;
    }
  }
}