.vntHeader{
  background-color: #fff;
  padding: 10px 15px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__account{
    display: flex;
    align-items: center;
  }
  .breadcrumb{
    margin-bottom: 10px;
  }
}
.notification{
  position: relative;
  margin-right: 25px;
  > svg{
    display: block;
  }
  &__numb{
    position: absolute;
    top: -8px;
    right: -23px;
    font-size: 12px;
    color: #fff;
    background-color: #F5222D;
    border-radius: 150px;
    line-height: 1.4;
    padding: 0 8px;
    z-index: 10;
  }
}
.accountDropdown{
  &__name{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style:normal;
    color: #fff;
    background-color: #2E3A59;
    margin-right: 10px;
  }
  &__logout{
    border-top: 1px solid $border-color;
  }
  .dropdown-toggle{
    border: none;
    font-size: 12px;
    font-weight: 500;
    color: #262626;
    padding-right: 35px;
  }
  .dropdown-menu{
    width: 200px;
    left: auto;
    right: 0;
    z-index: 99;
    top: calc(100% + 5px) !important;
  }
  .dropdown-item{
    &.active{
      a,button{
        color: $yellow-2;
      }
    }
    &:hover{
      a,button{
        color: $yellow-2;
      }
    }
    a,button{
      font-size: 14px;
      color: #595959;
      display: flex;
      align-items: center;
      span{
        padding-left: 15px;
      }
    }
  }
}

.langDropdown{
  margin-right: 10px;
  .dropdown-toggle{
    border: none;
    padding: 0 30px 0 0;
    height: auto;
    color: #262626;
    span{
      display: flex;
      align-items: center;
      svg{
        margin-right: 5px;
      }
    }
  }
  .dropdown-menu{
    width: 175px;
    top: calc(100% + 5px) !important;
    z-index: 99;
  }
  .dropdown-item{
    a{
      display: flex;
      align-items: center;
      color: #262626;
      span{
        padding-left: 5px;
        flex: 1;
      }
    }
  }
  .ant-dropdown-trigger{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #262626;
    span{
      display: flex;
      align-items: center;
      flex: 1;
      padding-right: 10px;
      svg{
        margin-right: 5px;
      }
    }
  }
  .ant-dropdown-menu{
    width: 170px;
  }
  .ant-dropdown-menu-item{
    padding: 0;
    &.active{
      background: #FFF7E6!important;
    }
    button{
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #262626;
      padding: 7px 15px;
      text-align: left;
      span{
        padding-left: 5px;
        flex: 1;
      }
    }
  }
}