.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 18vw;
  background-color: #fff;
  &__header{
    padding: 1.5vw;
    transition: all .3s;
  }
  &__logo{
    a{
      display: block;
      img{
        width: 7vw;
        transition: all .3s;
      }
    }
    p{
      font-size: .9vw;
      margin-top: .8vw;
      margin-bottom: 0;
      color: #8C8C8C;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    padding-top: 1vw;
  }
  &__ava{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    object-fit: cover;
    padding-right: .9vw;
  }
  &__name{
    width: calc(100% - 3vw);
    p{
      font-size: .9vw;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &.p1{
        color: $text-color;
        font-weight: $medium;
      }
      &.p2{
        color: #8c8c8c;
      }
    }
  }
  &__main{
    height: calc(100% - 3vw);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width:.5vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
  }
  &__nav{
    &__item{
      &.active{
        .sidebar{
          &__nav{
            &__link{
              background: #FFF7E6;
              color: $yellow-2;
              font-weight: $medium;
            }
          }
        }
      }
      &.nav-sub{
        >.sidebar{
          &__nav{
            &__link{
              &:after{
                content: '\f078';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: .9vw;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1.3vw;
              }
            }
          }
        }
        &.open{
          >.sidebar{
            &__nav{
              &__child{
                display: block;
              }
              &__link{
                &:after{
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
    &__link{
      font-size: 1vw;
      color: $text-color;
      display: block;
      position: relative;
      padding: .8vw 1.5vw;
      transition: all .2s;
      &:hover{
        background: #fafafa;
        color: $text-color;
      }
      svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5vw;
      }
      span{
        padding-left: 1.5vw;
      }
    }
    &__child{
      display: none;
    }
  }
  &__footer{
    width: 18vw;
    height: 3vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    border-top: 1px solid $border-color;
    background-color: #fff;
  }
  &__logout{
    width: 100%;
    height: 100%;
    font-size: 1vw;
    color: $text-color;
    display: block;
    position: relative;
    padding: .8vw 1.5vw;
    transition: all .2s;
    text-align: left;
    &:hover{
      background: #fafafa;
    }
    svg{
      vertical-align: middle;
    }
    span{
      padding-left: 1vw;
      vertical-align: middle;
    }
  }
  .ant-layout-sider-trigger{
    display: none!important;
  }
  .ant-layout-sider-children{
    height: 100%;
    padding-top: 0;
    margin-top: 0;
  }
  .trigger{
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
    background: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }
}
.ant-layout-sider{
  flex: 0 0 18vw!important;
  max-width: 18vw!important;
  min-width: 18vw!important;
  width: 18vw!important;
  padding-bottom: 0;
  &.ant-layout-sider-collapsed{
    flex: 0 0 6.5vw!important;
    max-width: 6.5vw!important;
    min-width: 6.5vw!important;
    width: 6.5vw!important;
    .trigger{
      right: -1vw;
    }
    .ant-menu{
      .anticon{
        svg{
          width: 1.5vw;
          height: 1.5vw;
        }
      }
    }
    .sidebar{
      &__header{
        padding: 1.5vw 1vw;
      }
      &__info{
        display: none;
      }
      &__logo{
        a{
          img{
            width: 3.5vw;
          }
        }
        p{
          display: none;
        }
      }
      &__footer{
        width: 6.5vw;
      }
      &__logout{
        text-align: center;
        span{
          display: none;
        }
      }
    }
  }
}