#root{
  width: 100%;
  min-height: 100%;
}
.pageBody,
.mainWrapper{
  width: 100%;
  min-height: 100%;
}
.main{
  min-height: 100%;
  margin-left: 255px;
  transition: all .3s;
  &.main-collapsed{
    margin-left: 88px;
  }
}
