#root,
.pageBody,
.mainWrapper{
  width: 100%;
  height: 100%;
}
.main{
  min-height: 100%;
  margin-left: 255px;
  transition: all .3s;
  @include breakpoint(max-md){
    margin-left: 150px;
  }
  &.main-collapsed{
    margin-left: 88px;
  }
}
.vntContent{
  overflow-x: hidden;
}