.vnt-alert{
  padding: 15px;
  background: #FFFEFA;
  border: 1px solid #FEF1D4;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 15px;
  &.success{
    background: $background-success;
    border-color: $border-success;
    .vnt-alert{
      &__title{
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  &.failed{
    background: $background-failed;
    border-color: $border-failed;
    .vnt-alert{
      &__title{
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  &__title{
    padding-bottom: 15px;
    border-bottom: 1px solid $yellow-2;
    display: flex;
    svg{
      width: 18px;
    }
    p{
      width: calc(100% - 18px);
      padding-left: 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: $text-color;
      margin: 0;
    }
  }
  &__content{
    padding-top: 15px;
    p{
      margin: 0;
      font-size: 13px;
      line-height: 18px;
      color: $text-color;
    }
  }

}