.textNote{
  font-size: 1vw;
  color: $red-1;
  display: flex;
  margin-bottom: 0;
  svg{
    margin-top: .4vw;
  }
  span{
    padding-left: .7vw;
  }
}
.alert{
  padding: 1vw;
  background: #FFFEFA;
  border: 1px solid #FEF1D4;
  border-radius: 2px;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  &.alert_success{
    background: #F6FFED;
    border-color: #B7EB8F;
  }
  &.alert_fail{
    background: #FFF1F0;
    border-color: #FFA39E;
  }
  &.alert_xs{
    padding: .6vw 1vw;
  }
  &__icon{
    svg{
      display: block;
    }
  }
  &__text{
    padding-left: 1vw;
    p{
      margin-bottom: 0;
      color: #262626;
      &.p1{
        font-size: 1.1vw;
      }
      &.p2{
        font-size: 1vw;
      }
    }
  }
}