.btn{
  line-height: 1.5715;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  min-width: 7vw;
  height: 2.3vw;
  padding: 0 1vw;
  font-size: 1vw;
  border-radius: 2px;
  color: #fff;
  background-color: $yellow-2;
  border-color: $yellow-2;
  &:hover{
    color: #fff;
  }
  &.btn_sm{
    font-size: 1vw;
    height: 1.7vw;
    padding: 0 .8vw;
  }
  &.btn_lg{
    height: 2.8vw;
    padding: 0 1vw;
    font-size: 1.1vw;
    border-radius: 2px;
  }
  &.btn_outline{
    color: #878787;
    background-color: #fff;
    border: 1px solid $border-color;
  }
  &.btn_blue{
    color: #fff;
    background-color: #1890FF;
    border: 1px solid #1890FF;
  }
  &.btn_outlineOrange{
    color: $yellow-2;
    background-color: #fff;
    border: 1px solid $yellow-2;
  }
  &.btn_outlineRed{
    color: #FF4D4F;
    background-color: #fff;
    border: 1px solid #FF4D4F;
  }
  &.btn_light{
    @include add-background(#f2f2f2);
  }
  &.btn_white{
    background-color: #fff;
    color: $yellow-2;
  }
  &.btn_disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
  &.btn_loading{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
    .fa-spinner{
      animation:spin 1.5s linear infinite;
      @keyframes spin {
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
      }
    }
  }
  &.btn_round{
    border-radius:4px;
  }
}
.btnInline{
  .btn{
    + .btn{
      margin-left: .7vw;
    }
  }
}
.btnSvg{
  svg{
    display: block;
  }
}
.btnAdd{
  font-size: 1vw;
  color: $yellow-2;
  font-weight: $medium;
  &:hover{
    text-decoration: underline;
  }
}
.btnSeat{
  background: #fff;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  height: 2.3vw;
  padding: 0 1.1vw;
  font-size: 1vw;
}
.btnSwitch{
  .switch {
    position: relative;
    display: inline-block;
    width: 2.3vw;
    height: 1.1vw;
    margin-bottom: 0;
    margin-right: .6vw;
    vertical-align: middle;
    input{
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .3s;
      border-radius: 34px;
      &:before{
        position: absolute;
        content: "";
        height: .9vw;
        width: .9vw;
        left: .3vw;
        bottom: .3vw;
        background-color: white;
        transition: .3s;
        border-radius: 50%;
      }
    }
    input:checked + .slider {
      background-color: #2196F3;
    }
    input:checked + .slider:before {
      transform: translateX(1.1vw);
    }
  }
  span{
    vertical-align: middle;
    display: inline-block;
  }

}
.btnLink{
  color: #096DD9;
  font-size: 1vw;
  &:hover{
    text-decoration: underline;
  }
  span,svg{
    vertical-align: middle;
  }
  span{
    font-weight: 500;
    padding-left: .5vw;
  }
}
.btnShowCol{
  font-size: 1vw;
  span{
    padding: 0 .5vw;
  }
  svg,span{
    vertical-align: middle;
  }
}
