.dropdown {
  position: relative;
  &.dropdown-open,
  &.show{
    .dropdown-menu {
      display: block;
    }
  }
  &.dropdown_form{
    .dropdown-item{
      cursor: auto;
      &:hover{
        background-color: initial;
        color: initial;
      }
    }
    .input-inline{
      margin-bottom: 13px;
    }
  }
  &.dropdown_col{
    .dropdown-menu{
      width: 25vw;
      left: auto;
      right: 0;
      max-height: initial;
      overflow: hidden;
    }
  }
}
.dropdown-toggle{
  color: $text-color;
  @include add-border(1px,$border-color,all);
  background: #fff;
  @include border-radius(2px);
  width: 100%;
  height: 2.3vw;
  text-align: left;
  padding: 0 1vw;
  font-size: $size-14;
  position: relative;
  display: inline-flex;
  align-items: center;
  > svg{
    position: absolute;
    top: 50%;
    right: 1vw;
    transform: translateY(-50%);
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%!important;
  left: 0;
  z-index:10;
  width: 100%;
  background-color:$white-1;
  @include border-radius(2px);
  display: none;
  transform: none!important;
  max-height: 14vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  &::-webkit-scrollbar {
    width:.5vw;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 16px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:#bcbcbc;
    border-radius: 16px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
  }
}
.dropdown-item{
  padding: .7vw 1vw;
  color:$text-color;
  cursor: pointer;
  transition: all .2s;
  font-size: 1vw;
  &:hover,
  &.active{
    background-color: $hover-color;
    color: $yellow-2;
  }
}

.dropdownGroup{
  display: flex;
  .dropdown{
    + .dropdown{
      margin-left: .7vw;
    }
  }
}

