.form-group{
  margin-bottom: 1vw;
  > label{
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: .5vw;
    display: block;
  }
}
.form-control{
  display: inline-flex;
  align-items: center;
  padding: 0 1vw;
  font-size: $size-14;
  color: $text-color;
  @include add-border(1px,$border-color,all);
  background: #fff;
  @include border-radius(2px);
  width: 100%;
  height: 2.3vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
  &:focus{
    outline: none;
  }
  &_round{
    border-radius: 30px;
  }
  &_sm{
    height: 1.7vw;
    padding: 0 1vw;
  }
}
.form-control[disabled]{
  background-color:$gray-1!important;
  cursor: not-allowed;
}

.input-inline{
  position: relative;
  .form-control{
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 1;
    padding-right: 2vw;
  }
  > svg{
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.input-group{
  display: flex;
  align-items: center;
  .form-control{
    height: 2.8vw;
    border-radius: 2px 0 0 2px;
    border-right: none;
  }
  .btn{
    border-radius: 0 2px 2px 0;
  }
}

.upload{
  margin-bottom: 0;
  cursor: pointer;
  width: 6.5vw;
  height: 2.3vw;
  padding: .5vw 1vw;
  border: 1px solid $border-color;
  background: #fff;
  border-radius: 2px;
  font-size: 1vw;
  display: flex;
  align-items: center;
  span{
    padding-left: .5vw;
  }
  input[type='file']{display: none;}
}
textarea.form-control{
  height: 5.5vw;
}