.form-group{
  margin-bottom: 12px;
  label{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }
}
.form-control{
  display: block;
  padding: 5px 15px;
  font-size: $size-14;
  color: $text-color;
  @include add-border(1px,$border-color,all);
  background: #fff;
  @include border-radius(4px);
  width: 100%;
  height: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
  &:focus{
    outline: none;
  }
  &_round{
    border-radius: 30px;
  }
  &_sm{
    height: 24px;
    padding: 3px 15px;
  }
}
.form-control[disabled]{
  background-color:$gray-1!important;
  cursor: not-allowed;
}

.select-control{
  .dropdown-toggle{
    border: 1px solid $border-color;
    background: #fff;
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 6px;
    color: #878787;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      text-transform: initial;
    }
  }
  .dropdown-menu{
    border: 1px solid $border-color;
    border-top: none;
    overflow-y: auto;
    @include breakpoint(max-sm){
      max-height: 165px;
      -webkit-overflow-scrolling: touch;
    }
    @include breakpoint(md){
      max-height: 250px;
      &::-webkit-scrollbar {
        width:4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 16px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background:#bcbcbc;
        border-radius: 16px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #bcbcbc;
      }
    }
  }
  .dropdown-item{
    &.active{
      background-color: $hover-color;
      color: $yellow-2;
    }
  }
}
.input-inline{
  position: relative;
  .form-control{
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 1;
  }
  > svg{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.input-group{
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  .svg-icon{
    margin-right: 10px;
  }
  input{
    border: none;
    background: none;
    padding: 15px;
    flex: 1 1 auto;
    &:focus{
      outline: none;
    }
  }
  .dropdown-toggle{
    span{
      text-transform: initial;
      font-size: 13px;
    }
  }
  .dropdown-item{
    p{
      margin: 0;
      font-size: 13px;
    }
  }
}

.upload{
  margin-bottom: 0;
  cursor: pointer;
  width: 93px;
  height: 32px;
  padding: 5px 15px;
  border: 1px solid $border-color;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  span{
    padding-left: 5px;
  }
  input[type='file']{display: none;}
}