.hidden{display: none!important;}
.show{display: block!important;}

.d-table{display: table!important;}
.d-cell{display: table-cell!important;}
.d-block{display: block!important;}
.d-inline{display: inline!important;}
.d-inline-block{display: inline-block!important;}
.d-flex{display: flex!important;}

.text-left{text-align: left!important;}
.text-center{text-align: center!important;}
.text-right{text-align: right!important;}
.italic{font-style: italic!important;}

.light{font-weight: $light!important;}
.regular{font-weight: $regular!important;}
.medium{font-weight: $medium!important;}
.semibold{font-weight: $semibold!important;}
.bold{font-weight: $bold!important;}

.float-left{float: left!important;}
.float-right{float: right!important;}
.float-none{float: none!important;}

.no-padding{padding: 0!important;}
.no-padding-xs{@include breakpoint(xs){padding: 0!important;}}
.no-padding-sm{@include breakpoint(sm){padding: 0!important;}}
.no-padding-md{@include breakpoint(md){padding: 0!important;}}

.no-margin{margin: 0!important;}
.no-margin-xs{@include breakpoint(xs){margin: 0!important;}}
.no-margin-sm{@include breakpoint(sm){margin: 0!important;}}
.no-margin-md{@include breakpoint(md){margin: 0!important;}}

.size-10{font-size: $size-10!important;}
.size-12{font-size: $size-12!important;}
.size-14{font-size: $size-14!important;}
.size-16{font-size: $size-16!important;}
.size-18{font-size: $size-18!important;}
.size-20{font-size: $size-20!important;}
.size-22{font-size: $size-22!important;}
.size-24{font-size: $size-24!important;}
.size-28{font-size: $size-28!important;}


.white-1{color: $white-1!important;}
//...
.black-1{color: $black-1!important;}
.black-2{color: $black-2!important;}
.black-3{color: $black-3!important;}
//...
.yellow-1{color: $yellow-1!important;}
.yellow-2{color: $yellow-2!important;}
//...
.blue-1{color: $blue-1!important;}
.blue-2{color: $blue-2!important;}
.blue-3{color: $blue-3!important;}
.blue-4{color: $blue-4!important;}
.blue-5{color: $blue-5!important;}
.blue-6{color: $blue-6!important;}
.blue-7{color: $blue-7!important;}
//...
.red-1{color: $red-1!important;}
.red-2{color: $red-2!important;}
.red-3{color: $red-3!important;}
.red-4{color: $red-4!important;}
.red-5{color: $red-5!important;}
.red-6{color: $red-6!important;}
//...
.green-1{color: $green-1!important;}
.green-2{color: $green-2!important;}
.green-3{color: $green-3!important;}
.green-4{color: $green-4!important;}
.green-5{color: $green-5!important;}
.green-6{color: $green-6!important;}
//...
.gray-1{color: $gray-1!important;}
.gray-2{color: $gray-1!important;}
.gray-3{color: $gray-3!important;}
.gray-4{color: $gray-4!important;}
.gray-5{color: $gray-5!important;}
//...

.p0{
  padding: 0!important;
}

.pt-0{padding-top: 0!important;}
.pt-5{padding-top: 5px!important;}
.pt-10{padding-top: 10px!important;}
.pt-15{padding-top: 15px!important;}
.pt-20{padding-top: 20px!important;}
.pt-25{padding-top: 25px!important;}
.pt-30{padding-top: 30px!important;}

.pb-0{padding-bottom: 0!important;}
.pb-5{padding-bottom: 5px!important;}
.pb-10{padding-bottom: 10px!important;}
.pb-15{padding-bottom: 15px!important;}
.pb-20{padding-bottom: 20px!important;}
.pb-25{padding-bottom: 25px!important;}
.pb-30{padding-bottom: 30px!important;}

.pl-0{padding-left: 0!important;}
.pl-5{padding-left: 5px!important;}
.pl-10{padding-left: 10px!important;}
.pl-15{padding-left: 15px!important;}
.pl-20{padding-left: 20px!important;}
.pl-25{padding-left: 25px!important;}
.pl-30{padding-left: 30px!important;}

.pr-0{padding-right: 0!important;}
.pr-5{padding-right: 5px!important;}
.pr-10{padding-right: 10px!important;}
.pr-15{padding-right: 15px!important;}
.pr-20{padding-right: 20px!important;}
.pr-25{padding-right: 25px!important;}
.pr-30{padding-right: 30px!important;}

.mt-0{margin-top: 0!important;}
.mt-5{margin-top: 5px!important;}
.mt-10{margin-top: 10px!important;}
.mt-15{margin-top: 15px!important;}
.mt-20{margin-top: 20px!important;}
.mt-25{margin-top: 25px!important;}
.mt-30{margin-top: 30px!important;}

.mb-0{margin-bottom: 0!important;}
.mb-5{margin-bottom: 5px!important;}
.mb-10{margin-bottom: 10px!important;}
.mb-15{margin-bottom: 15px!important;}
.mb-20{margin-bottom: 20px!important;}
.mb-25{margin-bottom: 25px!important;}
.mb-30{margin-bottom: 30px!important;}

.ml-0{margin-left: 0!important;}
.ml-5{margin-left: 5px!important;}
.ml-10{margin-left: 10px!important;}
.ml-15{margin-left: 15px!important;}
.ml-20{margin-left: 20px!important;}
.ml-25{margin-left: 25px!important;}
.ml-30{margin-left: 30px!important;}

.mr-0{margin-right: 0!important;}
.mr-5{margin-right: 5px!important;}
.mr-10{margin-right: 10px!important;}
.mr-15{margin-right: 15px!important;}
.mr-20{margin-right: 20px!important;}
.mr-25{margin-right: 25px!important;}
.mr-30{margin-right: 30px!important;}

.w-25{width: 25%!important;}
.w-50{width: 50%!important;}
.w-75{width: 75%!important;}
.w-100{width: 100%!important;}
.w100{width: 100px!important;}

.h-25{height: 25%!important;}
.h-50{height: 50%!important;}
.h-75{height: 75%!important;}
.h-100{height: 100%!important;}

.o-hidden{
  overflow: hidden!important;
}

.flex-group{
  display: flex;
  align-items: center;
}
.caret-down{
  position: relative;
  &:before{
    content: '\f0d7';
    font-family: "Font Awesome\ 5 Free";
    position:absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    font-weight: 900;
    font-size: $size-12;
  }
}
.pointer{
  cursor: pointer!important;
}

.show-desktop{
  @include breakpoint(max-sm){
    display: none;
  }
}
.show-mobile{
  @include breakpoint(md){
    display: none;
  }
}

.solid{
  width: 100%;
  border-bottom: 1px solid $gray-6;
  margin: 10px 0;
}
.dotted{
  width: 100%;
  border-bottom: 1px dotted $gray-6;
  margin: 10px 0;
}
.relative{
  position: relative!important;
}
.absolute{
  position: absolute!important;
}
.disc ul{
  list-style: disc!important;
  padding-left: 30px;
}
.text-through{
  text-decoration: line-through;
}

.vnt-backdrop{
  background-color: rgba(34,34,34,.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}
.vntBox{
  background-color: #fff;
  margin: 15px;
  padding: 15px;
  &__checkout{
    text-align: center;
    padding: 30px 15px;
    p{
      font-size: 14px;
      &.p1{
        font-size: 24px;
        color: #262626;
        font-weight: 500;
        margin-top: 30px;
      }
      &.p2{}
      &.p3{
        color: #1890FF;
      }
    }
    .btnGroup{
      width: 210px;
      margin: 30px auto;
      .btn{
        display: block;

        + .btn{
          margin-top: 15px;
        }
      }
    }
  }
}
.status{
  height: 24px;
  font-size: 12px;
  padding: 2px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  &.status_active{
    color: #52C41A;
    background-color: #F6FFED;
    border-color: #B7EB8F;
  }
  &.status_unactive{
    color: $text-color;
    background-color: #f5f5f5;
    border-color: $border-color;
  }
}
.levelTotal{
  display: flex;
  > p{
    color: #262626;
    margin-bottom: 0;
    margin-right: 5px;
    span{
      color: #096DD9;
      font-weight: 500;
      padding-left: 5px;
    }
  }
}