h2.heading2{
  font-size: 20px;
  line-height: 28px;
  font-weight: $medium;
  color: #262626;
}
h4.heading4{
  font-size: 16px;
  line-height: 24px;
  font-weight: $medium;
  color: #262626;
}
.vntHeading{
  background-color: #fff;
  padding: 10px 15px;
}