.notiBox{
  &__main{
    display: flex;
  }
  &__cont{
    padding-left: 1.1vw;
  }
  &__title{
    font-size: 1.1vw;
    font-weight: $medium;
    color: #262626;
    margin-bottom: .7vw;
  }
  &__text{
    font-size: 1vw;
    color: $text-color;
    margin-bottom: .7vw;
  }
  &__btn{
    text-align: right;
    margin-top: 1.5vw;
  }
  &__radio{
    .radio{
      margin-bottom: .6vw;
    }
  }
}