.noti-box{
  margin: 50px 0;
  &__body{
    background: #FFF;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 6px;
    padding: 30px;
    p{
      font-size: 16px;
      color: $text-color;
      line-height: 21px;
      margin: 0;
      font-weight: 600;
      &.p1{
        text-align: center;
      }
    }
  }
}