.radio{
  display: flex;
  input[type="radio"] {
    display: none;
  }
  label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 1.5vw;
    font-size: 1vw;
    color: $text-color;
    &:hover{
      @include breakpoint(md){color: $yellow-2;}
    }
    &:active{color:$yellow-2; }
  }
  input[type="radio"] + label:before {
    content: "";
    width: 1.1vw;
    height: 1.1vw;
    position: absolute;
    left: 0;
    top:.4vw;
    display: inline-block;
    text-align: center;
    @include add-border(1px, #d9d9d9,all);
    @include border-radius(50%);
    background-color:$white-1;
  }
  input[type="radio"]:checked + label:before {
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px #1890FF;
    background: #1890FF;
  }
  &.radio_lg{
    label{
      padding-left:2.8vw;
      line-height: 1.5;
    }
    input[type="radio"] + label:before {
      width: 1.7vw;
      height: 1.7vw;
      top:0;
    }
    input[type="radio"]:checked + label:before {
      border-width: .6vw;
    }
  }
  &.disabled{
    cursor: not-allowed;
    opacity: .5;
    label{
      pointer-events: none;
    }
  }
}
.radioInline{
  .radio{
    display: inline-block;
    + .radio{
      margin-left: 2.8vw;
    }
  }
}
.ant-radio-group{
  .radio{
    label{
      padding-left: 0;
    }
  }
}