.radio{
  input[type="radio"] {
    display: none;
  }
  label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 25px;
    &:hover{
      @include breakpoint(md){color: $yellow-2;}
    }
    &:active{color:$yellow-2; }
  }


  input[type="radio"] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top:0;
    display: inline-block;
    text-align: center;
    @include add-border(1px, #ccc,all);
    @include border-radius(50%);
    background-color:$white-1;
  }
  input[type="radio"]:checked + label:before {
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px $yellow-2;
    background: $yellow-2;
  }
}