.radio{
  input[type="radio"] {
    display: none;
  }
  label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 25px;
    font-size: 14px;
    line-height: 22px;
    color: $text-color;
    &:hover{
      @include breakpoint(md){color: $yellow-2;}
    }
    &:active{color:$yellow-2; }
  }


  input[type="radio"] + label:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top:3px;
    display: inline-block;
    text-align: center;
    @include add-border(1px, #d9d9d9,all);
    @include border-radius(50%);
    background-color:$white-1;
  }
  input[type="radio"]:checked + label:before {
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px #1890FF;
    background: #1890FF;
  }
}
.radioInline{
  .radio{
    display: inline-block;
    + .radio{
      margin-left: 40px;
    }
  }
}