.table{
  width: 100%;
  max-width: 100%;
  tr{
    th{
      vertical-align: center;
      background-color: #fafafa;
      text-align: left;
      font-size: 14px;
      font-weight: $medium;
      color: #262626;
      @include add-border(1px,$gray-1,top);
    }
  }
  tr{
    td{
      vertical-align: top;
    }
  }
  th, td{
    padding: 10px 12px;
    @include add-border(1px,$gray-1,bottom);
    @include add-border(1px,$gray-1,right);
    &:first-child{
      @include add-border(1px,$gray-1,left);
    }
  }
}
.table-responsive{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-hover{
  tbody{
    tr{
      &:hover{
        background-color: rgba(0,0,0,.075);
      }
    }
  }
}
.table-fixed{
  table-layout: fixed;
  thead{
    tr{
      display: flex;
    }
    th{
      width: 10%;
    }
  }
  tbody{
    display: block;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width:6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
    tr{
      display: flex;
      margin-right: -6px;
      td{
        width: 10%;
      }
    }
  }
}

.table-mobile{
  background-color: #fff;
  padding:15px;
  &__header{
    padding: 10px;
    border-radius: 6px 6px 0 0;
    background-color:rgba(253, 185, 19, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text-color;
  }
  &__body{}
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 10px;
  }
  &__content{
    width: calc(100% - 36px);
    p{
      color: #878787;
    }
    .p1{
      color: $text-color;
    }
  }
  &__checkbox{
    width: 36px;
    .checkbox{
      width: 18px;
      height: 18px;
      margin: auto;
    }
  }
}