.table{
  width: 100%;
  max-width: 100%;
  tr{
    th{
      vertical-align: center;
      background-color: #fafafa;
      text-align: left;
      font-size: 14px;
      font-weight: $medium;
      color: #262626;
      @include add-border(1px,$gray-1,top);
    }
  }
  tr{
    td{
      vertical-align: top;
    }
  }
  th, td{
    padding: 10px 12px;
    @include add-border(1px,$gray-1,bottom);
    @include add-border(1px,$gray-1,right);
    &:first-child{
      @include add-border(1px,$gray-1,left);
    }
  }
}
