.table{
  width: 100%;
  max-width: 100%;
  tr{
    th{
      vertical-align: middle;
      background-color: #fafafa;
      text-align: left;
      font-size: 1vw;
      font-weight: $medium;
      color: #262626;
      @include add-border(1px,$border-color,top);
    }
  }
  tr{
    td{
      vertical-align: top;
    }
  }
  th, td{
    padding: .8vw .9vw;
    @include add-border(1px,$border-color,bottom);
    @include add-border(1px,$border-color,right);
    &:first-child{
      @include add-border(1px,$border-color,left);
    }
  }
}
.tableNoBorder{
  width: 100%;
  max-width: 100%;
  tr{
    th{
      vertical-align: middle;
      text-align:left;
      font-size: .9vw;
      font-weight: $medium;
      color: #8c8c8c;
      padding: .6vw .9vw;
      text-transform: uppercase;
      border-top: 1px solid #e8e8e8;
    }
  }
  tr{
    td{
      vertical-align: bottom;
      padding: .6vw .9vw;
      font-size: 1vw;
      color: #262626;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}