.vnt-tooltip{
  &__body{
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: $yellow-4;
    @include border-radius(6px);
    padding: 15px;
    &:before{
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: -3px;
      left: 25px;
      transform: rotate(45deg);
      @include add-border(1px, $border-color, top);
      @include add-border(1px, $border-color, left);
      @include add-background($yellow-4);
    }
  }
}